@model Bespoke.Sph.Web.Models.TypeModel
@{
    var fieldTypes = System.Configuration.ConfigurationManager.AppSettings["rx:EntityQuery:RuleFields"].Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
}

<div class="btn-group">
    <a title="Click to specify your value" data-bind="with : @Model.Path, bootstrapDropDown : '[Select a field]'" class="btn btn-link dropdown" href="#">
        <img data-bind="fieldImage : $type" class="pull-left" alt="." />
        <!-- ko text : Name -->
        <!-- /ko -->
        <!-- ko ifnot : Name -->
           Your field
        <!-- /ko -->
        <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li data-bind="with : @Model.Path">
            <a class="btn btn-link" data-bind="visible: Name() !== '+ Field',unwrapClick: $parent.editField.call($parent, $data, $parent.@Model.Path)">
                <i class="fa fa-edit"></i>
                Edit Field
            </a>
        </li>

        @foreach (var type in fieldTypes)
        {
            <li>
                <a class="btn btn-link" data-bind="unwrapClick: addField, field : '@type', accessor : $data.@Model.Path, entity: $root.typeaheadEntity" href="#">
                    <img src="@($"/images/{type}Field.png")" class="pull-left" alt="@type"/>
                    + @type
                </a>
            </li>
        }


    </ul>
</div>