@using Bespoke.Sph.Web.Models

    <table class="table table-striped">
        <colgroup>
            <col style="width: 200px"/>
            <col style="width: 100px"/>
            <col style="width: 300px"/>
        </colgroup>
        <thead>
        <tr>
            <th>Term</th>
            <th>Operator</th>
            <th>Value</th>
            <th></th>
        </tr>
        </thead>
        <tbody data-bind="foreach :FilterCollection">
        <tr>
            <td>
                <input class="form-control" type="text"
                       data-bind="value:Term,entityTypeaheadPath :$root.entity().Id()"
                       required pattern="^[A-Za-z][A-Za-z0-9_.]*$"/>
            </td>
            <td>
                <select name="rule-operator" class="form-control" data-bind="value: Operator">
                    <option value="Eq">=</option>
                    <option value="Neq">!=</option>
                    <option value="Le">&lt;=</option>
                    <option value="Lt">&lt;</option>
                    <option value="Ge">&gt;=</option>
                    <option value="Gt">&gt;</option>
                    <option value="Substringof">Substringof</option>
                    <option value="StartsWith">StartsWith</option>
                    <option value="EndsWith">EndsWith</option>
                    <option value="NotContains">Not Substringof</option>
                    <option value="NotStartsWith">Not StartsWith</option>
                    <option value="NotEndsWith">Not EndsWith</option>
                </select>
            </td>
            <td> @Html.Partial("_TriggerFieldDropDown", new TypeModel {Path = "Field"})</td>
            <td>
                <a href="#" data-bind="click : $parent.removeFilter.call($parent,$data)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

<a class="btn btn-link" data-bind="click : addFilter">
    <i class="fa fa-plus-circle"></i> Add a filter
</a>
