@model Bespoke.Sph.Domain.CheckBox

<!--ko if:$data['$type']() === "Bespoke.Sph.Domain.CheckBox, domain.sph" -->
<div class="form-group" data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
      @Html.Partial("_DesignerContextAction")
  <label class="control-label col-lg-2" data-bind="text:Label"></label>
    <div class="col-lg-4">
        <label class="checkbox">
            <input type="checkbox"/>
            <span data-bind="text:' [ ' + Path() + ' ] '"></span>
        </label>
        <!--ko text:HelpText-->
        <!--/ko-->
    </div>
</div>



<!--/ko-->
