@using System.Web.Mvc.Html
@model Bespoke.Sph.Domain.ComboBox

<!--ko if:ko.unwrap($type) === "Bespoke.Sph.Domain.ComboBox, domain.sph" -->
<div class="form-group" data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
    @Html.Partial("_DesignerContextAction")
    <label data-bind="text: Label" class="control-label col-lg-2">LABEL</label>
    <div class="col-lg-6">
        <select data-bind="attr: { 'class': CssClass() + ' form-control' + ' ' + Size(), 'title': Tooltip,'placeholder' : ' [ ' + Path() + ' ] '  }">
            <option data-bind="text:' [ ' + Path() + ' ] '"></option>
        </select>
        <span data-bind="text: HelpText" class="help-block"></span>
    </div>
</div>
<!--/ko-->
