@using System.Web.Mvc.Html
@model Bespoke.Sph.Domain.DownloadLink

<!--ko if: $data['$type']() === "Bespoke.Sph.Domain.DownloadLink, domain.sph" -->
<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement" class="form-group">
    <a href="#">
        <i data-bind="attr : {'class':IconClass}" ></i>
        <span data-bind="text:Label"></span>
        <span data-bind="text:' [ ' + Path() + ' ] '"></span>
    </a>
</div>
<!--/ko-->