@using System.Web.Mvc.Html
@model Bespoke.Sph.Domain.TextBox

<!--ko if: $data['$type']() === "Bespoke.Sph.Domain.TextBox, domain.sph" -->
<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement" class="form-group">
    @Html.Partial("_DesignerContextAction")
    <label data-bind="text: Label" class="control-label col-lg-2"></label>
    <div class="col-lg-4">
        <input type="text" data-bind="attr: { 'title': Tooltip, 'class': CssClass() + ' form-control ' + Size(),'placeholder' : ' [ ' + Path() + ' ] ' }" />

        <span data-bind="text: HelpText" class="help-block"></span>
    </div>
</div>
<!--/ko-->