@model Bespoke.SphCommercialSpaces.Domain.BuildingMapElement

<!--ko if:$data['$type']() === "Bespoke.SphCommercialSpaces.Domain.BuildingMapElement, domain.commercialspace" -->

<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
    <button data-bind="attr: { 'class': CssClass() + ' ' + Size() }">
        <i data-bind="attr: { 'class': Icon}"></i>
        <!-- ko text: Label -->
        <!-- /ko -->
    </button>
</div>

<!--/ko-->
