@model Bespoke.SphCommercialSpaces.Domain.CommercialSpaceLotsElement

<!--ko if:$data['$type']() === "Bespoke.SphCommercialSpaces.Domain.CommercialSpaceLotsElement, domain.commercialspace" -->
<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
      @Html.Partial("_DesignerContextAction")
  <label class="control-label" data-bind="text: Label">Lot</label>
    <div class="controls">
        <input type="text" readonly="readonly" />
        <button type="button" class="btn help-inline">Pilih lot</button>
        <span data-bind="html: HelpText" class="help-inline"></span>
    </div>

</div>
<!--/ko-->
