@model Bespoke.SphCommercialSpaces.Domain.EmailFormElement

<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.EmailFormElement, domain.commercialspace" -->
  @Html.Partial("_DesignerContextAction")
  <div class="control-group" data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
    <label data-bind="text: Label" class="control-label"></label>
    <div class="controls">
        <input type="email" data-bind="attr: { 'title': Tooltip, 'class': CssClass() + ' ' + Size() }" />
        <span data-bind="text: HelpText" class="help-inline"></span>
    </div>
</div>
<!--/ko-->


