@model Bespoke.SphCommercialSpaces.Domain.HtmlElement
<!--ko if:$data['$type']() === "Bespoke.SphCommercialSpaces.Domain.HtmlElement, domain.commercialspace" -->
<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
    <textarea name="html-text" id="html-text" data-bind="value : Text" rows="10" cols="30" style="width:690px;min-height: 200px"></textarea>
    
</div>
<!--/ko-->
