@model Bespoke.SphCommercialSpaces.Domain.TextBox

<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.TextBox, domain.commercialspace" -->
<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
    <label data-bind="text: Label"></label>
    <input type="text" data-bind="attr: { 'title': Tooltip, 'class': CssClass() + ' ' + Size() }" />
</div>
<!--/ko-->
