@model Bespoke.SphCommercialSpaces.Domain.WebsiteFormElement

<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.WebsiteFormElement, domain.commercialspace" -->
<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
    <label data-bind="text: Label"></label>
    <input type="url" data-bind="attr: { 'title': Tooltip, 'class': CssClass }" />
</div>
<!--/ko-->


