#function-panel-modal {
    div.modal-content {
        width: 800px;
    }
}

#function-field-script {
    height: 180px;
}


#activity-screen-modal {
    margin-left: -560px !important;
    max-height: 600px;
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 1200px !important;
    height: 1200px !important;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);

    div.modal-content {
        width: 990px;
        max-height: 900px;
    }
}
