<form class="form-horizontal" role="form" data-bind="with : form">


    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Text</th>
                <th>IsDefault</th>
                <th>IsCancel</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach :DialogButtonCollection">
            <tr>
                <td>
                    <a href="javascript:;"><i class="fa fa-arrow-up"></i></a>
                    <a href="javascript:;"><i class="fa fa-arrow-down"></i></a>
                </td>
                <td>
                    <input class="form-control" data-bind="value:Text"/>
                </td>
                <td>
                    <input type="checkbox" data-bind="checked:IsDefault"/>
                </td>
                <td>
                    <input type="checkbox" data-bind="checked:IsCancel" /></td>
                <td>
                    <a data-bind="click: $parent.removeDialogButton">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="javascript:;" data-bind="click : addDialogButton">
        <i class="fa fa-plus-circle"></i>
        Add result button
    </a>
</form>
