@using System.Web.Mvc.Html
@using Bespoke.Sph.Domain
@model Bespoke.Sph.Web.ViewModels.TemplateFormViewModel

@{
    Layout = null;
}
<div class="row" data-bind="with : entity">
    <h1>
        Dialog :
        <span data-bind="text:Name"></span>
    </h1>
</div>
<div id="error-list-entity-form" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
        <!-- ko if : Code -->
        <strong class="icon-read-more" data-bind="bootstrapPopover : Code"> ..more</strong>
        <!-- /ko-->
    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div id="warning-list-entity-form" class="row" data-bind="visible:warnings().length">
    <!-- ko foreach : warnings -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-warning"></i>
        <span data-bind="text:Message"></span>
        <!-- ko if : Code -->
        <strong class="icon-read-more" data-bind="bootstrapPopover : Code"> ..more</strong>
        <!-- /ko-->
    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <!-- left toolbox-->
    <div class="col-sm-3 col-lg-3">
        @Html.Partial("_Toolbox")
    </div>
    <!-- ko with : form -->

    <div class="modalBlockout col-sm-9 col-lg-9" style="opacity: 0.2; min-height: 600px"></div>
    <div class="modalHost" style="opacity: 1;">
        <section class="view-model-modal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header" style="cursor: move;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 data-bind="text: Title"></h3>
                    </div>
                    <div class="modal-body" id="template-form-designer" style="min-height: 200px"  data-bind="with : FormDesign">

                        <form class="form-horizontal">
                            <!--ko foreach:FormElementCollection -->
                            @foreach (var fe in Model.FormElements)
                            {
                                var fe1 = fe;
                                @Html.DisplayFor(m => fe1)
                            }
                            <!--/ko-->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!--ko foreach:DialogButtonCollection -->
                        <button class="btn btn-default" data-bind="text:Text">OK</button>

                        <!--/ko-->
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- /ko -->
</div>