<!-- ko if : isSelected -->
<button data-bind="click : $root.removeFormElement" class="right btn btn-default" style="float: right" title="Remove the element">
    <i class="fa fa-times"></i>
</button>
<!-- /ko -->