@using Bespoke.Sph.Domain
@model Bespoke.Sph.Web.ViewModels.FormRendererViewModel

@{
    ViewBag.Title = "title";
    Layout = null;
}

<h2>@Model.Form.Name</h2>
<div class="row">
    <form class="form-horizontal" data-bind="with : entity">
        @foreach (var fe in Model.Form.FormDesign.FormElementCollection)
        {
            @Html.EditorFor(f => fe)
        }
    </form>
</div>
