@using Bespoke.Sph.Domain
@model Bespoke.Sph.Web.ViewModels.FormRendererViewModel

@{
    ViewBag.Title = "title";
    Layout = null;
}

<h1>@Model.Form.Name</h1>
<div class="row">
    <form class="form-horizontal" data-bind="with : entity" id="@Model.Form.Route-form">
        @foreach (var fe in Model.Form.FormDesign.FormElementCollection)
        {
            var fe1 = fe;
            var button = fe1 as Button;
            if (null != button && button.IsToolbarItem)
            {
                // toolbar button
            }
            else
            {
                @Html.EditorFor(f => fe1)
            }
        }
    </form>
</div>
