@model Bespoke.Sph.Domain.EntityForm

    @{
        ViewBag.Title = "title";
        Layout = null;
    }

    <h2>title</h2>
    <script type="text/javascript" data-script="true">
        define([objectbuilders.datacontext, objectbuilders.logger, objectbuilders.router, objectbuilders.system, objectbuilders.app, objectbuilders.eximp, objectbuilders.dialog],
            function (context, logger, router, system, app, eximp, dialog) {

                var activate = function () {

                },
                    attached = function (parameters) {

                    };

                return {
                    activate: activate,
                    attached: attached
                };
            });
    </script>