################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/angularjs.1.1.1-Unstable
/packages/AspNetMvc.4.0.20505.0
/packages/AspNetMvc.4.0.20710.0/AspNetMvc.4.0.20710.0.nupkg
*.nuspec
/packages/AspNetRazor.Core.2.0.20505.0
/packages/AspNetWebApi.4.0.20505.0
/packages/AspNetWebApi.Core.4.0.20505.0
/packages/AspNetWebPages.Core.2.0.20505.0
/packages/AvalonEdit.4.2.0.8783
/packages/Breeze.WebApi.1.2.7
/packages/Castle*
/packages/Common*
/packages/Durandal*
/packages/elmah*
/packages/EntityFramework*
/packages/EPPlus*
/packages/FluentDateTime*
/packages/Glimpse*
/packages/HotTowel*
/packages/jQuery*
/packages/Kendo*
/packages/Knockout*
/packages/Mobiscroll*
/packages/Modernizr*
/packages/Moment*
/packages/M*
/packages/N*
/packages/O*
/packages/P*
/packages/Q*
/packages/R*
/packages/S*
/packages/T*
/packages/U*
/packages/V*
/packages/W*
/packages/X*
/packages/Y*
/packages/Z*
/packages/Microsoft*
**/bin/Debug/*
**/obj/Debug/*
/source/dependencies/odata.repository/bin
/source/dependencies/odata.repository/obj
/source/dependencies/rabbitmq.changepublisher/bin
/source/dependencies/rabbitmq.changepublisher/obj
/source/dependencies/rabbitmq.persistence/bin
/source/dependencies/rabbitmq.persistence/obj
/source/dependencies/sql.repository/bin
/source/dependencies/sql.repository/obj
/source/domain/domain.commercialspace/bin
/source/domain/domain.commercialspace/obj
/source/windows/admin.module/bin
/source/windows/admin.module/obj
/source/windows/dashboard.shell/bin
/source/windows/dashboard.shell/obj
/source/windows/infrastructure.interface/bin
/source/windows/infrastructure.interface/obj
*.suo
/source/windows/commercialspace.module/obj/Debug
/bin/Debug
/source/domain/scheduler.console.runner/bin/Debug
/packages/B*
/packages/D*
/source/subscribers/persistence.console.worker/bin
/source/subscribers/persistence.console.worker/obj
/source/subscribers/subscriber.infrastructure/bin
/source/subscribers/subscriber.infrastructure/obj
/source/subscribers/workers.console.runner/bin
/source/subscribers/workers.console.runner/obj
/source/subscribers/workers.windowsservice.runner/bin
/source/subscribers/workers.windowsservice.runner/obj
/source/web/bin
/source/web/web.sph.commercial-space/bin
/source/web/web.sph.commercial-space/obj/Debug
*.user
/source/dependencies/web/web.sph.commercial-space/bin
/skecthflow/commercialSpace/Commersial Space/Commersial Space
/packages/FontAwesome.3.0.2.3
/source/windows/commercialspace.module/obj
/packages/CodeContracts.Unofficial.1.0.0.2
/output.txt
/source/unit.test/web.test/bin/Debug
/source/unit.test/web.test/obj/Debug
/packages/FontAwesome.3.1.1
/source/dependencies/word.document.generator/bin/Debug
/source/dependencies/word.document.generator/obj/Debug
