packages/*
/packages/
/bin/*
!/bin/sources
obj/
Debug/
debug/
*.suo
*.baml
*.user
*.cache
/output.txt
*.orig
*.bak
*.exe
*.pdb
*.dll
*.FileListAbsolute.txt
*.csproj.App.config
/_UpgradeReport_Files
/UpgradeLog.htm
/UpgradeLog.XML
*.BASE.*.cs
*.BACKUP.*.cs
*.REMOTE.*.cs
*.REMOTE.*.cs
*.LOCAL.*.cs
*.g.i.cs
*.g.cs
!FormDesigner.g.cs
!TriggersWorkflow.g.cs
!SphDomain.g.cs
!ReportBuilder.g.cs
SQLQuery[0-9].sql
_ReSharper.commercial-space
/source/web/web.sph/thumbnails
/source/web/web.sph/.idea
/source/web/web.sph/kibana
*.css~HEAD
*.css~working on bootstrap 3
*.less~HEAD
*.less~working on bootstrap 3
*.cmd
*.sh
/source/web/core.sph/.idea
/source/web/web.sph/durandal2
/source/web/core.sph/bin
/source/web/web.sph/bin
/elasticsearch
/IIS Express
/IIS Express/config/schema/ASPNET_schema.xml
/rabbitmq_server
/rabbitmq_server/ebin/app_utils.beam
*.InstallLog
/source/web/web.sph/SphApp/webstorm
/sph.packages/control.center
/sph.packages/database
/sph.packages/elasticsearch
/sph.packages/IIS Express
/sph.packages/output
/sph.packages/rabbitmq_server
/sph.packages/web
*.7z
/test.txt
/sph.packages/subscribers.host
/source/web/web.sph/kendo/
/node_modules
/bin/sources/Customer
/bin/sources/Account
/bin/sources/PatientWithBusinessRule
/bin/sources/PatientReleaseOperationWithSetter
/bin/sources/PatientForRelease
/bin/sources/Lead
/bin/sources/Patient
/source/web/web.sph/offline/*.html
/source/web/web.sph/offline/*.js
/source/web/web.sph/offline/*.appcache
!/source/web/web.sph/offline/header.html
!/source/web/web.sph/offline/IndexDB.html
!/source/web/web.sph/offline/offline.html
/bin/sources/packages
/source/web/web.sph/Views/Customer
/bin/sources/Station_Shift
/bin/sources/Station_Sale
/bin/sources/Shift
/bin/sources/Sales_Customer
/bin/sources/Purchasing_Vendor
/bin/sources/HR_COUNTRIES
/bin/sources/dbo_aspnet_Membership
/sources/_COUNTRIES
/bin/sources/Survey
/bin/sources/HR_EMPLOYEES
/sources/EMPLOYEES
/bin/sources/EMPLOYEES
/SQLQuery10.sql
/bin/sources/AdventureWorksPersons
/bin/sources/HR_EMPLOYEES_NPK
/source/web/js-beautify/jsb/.idea
/source/web/js-beautify/jsb/node_modules
/source/web/web.sph/SphApp/public
SQLQuery[0-9]{1,2}.sql
SQLQuery1[0-9].sql
bin/test*
bin/test*/
/bin/sources/HttpLocalhostTestAdapter
bin/sources/RilekSamanPdrmAdapter/
bin/sources/WebApiAspNet/
bin/sources/AspNetWebApiArticlesAdapter/
bin/sources/AspNetArticles2/
bin/sources/JPA_DEMO/
bin/sources/RilekServices/
bin/sources/NewssTest2/
bin/sources/NewssTextFixture/
/bin/sources/rilek
bin/sources/BphTempahanRpp/
/bin/sources/EmployeeMapping
/bin/sources/hrmis
*.json
bin/sources/HrmisTest001/
bin/sources/ChildItemMapping/
bin/sources/ORA_EMP_to_Customer/
bin/sources/EmployeeToCustomerMapping/
bin/sources/__*/
/source/dependencies/web.sph.commercial-space/bin
bin/sources/PatientToCustomerMapping/
/source/web/web.sph/SphApp/partial/driver-details.js
source/web/web.sph/Views/Workflow_*/
/bin/sources/create-billing-account-for-new-patient
*.cs
/source/web/web.sph/Views/CreateBillingAccountForNewPatientWorkflow
