packages/*
/packages/
/bin/*
!/bin/sources
obj/
Debug/
debug/
*.suo
*.baml
*.user
*.cache
/output.txt
*.orig
*.bak
*.exe
*.pdb
*.dll
*.FileListAbsolute.txt
*.csproj.App.config
/_UpgradeReport_Files
/UpgradeLog.htm
/UpgradeLog.XML
*.BASE.*.cs
*.BACKUP.*.cs
*.REMOTE.*.cs
*.REMOTE.*.cs
*.LOCAL.*.cs
*.g.i.cs
*.g.cs
!FormDesigner.g.cs
!TriggersWorkflow.g.cs
!SphDomain.g.cs
!ReportBuilder.g.cs
SQLQuery[0-9].sql
_ReSharper.commercial-space
/source/web/web.sph/thumbnails
/source/web/web.sph/.idea
/source/web/web.sph/kibana
*.css~HEAD
*.css~working on bootstrap 3
*.less~HEAD
*.less~working on bootstrap 3
*.cmd
*.sh
/source/web/core.sph/.idea
/source/web/web.sph/durandal2
/source/web/core.sph/bin
/source/web/web.sph/bin
/elasticsearch
/IIS Express
/IIS Express/config/schema/ASPNET_schema.xml
/rabbitmq_server
/rabbitmq_server/ebin/app_utils.beam
*.InstallLog
*.config
/source/web/web.sph/SphApp/webstorm
/sph.packages/control.center
/sph.packages/database
/sph.packages/elasticsearch
/sph.packages/IIS Express
/sph.packages/output
/sph.packages/rabbitmq_server
/sph.packages/web
*.7z
/test.txt
/sph.packages/subscribers.host
/source/web/web.sph/kendo/
/node_modules
/bin/sources/Customer
/bin/sources/Account
/bin/sources/PatientWithBusinessRule
/bin/sources/PatientReleaseOperationWithSetter
/bin/sources/PatientForRelease
/bin/sources/Lead
/bin/sources/Patient
/source/web/web.sph/offline/*.html
/source/web/web.sph/offline/*.js
/source/web/web.sph/offline/*.appcache
!/source/web/web.sph/offline/header.html
!/source/web/web.sph/offline/IndexDB.html
!/source/web/web.sph/offline/offline.html
/bin/sources/packages
/source/web/web.sph/Views/Customer
