@using Bespoke.Sph.Web.Models
@{
    Layout = null;
}
<h1 data-bind="with : entity">View Designer for <span data-bind="text:Plural"></span></h1>
<div id="error-list-entity-view" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-lg-8 col-lg-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
        <!-- ko if : Code -->
        <strong class="icon-read-more" data-bind="bootstrapPopover : Code"> ..more</strong>
        <!-- /ko-->
    </div>
    <div class="col-lg-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <a data-toggle="collapse" href="#general-ev-panel">
        <h3>
            <i class="fa fa-chevron-down"></i>
            General options
        </h3>
    </a>
    <div class="collapse in" id="general-ev-panel">

        <form class="form-horizontal" data-bind="with : view">
            <div class="form-group">
                <label for="view-name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-6">
                    <input type="text" data-bind="value: Name, valueUpdate: 'keyup'"
                           required pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                           placeholder="Name for the view"
                           class="form-control" id="view-name">
                </div>
            </div>
            <div class="form-group">
                <label for="view-route" class="col-lg-2 control-label">Route</label>
                <div class="col-lg-6">
                    <input type="text" data-bind="value: Route"
                           required pattern="^[A-Za-z_][A-Za-z0-9_-]*$"
                           placeholder="route url"
                           class="form-control" id="view-route">
                </div>
            </div>
            <div class="form-group">
                <label for="view-note" class="col-lg-2 control-label">Note</label>
                <div class="col-lg-6">
                    <textarea data-bind="value: Note, valueUpdate: 'keyup'"
                              placeholder="Note about the view"
                              class="form-control" id="view-note"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="icon-storeid" class="col-lg-2 control-label">Icon/Logo</label>
                <div class="col-lg-6">
                    
                    <div data-bind="attr : {'class':TileColour}" style="padding: 10px;">
                        <div class="pull-left">
                            <img data-bind="attr:{src: '/sph/image/store/' + IconStoreId() }" alt="Icon">
                        </div>
                        <div>
                            <span style="font-size: 32px; font-weight: bold; margin: 5px" >2631</span>
                        </div>

                        <div>
                            <h5 data-bind="text: Name"></h5>
                            <label data-bind="text: Note"></label>
                        </div>
                    </div>

                    <input type="file" data-bind="kendoUpload: IconStoreId" name="files" class="form-control" id="icon-storeid">
                </div>
            </div>

            <div class="form-group">
                <label for="ev-tl-color" class="col-lg-2 control-label">Tile Color</label>
                <div class="col-lg-6">
                    <select class="form-control" id="ev-tl-color" data-bind="value:TileColour">
                        <option value="bblue">Blue</option>
                        <option value="blightblue">Light blue</option>
                        <option value="bred">Red</option>
                        <option value="bgreen">Green</option>
                        <option value="borange">Orange</option>
                        <option value="bviolet">Violet</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" data-bind="with : view">
    <a data-toggle="collapse" href="#filters-ev-panel">
        <h3>
            <i class="fa fa-chevron-down"></i>
            Filters
        </h3>
    </a>

    <div class="collapse collapsed" id="filters-ev-panel">
        <button class="btn btn-link pull-right" data-bind="click : addFilter">+ Filter</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Term</th>
                    <th>Operator</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach :FilterCollection">
                <tr>
                    <td>
                        <input class="form-control" type="text"
                               data-bind="value:Term,entityTypeaheadPath :$root.entity().EntityDefinitionId()"
                               required pattern="^[A-Za-z][A-Za-z0-9_.]*$" />
                    </td>
                    <td>
                        <select name="rule-operator" class="form-control" data-bind="value: Operator">
                            <option value="Eq">=</option>
                            <option value="Neq">!=</option>
                            <option value="Le">&lt;=</option>
                            <option value="Lt">&lt;</option>
                            <option value="Ge">&gt;=</option>
                            <option value="Gt">&gt;</option>
                            <option value="Substringof">Substringof</option>
                            <option value="StartsWith">StartsWith</option>
                            <option value="EndsWith">EndsWith</option>
                            <option value="NotContains">Not Substringof</option>
                            <option value="NotStartsWith">Not StartsWith</option>
                            <option value="NotEndsWith">Not EndsWith</option>
                        </select>
                    </td>
                    <td>                    @Html.Partial("_TriggerFieldDropDown", new TypeModel { Path = "Field" })</td>
                    <td>
                        <a href="#" data-bind="click : $parent.removeFilter.call($parent,$data)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


<div class="row" data-bind="with : view">
    <a data-toggle="collapse" href="#sorts-ev-panel">
        <h3>
            <i class="fa fa-chevron-down"></i>
            Sorts
        </h3>
    </a>

    <div class="collapse collapsed" id="sorts-ev-panel">
        <button class="btn btn-link pull-right" data-bind="click : addSort">+ Sort</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Direction</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach :SortCollection">
                <tr>
                    <td>
                        <input class="form-control" type="text"
                               data-bind="value:Path,entityTypeaheadPath :$root.entity().EntityDefinitionId()"
                               required pattern="^[A-Za-z][A-Za-z0-9_.]*$" />
                    </td>
                    <td>
                        <select name="rule-operator" class="form-control" data-bind="value: Direction">
                            <option value="Asc">Ascending</option>
                            <option value="Desc">Desc</option>
                        </select>
                    </td>
                    <td>
                        <a href="#" data-bind="click : $parent.removeSort.call($parent,$data)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div>
    
    <!-- ko compose : {model: 'viewmodels/_view.columns.designer', activationData:$root.view()}-->

    <!--/ko-->

</div>
<div class="row" data-bind="with : view">
    <a data-toggle="collapse" href="#cf-ev-panel">
        <h3>
            <i class="fa fa-chevron-down"></i>
            Conditional Formatting
        </h3>
    </a>

    <div class="collapse collapsed" id="cf-ev-panel">
        <button class="btn btn-link pull-right" data-bind="click : addConditionalFormatting">+ Conditional Formatting</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Css Class</th>
                    <th>Condition</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach :ConditionalFormattingCollection">
                <tr>
                    <td>
                        <select name="rule-operator" class="form-control" data-bind="value: CssClass">
                            <option value="active">active</option>
                            <option value="success">success</option>
                            <option value="warning">warning</option>
                            <option value="danger">danger</option>
                            <option value="info">info</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" required class="form-control" data-bind="value:Condition" />
                    </td>
                    <td>
                        <a href="#" data-bind="click : $parent.removeConditionalFormatting.call($parent,$data)">
                            <span class="fa fa-times"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>