<section class="col-lg-3">
    <h3>Add new user</h3>
    <form class="form-horizontal" data-bind="with: profile">
        <div class="control-group">
            <label for="UserName" class="control-label">User name:</label>
            <div class="controls">
                <input data-bind="value: UserName" id="UserName" type="text" name="UserName" />
                <i class="fa fa-spinner icon-spin =" data-bind="visible: $root.isBusyValidatingUserName"></i>
                <span class="help-block alert alert-danger" data-bind="text: $root.userNameValidationStatus, visible: $root.userNameValidationStatus() "></span>
            </div>
        </div>
        <div class="control-group">
            <label for="Password" class="control-label">Password :</label>
            <div class="controls">
                <input data-bind="value: Password" id="Password" type="password" name="Password" />
            </div>
        </div>
        <div class="control-group">
            <label for="ConfirmPassword" class="control-label">Confirm Password :</label>
            <div class="controls">
                <input data-bind="value: ConfirmPassword" id="ConfirmPassword" type="password" name="ConfirmPassword" />
            </div>
        </div>

        <div class="control-group">
            <label for="FullName" class="control-label">Nama penuh :</label>
            <div class="controls">
                <input data-bind="value: FullName" id="FullName" type="text" name="FullName" />
            </div>
        </div>
        <div class="control-group">
            <label for="Email" class="control-label">Emel :</label>
            <div class="controls">
                <input data-bind="value: Email" id="Email" type="text" name="Email" />
            </div>
        </div>
        <div class="control-group">
            <label for="Telephone" class="control-label">No. Telefon :</label>
            <div class="controls">
                <input data-bind="value: Telephone" id="Telephone" type="text" name="Telephone" />
            </div>
        </div>
        <div class="pull-right">
            <input type="button" class="btn btn-default" data-bind="click: $parent.submitCommand" value="Daftar" />
        </div>
    </form>
</section>
<script src="https://raw.github.com/ExactTarget/fuelux/master/lib/require.js"></script>
<script type="text/javascript" src="https://raw.github.com/ExactTarget/fuelux/master/dist/datagrid.js"></script>
<script type="text/javascript" data-script="true">

    define(['services/datacontext'], function (context) {
        var isBusy = ko.observable(false),
            activate = function () {

            },

            register = function () {
                var tcs = new $.Deferred();
                var data = ko.toJSON(vm.profile);
                isBusy(true);

                context.post(data, "/Admin/Register")
                    .then(function (result) {
                        isBusy(false);

                        tcs.resolve(result);
                    });
                return tcs.promise();
            };


        var vm = {
            activate: activate,
            isBusyValidatingUserName: ko.observable(false),
            profile: {
                FullName: ko.observable(),
                UserName: ko.observable(),
                Email: ko.observable(),
                Password: ko.observable(),
                ConfirmPassword: ko.observable(''),
                Status: ko.observable(),
                Designation: ko.observable(),
                Department: ko.observable(),
                Telephone: ko.observable(),
                Mobile: ko.observable(),
                IsNew: ko.observable()
            },
            userNameValidationStatus: ko.observable(),
            submitCommand: register
        };
        vm.profile.UserName.subscribe(function (userName) {
            vm.isBusyValidatingUserName(true);
            var tcs = new $.Deferred();
            var data = JSON.stringify({ userName: userName });
            isBusy(true);
            context.post(data, "/Admin/ValidateUserName")
                .then(function (result) {
                    isBusy(false);
                    vm.isBusyValidatingUserName(false);
                    if (result.status !== "OK") {
                        vm.userNameValidationStatus(result.message);
                    }

                    tcs.resolve(result);
                });
            return tcs.promise();
        });
        return vm;
    });
</script>
