@model Bespoke.Sph.Web.Areas.Sph.Controllers.ResetPaswordModel

@{
    ViewBag.Title = "Reset password";
}

<h2>Reset Password</h2>
@if (Model.IsValid)
{

    <form action="/" method="post" class="">
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-6">
                <input type="password" data-bind="value: password"
                       required pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                       placeholder="New Password"
                       class="form-control" id="password">
            </div>
        </div>

        <div class="form-group">
            <label for="confirm" class="col-lg-2 control-label">Confirm</label>
            <div class="col-lg-6">
                <input type="password" data-bind="value: confirm"
                       required
                       placeholder="Confirm Password"
                       class="form-control" id="confirm">
            </div>


        </div>
        <button class="btn btn-default">Submit</button>

        <script type="text/javascript">
            $(function() {

                $('#submit').click(function() {
                    e.preventDefault(e);
                    var data = {
                        Email: "@Model.Email",
                        Password: $('#password').val(),
                        ConfirmPassword: $('#confirm-password').val()
                    };
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify(data),
                        url: "/SphAccount/ResetPassword",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function(a, b, c) {
                            console.log(c);
                        },
                        success: function() {

                        }
                    });
                });
            });
        </script>
    </form>
}
else
{
    <h2>Sorry invalid link</h2>
}
