@model Bespoke.Sph.Web.Areas.Sph.Controllers.ResetPaswordModel

@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>
@if (Model.IsValid)
{

    <form action="/" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-6">
                <input type="password" data-bind="value: password"
                       required
                       placeholder="New Password"
                       class="form-control" id="password">
            </div>
        </div>

        <div class="form-group">
            <label for="confirm" class="col-lg-2 control-label">Confirm</label>
            <div class="col-lg-6">
                <input type="password" data-bind="value: confirm"
                       required maxlength="25"
                       placeholder="Confirm Password"
                       class="form-control" id="confirm">
            </div>


        </div>
        <div class="form-group">
            <label for="confirm" class="col-lg-2 control-label sr-only">Submit Password Reset</label>
            <div class="col-lg-6">
                <button id="submit" class="btn btn-default">Submit</button>
            </div>


        </div>

        <script type="text/javascript">
            $(function () {

                $('#submit').click(function (e) {
                    e.preventDefault();
                    var button = $(this),
                        password = $("#password").val(),
                        confirm = $("#confirm").val();
                    e.preventDefault(e);
                    var data = {
                        Email: "@Model.Email",
                        Password: password,
                        ConfirmPassword: confirm
                    };

                    if (!password || (password !== confirm)) {
                        $("#message").show();
                        return;
                    }

                    button.prop("disabled", true);
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify(data),
                        url: "/SphAccount/ResetPassword",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function (a, b, c) {
                            console.log(c);
                        },
                        success: function () {
                            button.prop("disabled", false);
                            window.location = "@Url.Action("Login")";
                        }
                    });
                });
            });
        </script>
    </form>
}
else
{<div class="alert alert-danger" role="alert">
        <strong>Invalid Link!</strong> @Model.Mesage
    </div>

}
