@model Bespoke.SphCommercialSpaces.Domain.NumberTextBox
<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.NumberTextBox, domain.commercialspace" -->
<div>
    <label>Step</label>
    <input type="number" data-bind="value: Step" />
</div>
<!--/ko-->
