@model Bespoke.Sph.Domain.AddressElement
<!--ko if:$data['$type']() === "Bespoke.Sph.Domain.AddressElement, domain.sph" -->
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input data-bind="checked: IsUnitNoVisible" id="unit-no" type="checkbox" name="IsUnitNoVisible" />
            Unit - no
        </label>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input data-bind="checked: IsBlockVisible" id="block" type="checkbox" name="IsBlockVisible" />
            Blok
        </label>
    </div>
</div>

<div class="control-group" data-bind="visible:IsBlockVisible">
    <label for="block-options-path" class="control-label">Block options path</label>
    <div class="controls">
        <input data-bind="value: BlockOptionsPath" id="block-options-path" type="text" name="BlockOptionsPath" />
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input data-bind="checked: IsFloorVisible" id="floor" type="checkbox" name="IsFloorVisible" />
            Tingkat
        </label>
    </div>
</div>


<!--/ko-->
