@model Bespoke.Sph.Domain.BuildingMapElement

<!--ko if:$data['$type']() === "Bespoke.Sph.Domain.BuildingMapElement, domain.sph" -->
<div class="control-group">
    <label for="form-element-building-map-icon" class="control-label">Icon</label>
    <div class="controls">
        <input data-bind="value: Icon, valueUpdate: 'keyup'" id="form-element-building-map-icon" type="text" name="Icon" />
    </div>
</div>
<!--/ko-->
