@model Bespoke.Sph.Domain.TextAreaElement
<!--ko if: $data['$type']() === "Bespoke.Sph.Domain.TextAreaElement, domain.sph" -->
<div>
    <label>Rows</label>
    <input type="number" data-bind="value: Rows" />
</div>
<!--/ko-->
