<div data-bind="with: $root">
    <ul id="entity-columns" data-bind="foreach: entityColumns,filter: { path: 'li>label' }">
        <li>
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: IsSelected" />
                <!-- ko text:Name-->
                <!--/ko-->
                
                <!-- ko if :IsCustomField -->*
                <!-- /ko -->
            </label>
        </li>
    </ul>
    <p>
        *Custom Fields may not available in all record
    </p>
</div>