@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SPH workflow</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
    <body>
        <div id="body">
            <section class="container">
                @RenderBody()
            </section>
        </div>



        <script src="~/App/objectbuilders.js" type="text/javascript"></script>
        <script src="~/App/durandal/amd/require.js" type="text/javascript"></script>
        <script type="text/javascript">
            require.config({
                baseUrl: "/App",
                waitSeconds: 15
            });
            define('jquery', function () { return jQuery; });
            define('knockout', ko);
        </script>

    </body>
</html>
