@using System.Web.Mvc.Html
@model Bespoke.Sph.Web.ViewModels.RdlExecutionViewModel

@{
    Layout = null;
}

@foreach (var layout in Model.Rdl.ReportLayoutCollection)
{
    <div class="row">
        @foreach (var item in layout.ReportItemCollection)
        {
            var ri = item;
            @Html.DisplayFor(m => ri)
        }
    </div>
}