@model Bespoke.SphCommercialSpaces.Domain.NumberTextBox

<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.NumberTextBox, domain.commercialspace" -->
<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
    <label data-bind="text: Label"></label>
    <input type="number" data-bind="attr: { 'title': Tooltip, 'step': Step, 'class': CssClass }" />
</div>
<!--/ko-->
