@model Bespoke.Sph.Domain.ComboBox
<div class="control-group">
    <label class="control-label">@Model.Label</label>
    <div class="controls">
        <span data-bind="@Model.GetKnockoutDisplayBindingExpression()"></span>
    </div>
</div>
