@model Bespoke.Sph.Domain.ComplaintCategoryElement

<!--ko if:$data['$type']() === "Bespoke.Sph.Domain.ComplaintCategoryElement, domain.sph" -->
  <div>
    <label>Sub category label</label>
    <input type="text" data-bind="value: SubCategoryLabel, valueUpdate:'keyup'" />
</div>
<!--/ko-->