@model Bespoke.Sph.Domain.TextAreaElement
<!--ko if: $data['$type']() === "Bespoke.Sph.Domain.TextAreaElement, domain.sph" -->

<div class="control-group">
    <label for="textarea-rows" class="control-label">Rows</label>
    <div class="controls">
        <input min="2" data-bind="value: Rows" id="textarea-rows" type="number" name="Rows" />
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input data-bind="checked: IsHtml" id="text-area-ishtml" type="checkbox" name="IsHtml" />
            HTML Editor
        </label>
    </div>
</div>

<!--/ko-->
