<section>
    <h1>Templates</h1>
    <div class="">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#doc-template-tab" data-toggle="tab">Document Templates</a>
            </li>
            <li>
                <a href="#email-template-tab" data-toggle="tab">Email Templates</a>
            </li>

        </ul>

        <div class="tab-content">
            <div id="doc-template-tab" class="tab-pane active">

                <table class="table table-striped" data-bind="filter : {path:'tbody>tr'},
    serverPaging : {
        entity : 'DocumentTemplate',
        list : documentTemplates
    }">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Entity</th>
                            <th>Note</th>
                            <th>Is Published</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach :documentTemplates">
                        <tr>
                            <td>
                                <a data-bind="attr : {href:'#/document.template.details/' + Id()}">
                                    <i class="fa fa-edit"></i>
                                    <span data-bind="text:Name"></span>
                                </a>
                            </td>
                            <td data-bind="text:Entity"></td>
                            <td data-bind="text:Note"></td>
                            <td>
                                <i class="fa fa-check" data-bind="visible:IsPublished"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-link" href="#document.template.details/0">
                    <i class="fa fa-plus-circle"></i> Add a document template</a>

            </div>
            <div id="email-template-tab" class="tab-pane">
                <table class="table table-striped" data-bind="filter : {path:'tbody>tr'},
    serverPaging : {
        entity : 'EmailTemplate',
        list : emailTemplates
    }">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Entity</th>
                            <th>Note</th>
                            <th>Is Published</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach :emailTemplates">
                        <tr>
                            <td>
                                <a data-bind="attr : {href:'#/email.template.details/' + Id()}">
                                    <i class="fa fa-edit"></i>
                                    <span data-bind="text:Name"></span>
                                </a>
                            </td>
                            <td data-bind="text:Entity"></td>
                            <td data-bind="text:Note"></td>
                            <td>
                                <i class="fa fa-check" data-bind="visible:IsPublished"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-link" href="#email.template.details/0">
                    <i class="fa fa-plus-circle"></i>Add an email template</a>
            </div>

        </div>
    </div>
</section>
