@model Bespoke.Sph.Domain.NumberTextBox
<!--ko if: $data['$type']() === "Bespoke.Sph.Domain.NumberTextBox, domain.sph" -->
<div>
    <label>Step</label>
    <input type="number" data-bind="value: Step" />
</div>
<!--/ko-->
