@model Bespoke.Sph.Domain.TextBox

<!--ko if: ko.unwrap($type) === "Bespoke.Sph.Domain.TextBox, domain.sph" -->
<div class="form-group">
    <label for="form-element-textbox-minlength">Min length</label>
    <input class="form-control" data-bind="value: MinLength" id="form-element-textbox-minlength" type="text" name="MinLength" />
</div>

<div class="form-group">
    <label for="form-element-textbox-maxlength">Max length</label>
    <input class="form-control" data-bind="value: MaxLength" id="form-element-textbox-maxlength" type="text" name="MaxLength" />
</div>
<!--/ko-->
