@model Bespoke.Sph.Commerspace.Web.ViewModels.TemplateFormViewModel

@{
    Layout = null;
}

<h1>Maklumat Templat Aduan </h1>
<div class="container">
    <div class="row">
        <!-- left toobox-->
        <div class="span4">
            @Html.Partial("_Toolbox")
        </div>

        <div class="tabbable span8">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#complaint-designer" data-toggle="tab">Designer</a>
                </li>
                <li>
                    <a href="#complaint-category" data-toggle="tab">Categories</a>
                </li>
                <li>
            </ul>
            <div class="tab-content">
                <div id="complaint-designer" class="tab-pane active" data-bind="with: complaintTemplate">

                    <div data-bind="with: FormDesign" id="template-form-designer">
                        <h1 data-bind="text: Name"></h1>
                        <span data-bind="text: Description"></span>

                        <form class="form-horizontal">
                            <!--ko foreach:FormElementCollection -->
                            @foreach (var fe in Model.FormElements)
                            {
                                @Html.DisplayFor(m => fe)
                            }
                            <!--/ko-->

                        </form>
                    </div>




                </div>
                <div id="complaint-category" class="tab-pane">
                    <h5>Kategori Aduan</h5>
                    <a type="button" class="btn btn-mini pull-right" href="#" data-bind="click: addComplaintCategory">+ Category</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Keterangan</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: complaintTemplate().ComplaintCategoryCollection">
                            <tr>
                                <td>
                                    <input type="text" data-bind="value: Name" /></td>
                                <td>
                                    <input type="text" data-bind="value: Description" /></td>
                                <td>
                                    <button class="btn btn-link" data-bind="click: $root.editCategory">Sub Kategori</button></td>
                                <td>
                                    <a class="btn btn-link" data-bind="click: $root.removeCategory">Buang</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


