@using System.Web.Mvc.Html
@model Bespoke.Sph.Web.ViewModels.TemplateFormViewModel

<div id="form-designer-toolbox">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#add-field" data-toggle="tab">Add a field</a>
        </li>
        <li>
            <a href="#fields-settings" data-toggle="tab">Properties</a>
        </li>
        <li>
            <a href="#fields-validation" data-toggle="tab">Validations</a>
        </li>
        <li>
            <a href="#screen-performer" data-toggle="tab">Performer</a>
        </li>
    </ul>
    <div class="tab-content">

        <div id="add-field" class="tab-pane active">
            <ul class="nav" data-bind="foreach: formElements">
                <li>
                    <a class="btn btn-default" href="#add-field" data-bind="attr : {title:Tooltip}">
                        <i data-bind="attr: { 'class': CssClass }" class="pull-left"></i>
                        <!-- ko text: Name -->
                        <!-- /ko-->
                    </a>
                </li>
            </ul>
        </div>

        <div id="fields-settings" class="tab-pane" data-bind="with: selectedFormElement">
            <form role="form">
                <div class="form-group">
                    <label for="form-element-label">Label</label>
                    <input class="form-control" data-bind="value: Label, valueUpdate: 'keyup'" id="form-element-label" type="text" name="Label" />
                </div>

                <div class="form-group">
                    <label for="form-element-path">Path</label>
                    <input class="form-control" data-bind="value: Path" id="form-element-path" type="text" name="Path" />
                </div>

                <div class="form-group">
                    <label for="form-element-tooltip">Tooltip</label>
                    <input class="form-control" data-bind="value: Tooltip" id="form-element-tooltip" type="text" name="Tooltip" />
                </div>

                <div class="form-group">
                    <label for="form-element-help-text">Help</label>
                    <input class="form-control" data-bind="value: HelpText, valueUpdate: 'keyup'" id="form-element-help-text" type="text" name="HelpText" />
                </div>


                <div class="form-group">
                    <label for="form-element-css-class">Css class</label>
                    <input data-bind="cssAutoComplete: CssClass" id="form-element-css-class" type="text" name="CssClass" />
                </div>

                <div class="form-group">
                    <label for="form-element-visible">Visible</label>
                    <input class="form-control" data-bind="value: Visible, valueUpdate : 'keyup'" id="form-element-visible" type="text" name="Visible" />
                </div>


                <div class="form-group">
                    <label for="form-element-elementId">Id</label>
                    <input class="form-control" data-bind="value: ElementId" id="form-element-elementId" type="text" name="ElementId" />
                </div>




                <button data-bind="click: $root.removeFormElement" class="btn btn-warning" title="remove this element">Remove</button>
                <!-- END OF EDITOR TOOLBOX -->
            </form>

        </div>

        <div id="fields-validation" class="tab-pane" data-bind="with : selectedFormElement">
            @Html.Partial("_ValidationSetting")
        </div>
        <div id="screen-performer" class="tab-pane" data-bind="with : activity">
            @Html.Partial("_ScreenPerformer")
        </div>
    </div>
</div>
