@using System.Web.Mvc.Html
@model Bespoke.Sph.Web.ViewModels.TemplateFormViewModel

@{
    Layout = null;
}


<div class="view-model-modal" id="activity-screen-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Screen Activity</h3>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#form-general" data-toggle="tab">General Info</a></li>
                    <li><a href="#form-designer" data-toggle="tab">Form Designer</a></li>
                </ul>
                <div class="tab-content">
                    <div id="form-general" class="tab-pane active">
                        <div class="row">
                            <form class="form-horizontal col-lg-12" id="activity-screen-modal-form" data-bind="with: activity">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="screen-vpath" class="col-lg-2 control-label">Name</label>
                                        <div class="col-lg-6">
                                            <input pattern="^[A-Za-z_][A-Za-z0-9_ ]*$" required type="text" data-bind="value: Name" class="form-control" id="screen-vpath" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="screen-next" class="col-lg-2 control-label">Next</label>
                                        <div class="col-lg-6">
                                            <select id="screen-next"
                                                    data-bind="value:NextActivityWebId,
                                                    uniqueName:true,
                                                    options: $root.wd().ActivityCollection,
                                                    optionsText:'Name',
                                                    optionsValue:'WebId',
                                                    optionsCaption:'Please select next activity'"
                                                    class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <h3>Screen Confirmation Options</h3>
                                <div id="form-confirmation-options" class="row" data-bind="with : ConfirmationOptions">
                                    <div class="form-group">
                                        <label for="confirmation-type" class="col-lg-2 control-label">Type</label>
                                        <div class="col-lg-6">
                                            <select class="form-control" id="confirmation-type" data-bind="value:Type">
                                                <option value="Message">Show Message</option>
                                                <option value="Website">Redirect To Website</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Value" class="col-lg-2 control-label">Value</label>
                                        <div class="col-lg-9">
                                            <textarea data-bind="value:Value" class="form-control" id="Value" placeholder="Message / Url...."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="form-designer" class="tab-pane">
                        <div class="row">
                            <!-- left toolbox-->
                            <div class="col-lg-3">
                                @Html.Partial("_Toolbox")
                            </div>
                            <!-- ko with : activity -->
                            <div id="screen-activity-designer" style="min-height: 400px; max-height: 550px; overflow: scroll;" class="col-lg-9" data-bind="with: FormDesign">
                                <div id="template-form-designer">
                                    <h1 data-bind="text: Name"></h1>
                                    <span data-bind="text: Description"></span>

                                    <form class="form-horizontal">
                                        <!--ko foreach:FormElementCollection -->
                                        @foreach (var fe in Model.FormElements)
                                        {
                                            @Html.DisplayFor(m => fe)
                                        }
                                        <!--/ko-->

                                    </form>
                                </div>

                            </div>

                            <!-- /ko -->
                        </div>
                    </div>
                </div>
             </div>
            <div class="modal-footer">
                <input form="activity-screen-modal-form" data-dismiss="modal" type="submit" class="btn btn-primary" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</div>