@model Bespoke.Sph.Web.ViewModels.WorkflowDefinitionVisualViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Visual Flow Designer</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jsplumb/demo.css" rel="stylesheet" />
    <link href="~/Content/jsplumb/demo-all.css" rel="stylesheet" />
</head>
<body>
    <div id="container" data-bind="with : wd">
        <h1 data-bind="text:Name()"></h1>
        <!-- ko foreach : ActivityCollection() -->

        <div class="activity w" data-bind="attr : {id:WebId()}">
            <!-- ko text : Name() -->

	            

            <!-- /ko -->

            <div class="ep"></div>
        </div>

        <!-- /ko -->

    </div>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>

    <script src="~/Scripts/jsPlumb/util.js"></script>
    <script src="~/Scripts/jsPlumb/dom-adapter.js"></script>
    <script src="~/Scripts/jsPlumb/jsPlumb.js"></script>
    <script src="~/Scripts/jsPlumb/endpoint.js"></script>
    <script src="~/Scripts/jsPlumb/connection.js"></script>
    <script src="~/Scripts/jsPlumb/anchors.js"></script>
    <script src="~/Scripts/jsPlumb/defaults.js"></script>
    <script src="~/Scripts/jsPlumb/connectors-bezier.js"></script>
    <script src="~/Scripts/jsPlumb/connectors-statemachine.js"></script>
    <script src="~/Scripts/jsPlumb/connectors-flowchart.js"></script>
    <script src="~/Scripts/jsPlumb/renderers-svg.js"></script>
    <script src="~/Scripts/jsPlumb/renderers-canvas.js"></script>
    <script src="~/Scripts/jsPlumb/renderers-vml.js"></script>
    <script src="~/Scripts/jsPlumb/jquery.jsPlumb.js"></script>
    <script src="~/Scripts/jsplumb-geom-0.1.js"></script>
    <script src="~/Scripts/jsBezier-0.6-min.js"></script>

    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript">

        ; (function () {

            console.log(window.wd);
            $(function () {
                var save = function () {
                    $('div#container>div.activity').each(function () {
                        var p = $(this),
                            act = ko.dataFor(this),
                            x = parseInt(p.css("left")),
                            y = parseInt(p.css("top"));

                        act.WorkflowDesigner().X(x);
                        act.WorkflowDesigner().Y(y);

                    });
                    window.saved(vm.wd());
                    window.close();

                },
                vm = {
                    wd: ko.observable(window.wd),
                    save: save
                };
                ko.applyBindings(vm);
                // set the positions
                var count = 1;
                $('div#container>div.activity').each(function () {
                    var p = $(this),
                        act = ko.dataFor(this),
                        x = act.WorkflowDesigner().X() || 250,
                        y = act.WorkflowDesigner().Y() || 150 * count;

                    p.css("left", x + "px").css("top", y + "px");


                    count++;
                });


                jsPlumb.ready(function () {
                    jsPlumb.init();
                    jsPlumb.Defaults.Container = "container";
                    jsPlumb.draggable($("div.activity"));
                    
                    // setup some defaults for jsPlumb.	
                    jsPlumb.importDefaults({
                        Endpoint: ["Dot", { radius: 2 }],
                        HoverPaintStyle: { strokeStyle: "#1e8151", lineWidth: 2 },
                        ConnectionOverlays: [
                            ["Arrow", {
                                location: 1,
                                id: "arrow",
                                length: 14,
                                foldback: 0.8
                            }]
                        ]
                    });
                    
                    var activitiest = vm.wd().ActivityCollection(),
                        createConnection = function (source, target, label) {

                            jsPlumb.connect({
                                source: source,
                                target: target,
                                container: 'container',
                                endpoint: 'Blank',
                                connector: ["StateMachine", { curviness: 0 }],
                                connectorStyle: { strokeStyle: "#5c96bc", lineWidth: 1, outlineColor: "transparent", outlineWidth: 1 },
                                anchors: ["Bottom", "TopCenter"],
                                overlays: [
                                    ["Arrow", {
                                        cssClass: "l1arrow"
                                        
                                    }],
                                    [
                                        "Label", {
                                            cssClass : "l1 component label",
                                            label: label || '',
                                            location: 0.2,
                                            id : target + '-label'
                                        }
                                    ]
                                ]
                            });
                        };

                    _(activitiest).each(function (v) {
                        console.log("connecting ", v);
                        if (v.NextActivityWebId()) {
                            createConnection(v.WebId(), v.NextActivityWebId());
                        }

                        if (v.multipleEndPoints) {
                            _(v.multipleEndPoints()).each(function (d) {
                                createConnection(v.WebId(), d.NextActivityWebId(), d.Name());
                                console.log("connecting branches");
                            });
                        }


                    });

                });

            });


        })();
    </script>
    <div class="navbar-fixed-top">
        <button class="btn btn-default" data-bind="click : save">Save</button>
    </div>
</body>
</html>