@model IEnumerable<Bespoke.SphCommercialSpaces.Domain.ReportRow>
@{
    var index = 0;
}
@foreach (var r in Model)
{
    index++;
    <tr>

        @foreach (var c in Model.DataGridColumnCollection)
        {
            if (c.Expression == "$index" || c.Expression == "$row")
            {
                <td>@index</td>
            }
            else
            {
                var output = c.GenerateHtml(r);
                <td>@output</td>
            }
        }
    </tr>
}