
<section class="modal hide" id="function-panel-modal" data-bind="with : $root.functionField">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Function</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label for="function-panel-name" class="control-label">Nama</label>
            <div class="controls">
                <input data-bind="value: Name" id="function-panel-name" type="text" name="Name" />
            </div>
        </div>
        <div class="control-group">
            <label for="func-note" class="control-label">Nota</label>
            <div class="controls">
                <input data-bind="value: Note" id="func-note" type="text" name="Note" />
            </div>
        </div>
        <div class="control-group">
            <label for="func-script" class="control-label">Skript</label>
            <div class="controls">
                <textarea id="func-script" data-bind="value: Script" class="input-xxlarge" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: $root.saveField" />
    </div>
</section>


