@model dynamic

<section class="modal hide" id="document-panel-modal" data-bind="with: $root.documentField">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Dokumen</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label for="doc-panel-name" class="control-label">Nama</label>
            <div class="controls">
                <input data-bind="value: Name" id="doc-panel-name" type="text" name="Name" />
            </div>
        </div>
        <div class="control-group">
            <label for="doc-note" class="control-label">Nota</label>
            <div class="controls">
                <input data-bind="value: Note" id="doc-note" type="text" name="Note" />
            </div>
        </div>
        <div class="control-group">
            <label for="doc-path" class="control-label">Path</label>
            <div class="controls">
                <input id="doc-path" data-bind="value: Path" class="input-xxlarge" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: $root.saveField" />
    </div>
</section>
