@model Bespoke.SphCommercialSpaces.Domain.ApplicationTemplate

@{
    Layout = null;
    var i = 0;
}

<h1 class="row-fluid"><span>Borang Permohonan</span></h1>
<div class="span7">
    <form class="form-horizontal" data-bind="with: rentalapplication">
        <div>
            <h2>@Model.FormDesign.Name</h2>
            <div class="alert alert-info">@Model.FormDesign.Description</div>
        </div>
        <div>
            @foreach (var fe in Model.FormDesign.FormElementCollection)
            {
                if (null != fe.CustomField)
                {
                    fe.Path = "CustomFieldValueCollection()[" + i++ + "].Value";
                }
       
                @Html.EditorFor(m => fe)
        
            }
    

        </div>
    </form>

    <section class="modal hide" id="success-panel">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>Makluman Permohonan</h2>
        </div>
        <div class="modal-body">
            <span>Permohonan anda sudah berjaya direkodkan, No Rujukan permohonan anda ialah <strong data-bind="text: registrationNo"></strong></span>
        </div>

        <div class="modal-footer">
            <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" />
        </div>
    </section>
</div>
<div class="span5 widget wlightblue" id="commercialSpace">
    <div class="widget-head">
        <div class="pull-left">Ruang Komersil</div>
        <div class="widget-icons pull-right"></div>
        <div class="clearfix"></div>
    </div>
    <div class="span5">
        <div>
            <div id="commercialSpace-Detail" data-bind="with: commercialSpace">
                <div class="control-group">
                    <label class="span2">Negeri :</label>
                    <label class="span2" data-bind="text: State" />
                </div>
                <div class="control-group">
                    <label class="span2">Bandar :</label>
                    <label class="span2" data-bind="text: City" />
                </div>
                <div class="control-group">
                    <label class="span2">Nama Bangunan :</label>
                    <label class="span2" data-bind="text: BuildingName" />
                </div>
                <div class="control-group">
                    <label class="span2">Lot Bangunan :</label>
                    <label class="span2" data-bind="text: BuildingLot" />
                </div>
                <div class="control-group">
                    <label class="span2">Tingkat :</label>
                    <label class="span2" data-bind="text: FloorName" />
                </div>
                <div class="control-group">
                    <label class="span2">Lot :</label>
                    <label class="span2" data-bind="text: LotName" />
                </div>
                <div class="control-group">
                    <label class="span2">Jenis Ruang :</label>
                    <label class="span2" data-bind="text: Category" />
                </div>
                <div class="control-group">
                    <label class="span2">Saiz :</label>
                    <label class="span2" data-bind="text: Size" />
                </div>
                <div class="control-group">
                    <label class="span2">Kadar Sewa :</label>
                    <label class="span2" data-bind="text: RentalRate" />
                </div>
                <div class="control-group">
                    <img alt="map" data-bind="attr: { src: $root.commercialSpace().StaticMap }" class="img-polaroid centered" src="/Images/accent.png" />
                </div>
            </div>
        </div>

    </div>
</div>
