@model Bespoke.Sph.Commerspace.Web.ViewModels.CommercialSpaceDetailViewModel

@{
    ViewBag.Title = "title";
    Layout = null;
    var i = 0;
}

<section class="container-fluid">
    <div class="row-fluid" id="cs-modal">
        <h1 class="span12" data-bind="text: title"></h1>
    </div>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#form-tab" data-toggle="tab">Am</a>
            </li>
            <li>
                <a href="#contract-tab" data-toggle="tab">Kontrak</a>
            </li>
            <li>
                <a href="#application-tab" data-toggle="tab">Permohonan</a>
            </li>
            <li>
                <a href="#plan-tab" data-toggle="tab">Plan lantai</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="form-tab" class="tab-pane active">
                <form id="cs" class="form-horizontal" data-bind="with: commercialSpace">

                    @foreach (var fe in Model.Template.FormDesign.FormElementCollection)
                    {
                        @Html.EditorFor(m => fe)
        
                    }
                    <div class="control-group" data-bind="visible: IsOnline">
                        <label  class="control-label">Template Permohonan</label>
                        <div class="controls">
                                @foreach (var t in Model.ApplicationTemplates)
                                {
                                    <label>
                                        <input type="checkbox" value="@t.ApplicationTemplateId" data-bind="checked: ApplicationTemplateOptions"/>
                                        @t.Name
                                    </label>
                                }
                        </div>
                    </div>

                </form>

            </div>
            <div id="contract-tab" class="tab-pane" data-bind="compose: 'viewmodels/_commercialspace.contract'">
            </div>
            <div id="application-tab" class="tab-pane">
            </div>
            <div id="plan-tab" class="tab-pane">
            </div>
        </div>
    </div>
</section>

<section class="modal hide" id="lot-selection-panel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Pilih</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label for="selectedBuilding" class="control-label">Bangunan</label>
                <div class="controls" data-bind="with: buildingOptions">
                    <select data-bind="value: $root.selectedBuilding, options: $data, optionsValue: 'Item1', optionsText: 'Item2', optionsCaption: '[Sila pilih]'" id="selectedBuilding" name="selectedBuilding">
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label for="selectedFloor" class="control-label">Lantai</label>
                <div class="controls">
                    <select data-bind="value: selectedFloor, options: floorOptions, optionsCaption: '[Sila pilih]'" id="selectedFloor" name="selectedFloor">
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label for="selectedLots" class="control-label">Lot</label>
                <div class="controls">
                    <select data-bind="selectedOptions: selectedLots, options: lotOptions, optionsText: 'Name'" id="selectedLots" name="selectedLots" multiple="multiple">
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <input data-dismiss="modal" id="add-lot-button" type="button" class="btn btn-primary" data-bind="click: addLotsCommand" value="OK" />
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
</section>
