@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Templat Aduan</h1>

<form class="form-search">
    <div class="input-append pull-right">
        <input id="complait-template-filter-text" type="search" class="search-query input-medium" placeholder="Tapis..">
        <i class="add-on icon-remove"></i>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Keterangan</th>
            <th>Aktif</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:templates">
        <tr>
            <td>
                 <a data-bind="attr: { href: '/#/template.complaint-id.0/' + ComplaintTemplateId() }, text: Name"></a>
             </td>
            <td data-bind="text:Description"></td>
            <td>
                <input type="checkbox" data-bind="checked:IsActive"/>
            </td>
        </tr>
    </tbody>
</table>