@{
    ViewBag.Title = "MaintenanceListHtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>DASHBOARD SENGGARA</h3>
<div class="navi navbar">
  <div class="navbar-inner">
    <ul class="nav nav-header" id="status-option" data-bind="foreach: statusOptions">
      <li class="nred" ><a class="blue " href="#" data-toggle="tab" data-bind="text: $data"></a></li>
    </ul>
  </div>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="tab">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No. Rujukan Aduan</th>
                    <th>Kategori Kerosakan</th>
                    <th>Sub-Kategori</th>
                    <th>Resolusi</th>
                    <th>Work Order No</th>
                    <th>Petugas Bertanggungjawab</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: maintenances">
                <tr>
                    <td data-bind="text: Complaint.ReferenceNo"></td>
                    <td data-bind="text: Complaint.Category"></td>
                    <td data-bind="text: Complaint.SubCategory"></td>
                    <td data-bind="text: Resolution"></td>
                    <td><a  data-bind="text: WorkOrderNo, attr: { href: '#/maintenance.workorder/' + MaintenanceId()}" title="navigate to work order"></a></td>
                    <td data-bind="with: $parent.officerOptions">
                        <span data-bind="text: $parent.Officer, visible: $parent.Officer != null"></span>
                        <select name="maintenance.Officer" data-bind="options: $data, optionsText: 'Item2', optionsValue: 'Item1', optionsCaption: '[Sila Pilih]', value: $parent.Officer, visible: $parent.Officer() == null || $parent.WorkOrderNo() == null"></select>
                    </td>
                   
                    <td>
                        <input type="button" class="btn btn-primary" value="Agih Tugas" data-bind="click: $parent.saveAssignment, visible: Status() == 'New'" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>