@{
    ViewBag.Title = "MaintenanceListHtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>DASHBOARD SENGGARA</h3>
<div class="navi navbar">
  <div class="navbar-inner">
    <ul class="nav nav-header" id="status-option" data-bind="foreach: statusOptions">
      <li class="nred" ><a class="blue " href="#" data-toggle="tab" data-bind="text: $data"></a></li>
    </ul>
  </div>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="tab">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No. Rujukan Aduan</th>
                    <th>Kategori Kerosakan</th>
                    <th>Sub-Kategori</th>
                    <th>Resolusi</th>
                    <th>Work Order No</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: maintenances">
                <tr>
                    <td>
                        <a data-bind="text: Complaint.ReferenceNo, attr: { href: '#/maintenance.assignment/' + MaintenanceId() }"></a>
                    </td>
                    <td data-bind="text: Complaint.Category"></td>
                    <td data-bind="text: Complaint.SubCategory"></td>
                    <td data-bind="text: Resolution"></td>
                    <td><a  data-bind="text: WorkOrderNo, attr: { href: '#/maintenance.workorder/' + MaintenanceId()}" title="navigate to work order"></a></td>
               </tr>
            </tbody>
        </table>
    </div>
</div>