@using Bespoke.SphCommercialSpaces.Domain
@model IEnumerable<Bespoke.Sph.Commerspace.Web.Controllers.RoleModel>
@{
    ViewBag.Title = "RoleSettingsJs";
    Layout = null;
    var roles = string.Join(",", Model.Select(s => string.Format("'{0}'", s)));
}

<h2>RoleSettingsJs</h2>
<script type="text/javascript" data-script="true">
    define(['services/datacontext',
            'services/logger'],
        function (context, logger) {

            var isBusy = ko.observable(),

            activate = function (id) {
                
                var query = String.format("DesignationId eq {0}", id);
                var tcs = new $.Deferred();
                context.loadOneAsync("Designation", query)
                    .done(function(b) {
                        vm.designation(b);
                        tcs.resolve(true);
                    });

                return tcs.promise();
    
            };

            var vm = {
                designation: ko.observable(),
                isBusy: isBusy,
                active: activate
            };

            return vm;


        });
</script>
