@model IEnumerable<Bespoke.Sph.Commerspace.Web.Controllers.RoleModel>
@{
    Layout = null;
}

<h2>RoleSettingsJs</h2>
<script type="text/javascript" data-script="true">
    define(['services/datacontext'],
        function (context) {

            var isBusy = ko.observable(),

            activate = function (routeData) {
                var id = parseInt(routeData.id);
                if (id) {
                    var query = String.format("DesignationId eq {0}", id);
                    var tcs = new $.Deferred();
                    context.loadOneAsync("Designation", query)
                        .done(function (b) {
                            vm.designation(b);
                            tcs.resolve(true);
                        });

                    return tcs.promise();

                } else {
                    vm.designation(new bespoke.sphcommercialspace.domain.Designation());
                }

                return true;

            },

            save = function () {
                var tcs = new $.Deferred();
                var data = ko.toJSON(vm.designation);
                isBusy(true);

                context.post(data, "/Designation/Save")
                    .then(function (result) {
                        isBusy(false);


                        tcs.resolve(result);
                    });
                return tcs.promise();
            };

            var vm = {
                activate: activate,
                designation: ko.observable(),
                isBusy: isBusy,
                saveCommand: save
            };

            return vm;


        });
</script>
