<<<<<<< HEAD
﻿@using Bespoke.SphCommercialSpaces.Domain
@model IEnumerable<string>
@{
    ViewBag.Title = "RoleSettingsJs";
    Layout = null;
    var roles = string.Join(",", Model.Select(s => string.Format("'{0}'", s)));
}

<h2>RoleSettingsJs</h2>
<script type="text/javascript" data-script="true">
    define(['services/datacontext',
            'services/logger'],
        function (context, logger) {

            var permissions = ko.observableArray([@Html.Raw(roles)]),
                roles = ko.observableArray(),
                isBusy = ko.observable(),

            activate = function () {

                var query = "RoleId ge 0";
                var tcs = new $.Deferred();

                context.loadAsync("ENTITY", query)
                    .then(function (lo) {
                        isBusy(false);
                        roles(lo.itemCollection);
                        tcs.resolve(true);
                    });
                return tcs.promise();

            },
            addRole = function () {
                var tcs = new $.Deferred();
                var data = JSON.stringify({ role: vm.role().Name() });
                isBusy(true);

                context.post(data, "/Admin/AddRole")
                    .then(function (result) {
                        isBusy(false);
                        tcs.resolve(result);
                        vm.roles.push(vm.role);
                    });
                return tcs.promise();
            };

            var vm = {
                permissions: permissions,
                roles: roles,
                role: ko.observable(bespoke.sphcommercialspace.domain.Role()),
                isBusy: isBusy,
                active: activate,
                addRoleCommand: addRole
            };

            return vm;


        });
</script>
=======
﻿@using Bespoke.SphCommercialSpaces.Domain
@model IEnumerable<string>
@{
    ViewBag.Title = "RoleSettingsJs";
    Layout = null;
    var roles = string.Join(",", Model.Select(s => string.Format("'{0}'", s)));
}

<h2>RoleSettingsJs</h2>
<script type="text/javascript" data-script="true">
    define(['services/datacontext',
            'services/logger'],
        function (context, logger) {

            var permissions = ko.observableArray([@Html.Raw(roles)]),
                roles = ko.observableArray(),
                isBusy = ko.observable(),

            activate = function () {

                var query = "RoleId ge 0";
                var tcs = new $.Deferred();

                context.loadAsync("ENTITY", query)
                    .then(function (lo) {
                        isBusy(false);
                        roles(lo.itemCollection);
                        tcs.resolve(true);
                    });
                return tcs.promise();

            },
            addRole = function () {
                var tcs = new $.Deferred();
                var data = JSON.stringify({ role: vm.role().Name() });
                isBusy(true);

                context.post(data, "/Admin/AddRole")
                    .then(function (result) {
                        isBusy(false);
                        tcs.resolve(result);
                        vm.roles.push(vm.role);
                    });
                return tcs.promise();
            };

            var vm = {
                permissions: permissions,
                roles: roles,
                role: ko.observable(bespoke.sphcommercialspace.domain.Role()),
                isBusy: isBusy,
                active: activate,
                addRoleCommand: addRole
            };

            return vm;


        });
</script>
>>>>>>> 7d25030947e14ce64ad0e9692662c7745ee785e9
