@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Pengurusan Pengguna</h3>
</div>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li>
            <a href="#user-tab" data-toggle="tab">Tambah Pengguna</a>
        </li>
        <li>
            <a href="#designation-tab" data-toggle="tab">Setting Jawatan</a>
        </li>
        <li>
            <a href="#department-tab" data-toggle="tab">Setting Jabatan</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="user-tab" class="tab-pane active">

            <div>
                <a href="#user-details-modal" id="add-user-button" data-toggle="modal" data-bind="click: addCommand" class="btn btn-primary pull-right">Tambah Pengguna</a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nama Pengguna</th>
                        <th>Nama Penuh</th>
                        <th>Jabatan</th>
                        <th>Jawatan</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: profiles">
                    <tr>
                        <td data-bind="text: Username"></td>
                        <td data-bind="text: FullName"></td>
                        <td data-bind="text: Department"></td>
                        <td data-bind="text: Designation"></td>
                        <td data-bind="text: Email"></td>
                        <td>
                            <a class="btn btn-mini btn-warning" data-toggle="modal" href="#user-details-modal" data-bind="click: $parent.editCommand">Kemaskini Maklumat</a>
                        </td>
                       </tr>
                </tbody>
            </table>
        </div>
        <div id="designation-tab" class="tab-pane ">
            <!--ko compose:'viewmodels/_users.designation' -->
            <!--/ko-->
        </div>
        <div id="department-tab" class="tab-pane ">
            <!--ko compose:'viewmodels/_users.department' -->
            <!--/ko-->
        </div>
    </div>
</div>

<!--ko compose:'_user.add.html' -->
        <!--/ko-->
