@{
    ViewBag.Title = "OfficerListHtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>DASHBOARD PETUGAS</h2>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav nav-header" id="status-option" data-bind="foreach: statusOptions">
      <li><a class="blue" href="#tab" data-toggle="tab" data-bind="text: $data"></a></li>
    </ul>
  </div>
</div>

<div class="tab-content">
    <div class="tab-pane" id="tab">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Work Order No</th>
                    <th>Kategori Kerosakan</th>
                    <th>Sub-Kategori</th>
                    <th>Resolusi</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: maintenances">
                <tr>
                    <td>
                        <a data-bind="attr: { href: '/#/maintenance.workorder/' + MaintenanceId() }, text: WorkOrderNo"></a>
                    </td>
                    <td data-bind="text: Complaint.Category"></td>
                    <td data-bind="text: Complaint.SubCategory"></td>
                    <td data-bind="text: Resolution"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
