/* #region HTML RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym,address, big,cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,  details, figcaption, figure, footer, header, hgroup, menu,
nav, section, summary, time, mark, audio, video
{
    font: inherit;
    margin: 0;
}

/* #endregion */

html {
    padding: 0;
    color: black;
    background: #FFFFFF;
}

body {
    font-size: 18px;
    margin: 0 auto;
    max-width: 1100px;
    background-color: transparent;
    font-family: 'Segoe UI Light','Open Sans',Verdana,Arial,Helvetica,sans-serif;
}
.article-right-content {
   background-color:#00AEDB;
   display: inline-table;
   font-size: 15px;
   height: 100px;
   margin: 5px;
   padding: 2px;
   width: 150px;
}
.article-right-content:hover {
   background-color:lightblue;
}


h1, h2, h3 {
    text-transform: lowercase;
    letter-spacing: -1px !important;
    color: #777;
    font-size:20pt;
}

section.main {
    margin-top: 80px;
}

.header-section {
    border-bottom: 2px solid #88B9E3;
    margin-bottom: 10px;
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 10px;
}

#toolbar {
    -moz-box-sizing: border-box;
    background-color: #333333;
    bottom: 15px;
    height: 48px;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
}



.menu_div ul {
    background: #71b0d0;
    color: #FFF;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 1200px;
    list-style: none;
    margin-bottom: auto;
    margin-right: 10px;
    margin-top: 0px;
    padding: 0px;
    text-indent: 15px;
    width: 200px;
}

.menu_div ul li { line-height: 50px; }

.menu_div ul li a {
    color: #FFF;
    display: block;
    text-decoration: none;
}

.menu_div ul li a:hover {
    background-color: #FFFFFF;
    border-left-style: solid;
    color: #000;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    opacity: 0.8;
}

.menu_div ul li#active {
    background-color: #909090;
    border-left-style: solid;
}

.align-left { text-align: left; }
.align-right { text-align: right; }

.float-left { float: left; }

.float-right { float: right; }



.labelLeft label {
    color: #1E1E1E;
    float: left;
    font-size: 1em;
    margin-right: 10px;
    min-width: 190px;
    text-align: right;
    vertical-align: middle;
}

.labelLeft {
    color: #696969;
    text-align: left;
}

.labelRight label {
    color: #1E1E1E;
    float: left;
    font-size: 1em;
    margin-right: 10px;
    min-width: 190px;
    text-align: center;
    vertical-align: middle;
}

.labelRight {
    color: #696969;
    text-align: center;
}

.submitpanel {
    float:left;
    padding:20px;
    width:20px;

}

.article-right-content {
    border: 1px solid #c7c7c7;
    border-left: 7px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 4px 8px 8px;
    height: 89px;
    position: relative;
    color: #777;
    background-color: #f2f2f2;
}

.article-left-content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    background: #efefef; 
    box-shadow: 0 1px rgba(255, 255, 255, 0.8);
    min-height: 100px;
    padding: 20px;
}

.article-left-content:nth-child(even) { 
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.08); 
}


.article-left-content:hover
    {
        cursor: pointer;
        color: white;
        background-color: lightblue;
        background-repeat: no-repeat;
        border-color: #59C0F3 #0081C2 #194D7B;
    }

.fixed150 {
    width:150px;
}

.navbar-secondary {
    background-color: #0081C2;
    background-repeat: no-repeat;
    border-bottom: 1px solid #1F5599;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

.nav {
    display: inline-block;
    list-style: none outside none;
    margin: 15px;
    padding: 4px;
    text-align: center;
}

.nav li {
    display: inline-block;
    border: 1px solid #c7c7c7;
    border-left: 7px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 4px 8px 8px;
    height: 89px;
    position: relative;
    color: #777;
    background-color: #f2f2f2;
}

.navbar .brand {
    padding: 6px 30px 12px 30px;
    margin-bottom: -8px;
    height: 48px;
}

h2.page-title {
    font-size: 32px;
}

.brand .title {
    float: left;
    font-family: 'Segoe UI Light','Open Sans',Verdana,Arial,Helvetica,sans-serif;
    font-size: 30pt;
    font-weight: 200;
    letter-spacing: 0.01em;
    padding-left: 50px;
    text-transform: capitalize;
    text-transform: initial;
    text-decoration: none;
    color: #005580;
}
    span.title {
        background: url(/content/images/icon.png) no-repeat left center;
        -moz-background-size: 45px;
        -o-background-size: 45px;
        -webkit-background-size: 45px;
        background-size: 45px;
    }

.page-splash
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    opacity: 0.2;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.page-splash-message {
    text-align: center;
    margin: 10% 0 0 0;
    font-size: 400%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    font-family: monospace;
    color: #F58A00;
    padding: 0;
}
.page-progress-bar {
    margin: 10% 30% 0 30%;
}

.toast {
    font-weight: normal;
}
.toast-info
{
    background-color: #194D7B;
}

.toast-bottom-right {
    bottom: 50px;
}
.navbar-content-center {
    text-align: center;    
}

footer a {
    font-weight: bold;
}
footer span {
    padding: 10px 80px;
    font-size: 18px;
}

/***************************/
/* Boostrap overrides      */

.navbar .btn, .navbar  {
    margin-top: 16px;
}

.navbar-fixed-top {
    background-color: #FFFFFF;
    
}

.navbar-fixed-bottom .navbar-inner {
	padding: 6px;
}

.navbar {
    background-color:#FFFFFF;
    text-transform: uppercase;
}

.loader .page-progress-bar {


    margin: 14px 0 0 0 ;
}

.loader {
    visibility: hidden;
}
.loader.active {
    visibility: visible;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
}


.tile-bt-2 {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 130px;
}

.tile-bt-2 img {
    height:32px;
    margin:auto;
    padding:0;
    position:relative;
    vertical-align:middle;
    width:32px;
}

.solid-blue {
    background-color:#FFFFFF;
}

.solid-blue:hover {
    border:2px solid #ccc;
    text-decoration:none !important;
}



.btn-info {
    background-color: #0081C2;
    background-image: -moz-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#77CCFF),to(#194D7B));
    background-image: -webkit-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -o-linear-gradient(top,#77CCFF,#194D7B);
    background-image: linear-gradient(to bottom,#77CCFF,#194D7B);
    background-repeat: repeat-x;
    border-color: #77CCFF #2f96b4 #194D7B;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff77CCFF', endColorstr='#ff194D7B', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
        color: white;
        background-color: #0081C2;
        *background-color: #0081C2;
        background-color: #194D7B;
    }

    .btn-info:active,
    .btn-info.active {
        background-color: #0081C2 \9;
        background-color: #194D7B \9;
    }

/* End Boostrap overrides  */
/***************************/

@media only screen and (max-width: 979px) {
    .page-splash-message {
        font-size: 150%;
    }

    .navbar-fixed-bottom {
        position: fixed;
    }

	footer span {
		padding: 10px 50px;
		font-size: 14px;
	}
}
