
.google-maps
{
    min-height: 700px;
}

    .google-maps img
    {
        max-width: none;
    }

@media (max-height: 800px)
{

    .google-maps
    {
        min-height: 400px;
    }
}
