.live-tile
{
    background-image: url('live-tiles.png');
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.live-tile-pesanan
{
    background-position: 0 0;
}

.live-tile-terimapesanan
{
    background-position: 0 -98px;
}

.live-tile-Document
{
    background-position: 0 -196px;
}

.live-tile-Gun
{
    background-position: 0 -294px;
}

.live-tile-Cash
{
    background-position: 0 -392px;
}

.live-tile-Bank
{
    background-position: 0 -490px;
}

.live-tile-lorryin
{
    background-position: 0 -588px;
}

.live-tile-Cek
{
    background-position: 0 -686px;
}

.live-tile-graph
{
    background-position: 0 -784px;
}

.live-tile-history
{
    background-position: 0 -882px;
}

.live-tile-job
{
    background-position: 0 -980px;
}

.live-tile-CekTunai
{
    background-position: 0 -1085px;
}

.live-tile-sum
{
    background-position: 0 -1176px;
}

.live-tile-lorryout
{
    background-position: 0 -1274px;
}

.live-tile-write
{
    background-position: 0 -1372px;
}

.live-tile-wrong
{
    background-position: 0 -1470px;
}

.live-tile-pesanan-pelincir
{
    background-position: 0 -2086px;
}


.metro-icon
{
    background-image: url('../Images/strip_metro.png');
    background-repeat: no-repeat;
    width: 16px;

    height: 16px;
}

.metro-icon-delete
{
    background-position: 0 1px;
}

.metro-icon-calendar
{
    background-position: 0 -18px;
}

.metro-icon-pan
{
    background-position: 0 -35px;
}

.metro-icon-up
{
    background-position: 0 -52px;
}

.metro-icon-down
{
    background-position: 0 -69px;
}

.metro-icon-checked
{
    background-position: -34px -231px;
}


.command
{
    background-image: url('../Images/command.png');
    width: 26px;
    height: 26px;
    border-width: 0px;
}

.command-add
{
    background-position: -1px -1px;
}

.command-add2
{
    background-position: -28px -1px;
}

.dialog-cancel
{
}

.dialog-ok
{
}

.spinner-md
{
    position: absolute;
    margin-left: 300px;
    margin-top: -100px;
    z-index: 29999;
}


.fx-menu {
    
    background-image: url('../Images/azure/drawer-icons.1.png');
    width: 40px;
    height: 38px;
    border-width: 0px;
}

.fx-menu-grid {
    background-position:  -1px 5px;
}

.fx-menu-cloud {
    background-position:  -1px -55px;
}

.fx-menu-building {
    background-position:  -1px -90px;
}
.fx-menu-monitor{
    background-position:  -1px -142px;
}
.fx-menu-account{
    background-position:  -1px -490px;
}
.fx-menu-journal{
    background-position:  -1px -695px;
}
.fx-menu-lightning{
    background-position:  -1px -405px;
}

.fx-menu-business{
    background-position:  -1px -2143px;
}

.fx-drawmenu {
    
    background-image: url('../Images/azure/icons-action-32-sprites.png');
    width: 32px;
    height: 34px;
    border-width: 0px;
}
.fx-drawmenu-close {
    
    background-position:  -64px -446px;
}
.fx-drawmenu-close:hover {
    
    background-position:  -64px -446px;
}





.payment-default-icon {
    background-position: 0 -392px;
}
.payment-electricity-icon {
    background-position: 0 -1580px;
}
.payment-telephone-icon {
    background-position: 0 -1690px;
}
.payment-water-icon {
    background-position: 0 -1794px; 
}

.payment-salary-icon {
    background-position: 0 -397px;
}
.payment-bonus-icon {
    background-position: 0 -397px;
}
.payment-sales-icon {
    background-position: 0 -1986px;
}
.payment-shortage-icon {
    background-position: 0 -1888px;
}                   