@model Bespoke.SphCommercialSpaces.Domain.ComplaintCategoryElement

<div class="control-group">
    <label class="control-label">@Model.Label</label>
    <div class="controls">
        <span data-bind="text:Category"></span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@Model.SubCategoryLabel</label>
    <div class="controls">

        <span data-bind="text:SubCategory"></span>
    </div>
</div>
