@model Bespoke.SphCommercialSpaces.Domain.DataGridItem

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (var c in Model.ReportColumnCollection)
                {
                    <th>@c.Header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.ReportRowCollection)
            {
                <tr>
               
                    @foreach (var c in r.ReportColumnCollection)
                    {
                        <td>@c.Value</td>
                    }
                </tr>
                
            }
        </tbody>
    </table>
</div>
