@model Bespoke.SphCommercialSpaces.Domain.DataGridItem

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (var c in Model.ReportColumnCollection)
                {
                    <th>@c.Header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.ReportRowCollection)
            {
                <tr>

                    @foreach (var c in Model.ReportColumnCollection)
                    {
                        var c1 = c;
                        var cl = r.ReportColumnCollection.SingleOrDefault(l => l.Name == c1.Name);
                        if (null != cl)
                        {
                            <td>@cl.Value</td>

                        }
                    }
                </tr>

            }
        </tbody>
    </table>
</div>
