@model Bespoke.SphCommercialSpaces.Domain.DataGridItem

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (var c in Model.DataGridColumnCollection)
                {
                    <th>@c.Header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.ReportRowCollection)
            {
                <tr>

                    @foreach (var c in Model.DataGridColumnCollection)
                    {
                        var output = c.GenerateHtml(r);
                        <td>@output</td>
                    }
                </tr>

            }
        </tbody>
    </table>
</div>
