@using System.Web.Mvc.Html
@using Bespoke.Sph.Domain
@model Bespoke.Sph.Web.ViewModels.TemplateFormViewModel

<div id="form-designer-toolbox">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#form-general2" data-toggle="tab">General</a>
        </li>
        <li>
            <a href="#add-field" data-toggle="tab">Add a field</a>
        </li>
        <li>
            <a href="#fields-settings" data-toggle="tab">Properties</a>
        </li>
        <li>
            <a href="#fields-validation" data-toggle="tab">Validations</a>
        </li>

    </ul>
    <div class="tab-content">
        <div id="form-general2" class="tab-pane active" data-bind="with : activity">
            <form role="form" data-bind="with : FormDesign">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" data-bind="value: Name, valueUpdate: 'keyup'" id="form-design-name" type="text" name="FormDesign.Name" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" data-bind="value: Description, valueUpdate: 'keyup'" id="form-design-Description" type="text" name="FormDesign.Description" />
                </div>
                @if (Model.IsImportVisible)
                {
                    <div class="form-group">
                        <button class="btn btn-info" data-bind="command : $root.importCommand">
                            <i class="fa fa-upload"></i>
                            Import
                        </button>
                        <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="attr : {'href':'#/screen.editor/' + $root.wd().WorkflowDefinitionId() + '/' + $root.activity().WebId()}">
                            <i class="fa fa-edit"></i>
                            Edit
                        </a>
                    </div>

                }
                <div class="form-group">
                    <a href="#label-cols" data-toggle="collapse">Label columns span</a>
                </div>
                <div id="label-cols" class="form-group collapse">
                    <div class="form-group">
                        <label>Label Col Large</label>
                        <input class="form-control" data-bind="value: LabelColLg" id="form-design-LabelColLg" type="number" name="FormDesign.LabelColLg" />
                    </div>
                    <div class="form-group">
                        <label>Label Col Medium</label>
                        <input class="form-control" data-bind="value: LabelColMd" id="form-design-LabelColMd" type="number" name="FormDesign.LabelColMd" />
                    </div>
                    <div class="form-group">
                        <label>Label Col Small</label>
                        <input class="form-control" data-bind="value: LabelColSm" id="form-design-LabelColSm" type="number" name="FormDesign.LabelColSm" />
                    </div>
                    <div class="form-group">
                        <label>Label Col x-small</label>
                        <input class="form-control" data-bind="value: LabelColXs" id="form-design-LabelColXs" type="number" name="FormDesign.LabelColXs" />
                    </div>
                </div>

                <div class="form-group">
                    <a href="#input-cols" data-toggle="collapse">Input columns span</a>
                </div>
                <div id="input-cols" class="collapse form-group">
                    <div class="form-group">
                        <label>Input Col Large</label>
                        <input class="form-control" data-bind="value: InputColLg" id="form-design-InputColLg" type="number" name="FormDesign.InputColLg" />
                    </div>
                    <div class="form-group">
                        <label>Input Col Medium</label>
                        <input class="form-control" data-bind="value: InputColMd" id="form-design-InputColMd" type="number" name="FormDesign.InputColMd" />
                    </div>
                    <div class="form-group">
                        <label>Input Col Small</label>
                        <input class="form-control" data-bind="value: InputColSm" id="form-design-InputColSm" type="number" name="FormDesign.InputColSm" />
                    </div>
                    <div class="form-group">
                        <label>Input Col x-small</label>
                        <input class="form-control" data-bind="value: InputColXs" id="form-design-InputColXs" type="number" name="FormDesign.InputColXs" />
                    </div>

                </div>
            </form>
        </div>
        <div id="add-field" class="tab-pane">
            <ul class="nav" data-bind="foreach: formElements">
                <li>
                    <a class="btn btn-default" href="#add-field" data-bind="attr : {title:Tooltip}">
                        <i data-bind="attr: { 'class': CssClass }" class="pull-left"></i>
                        <!-- ko text: Name -->
                        <!-- /ko-->
                    </a>
                </li>
            </ul>
        </div>

        <div id="fields-settings" class="tab-pane" data-bind="with: selectedFormElement">
            <form role="form">
                <div class="form-group">
                    <label for="form-element-label">Label</label>
                    <input class="form-control" data-bind="value: Label, valueUpdate: 'keyup'" id="form-element-label" type="text" name="Label" />
                </div>

                <div class="form-group">
                    <label for="form-element-path">Path</label>
                    <input class="form-control" pattern="^[A-Za-z_][A-Za-z0-9_.]*$" data-bind="value: Path, typeahead : $root.wd().WorkflowDefinitionId()" id="form-element-path" type="text" name="Path" />
                </div>

                <div class="form-group">
                    <a href="#toolbox-more-settings" data-toggle="collapse">
                        <i class="fa fa-chevron-down"></i>
                        More settings
                    </a>
                </div>
                <div id="toolbox-more-settings" class="collapse">
                    <div class="form-group">
                        <label for="form-element-tooltip">Tooltip</label>
                        <input class="form-control" data-bind="value: Tooltip" id="form-element-tooltip" type="text" name="Tooltip" />
                    </div>

                    <div class="form-group">
                        <label for="form-element-help-text">Help</label>
                        <input class="form-control" data-bind="value: HelpText, valueUpdate: 'keyup'" id="form-element-help-text" type="text" name="HelpText" />
                    </div>


                    <div class="form-group">
                        <label for="form-element-css-class">Css class</label>
                        <input data-bind="cssAutoComplete: CssClass" id="form-element-css-class" type="text" name="CssClass" />
                    </div>

                    <div class="form-group">
                        <label for="form-element-visible">Visible</label>
                        <input class="form-control" data-bind="value: Visible, valueUpdate : 'keyup'" id="form-element-visible" type="text" name="Visible" />
                    </div>


                    <div class="form-group">
                        <label for="form-element-elementId">Id</label>
                        <input class="form-control" data-bind="value: ElementId" id="form-element-elementId" type="text" name="ElementId" />
                    </div>


                </div>

                <div class="form-group">
                    <a href="#toolbox-advanced-settings" data-toggle="collapse">
                        <i class="fa fa-chevron-down"></i>
                        Advanced settings
                    </a>
                </div>
                <div id="toolbox-advanced-settings" class="collapse">
                    @{
                        var types = new[]
                        {
                            typeof(TextBox),
                            typeof(ComboBox),
                            typeof(Button),
                            typeof(ListView)
                        };
                    }
                    @foreach (var fe in Model.FormElements.Where(t => types.Contains(t.GetType())))
                    {
                        @Html.EditorFor(m => fe)
                    }
                </div>

                <button data-bind="click: $root.removeFormElement" class="btn btn-warning" title="remove this element">Remove</button>
                <!-- END OF EDITOR TOOLBOX -->
            </form>

        </div>

        <div id="fields-validation" class="tab-pane" data-bind="with : selectedFormElement">
            @Html.Partial("_ValidationSetting")
        </div>

    </div>
</div>
