<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="RabbitMqHost" value="localhost"/>
    <add key="RabbitMqUsername" value="guest"/>
    <add key="RabbitMqPassword" value="guest"/>
    <add key="RabbitMqPort" value="5672"/>
  </appSettings>
  <connectionStrings>
    <add name="StationEntityModelContainer" connectionString="metadata=res://sql.repository/StationEntityModel.csdl|res://sql.repository/StationEntityModel.ssdl|res://sql.repository/StationEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\katmai;initial catalog=i90009000;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Station" connectionString="data source=.\katmai;initial catalog=i90009000;integrated security=True;MultipleActiveResultSets=True;Application Name=station.web" providerName="System.Data.EntityClient"/>
    <add name="identity" connectionString="data source=.\katmai;initial catalog=i90009000;integrated security=True;MultipleActiveResultSets=True;App=station.web" providerName="System.Data.EntityClient"/>
    <add name="DefaultConnection" connectionString="data source=.\katmai;initial catalog=i90009000;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Roslyn.Compilers.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Roslyn.Compilers" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
