<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="sph:ApplicationName" value="DevV1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <roleManager enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add applicationName="sph" connectionStringName="sph" name="SphRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </providers>
    </roleManager>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" connectionStringName="sph" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="4" applicationName="sph" />
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Roslyn.Compilers.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Roslyn.Compilers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.21.0" newVersion="1.0.21.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.VisualBasic" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\temp\sphEmail" />
      </smtp>
    </mailSettings>
  </system.net>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <typeAliases>
      <alias name="AuditTrail" type="Bespoke.Sph.Domain.AuditTrail, domain.sph" />
      <alias name="DocumentTemplate" type="Bespoke.Sph.Domain.DocumentTemplate, domain.sph" />
      <alias name="EmailTemplate" type="Bespoke.Sph.Domain.EmailTemplate, domain.sph" />
      <alias name="EntityDefinition" type="Bespoke.Sph.Domain.EntityDefinition, domain.sph" />
      <alias name="EntityForm" type="Bespoke.Sph.Domain.EntityForm, domain.sph" />
      <alias name="EntityView" type="Bespoke.Sph.Domain.EntityView, domain.sph" />
      <alias name="Designation" type="Bespoke.Sph.Domain.Designation, domain.sph" />
      <alias name="Page" type="Bespoke.Sph.Domain.Page, domain.sph" />
      <alias name="SpatialStore" type="Bespoke.Sph.Domain.SpatialStore, domain.sph" />
      <alias name="Setting" type="Bespoke.Sph.Domain.Setting, domain.sph" />
      <alias name="Tracker" type="Bespoke.Sph.Domain.Tracker, domain.sph" />
      <alias name="Trigger" type="Bespoke.Sph.Domain.Trigger, domain.sph" />
      <alias name="UserProfile" type="Bespoke.Sph.Domain.UserProfile, domain.sph" />
      <alias name="Watcher" type="Bespoke.Sph.Domain.Watcher, domain.sph" />
      <alias name="Workflow" type="Bespoke.Sph.Domain.Workflow, domain.sph" />
      <alias name="WorkflowDefinition" type="Bespoke.Sph.Domain.WorkflowDefinition, domain.sph" />
    </typeAliases>
    <objects xmlns="http://www.springframework.net">
      <object name="ILogger" type="Bespoke.Sph.Domain.Logger, domain.sph">
        <property name="Loggers">
          <list element-type="Bespoke.Sph.Domain.ILogger, domain.sph">
            <object type="Bespoke.Sph.ElasticSearchLogger.Logger, elasticsearch.logger" />
          </list>
        </property>
      </object>
      <object name="IPersistence" type="Bespoke.Sph.SqlRepository.SqlPersistence, sql.repository" />
      <object name="IEntityChangePublisher" type="Bespoke.Sph.RabbitMqPublisher.ChangePublisherClient,rabbitmq.changepublisher" />
      <object name="IEntityChangedListener&lt;AuditTrail&gt;" type="Bespoke.Sph.RabbitMqPublisher.EntityChangedListener&lt;AuditTrail&gt;,rabbitmq.changepublisher" />
      <object name="ITaskScheduler" type="Bespoke.Sph.WindowsTaskScheduler.TaskScheduler , windows.taskschedulers" />
      <object name="ITemplateEngine" type="Bespoke.Sph.Templating.RazorEngine, razor.template" />
      <object name="IScriptEngine" type="Bespoke.Sph.RoslynScriptEngines.RoslynScriptEngine , roslyn.scriptengine" />
      <object name="IBinaryStore" type="Bespoke.Sph.SqlRepository.SqlBinaryStore, sql.repository" />
      <object name="ISpatialService&lt;SpatialStore&gt;" type="Bespoke.Sph.SqlRepository.SqlSpatial&lt;SpatialStore&gt;, sql.repository" />
      <object name="IRepository&lt;DocumentTemplate&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;DocumentTemplate&gt;, sql.repository" />
      <object name="IRepository&lt;EmailTemplate&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;EmailTemplate&gt;, sql.repository" />
      <object name="IRepository&lt;EntityDefinition&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;EntityDefinition&gt;, sql.repository" />
      <object name="IRepository&lt;EntityForm&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;EntityForm&gt;, sql.repository" />
      <object name="IRepository&lt;EntityView&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;EntityView&gt;, sql.repository" />
      <object name="IRepository&lt;Designation&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Designation&gt;, sql.repository" />
      <object name="IRepository&lt;Page&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Page&gt;, sql.repository" />
      <object name="IRepository&lt;SpatialStore&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;SpatialStore&gt;, sql.repository" />
      <object name="IRepository&lt;Setting&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Setting&gt;, sql.repository" />
      <object name="IRepository&lt;Tracker&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Tracker&gt;, sql.repository" />t&gt;
      <object name="IRepository&lt;Trigger&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Trigger&gt;, sql.repository" />
      <object name="IRepository&lt;UserProfile&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;UserProfile&gt;, sql.repository" />
      <object name="IRepository&lt;Watcher&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Watcher&gt;, sql.repository" />
      <object name="IRepository&lt;Workflow&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Workflow&gt;, sql.repository" />t&gt;
      <object name="IRepository&lt;WorkflowDefinition&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;WorkflowDefinition&gt;, sql.repository" />
      <object name="QueryProvider" type="Bespoke.Sph.SqlRepository.SqlQueryProvider, sql.repository" />
      <object name="IPagingTranslator" type="Bespoke.Sph.SqlRepository.Sql2008PagingTranslator, sql.repository" />
      <object name="IDirectoryService" type="Bespoke.Sph.DirectoryServices.AspNetDirectoryService, sqlmembership.directoryservices" />
      <object name="INotificationService" type="Bespoke.Sph.EmailServiceNotification.EmailService, email.service" />
      <object name="ISqlServerMetadata" type="Bespoke.Sph.SqlRepository.SqlServer2012Metadata, sql.repository" />
    </objects>
  </spring>
</configuration>
