@model Bespoke.Sph.Domain.ComplaintTemplate

@{
    Layout = null;
}

<h1>@Model.FormDesign.Name</h1>
<span>@Model.FormDesign.Description</span>
<form id="building-details" class="form-horizontal" data-bind="with: complaint">
    @foreach (var fe in Model.FormDesign.FormElementCollection)
    {
        @Html.EditorFor(m => fe)
        
    }
</form>