@model Bespoke.Sph.Domain.MaintenanceTemplate
@{
    Layout = null;
}

<h1>@Model.FormDesign.Name</h1>
<span>@Model.FormDesign.Description</span>

<form id="maintenace-details" class="form-horizontal" data-bind="with: maintenance">
    @foreach (var fe in Model.FormDesign.FormElementCollection)
    {
        @Html.DisplayFor(m => fe)
    }
</form>


