@model Bespoke.Sph.Web.ViewModels.SpaceDetailViewModel

@{
    ViewBag.Title = "title";
    Layout = null;
}
<div id="space-public-panel" class="container-fluid" data-bind="with: space">
    <h1 data-bind="text: Category"></h1>
    
    
    <div id="map-space" class="google-maps row">
    </div>

    <div class="row">
        <div>
            <span data-bind="text:RegistrationNo"></span>
        </div>
        <div>
            <div class="space-gallery-panel" data-bind="foreach :PhotoCollection">
                <a href="/#" data-bind="attr : {title : Title}, click:$root.showPhoto" data-gallery="">
                    <img data-bind="attr : {src:'/image/store/' + ThumbnailStoreId()}" />
                </a>
            </div>
        </div>
    </div>

    <div class="row" data-bind="html:Description">

    </div>

    <div id="space-application-panel">
        <!-- ko foreach: $root.applicationTemplates -->
        <a class="btn btn-success" data-bind="attr: { href: '/#/application.detail-templateid.' + ApplicationTemplateId() + '/' + $root.space().SpaceId(), title : Name }, text:Name">Mohon Sewa</a>
        <!--/ko -->

    </div>
</div>

<section class="modal hide" id="photo-dialog" data-bind="with : photo">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 data-bind="text:Title"></h3>
    </div>
    <div class="modal-body">
        <p>
            <img data-bind="attr : {src:'/image/store/' + StoreId()},alt: Description" />
        </p>
        <p data-bind="text:Description"></p>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Tutup</a>
    </div>
</section>
