@model Bespoke.Sph.Web.ViewModels.SpaceDetailViewModel

@{
    ViewBag.Title = "title";
    Layout = null;
}
<div id="space-public-panel" class="container-fluid" data-bind="with: space">
    <div>
        <article class="list-article">
            <div class="list-header">
                <p class="category" data-bind="text: Category"></p>
            </div>

            <div class="list-info">
                <p>
                    <span class="building-name" data-bind="text: BuildingName" />
                    (<span data-bind="text: RegistrationNo" />)
                </p>
                <p>
                    <!-- ko if :UnitNo-->
                    <span data-bind="text: UnitNo" />,
                    <!--/ko-->
                    <!-- ko if :FloorName-->
                    <span data-bind="text: FloorName" />,
                    <!--/ko-->
                    <span data-bind="text: BuildingName" />,
                    <span data-bind="text: City" />,
                            
                </p>
                <p>
                    <span data-bind="text: Address().Postcode" />,
                            <span data-bind="text: State" />.
                </p>
                <p>
                    <!-- ko if :Size-->
                    <span>Saiz :</span>
                    <span data-bind="text: Size" />mps
                    <!--/ko-->
                </p>
                <p>RM <span class="prices" data-bind="money: RentalRate" /></p>
            </div>

        </article>
    </div>


    <div>
        <div class="space-detail-tab">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#gallery-tab" data-toggle="tab">Foto Galeri</a>
                </li>
                <li>
                    <a href="#map-tab" data-toggle="tab">Peta</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="gallery-tab" class="tab-pane active">
                    <div class="row">
                        <div class="space-gallery-panel" data-bind="foreach: PhotoCollection">
                            <a href="/#" data-bind="attr: { title: Title }, click: $root.showPhoto" data-gallery="">
                                <img alt="photo" src="~/Images/no-image.png" data-bind="attr: { src: '/image/Thumbnail/' + StoreId() }" />
                            </a>
                        </div>
                    </div>
                </div>
                <div id="map-tab" class="tab-pane">
                    <div id="map-space" class="google-maps row">
                        <img data-bind="attr: { src: staticMap }" src="~/Images/no-image.png" alt="map" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div>
        <div>
            <h4>Keterangan</h4>
        </div>
        <div>
            <h5>Maklumat Am</h5>
            <div>
                <form class="form-inline">
                    <div class="control-group">
                        <label class="label-am">Kelengkapan : </label>
                        <span data-bind="text: Furnishing" />
                        <div class="control-group inline">
                            <label class="label-am">Harga : </label>
                            RM<span data-bind="money: RentalRate" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="row" id="space-features-panel" data-bind="visible: FeatureDefinitionCollection().length">
        <div>
            <h5>Kemudahan</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Keterangan</th>
                        <th>Kuantiti</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: FeatureDefinitionCollection">
                    <tr>
                        <td data-bind="text: Name"></td>
                        <td data-bind="text: Description"></td>
                        <td data-bind="text: AvailableQuantity"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div>
            <h5>Lain-lain Maklumat</h5>
            <div><span data-bind="text: Description" /></div>
        </div>
    </div>
</div>



<div id="space-application-panel">
    <!-- ko foreach: $root.applicationTemplates -->
    <a class="btn btn-success" data-bind="attr: { href: '/#/application.detail-templateid.' + ApplicationTemplateId() + '/' + ApplicationTemplateId() + '/' + $root.space().SpaceId(), title: Name }, text: Name">Mohon Sewa</a>
    <!--/ko -->

</div>

<section class="modal hide" id="photo-dialog" data-bind="with: photo">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 data-bind="text: Title"></h3>
    </div>
    <div class="modal-body">
        <p>
            <img src="~/Images/spinner-md.gif" alt="Photo" data-bind="attr: { src: '/image/store/' + StoreId() }, alt: Description" />
        </p>
        <p data-bind="text: Description"></p>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-bind="click: $root.photoBack">&lt;</a>
        <a href="#" class="btn btn-primary" data-bind="click: $root.photoForward">&gt;</a>
        <a href="#" class="btn" data-dismiss="modal">Tutup</a>
    </div>
</section>
