@model Bespoke.Sph.Web.ViewModels.SpaceDetailViewModel

@{
    ViewBag.Title = "title";
    Layout = null;
}
<section class="container-fluid">
    <div class="row-fluid" id="cs-modal">
        <h1 class="span12" data-bind="text: title"></h1>
    </div>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#form-tab" data-toggle="tab">Am</a>
            </li>
            <li>
                <a href="#contract-tab" data-toggle="tab">Kontrak</a>
            </li>
            <li>
                <a href="#application-tab" data-toggle="tab">Permohonan</a>
            </li>
            <li>
                <a href="#plan-tab" data-toggle="tab">Plan lantai</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="form-tab" class="tab-pane active">
                <form id="cs" class="form-horizontal" data-bind="with: space">

                    @foreach (var fe in Model.Template.FormDesign.FormElementCollection)
                    {
                    @Html.EditorFor(m => fe)

                    }
                    <div class="control-group" data-bind="visible: IsOnline">
                        <label class="control-label">Template Permohonan</label>
                        <div class="controls">
                            @foreach (var t in Model.ApplicationTemplates)
                            {
                            <label>
                                <input class="application-template-checkbox" type="checkbox" value="@t.ApplicationTemplateId" data-bind="checked: ApplicationTemplateOptions" />
                                @t.Name
                            </label>
                            }
                        </div>
                    </div>
                    <div id="space-photo-gallery">
                        <a href="/#" data-bind="click: addPhoto">Add Photo</a>
                        <table class="table table-striped" data-bind="visible:PhotoCollection().length">
                            <thead>
                                <tr>
                                    <th>Tajuk</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: PhotoCollection">
                                <tr>
                                    <td>
                                        <a href="/#" data-bind="click: $parent.editPhoto.call($parent, $data), text: Title"></a>
                                    </td>
                                    <td>
                                        <img src="~/Images/no-image.png" alt="thumbnail" data-bind="attr: { src: '/Image/Thumbnail/' + StoreId() }" />
                                    </td>
                                    <td>
                                        <a href="/#" data-bind="click: $parent.removePhoto.call($parent, $data)">Buang</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="space-icons-panel">
                        <div class="control-group">
                            <label for="map-icon" class="control-label">Map Icon</label>
                            <div class="controls">
                                <!-- ko if : MapIcon -->
                                <img data-bind="attr: { src: '/image/store/' + MapIcon() }" src="/Images/no-image.png" alt="map icon" />
                                <!--/ko-->
                                <input data-bind="kendoUpload: MapIcon" id="map-icon" type="file" name="files" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="small-icon" class="control-label">Small Icon</label>
                            <div class="controls">
                                <!-- ko if : SmallIcon -->
                                <img data-bind="attr: { src: '/image/store/' + SmallIcon() }" src="/Images/no-image.png" alt="small icon" />
                                <!--/ko-->
                                <input data-bind="kendoUpload: SmallIcon" id="small-icon" type="file" name="files" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="icon" class="control-label">Icon</label>
                            <div class="controls">
                                <!-- ko if : Icon -->
                                <img data-bind="attr: { src: '/image/store/' + Icon() }" src="/Images/no-image.png" alt="icon" />
                                <!--/ko-->
                                <input data-bind="kendoUpload: Icon" id="icon" type="file" name="files" />
                            </div>
                        </div>
                    </div>   
                </form>

            </div>
            <div id="contract-tab" class="tab-pane" data-bind="compose: 'viewmodels/_space.contract'">
            </div>
            <div id="application-tab" class="tab-pane">
            </div>
            <div id="plan-tab" class="tab-pane">
            </div>
        </div>
    </div>
</section>

<section class="modal hide" id="lot-selection-panel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Pilih</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label for="selected-buildingid" class="control-label">Bangunan</label>
                <div class="controls" data-bind="with: buildingOptions">
                    <select data-bind="value: $root.selectedBuildingId, options: $data, optionsValue: 'Item1', optionsText: 'Item2', optionsCaption: '[Sila pilih]'" id="selected-buildingid" name="selected-buildingid"></select>
                </div>
            </div>
            <div class="control-group">
                <label for="selected-block" class="control-label">Block</label>
                <div class="controls">
                    <select data-bind="value: selectedBlock, options: blockOptions, optionsText: 'Name',  optionsCaption: '[Sila pilih]'" id="selected-block" name="selected-block"></select>
                </div>
            </div>
            <div class="control-group">
                <label for="selectedFloor" class="control-label">Lantai</label>
                <div class="controls">
                    <select data-bind="value: selectedFloor, options: floorOptions, optionsText: 'Name', optionsCaption: '[Sila pilih]'" id="selectedFloor" name="selectedFloor"></select>
                </div>
            </div>
            <div class="control-group">
                <label for="selectedLots" class="control-label">Lot</label>
                <div class="controls">
                    <select data-bind="selectedOptions: selectedLots, options: lotOptions, optionsText: 'Name'" id="selectedLots" name="selectedLots" multiple="multiple"></select>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <input data-dismiss="modal" id="add-lot-button" type="button" class="btn btn-primary" data-bind="click: addLotsCommand" value="OK" />
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
</section>
<section class="modal hide" id="map-panel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 data-bind="text: 'Peta Ruang'"></h2>
    </div>
    <div class="modal-body">
        <div id="map" class="google-maps"></div>
    </div>

    <div class="modal-footer">
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="save map" data-bind="click: $root.saveMapCommand" />
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
</section>