@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1 class="row-fluid">Pengurusan Pengguna</h1>
</div>
<div class="tabbable row-fluid">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#user-tab" data-toggle="tab">Pengguna</a>
        </li>
        <li>
            <a href="#designation-tab" data-toggle="tab">Tetapan Jawatan</a>
        </li>
        <li>
            <a href="#department-tab" data-toggle="tab">Tetapan Jabatan</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="user-tab" class="tab-pane active">
          
            <table class="table table-striped" data-bind="filter: { path: 'tbody>tr' }, serverPaging: { entity: 'UserProfile', query: 'UserProfileId gt 0', list: profiles, map : map}">
                <thead>
                    <tr>
                        <th>Nama Pengguna</th>
                        <th>Nama Penuh</th>
                        <th>Jabatan</th>
                        <th>Jawatan</th>
                        <th>Emel</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: profiles">
                    <tr>
                        <td >
                               <a data-toggle="modal" href="#user-details-modal" data-bind="click: $root.editCommand,text: UserName"></a>
                    
                        </td>
                        <td data-bind="text: FullName"></td>
                        <td data-bind="text: Department"></td>
                        <td data-bind="text: Designation"></td>
                        <td data-bind="text: Email"></td>
                        <td>
                         </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="designation-tab" class="tab-pane ">
            <!--ko compose:'viewmodels/_users.designation' -->
            <!--/ko-->
        </div>
        <div id="department-tab" class="tab-pane ">
            <!--ko compose:'viewmodels/_users.department' -->
            <!--/ko-->
        </div>
    </div>
</div>

<!--ko compose:'_user.add.html' -->
<!--/ko-->
