@model Bespoke.Sph.Domain.BuildingBlocksElement

<input type="button" name="add-floor-button" class="btn pull-right" data-bind="click: addBlock" value="+ Block" />
<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Size</th>
            <th>Floors</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: BlockCollection">
        <tr>
            <td>
                <input class="input-block-name" type="text" data-bind="value: Name, uniqueName: true" value="G" />
            </td>

            <td>
                <input class="input-block-description" type="text" data-bind="value: Description, uniqueName: true" />
            </td>
            <td>
                <input class="input-block-size" type="text" data-bind="value: Size, uniqueName: true" value="5000" />
            </td>
            <td>
                <input class="input-block-floors" type="number" data-bind="value: Floors , uniqueName: true" />
            </td>
            <td>
                <a href="#" data-bind="click: $parent.editBlockMap.call($parent,$data)" class="button-block-floorplan">Pelan Lantai</a>
            </td>
            <td>
                <a href="#" data-bind="click: $parent.editBlockFloor.call($parent, $data)">Tingkat</a>
            </td>
            <td>
                <a href="#" data-bind="click: $parent.removeBlock.call($parent,$data)">Buang</a>
            </td>
        </tr>
    </tbody>
</table>
