@model Bespoke.Sph.Domain.BuildingElement

<div class="control-group">
   <label class="control-label">@Model.Label</label>
    <div class="controls">
        <span data-bind="value: $root.selectedBuilding"></span>
        <span class="help-inline">@Model.HelpText</span>
    </div>
</div>
