@model Bespoke.Sph.Domain.CheckBox
@{
    
}
<div class="control-group">
    <label class="control-label">@Model.Label</label>
    <div class="controls">
        <span data-bind="text: @Model.Path" id="ID"  />
    </div>
</div>

