@model Bespoke.Sph.Domain.CustomListDefinitionElement
<div class="control-group">
   <label class="control-label">@Model.Label </label>
   <div class="controls">
    <table class="table table-striped" data-bind="with : CustomList('@Model.Name')">
        <thead>
            <tr>
                @foreach (var c in Model.CustomFieldCollection)
                {
                    <th>@c.Name</th>
                }
            </tr>
        </thead>
        <tbody data-bind="foreach :CustomListRowCollection">
            <tr>
                @foreach (var r in Model.CustomFieldCollection)
                {
                    <td data-bind="text: CustomField('@r.Name')"></td>
                }
            </tr>
        </tbody>
    </table>
</div>
</div>
