@model Bespoke.Sph.Domain.TextBox
<div class="control-group">
    <label class="control-label ">@Model.Label </label>
    <div class="controls">
        <span data-bind="@Model.GetKnockoutDisplayBindingExpression()"/>
    </div>
</div>
