@using System.Web.Mvc.Html
@model Bespoke.Sph.Web.ViewModels.PageCompareViewModel
@{
    ViewBag.Title = "Diff";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Diff</title>
    <link href="@Url.Content("~/Content/Diff.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div id="diffBox" class="row">
            <div id="leftPane">
                <div class="diffHeader">Theirs</div>
                @{
                    Html.RenderPartial("DiffPane", Model.Diff.NewText);
                }
            </div>
            <div id="rightPane">
                <div class="diffHeader">Mine</div>
                @{
                    Html.RenderPartial("DiffPane", Model.Diff.OldText);
                }
            </div>
            <div class="clear">
            </div>
        </div>

    </div>

</body>
</html>
