<table class="table table-striped table-condensed table-hover" data-bind="with : parentRoot">
    <thead>
    <tr id="error-rows-header">
        <th>#</th>
        <th>Data</th>
        <th>Error Message</th>
    </tr>
    </thead>
    <tbody id="error-rows-body" data-bind="foreach :errorRows">
    <tr>
        <td data-bind="text: (($index() + 1) + ($root.currentPage() - 1) * $root.currentPageSize())"></td>
        <td>
            <a href="javascript:;"
               data-bind="click : $root.viewData, text:JSON.stringify(Data).substring(0,100) + '....', tooltip: ErrorId">

            </a>
        </td>
        <td>
            <a href="javascript:;" data-bind="click : $root.viewException">
                <i class="fa fa-clipboard"></i>
                <!-- ko text: Exception.Message-->
                <!-- /ko -->
            </a>
        </td>
        <td>
            <a href="javascript:;" data-bind="command: $root.ignoreRow" class="btn btn-default">
                <i class="fa fa-times-circle"></i>
                Ignore this row
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div id="pager"></div>