
<a data-toggle="collapse" href="#recent-events-list">
    <h3>
        <i class="fa fa-chevron-down"></i>
        Recent Events
    </h3>
</a>
<nav id="recent-events-list" class="collapse in">
    <table class="table table-striped" data-bind="filter : {
            path:'tbody>tr'
        },
        searchPaging: {
            list :list, 
            query : query, 
            entity : 'Log'
        }">
        <thead>
            <tr>
                <th>Date Time</th>
                <th>Operation</th>
                <th>Severity</th>
                <th>Log Source</th>
            </tr>
        </thead>
        <tbody data-bind="foreach :list">
            <tr>
                <td >
                    <a href="#" data-bind="click : $parent.openDetails, date: { value: Time, format:'YYYY-MM-DD HH:mm ss', inputFormat : moment.ISO_8601}"></a>
                </td>
                <td data-bind="text: (Operation || '<No Category>') + ': ' + Message"></td>
                <td data-bind="text:Severity"></td>
                <td data-bind="text:Log"></td>
            </tr>
        </tbody>
    </table>
</nav>
