<div class="container-fluid" data-bind="visible: isBusyLoadingAttachedProperties()">
    <i class="fa fa-spin fa-spinner"></i>
</div>
<div class="container-fluid" data-bind="foreach :attachedProperties, visible: !isBusyLoadingAttachedProperties()">
    <h3 data-bind="text:compiler"></h3>
    
    <!-- ko foreach : properties-->

    
    <!-- ko if : ko.unwrap(TypeName) === 'System.Boolean, mscorlib' -->
    <div class="form-group">
        <label class="checkbox" data-bind="tooltip : Description">
            <input data-bind="checked: Value, uniqueName:true, enable : $root.attachedPropertyEnable(EnabledExpression, $parent)" type="checkbox" />
            <!-- ko text : Name-->
            <!-- /ko -->

        </label>
    </div>

    <!-- /ko -->
    
    <!-- ko if : ko.unwrap(TypeName) === 'System.Int32, mscorlib' -->
    <div class="form-group">
        <label class="control-label" data-bind="text:Name">Name</label>

        <input type="number" data-bind="value: Value, uniqueName:true, tooltip : Description, attr : {placeholder: Help, required : Required}, enable : $root.attachedPropertyEnable(EnabledExpression, $parent)"
               class="form-control">
    </div>
    <!-- /ko -->
    
    <!-- ko if : ko.unwrap(TypeName) === 'System.String, mscorlib' -->
    <div class="form-group">
        <label class="control-label" data-bind="text:Name">Name</label>

        <!-- ko if : Array.isArray(ko.unwrap(ValidOptions))-->
        <select data-bind="value: Value, uniqueName:true, tooltip : Description, attr : {placeholder: Help, required : Required}, options : ValidOptions, enable : $root.attachedPropertyEnable(EnabledExpression, $parent)"
                class="form-control"></select>
        <!-- /ko -->
        <!-- ko if :  !Array.isArray(ko.unwrap(ValidOptions)) -->
        <input type="text" data-bind="value: Value, tooltip : Description, uniqueName:true, attr : {placeholder: Help, required : Required}, enable : $root.attachedPropertyEnable(EnabledExpression, $parent)"
               class="form-control">
        <!-- /ko -->
    </div>
    <!-- /ko -->
    
    
    <!-- /ko-->
</div>