

<div>
    <form id="users-department-form">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Department</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: departments">
                <tr>
                    <td>
                        <input required class="form-control department-field" type="text" data-bind="value: Name,uniqueName:true" />
                    </td>
                    <td>
                        <a href="#" data-bind="click: $parent.removeCommand.bind($data), attr: { title: 'Remove department' }">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>

        <a href="#" id="add-user-button" data-bind="click: addCommand" data-toggle="modal" class="btn btn-link">

            <i class="fa fa-plus-circle"></i>
            Add a department
        </a>
    </form>
</div>





