
<div class="row" data-bind="with : view">
    <a data-toggle="collapse" href="#columns-ev-panel">
        <h3>
            <i class="fa fa-chevron-down"></i>
            Columns
        </h3>
    </a>


    <div class="collapse in" id="columns-ev-panel">

        <div class="col-md-9">
            <ul id="column-design" class="nav nav-pills nav-tabs" style="">

                <!-- ko foreach : ViewColumnCollection -->
                <li class="label label-info th" style="">
                    <label data-bind="text:Header"></label>
                </li>
                <!-- /ko -->
                <li>
                    <a class="btn btn-link" data-bind="click : addViewColumn, tooltip :'Add a new view column'">
                        <i class="fa fa-plus-circle"></i>
                        Add a column
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3" data-bind="with :$root.item, visible: $root.item().WebId()">
            <form class="form">
                <div class="form-group">
                    <label for="column-path">Path</label>
                    <input id="column-path" class="form-control" type="text"
                           data-bind="value:Path,entityTypeaheadPath :$root.entity().EntityDefinitionId()" required
                           pattern="^[A-Za-z][A-Za-z0-9_.]*$" />
                </div>
                <div class="form-group">
                    <label for="column-header">Header</label>
                    <input id="column-header" class="form-control" type="text" data-bind="value:Header" required />
                </div>
                <div class="form-group">
                    <label for="column-format">Format</label>
                    <select id="column-format" class="form-control" data-bind="value:Format">
                        <option value="text:{0}">Text</option>
                        <option value="date:{0}">Short date</option>
                        <option value="date:{{ value:{0}, format:'DD MMM YYYY'}}">Long date</option>
                        <option value="date:{{ value:{0}, format:'D/M/YYYY HH:mm'}}">Short date time</option>
                        <option value="date:{{ value:{0}, format:'DD MMM YYYY HH:mm'}}">Long date time</option>
                        <option value="money:{0}">Money</option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="column-link">IsLink</label>
                    <input id="column-link" type="checkbox" data-bind="checked:IsLinkColumn" />

                </div>
                <div class="form-group">
                    <label for="column-route">Route</label>
                    <select id="column-route" class="form-control" data-bind="value:FormRoute,
                                    enable:IsLinkColumn,
                                    options : $root.formsOptions,
                                    optionsText : 'Name',
                                    optionsValue : 'Route',
                                    optionsCaption : '[Select a form]'"></select>

                </div>
                <div class="form-group">
                    <label for="column-rvf">Route Value Field</label>
                    <input id="column-rvf" class="form-control" data-bind="enable:IsLinkColumn,value:RouteValueField, entityTypeaheadPath :$root.entity().EntityDefinitionId()" />

                </div>
                <div class="form-group" data-bind="enable:IsLinkColumn">
                    <label for="column-icon">Icon class</label>

                    <i class="btn btn-link" data-bind="enable:IsLinkColumn,iconPicker: IconCssClass, attr:{'class':IconCssClass() + ' fa-2x' }" id="column-icon">
                    </i>
                    <a href="#" data-bind="click : removeIconCssClass,visible: IconCssClass()">
                        <i class="fa fa-times"></i>
                    </a>

                </div>
                <div class="form-group" data-bind="visible:IconStoreId() && IsLinkColumn()">
                    <img data-bind="attr : {'src':'/sph/image/store/' + IconStoreId()}" alt="image icon" />
                    <a href="#" data-bind="click : removeIconStoreId, enable:IconStoreId">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="form-group">
                    <label>Image Icon</label>
                    <input type="file" name="files" data-bind="kendoUpload:IconStoreId, enable:IsLinkColumn" />
                </div>
                <div class="form-group">
                    <a href="#" class="btn btn-default" data-bind="click : $parent.removeViewColumn.call($parent,$data)">
                        <span class="glyphicon glyphicon-remove"></span>
                        Remove
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>