<div id="workflow-definiion-variable-collection">
    <h3>Variable</h3>
    <div id="activity-panel" class="pull-left">
        <div class="btn-group">
            <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">
                Add Variable &nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="btn btn-link" data-bind="click: addVariable('Simple')" style="text-align: left">
                        <i class="fa fa-code"></i>
                        Simple
                    </a>
                </li>
                <li>
                    <a class="btn btn-link" data-bind="click: addVariable('Complex')" style="text-align: left">
                        <i class="fa fa-sitemap"></i>
                        Complex XSD
                    </a>
                </li>
                <li>
                    <a class="btn btn-link" data-bind="click: addVariable('ClrType')" style="text-align: left">
                        <i class="fa fa-sitemap"></i>
                        Complex CLR Type
                    </a>
                </li>
                <li>
                    <a class="btn btn-link" data-bind="click: addVariable('ValueObject')" style="text-align: left">
                        <i class="fa fa-object-ungroup"></i>
                        Value object
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <table class="table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: VariableDefinitionCollection">
            <tr>
                
                <td>
                    <a type="button" class="btn btn-link" data-bind="click : $parent.editVariable.call($parent,$data)" href="#">

                        <i class="fa fa-exclamation-triangle error" data-bind="visible:hasError"></i>
                        <i class="fa fa-sitemap" data-bind="visible : ko.unwrap($type) == 'Bespoke.Sph.Domain.ComplexVariable, domain.sph'"></i>
                        <i class="fa fa-code" data-bind="visible : ko.unwrap($type) == 'Bespoke.Sph.Domain.SimpleVariable, domain.sph'"></i>
                        <i class="fa fa-gear" data-bind="visible : ko.unwrap($type) == 'Bespoke.Sph.Domain.ClrTypeVariable, domain.sph'"></i>
                        <i class="fa fa-object-ungroup" data-bind="visible : ko.unwrap($type) == 'Bespoke.Sph.Domain.ValueObjectVariable, domain.sph'"></i>


                        &nbsp;
                        <!-- ko text : Name -->
                        <!-- /ko -->
                    </a>
                </td>
                <td data-bind="text:TypeName"></td>
                <td>
                    <a class="btn btn-mini" rel="nofollow" href="#" data-bind="click: $parent.removeVariable.call($parent,$data)"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>