
<div class="view-model-modal" id="setter-action-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Update entity</h3>
            </div>
            <div class="modal-body" data-bind="with: action">
                <form class="form-horizontal" id="action-setter-form">

                    <div class="form-group">
                        <label for="setter-action-title" class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-9">
                            <input class="form-control" required data-bind="value: Title" id="setter-action-title" type="text" name="setter-action-title" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="setter-action-note" class="col-lg-2 control-label">Note</label>
                        <div class="col-lg-9">
                            <textarea data-bind="value: Note" id="setter-action-note" class="form-control" name="setter-action-note"></textarea>
                        </div>
                    </div>
                </form>
                <table id="setter-action-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Path</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: SetterActionChildCollection">
                        <tr>
                            <td>
                                <input class="input-setter-path form-control" type="text" data-bind="value: Path, entityTypeaheadPath:window.entityTypeahead" id="setter-action-child-path" />
                            </td>
                            <td>

                                <div class="btn-group">

                                    <a data-bind="with : Field, bootstrapDropDown : {}" class="btn btn-link dropdown" href="#">
                                        <img data-bind="fieldImage : $type" class="pull-left" alt="." />
                                        <!-- ko text : Name -->
                                        <!-- /ko -->
                                        <i class="fa fa-caret-down"></i>
                                    </a>


                                    <ul class="dropdown-menu">
                                        <li data-bind="with : Field">
                                            <a href="#action-setter-form"  data-bind="visible: Name() !== '+ Field',unwrapClick: $parent.editField.call($parent,$data)">
                                                <i class="fa fa-edit"></i>
                                                Edit Field
                                            </a>
                                        </li>
                                        <li>
                                            <a  data-bind="unwrapClick: addField,field : 'Document', accessor : $data.Field" href="#">+ Document Field</a>
                                        </li>
                                        <li>
                                            <a data-bind="unwrapClick: addField,field : 'Constant', accessor : $data.Field" href="#">+ Constant Field</a>
                                        </li>
                                        <li>
                                            <a data-bind="unwrapClick: addField,field : 'Function', accessor : $data.Field" href="#">+ Function Field</a>
                                        </li>

                                    </ul>
                                </div>
                            </td>
                            <td>
                                <a href="#" data-bind="click : $parent.removeChildAction.call($parent, $data)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <a class="btn btn-link" data-bind="click: addChildAction">
                    <i class="fa fa-plus-circle"></i>
                    Add a field
                </a>

            </div>
            <div class="modal-footer">
                <input type="submit" form="action-setter-form" data-dismiss="modal" class="btn btn-default" data-bind="click: okClick" value="OK" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</div>
