<!-- Comment button with number of latest comments count -->
<li class="dropdown dropdown-big">
    <a id="application-menu" class="dropdown-toggle" href="#" data-toggle="dropdown">
        <i class="fa fa-comments"></i>Permohonan <span class="badge badge-info">6</span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <!-- Heading - h5 -->
            <h5><i class="fa fa-comments"></i>Chats</h5>
            <!-- Use hr tag to add border -->
            <hr>
        </li>
        <li>
            <!-- List item heading h6 -->
            <a href="#">Hi :)</a> <span class="label label-warning pull-right">10:42</span>
            <div class="clearfix"></div>
            <hr>
        </li>
        <li>
            <a href="#">How are you?</a> <span class="label label-warning pull-right">20:42</span>
            <div class="clearfix"></div>
            <hr>
        </li>
        <li>
            <a href="#">What are you doing?</a> <span class="label label-warning pull-right">14:42</span>
            <div class="clearfix"></div>
            <hr>
        </li>
        <li>
            <div class="drop-foot">
                <a href="#">View All</a>
            </div>
        </li>
    </ul>
</li>
