
<h1><i class="fa fa-edit"></i> Custom Forms</h1>

<div class="row" data-bind="filter : {path:'tbody>tr'}">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Custom Forms with route</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Route</th>
                            <th>Module Id</th>
                            <th>Show on nav</th>
                            <th>Title</th>
                            <th>Caption</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach :list">
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a title="Click to specify your value" class="btn btn-link dropdown dropdown-toggle" href="#custom.form.list" data-toggle="dropdown">
                                        <!-- ko text : route -->
                                        <!-- /ko -->

                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li data-bind="click : $root.edit">
                                            <a class="btn btn-link">
                                                <i class="fa fa-edit pull-left"></i>
                                                Edit Route
                                            </a>
                                        </li>

                                        <li data-bind="click : $root.editViewModel">
                                            <a class="btn btn-link pull-left">
                                                <i class="fa fa-file-text"></i>
                                                Edit <!-- ko text : ko.unwrap(moduleId) + '.js' -->
                                                <!-- /ko -->

                                            </a>
                                        </li>

                                        <li data-bind="click : $root.editView">
                                            <a class="btn btn-link pull-left">
                                                <i class="fa fa-code"></i>
                                                Edit <!-- ko text : ko.unwrap(moduleId).replace('viewmodels/', 'views/') + '.html' -->
                                                <!-- /ko -->
                                            </a>
                                        </li>
                                        <li data-bind="click : $root.deleteRoute">
                                            <a class="btn btn-link pull-left">
                                                <i class="fa fa-times"></i>
                                                Delete Route
                                            </a>
                                        </li>




                                    </ul>
                                </div>
                            </td>
                            <td data-bind="text:moduleId"></td>
                            <td data-bind="text:nav"></td>
                            <td data-bind="text:title"></td>
                            <td data-bind="text:caption"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" data-bind="visible:list().length > 0">
                    <a href="/custom-forms/download" class="alert-link">
                        <i class="fa fa-download"></i> Download
                    </a>
                    all the custom forms assets, so that you can share it with your team
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3">

        <div class="panel panel-default">
            <div class="panel-heading">Custom Partial Views</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Use ViewModel</th>

                        </tr>
                    </thead>
                    <tbody data-bind="foreach :views">
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a title="Click to specify your value" class="btn btn-link dropdown dropdown-toggle" href="#custom.form.list" data-toggle="dropdown">
                                        <!-- ko text : name -->
                                        <!-- /ko -->

                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li data-bind="click : $root.editPartialView">
                                            <a class="btn btn-link">
                                                <i class="fa fa-edit pull-left"></i>
                                                Edit Partial
                                            </a>
                                        </li>

                                        <li data-bind="click : $root.editViewModel">
                                            <a class="btn btn-link pull-left">
                                                <i class="fa fa-file-text"></i>
                                                Edit <!-- ko text : 'viewmodels/' + ko.unwrap(name) + '.js' -->
                                                <!-- /ko -->
                                            </a>
                                        </li>

                                        <li data-bind="click : $root.editView">
                                            <a class="btn btn-link pull-left">
                                                <i class="fa fa-code"></i>
                                                Edit <!-- ko text : 'views/'+ ko.unwrap(name) + '.html' -->
                                                <!-- /ko -->
                                            </a>
                                        </li>
                                        <li data-bind="click : $root.deletePartialView">
                                            <a class="btn btn-link pull-left">
                                                <i class="fa fa-times"></i>
                                                Delete Partial View
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td data-bind="text:useViewModel"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-lg-3">

        <div class="panel panel-default">
            <div class="panel-heading">Custom Dialogs</div>
            <div class="panel-body">

                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach :dialogs">
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a title="Click to specify your value" class="btn btn-link dropdown dropdown-toggle" href="#custom.form.list" data-toggle="dropdown">
                                        <!-- ko text : name -->
                                        <!-- /ko -->

                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li data-bind="click : $root.editDialog">
                                            <a class="btn btn-link">
                                                <i class="fa fa-edit pull-left"></i>
                                                Edit Dialog
                                            </a>
                                        </li>

                                        <li data-bind="click : $root.editViewModel">
                                            <a class="btn btn-link pull-left">
                                                <i class="fa fa-file-text"></i>
                                                Edit <!-- ko text : 'viewmodels/' + ko.unwrap(name) + '.js' -->
                                                <!-- /ko -->

                                            </a>
                                        </li>

                                        <li data-bind="click : $root.editView">
                                            <a class="btn btn-link pull-left">
                                                <i class="fa fa-code"></i>
                                                Edit <!-- ko text : 'views/'+ ko.unwrap(name) + '.html' -->
                                                <!-- /ko -->
                                            </a>
                                        </li>
                                        <li data-bind="click : $root.deleteDialog">
                                            <a class="btn btn-link pull-left">
                                                <i class="fa fa-times"></i>
                                                Delete Dialog
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

