
<h1><i class="fa fa-edit"></i> Custom Forms</h1>

<div class="row" data-bind="filter : {path:'tbody>tr'}">
    <div class="col-lg-5">
        <!-- ko compose : 'viewmodels/_custom.forms.routes'-->
        <!--/ko-->
    </div>
    <div class="col-lg-3">
         <!-- ko compose : 'viewmodels/_custom.forms.partial.views'-->
        <!--/ko-->
    </div>
    <div class="col-lg-2">
         <!-- ko compose : 'viewmodels/_custom.forms.dialogs'-->
        <!--/ko-->
    </div>
    <div class="col-lg-2">
         <!-- ko compose : 'viewmodels/_custom.forms.scripts'-->
        <!--/ko-->
    </div>
</div>

