
<section class="view-model-modal" id="custom-form-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Custom Form Route</h3>
            </div>
            <div class="modal-body" data-bind="with: route">

                <form class="form-horizontal" id="custom-form-dialog-form">
                    <div class="form-group">
                        <label for="route" class="col-sm-2 control-label">Route</label>
                        <div class="col-sm-9">
                            <input type="text" data-bind="value: route"
                                   required pattern="^[A-Za-z_-/:][A-Za-z0-9_-/:]*$"
                                   placeholder="Custom route for your form/view"
                                   class="form-control" id="route">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="module-id" class="col-sm-2 control-label">Module Id</label>
                        <div class="col-sm-9">
                            <input type="text" data-bind="value: moduleId"
                                   required pattern="^viewmodels/[A-Za-z_-][A-Za-z0-9_-]*$"
                                   placeholder="ModuleId normally in the forms viewmodels/moduleid"
                                   class="form-control" id="module-id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" data-bind="value: title"
                                   required
                                   placeholder="Page title when your form is in the view port"
                                   class="form-control" id="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="caption" class="col-sm-2 control-label">Caption</label>
                        <div class="col-sm-9">
                            <input type="text" data-bind="value: caption"
                                   placeholder="Caption used for Nav"
                                   class="form-control" id="caption">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="caption" class="col-sm-2 control-label">Roles</label>
                        <div class="col-sm-9">
                            <input type="text" data-bind="value: role"
                                   required
                                   placeholder="Role for the route, 'everybody' and 'anynomouse' can be accepted"
                                   class="form-control" id="role">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input data-bind="checked: nav" id="nav" type="checkbox" name="nav"/>
                                    Show on Navigation Menu
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form-design-icon-class" class="col-sm-2 control-label">Icon</label>
                        <div class="col-sm-9">
                            <i data-bind="iconPicker: icon, attr:{'class':icon() + ' fa-2x' }" id="form-design-icon-class"></i>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input form="custom-form-dialog-form" data-dismiss="modal" type="submit" class="btn btn-default" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>