<div class="row">
    <h1>Data import utility</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="adapter" class="col-lg-2 control-label">Adapter</label>
            <div class="col-lg-6">
                <select required class="form-control" id="adapter" data-bind="value:model.adapter, options: adapterOptions, optionsValue:'Item1', optionsText:'Item2', optionsCaption:'[Select your adapter]'"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="table" class="col-lg-2 control-label">Table</label>
            <div class="col-lg-6">
                <select required class="form-control" id="table" data-bind="value:model.table, options: tableOptions, optionsCaption:'[Select your table]', optionsText:'Name', optionsValue:'Name'"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="sql" class="col-lg-2 control-label">SQL Statement</label>
            <div class="col-lg-6">
                <textarea type="text" data-bind="value: model.sql"
                          required
                          placeholder="SQl statement for loadAsync"
                          class="form-control" id="sql"></textarea>
            </div>

            <div class="col-lg-3">
                <i class="fa fa-question-circle" data-bind="tooltip:'Define your SQL select statement here, you can add a where clause, but the columns must be *, or you could have an error where the column might not be defined'"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="BatchSize" class="col-lg-2 control-label">Batch Size</label>
            <div class="col-lg-6">
                <input type="number" data-bind="value: model.batchSize"
                       required pattern="^[0-9_ ]$"
                       placeholder="Batch size"
                       class="form-control" id="BatchSize">
            </div>
            <div class="col-lg-3">
                <i class="fa fa-question-circle" data-bind="tooltip:'The size of the query result processed at one time, the default is 40, smaller batch size is good for memory but might take a little longer'"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="preview" class="col-lg-2 control-label">Preview</label>
            <div class="col-lg-6">
                <button data-bind="command : preview, enable: canPreview"
                        class="btn btn-default" id="preview"
                        data-toggle="modal" data-target="#preview-panel">

                    <i class="fa fa-eye"></i>
                    <span>Preview</span>
                </button>
            </div>
        </div>
     
        <div class="form-group">
            <label for="entity" class="col-lg-2 control-label">Entity</label>
            <div class="col-lg-6">
                <select class="form-control" id="entity" data-bind="value:model.entity, options: entityOptions, optionsCaption:'[Select your destination entity]', optionsText:'Item2', optionsValue:'Item2'"></select>
            </div>

            <div class="col-lg-3">
                <i class="fa fa-question-circle" data-bind="tooltip:'Select a destination EntityDefinition where you want the result to be persist'"></i>
            </div>
        </div>

        <div class="form-group">
            <label for="map" class="col-lg-2 control-label">Map</label>
            <div class="col-lg-6">
                <select class="form-control" id="map" data-bind="value: model.map, options: mapOptions, optionsValue:'Item1', optionsText:'Item2', optionsCaption:'[Select your map]'"></select>
            </div>

            <div class="col-lg-3">
                <i class="fa fa-question-circle" data-bind="tooltip:'A TransformDefinition will map your source schema to the selected EntityDefinition schema, if you don\'t have one, you should create one before using this data import utility'"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="submit" class="col-lg-2 control-label">-</label>
            <div class="col-lg-6">
                <button data-bind="command : importData, enable: canImport" class="btn btn-default" id="submit">
                    <i class="fa fa-database"></i>
                    <span> Start Import</span>
                   
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal"id="preview-panel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 820px" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="preview-label">Preview</h4>
            </div>
            <div class="modal-body" style="max-height: 400px; overflow-y: scroll; max-width: 800px">
                <table class="table table-condensed table-striped">
                    <thead id="thead"></thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>