<h1>Start Page</h1>
<div class="row">
    <div class="col-md-3">
        <h3>Start</h3>
        <nav>
            <ul class="nav">
                <li>
                    <a href="#" data-bind="command: addEntityDefinitionAsync">
                        <i class="fa fa-clipboard"></i>
                        New Entity Definition
                    </a>

                </li>
                <li>
                    <a href="#" data-bind="command: addWorkflowDefinitionAsync">
                        <i class="fa fa-code-fork"></i>
                        New Workflow Definition
                    </a>

                </li>
                <li>
                    <a href="#trigger.setup/0">
                        <i class="fa fa-bolt"></i>
                        New Trigger
                    </a>
                </li>
                <li>
                    <a href="#reportdefinition.edit/0">
                        <i class="fa fa-bar-chart-o"></i>
                        New Report Definition
                    </a>
                </li>
                <li>
                    <a href="#" data-bind="command : addTransformDefinitionAsync">
                        <i class="fa fa-exchange"></i>
                        New Mapping Transform
                    </a>
                </li>
                <li>
                    <a href="#adapter.definition.list">
                        <i class="glyphicon glyphicon-hdd"></i>
                        New Adapter
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-md-3">

        <!-- ko foreach : groups -->

        <h3 data-bind="text:groupName"></h3>

        <nav>
            <ul class="nav nav-stacked">
                <!-- ko foreach :routes -->
                <li>
                    <a href="#" data-bind=" attr: { href: '/sph#' + startPageRoute }">
                        <i data-bind="attr : {'class' : 'fa ' + icon}"></i><span style="margin-left: 10px" data-bind="text: title"></span>
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </nav>

        <!-- /ko -->
    </div>

    <div class="col-md-3">
        <!-- ko compose : 'viewmodels/_recent.workflow.definitions'-->
        <!--/ko-->
    </div>

    <div class="col-md-3">
        <!-- ko compose : 'viewmodels/_recent.entity.definitions'-->
        <!--/ko-->
    </div>

</div>
<div class="row">

    <div class="col-md-8">
        <h2>Discover what's new in Rx Developer</h2>
        <h3>You can find information about new features and enhancements in Rx Developer by reviewing the following sections</h3>
        <a href="/docs">Learn about new features in Rx Developer</a>

        <h3>Product videos</h3>
        <span>Learn more with these short videos</span>
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="fa fa-youtube fa-2x"></i>
                    Creates your aggregate report with aggregations query and filtered query
                </a>
                <a href="#">
                    <i class="fa fa-youtube-play fa-2x"></i>
                    Monitoring your RabbitMQ for dead-letter
                </a>
                <a href="#">
                    <i class="fa fa-youtube-square fa-2x"></i>
                    Scehduled Task/Cron Job - new way of thinking
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>More informations about Rx Developer</h3>
        <ul class="nav">
            <li>
                <a href="//www.reactivedeveloper.com/blogs">
                    <i class="fa fa-rss-square"></i>
                    Official Rx Developer Developers Blogs
                </a>
            </li>
            <li>
                <a href="//www.bespoke.com.my/services">
                    <i class="fa fa-star"></i>
                    Bespoke's Consulting Services
                </a>
            </li>
            <li>
                <a href="//support.bespoke.com.my">
                    <i class="fa fa-question-circle"></i>
                    Bespoke's Support Page
                </a>
            </li>
        </ul>

        <h3>Announcements</h3>
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="fa fa-stack-overflow fa-2x"></i>
                    StackOverflow
                </a>
                <a href="#">
                    <i class="fa fa-twitter fa-2x"></i>
                    Twitter
                </a>
                <a href="#">
                    <i class="fa fa-facebook fa-2x"></i>
                    Facebook
                </a>
            </li>
        </ul>
    </div>
</div>