<h1>Email Template </h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-lg-8 col-lg-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
        <!-- ko if : Code -->
        <strong class="icon-read-more" data-bind="bootstrapPopover : Code"> ..more</strong>
        <!-- /ko-->
    </div>
    <div class="col-lg-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <form class="form form-horizontal" data-bind="with : template">
        <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-6">
                <input type="text" data-bind="value: Name"
                       required="" pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                       placeholder="Template name"
                       class="form-control" id="name">
            </div>
        </div>
        <div class="form-group">
            <label for="note" class="col-lg-2 control-label">Note</label>
            <div class="col-lg-6">
                <input type="text" data-bind="value: Note"
                       placeholder="Note"
                       class="form-control" id="note">
            </div>
        </div>

        <div class="form-group">
            <label for="entity" class="col-lg-2 control-label">Entity</label>
            <div class="col-lg-6">
                <select class="form-control" id="entity" data-bind="value:Entity, options: $root.entityOptions"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="subject-template" class="col-lg-2 control-label">Subject Template</label>
            <div class="col-lg-6">
                <input type="text" data-bind="value: SubjectTemplate"
                       placeholder="Razor Subject Template"
                       class="form-control" id="subject-template">
            </div>
        </div>

        <div class="form-group">
            <label for="body-template" class="col-lg-2 control-label">Body Template</label>
            <div class="col-lg-8">
                <textarea rows="8" data-bind="value:BodyTemplate" class="form-control" id="body-template" placeholder="body template"></textarea>
            </div>
        </div>
    </form>
</div>