<div class="row">
    <h1>Endpoints Managments</h1>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <!-- ko compose : {model:'viewmodels/_api.management.request.charts'}-->
            <!-- /ko-->
        </div>
        <div class="row">
            <!-- ko compose : {model:'viewmodels/_api.management.request.list'}-->
            <!-- /ko-->
        </div>
    </div>
    <div class="col-lg-3">
        <h3>Common Tasks</h3>
        <nav>
            <ul class="nav nav-stacked">
                <li>
                    <a href="#endpoints.permissions">
                        <i class="icon-lock" style="margin-right: 10px"></i><span>Endpoint Permissions</span>
                    </a>
                </li>
                <li>
                    <a href="#endpoints.quota.policy">
                        <i class="icon-pie-chart" style="margin-right: 10px"></i><span>Endpoints Rate Limit &amp; Quota Policy</span>
                    </a>
                </li>
                <li>
                    <a href="#endpoints.caching.policy">
                        <i class="icon-refresh" style="margin-right: 10px"></i><span>Endpoints Caching Policy</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>