
<link href="/Content/jstree/style.min.css" rel="stylesheet" />
<div class="row">
    <h1>Custom Entity Definition</h1>
</div>
<div class="row">
    <form class="form-horizontal" role="form" data-bind="with : entity">
        <div class="form-group">
            <label for="name" class="col-lg-2">Name</label>
            <div class="col-lg-6">
                <input type="text" data-bind="value: Name"
                       required="" pattern="^[A-Za-z_][A-Za-z0-9_]*$"
                       placeholder="Custom Entity Name"
                       class="form-control" id="name">
            </div>
        </div>
        <div class="form-group">
            <label for="plural" class="col-lg-2">Plural</label>
            <div class="col-lg-6">
                <input type="text" data-bind="value: Plural"
                       required pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                       placeholder="Plurals"
                       class="form-control" id="plural">
            </div>
        </div>
    </form>
</div>
<div class="row" id="members-panel">

    <div class="col-lg-8" data-bind="tree : {entity: entity, selected: member}">


    </div>

    <div class="col-lg-4" data-bind="with: member">
        <h3>Member properties</h3>

        <form class="form" role="form">
            <div class="form-group">
                <label for="member_name">Name</label>
                <input class="form-control" id="member_name" name="member.name" type="text" required data-bind="value: Name" />
            </div>

            <div class="form-group">
                <label for="member-type">Type</label>

                <select class="form-control" id="member-type" data-bind="value:TypeName">
                    <option value="">[Please Select]</option>
                    <option value="System.String, mscorlib">String</option>
                    <option value="System.Int32, mscorlib">Integer</option>
                    <option value="System.Decimal, mscorlib">Decimal</option>
                    <option value="System.DateTime, mscorlib">DateTime</option>
                    <option value="System.Boolean, mscorlib">Boolean</option>
                    <option value="System.Object, mscorlib">Complex</option>
                    <option value="System.ArrayList, mscorlib">Collection</option>
                </select>

            </div>
            <div class="form-group">
                <label class="checkbox">
                    <input data-bind="checked: IsNullable" id="member-nullable" type="checkbox" name="IsNullable" />
                    Nullable
                </label>
            </div>
            <div class="form-group">
                <label class="checkbox">
                    <input data-bind="checked: IsAnalyzed" id="member-analyzed" type="checkbox" name="IsAnalyzed" />
                    Should analyzed(only for string)
                </label>
            </div>
            <div class="form-group">
                <label class="checkbox">
                    <input data-bind="checked: IsFilterable" id="member-analyzed" type="checkbox" name="IsFilterable" />
                    Can be filtered
                </label>
            </div>

        </form>
    </div>
</div>