
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-md-8 col-md-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
        <!-- ko if : Code -->
        <strong class="icon-read-more" data-bind="bootstrapPopover : Code"> ..more</strong>
        <!-- /ko-->
    </div>
    <div class="col-md-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-9">

        <div class="row" id="members-panel" data-bind="visible: entity().Id()">
            <h3>Schema Designer</h3>
            <div class="col-sm-8">
                <input style="margin: 5px" placeholder="Filter members...." class="form-control" type="search" id="search-box-tree" value="" />
                <div id="schema-tree-panel" style="overflow-y: scroll" data-bind="tree : {entity: entity, selected: member, searchbox: '#search-box-tree'}"></div>
            </div>
            <div class="col-sm-4" data-bind="with: member">
                <h3>Member properties</h3>
                <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.SimpleMember, domain.sph"-->
                <form class="form" role="form" data-bind="visible:Name()">
                    <div class="form-group">
                        <label for="member_name">Name</label>
                        <input class="form-control" id="member_name" name="member.name" type="text" required data-bind="value: Name, disable : childOfValueMember"/>
                    </div>

                    <div class="form-group">
                        <label for="member-type">Type</label>

                        <select class="form-control" id="member-type" data-bind="value:TypeName, disable : childOfValueMember">
                            <option value="">[Please Select]</option>
                            <option value="System.String, mscorlib">String</option>
                            <option value="System.Int32, mscorlib">Integer</option>
                            <option value="System.Decimal, mscorlib">Decimal</option>
                            <option value="System.DateTime, mscorlib">DateTime</option>
                            <option value="System.Boolean, mscorlib">Boolean</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label class="checkbox">
                            <input data-bind="checked: AllowMultiple, disable : childOfValueMember" id="member-allow-multiple" type="checkbox" name="AllowMultiple" />
                            Allow Multiple
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox">
                            <input data-bind="checked: IsNullable, disable: ko.unwrap(AllowMultiple) || ko.unwrap(childOfValueMember) " id="member-nullable" type="checkbox" name="IsNullable" />
                            Nullable
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox" data-placement="left" data-bind="tooltip:'Creates database column, to allow API filter and Report filter, Views and search do not use this property'">
                            <input data-bind="checked: IsFilterable, disable:ko.unwrap(AllowMultiple) || ko.unwrap(childOfValueMember)" id="member-filtered" type="checkbox" name="IsFilterable" />
                            Can be filtered
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox" data-placement="left" data-bind="tooltip:'If checked, this member will not be indexed in Elasticsearch, thus it will not be searchable'">
                            <input data-bind="checked: IsNotIndexed, disable : childOfValueMember" id="member-not-indexed" type="checkbox" name="IsNotIndexed"/>
                            Do not indexed
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox" data-bind="tooltip:'To use full text index, terms will be broken and analyzed. Do not check for items you want to use in aggregates(i.e. term search)'">
                            <input data-bind="checked: IsAnalyzed, disable: IsNotIndexed() || TypeName() !== 'System.String, mscorlib' || ko.unwrap(childOfValueMember)" id="member-analyzed" type="checkbox" name="IsAnalyzed"/>
                            Should analyzed(only for string)
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox" data-bind="tooltip:'Check if you do not wish this member to be included in the search terms'">
                            <input data-bind="checked: IsExcludeInAll, disable: ko.unwrap(IsNotIndexed) || ko.unwrap(childOfValueMember)" id="member-exclude-all" type="checkbox" name="IsExcludeInAll"/>
                            Do not include in all
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="member-boost" class="control-label">Boost</label>

                        <input type="number" data-bind="value: Boost, disable: ko.unwrap(IsNotIndexed) || ko.unwrap(childOfValueMember)"
                               required value="1" min="1" max="10"
                               placeholder="Boost"
                               class="form-control" id="member-boost">

                    </div>

                    <div class="form-group" data-bind="visible :!ko.unwrap(childOfValueMember)">
                        <label for="member-default-value" class="control-label">Default Value</label>
                        <div class="btn-group" id="member-default-value">
                            <a data-bind="with : DefaultValue, bootstrapDropDown : {}" class="btn btn-link dropdown" href="#">
                                <img data-bind="fieldImage : $type" class="pull-left" alt="."/>
                                <!-- ko text : Name -->
                                <!-- /ko -->
                                <i class="fa fa-caret-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li data-bind="with : DefaultValue">
                                    <a class="btn btn-link" data-bind="visible: Name() !== '+ Field',unwrapClick: $parent.editField.call($parent, $data, $parent.DefaultValue)">
                                        <i class="fa fa-edit"></i>
                                        Edit Default Value
                                    </a>
                                </li>

                                <li>
                                    <a data-bind="unwrapClick: addField,field : 'Constant', accessor : $data.DefaultValue" href="#">
                                        <img src="/images/ConstantField.png" alt=" constantfield" class="pull-left"/>
                                        + Constant Field
                                    </a>
                                </li>
                                <li>
                                    <a data-bind="unwrapClick: addField,field : 'Function', accessor : $data.DefaultValue" href="#">
                                        <img src="/images/FunctionField.png" alt=" FunctionField" class="pull-left"/>
                                        + Function Field
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>



                </form>

                <!-- /ko-->
                <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.ComplexMember, domain.sph"-->
                <form class="form" role="form" data-bind="visible:Name()">
                    <div class="form-group">
                        <label for="complex-member-name">Name</label>
                        <input class="form-control" id="complex-member-name" name="member.name" type="text" required data-bind="value: Name, disable : childOfValueMember" />
                    </div>
                    <div class="form-group">
                        <label for="complex-type-name">Type Name</label>
                        <input class="form-control"  pattern="^[A-Za-z][A-Za-z0-9]*$" placeholder="The type name for this member" id="complex-type-name" name="member.name" type="text" required data-bind="value: TypeName, disable : childOfValueMember, tooltip:'Type name is used for class name in your generated code so this member will a property named with the Name and of type TypeName'"/>
                    </div>
              
                    
                    <div class="form-group">
                        <label class="checkbox">
                            <input data-bind="checked: AllowMultiple" id="complex-member-allow-multiple" type="checkbox" name="AllowMultiple, disable : childOfValueMember" />
                            Allow Multiple
                        </label>
                    </div>
                </form>

                <!-- /ko-->
                <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.ValueObjectMember, domain.sph"-->
                <form class="form" role="form" data-bind="visible:Name()">
                    <div class="form-group">
                        <label for="member_name2">Name</label>
                        <input class="form-control" id="member_name2" name="member.name" type="text" required data-bind="value: Name, disable : childOfValueMember" />
                    </div>

                    <div class="form-group">
                        <label for="member-type2">Type</label>

                        <select class="form-control" id="member-type2" data-bind="value:ValueObjectName, options:$root.valueObjectOptions, optionsCaption: '[Please select value object]', disable : childOfValueMember" required></select>

                    </div>

                    <div class="form-group">
                        <label class="checkbox">
                            <input data-bind="checked: AllowMultiple, disable : childOfValueMember" id="member-allow-multiple2" type="checkbox" name="AllowMultiple" />
                            Allow Multiple
                        </label>
                    </div>


                </form>

                <!-- /ko-->
            </div>
        </div>


    </div>
    <div class="col-sm-3">

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#general-properties" data-toggle="tab">General Properties</a>
                </li>
                <li>
                    <a href="#business-rules-tab" data-toggle="tab">Business Rule</a>
                </li>
                <li>
                    <a href="#triggers-tab" data-toggle="tab">Triggers</a>
                </li>
                <li>
                    <a href="#operations-tab" data-toggle="tab">Endpoints</a>
                </li>
                <li>
                    <a href="#premission-tab" data-toggle="tab">Security</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="general-properties" class="tab-pane active">
                    <form name="entity-form" id="entity-form" class="form-horizontal" role="form" data-bind="with : entity">
                        <div class="form-group">
                            <label for="ent-name" class="col-md-3">Name</label>
                            <div class="col-md-9">
                                <input type="text" data-bind="value: Name, readonly : ko.unwrap(Id) !== '0'"
                                       required="" pattern="^[A-Za-z][A-Za-z0-9]*$"
                                       placeholder="Custom Entity Name"
                                       class="form-control" id="ent-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="record-name" class="col-md-3">Record Name</label>
                            <div class="col-md-9">
                                <input type="text" data-bind="value: RecordName, tooltip:'The Record Name appears in page layouts, key lists, related lists, lookups, and search results.For example, the Record Name for Account is &quot;AccountName&quot; and for Case it is &quot;CaseNumber&quot;.Note that the Record Name field is always called &quot;Name&quot; when referenced via the API.The field must exist as a first level member in your schema'"
                                       required="required" pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                                       placeholder="Identifying member"
                                       class="form-control" id="record-name">


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="plural" class="col-md-3">Plural</label>
                            <div class="col-md-9">
                                <input type="text" data-bind="value: Plural"
                                       required pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                                       placeholder="Plurals"
                                       class="form-control" id="plural">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="icon-storeid" class="col-md-3 control-label">Image</label>
                            <div class="col-md-6">
                                <label for="icon-storeid">
                                    <img data-bind="attr : {src:'/sph/image/Store/' + IconStoreId()}" alt="Logo" />
                                </label>
                                <input type="file" data-bind="kendoUpload: {value:IconStoreId, extensions:['.png']}" name="files" class="form-control" id="icon-storeid" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="icon-class" class="col-md-3 control-label">Icon class</label>
                            <div class="col-md-6">
                                <i data-bind="iconPicker: IconClass, attr:{'class':IconClass() + ' fa-2x' }" id="icon-class"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ev-template" class="col-lg-3 col-md-3  control-label">Template</label>
                            <div class="col-lg-9 col-md-9">
                                <select class="form-control" id="ev-template" data-bind="value: DashboardTemplate, options:$root.templateOptions, optionsCaption :'[Select a template]'"></select>
                                <a href="javascript:;" data-bind="command: $root.publishDashboard, tooltip:'Publish dashboard'">
                                    <i class="fa fa-gear"></i>
                                </a>
                            </div>
                        </div>

                        <h4>Source for reference data</h4>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    <label>
                                        <input data-bind="checked: TreatDataAsSource" id="treat-data-as-source" type="checkbox" name="TreatDataAsSource" />
                                        Treat data as source
                                    </label>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div id="business-rules-tab" class="tab-pane" data-bind="with : entity">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :BusinessRuleCollection">
                            <tr>
                                <td>
                                    <a href="#business-rules-tab" data-bind="click :$parent.editBusinessRule.call($parent,$data) ,text: Name"></a>
                                </td>
                                <td data-bind="text:Description"></td>
                                <td>
                                    <a href="#business-rules-tab" data-bind="click : $parent.removeBusinessRule.call($parent,$data)">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-link" data-bind="click : addBusinessRule">
                        <i class="fa fa-plus-circle"></i>
                        Add a business rule
                    </a>

                </div>
                <div id="triggers-tab" class="tab-pane">
                    <table class="table table-striped" data-bind="serverPaging :{entity: 'Trigger', query :'Entity eq \'' + $root.entity().Name() + '\'', list: triggers}">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Operations</th>
                                <th>Added</th>
                                <th>Changed</th>
                                <th>Deleted</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :triggers">
                            <tr>
                                <td>
                                    <a data-bind="attr : {'href':'#/trigger.setup/' + Id()},text: Name"></a>
                                </td>
                                <td data-bind="text:FiredOnOperations"></td>
                                <td>
                                    <i class="fa fa-check" data-bind="visible:IsFiredOnAdded"></i>
                                </td>
                                <td>
                                    <i class="fa fa-check" data-bind="visible:IsFiredOnChanged"></i>
                                </td>
                                <td>
                                    <i class="fa fa-check" data-bind="visible:IsFiredOnDeleted"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-link" href="javascript:;" data-bind="click : $root.addTriggerAsync">
                        <i class="fa fa-plus-circle"></i>
                        Add a trigger
                    </a>
                </div>
                <div id="operations-tab" class="tab-pane" data-bind="with : entity">
                    <h3>Operations</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Rules</th>
                                <th>Permissions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :EntityOperationCollection">
                            <tr>
                                <td>
                                    <a data-bind="attr : {'href':'#/entity.operation.details/' + $root.entity().Id() + '/' + Name()},text: Name"></a>

                                </td>
                                <td data-bind="text:Rules"></td>
                                <td data-bind="text:Permissions"></td>
                                <td>
                                    <a href="#" data-bind="click : $parent.removeEntityOperation.call($parent,$data)">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-link" data-bind="attr : {'href':'#/entity.operation.details/' + $root.entity().Id() + '/<New Operation>'}">
                        <i class="fa fa-plus-circle"></i>
                        Add an operation
                    </a>
                    <h3>Queries</h3>
                    <table class="table table-striped" data-bind="serverPaging :{entity: 'QueryEndpoint', query :'Entity eq \'' + $root.entity().Name() + '\'', list: $root.queries}">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Route</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :$root.queries">
                            <tr>
                                <td>
                                    <a data-bind="attr : {'href':'#/query.endpoint.designer/' + ko.unwrap(Id)},text: Name"></a>
                                </td>
                                <td data-bind="text:Route"></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-link" data-bind="click : $root.addEntityQuery">
                        <i class="fa fa-plus-circle"></i>
                        Add a query
                    </a>
                </div>
                <div id="premission-tab" class="tab-pane" data-bind="with : entity">
                    <form class="form-horizontal" data-bind="with : Performer">

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input data-bind="checked: $root.entity().IsShowOnNavigationBar" id="show-on-nav-bar" type="checkbox" name="IsShowOnNavigationBar" />
                                        Show on navigation bar menu
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input data-bind="checked: IsPublic" id="performer-ispublic" type="checkbox" name="IsPublic" />
                                        Is Public
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="performer-property" class="col-sm-3 control-label">User Property</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="performer-property" data-bind="value:UserProperty, disable:IsPublic">
                                    <option value="">[Please Select]</option>
                                    <option value="Roles">Roles</option>
                                    <option value="UserName">UserName</option>
                                    <option value="Department">Department</option>
                                    <option value="Designation">Designation</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="performer-value" class="col-sm-3 control-label">Value</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control expression-field" id="performer-value" data-bind="value:Value, disable:IsPublic" />
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>








