
<section class="view-model-modal" id="entity-export-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Export</h3>
            </div>
            <div class="modal-body" data-bind="with: entity">

                <form class="form-horizontal" id="entity-export-dialog-form">
                    <a class="btn btn-default" download data-bind="attr:{href: '/entity-definition/export/' + ko.unwrap(Id) + '?includeData=true'}">Export with data</a>
                    <a class="btn btn-default" download data-bind="attr:{href: '/entity-definition/export/' + ko.unwrap(Id)}">Export without data</a>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>