<div class="row">
    <h1>The list of custom entities</h1>
</div>
<table class="table table-striped" data-bind="filter : {path:'tbody>tr'},
    serverPaging : {
        entity : 'EntityDefinition',
        query : 'EntityDefinitionId gt 0',
        list : entities
    }">
    <thead>
        <tr>
            <th>Name</th>
            <th>Views</th>
            <th>Forms</th>
            <th>Plural</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach :entities">
        <tr>
            <td>
                <a data-bind="attr : {href:'#/entity.details/' + EntityDefinitionId()}">
                    <i class="fa fa-edit"></i></a>
                <span data-bind="text:Name"></span>
            </td>
            <td>
                <a data-bind="attr : {href:'#/entity.view.designer/' + EntityDefinitionId()}">
                    <i class="fa fa-table"></i>
                </a>
            </td>
            <td>
                <a data-bind="attr : {href:'#/entity.form.designer/' + EntityDefinitionId()}">
                    <i class="fa fa-instagram"></i>
                </a>
            </td>
            <td data-bind="text:Plural"></td>
            <td></td>
        </tr>
    </tbody>
</table>