
<section class="view-model-modal" id="route-parameter-field-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Route expression</h3>
            </div>
            <div class="modal-body" data-bind="with: field">

                <form class="form-horizontal" id="route-parameter-field-dialog-form">
                    <div class="form-group">
                        <label for="route-parameter-field-name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-9">
                            <input type="text" data-bind="value: Name"
                                   required pattern="^[a-z_][A-Za-z0-9_]*$"
                                   placeholder="Name, must be a valid C# identifier in camelCase format"
                                   class="form-control" id="route-parameter-field-name">
                        </div>
                    </div><div class="form-group">
                        <label for="constant-field-typename" class="col-lg-2 control-label">Type</label>
                        <div class="col-lg-9">
                            <select required class="form-control" id="constant-field-typename" name="constant-field-typename" data-bind="value: TypeName">
                                <option></option>
                                <option value="System.String, mscorlib">String</option>
                                <option value="System.DateTime">DateTime</option>
                                <option value="System.Int32, mscorlib">Integer</option>
                                <option value="System.Decimal">Decimal</option>
                                <option value="System.Boolean, mscorlib">Boolean</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="default-value" class="col-lg-2 control-label">Default Value</label>
                        <div class="col-lg-9">
                            <input type="text" data-bind="value: DefaultValue"
                                   placeholder="a constant expression for default value"
                                   class="form-control" id="default-value">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input form="route-parameter-field-dialog-form" data-dismiss="modal" type="submit" class="btn btn-default" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>