<h1>Management Console</h1>
<div class="row">
    <div class="col-md-8">
        <!-- ko compose : 'viewmodels/_workflow.management.consoles'-->
        <!--/ko-->
        <!-- ko compose : 'viewmodels/_rabbitmq.consoles'-->
        <!--/ko-->
        <!-- ko compose : 'viewmodels/_logs.recent'-->
        <!--/ko-->
    </div>
    <div class="col-md-4">
        <h3>Common Tasks</h3>
        <nav>
            <ul class="nav nav-stacked">
                <li>
                    <a href="#users">
                        <i class="fa fa-user" style="margin-right: 10px"></i><span>Users management</span>
                    </a>
                </li>
                <li>
                    <a href="#users.token">
                        <i class="fa fa-certificate" style="margin-right: 10px"></i><span>Security Token</span>
                    </a>
                </li>
                <li>
                    <a href="#organization.detail">
                        <i class="fa fa-group" style="margin-right: 10px"></i><span>Organisation settings</span>
                    </a>
                </li>

                <li>
                    <a href="#templates">
                        <i class="fa fa-gear" style="margin-right: 10px"></i><span>Templates</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>