
<section class="view-model-modal" id="web-server-managment-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Web Server Properties</h3>
            </div>
            <div class="modal-body" data-bind="with: webServer">

                <form class="form-horizontal" id="web-server-managment-dialog-form">
                    <div class="form-group">
                        <label for="web-server-name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-6">
                            <input type="text" data-bind="value: Name"
                                   required="" pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                                   placeholder="PLACE_HOLDER"
                                   class="form-control" id="web-server-name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="web-server-computer-name" class="col-lg-2 control-label">Computer Name</label>
                        <div class="col-lg-6">
                            <select required class="form-control" id="web-server-computer-name" data-bind="value:ComputerName, options : $root.computers, optionsCaption:'[Select a computer]'">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input form="web-server-managment-dialog-form" data-dismiss="modal" type="submit" class="btn btn-default" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>