<div id="slider-menu">
    <nav class="menu-nav nav">
        <ul class="menu-nav nav">
            <li>
                <form class="form-inline" role="search">
                    <div class="input-group">
                        <input id="filter-text" type="search" class="search-query form-control" placeholder="Search items"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>

                    </div>
                </form>
            </li>
            <!-- ko foreach :router.navigationModel -->
            <li data-bind="css: { current: isActive }, attr :{'data-string':title}">
                <a href="#" data-bind=" attr: { href: hash }">
                    <i data-bind="attr : {'class' : icon}"></i><span data-bind="text: title"></span>
                </a>
            </li>
            <!-- /ko -->
        </ul>
    </nav>
    
        <!--ko compose: {view: 'views/solution.explorer.docking.tree', model: 'viewmodels/solution.explorer.docking.tree'} -->
        <!--/ko-->
</div>
