
<section class="view-model-modal" id="new-rd-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>New report definition</h3>
            </div>
            <div class="modal-body" data-bind="with: rd">

                <form class="form-horizontal" id="new-rd-dialog-form">

                    <div class="form-group">
                        <label for="name-input" class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-9">
                            <input type="text" data-bind="value: Title"
                                   required="" pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                                   placeholder="report's title"
                                   class="form-control" id="name-input">
                        </div>
                    </div>
                    <div class="form-group" data-bind="with : DataSource">
                        <label for="Entity" class="col-lg-2 control-label">Entity</label>
                        <div class="col-lg-9">
                            <select required class="form-control" data-bind="value: EntityName, options: $root.entities, optionsCaption:'[--SELECT ENTITY--]'" id="Entity" name="Entity"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cat" class="control-label col-lg-2">Category</label>
                        <div class="col-lg-9">
                            <input class="form-control" data-bind="value: Category" id="cat" type="text" name="Category">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="Note" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" data-bind="value:Description" id="Note" name="Note"></textarea>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button form="new-rd-dialog-form" data-dismiss="modal" class="btn btn-default" data-bind="command: okClick">OK</button>
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>