
<section class="view-model-modal" id="workflow-form-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>New Workflow Form</h3>
            </div>
            <div class="modal-body" data-bind="with: form">

                <form class="form-horizontal" id="workflow-form-dialog-form">
                    <div class="form-group">
                        <label for="name-input" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-9">
                            <input type="text" data-bind="value: Name"
                                   required="" pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                                   placeholder="Give it a name so that you can easily identify it later"
                                   class="form-control" id="name-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="wd-id" class="col-lg-2 control-label">Workflow</label>
                        <div class="col-lg-9">
                            <select required class="form-control" data-bind="value: WorkflowDefinitionId, options: $root.wds,
                                    optionsValue : 'Id',
                                    optionsText : 'Name',
                                    optionsCaption:'[--SELECT WORKFLOW--]'" id="wd-id" name="WorkflowDefinitionId"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="wd-activity" class="col-lg-2 control-label">Activity</label>
                        <div class="col-lg-9">
                            <select required class="form-control" data-bind="value: Operation, 
                                    options: $root.activityOptions,
                                    optionsValue : 'WebId',
                                    optionsText : 'Name',
                                    optionsCaption:'[--SELECT ACTIVITY--]'" id="wd-activity" name="activity-option"></select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="Note" class="col-lg-2 control-label">Note</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" data-bind="value: Note" id="Note" name="Note"></textarea>
                        </div>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <input form="workflow-form-dialog-form" data-dismiss="modal" type="submit" class="btn btn-default" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>