
<section class="view-model-modal" id="operation-endpoint-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>New Operation Endpoint</h3>
            </div>
            <div class="modal-body" data-bind="with: endpoint">

                <form class="form-horizontal" id="entoty-query-dialog-form">
                    <div class="form-group">
                        <label for="name-input" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-9">
                            <input type="text" data-bind="value: Name"
                                   required="" pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                                   placeholder="Endpoint's name"
                                   class="form-control" id="name-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Entity" class="col-lg-2 control-label">Entity</label>
                        <div class="col-lg-9">
                            <select required class="form-control" data-bind="value: Entity, options: $root.entities, optionsCaption:'[--SELECT ENTITY--]'" id="Entity" name="Entity"></select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="Note" class="col-lg-2 control-label">Note</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" data-bind="value: Note" id="Note" name="Note"></textarea>
                        </div>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <input form="entoty-query-dialog-form" data-dismiss="modal" type="submit" class="btn btn-default" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>