
<section class="view-model-modal" id="receive-port-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Flat File  Receive Port Wizard</h3>
            </div>
            <div class="modal-body" data-bind="with: port" style="min-height: 500px">


                <div data-bind="visible: $root.page() === 1">

                    <form class="form-horizontal" id="flat-file-receive-port-wizard-dialog-form">
                        <div class="form-group">
                            <label for="port-name" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-6">
                                <input type="text" data-bind="value: Name"
                                       required pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                                       placeholder="Name identifier"
                                       class="form-control" id="port-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input data-bind="checked: Formatter" value="FixedLengthTextFormatter" id="positional" type="radio" name="Formatter" />
                                        By relative position or fixed lengt text
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input data-bind="checked: Formatter" value="DelimitedTextFormatter" id="is-delimiter" type="radio" name="Formatter" />
                                        By delimiter symbol e.g csv, tab delimited etc
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input data-bind="checked: Formatter" value="XmlTextFormatter" id="xml-formatter" type="radio" name="Formatter" />
                                        XML file
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input data-bind="checked: Formatter" value="JsonTextFormatter" id="json-formatter" type="radio" name="Formatter" />
                                        JSON file
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input data-bind="checked: Formatter" value="HtmlTextFormatter" id="html-formatter" type="radio" name="Formatter" />
                                        HTML file
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="record-name" class="col-lg-2 control-label">Record Name</label>
                            <div class="col-lg-6">
                                <input type="text" data-bind="value: Entity"
                                       required pattern="^[A-Z][A-Za-z0-9_]*$"
                                       placeholder="Record name, an EntityDefinition for the record"
                                       class="form-control" id="record-name">
                            </div>
                        </div>

                    </form>
                </div>


                <!-- ko if : ko.unwrap(Formatter) === 'DelimitedTextFormatter' -->

                <div data-bind="visible: $root.page() === 2">
                    <!-- ko with : TextFormatter -->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="sample-file" class="col-lg-2 control-label">Updload sample file</label>
                            <div class="col-lg-6">
                                <input type="file" data-bind="kendoUpload: SampleStoreId"
                                       required
                                       class="form-control" id="sample-file">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="delimiter" class="col-sm-2 control-label">Delimiter</label>

                            <div class="col-sm-6">
                                <select type="text" data-bind="value: Delimiter, options:$root.delimiterOptions, optionsCaption: '', optionsText : 'text', optionsValue:'value'"
                                        required="" readonly="readonly"
                                        class="form-control" id="delimiter"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="escape-char" class="col-sm-2 control-label">Escape Character</label>

                            <div class="col-sm-6">
                                <input type="text" data-bind2="value: EscapeCharacter"
                                       readonly="readonly"
                                       class="form-control" id="escape-char">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input data-bind="checked: HasTagIdentifier" id="login-operation" type="checkbox"
                                               name="HasTagIdentifier" />
                                        Record has a tag identitfier
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tag" class="col-sm-2 control-label">Tag</label>

                            <div class="col-sm-6">
                                <input type="text" data-bind="value: RecordTag, enable: HasTagIdentifier, attr :{required: HasTagIdentifier}"
                                       class="form-control" id="tag">
                            </div>
                        </div>

                    </form>
                    <!-- /ko -->
                </div>

                <div data-bind="visible:$root.page() === 3, with: TextFormatter">
                    <h3>Details row</h3>
                    <span>Your text file must have Record tag in order to have details row</span>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Field Name</th>
                                <th>Row Tag</th>
                                <th>Parent Tag</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach : DetailRowCollection">
                            <tr>
                                <td>
                                    <a class="btn btn-link" href="javascript:;" data-bind="click : $parent.selectRow, text: Name"></a>
                                </td>
                                <td data-bind="text:FieldName"> </td>
                                <td data-bind="text:RowTag"></td>
                                <td data-bind="text:Parent"> </td>
                                <td>
                                    <a href="javascript:;" class="btn btn-link" data-bind="click : $parent.removeDetailsRow.call($parent, $data)">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="javascript:;" data-bind="click : addDetailsRow" class="btn btn-link">
                        <i class="fa fa-plus-circle">Add new details row</i>
                    </a>

                    <div class="row" data-bind="with : selectedRow">
                        <form class="form-horizontal" data-bind="visible : WebId()">
                            <div class="form-group">
                                <label for="details-row-name" class="col-lg-3 control-label">Name</label>
                                <div class="col-lg-8">
                                    <input type="text" data-bind="value: Name"
                                           required pattern="^[A-Z][A-Za-z0-9_]*$"
                                           placeholder="Item type name"
                                           class="form-control" id="details-row-name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="details-row-typename" class="col-lg-3 control-label">Field's Name</label>
                                <div class="col-lg-8">
                                    <input type="text" data-bind="value: FieldName"
                                           required="" pattern="^[A-Za-z_][A-Za-z0-9_]*$"
                                           placeholder="The fields name generated inside parent's node"
                                           class="form-control" id="details-row-typename">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="details-row-tag" class="col-lg-3 control-label">Row Tag</label>
                                <div class="col-lg-8">
                                    <input type="text" data-bind="value: RowTag"
                                           required
                                           placeholder="Row's identifier tag"
                                           class="form-control" id="details-row-tag">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="details-row-parent" class="col-lg-3 control-label">Parent</label>
                                <div class="col-lg-8">
                                    <select id="details-row-parent" required data-bind="value:Parent,options : $parent.parentOptions, optionsCaption : '[Select a parent for this details row]', uniqueName: true"
                                            class="form-control"></select>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

                <!-- /ko -->



                <div data-bind="visible: $root.page() === 4"></div>
                <div data-bind="visible: $root.page() === 5"></div>


            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="submit" class="btn btn-default" value="&lt; Back" data-bind="click: backClick, enable : backEnable" />
                <input data-dismiss="modal" type="submit" class="btn btn-default" value="Next &gt;" data-bind="click: nextClick, enable : nextEnable" />
                <input form="flat-file-receive-port-wizard-dialog-form" data-dismiss="modal" type="submit" class="btn btn-default" value="OK" data-bind="click: okClick, enable : okEnable" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>