<div class="row">
    <table id="building-list-table" class="table table-striped" data-bind="filter: { path: 'tbody>tr' },
            serverPaging :
            {
                query : 'Id ne \'0\'',
                list: pages,
                entity: 'Page'
            }">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Name</th>
                <th>Virtual Path</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: pages">
            <tr>
                <td>
                    <a href="#" data-bind="click: $parent.editPage">Code</a>
                </td>
                <td>
                    <a href="#" data-bind="attr: {title : Tag},click: $parent.editDetail">
                        <i class="fa fa-desktop"></i>
                        <span data-bind="text: Name"></span>
                    </a>
                </td>
                <td data-bind="text: VirtualPath"></td>
                <td data-bind="text: Version"></td>

                <td>
                    <a href="#" title="Delete this page" data-bind="command: $parent.remove.call($parent,$data)">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>