

<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-md-8 col-md-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
        <!-- ko if : Code -->
        <strong class="icon-read-more" data-bind="bootstrapPopover : Code"> ..more</strong>
        <!-- /ko-->
        <!-- ko if : FileName -->
        <br/>
        <a href="javascript:;" data-bind="click : $root.viewFile">
            <span class="small" data-bind="text:FileName"></span>(<span class="small" data-bind="text:Line"></span>)
        </a>
        <!-- /ko-->


    </div>
    <div class="col-md-2"></div>
    <!-- /ko-->
</div>

<div class="row">
    <div class="col-sm-9">



    </div>
    <div class="col-sm-3">

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#general-properties" data-toggle="tab">General Properties</a>
                </li>
                <li>
                    <a href="#business-rules-tab" data-toggle="tab">Business Rule</a>
                </li>
                <li>
                    <a href="#triggers-tab" data-toggle="tab">Triggers</a>
                </li>
                <li>
                    <a href="#operations-tab" data-toggle="tab">Endpoints</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="general-properties" class="tab-pane active">
                    <form name="entity-form" id="entity-form" class="form-horizontal" role="form" data-bind="with : entity">
                        <div class="form-group">
                            <label for="ent-name" class="col-md-3">Name</label>
                            <div class="col-md-9">
                                <input type="text" data-bind="value: Name, readonly : ko.unwrap(Id) !== '0'"
                                       required="" pattern="^[A-Za-z][A-Za-z0-9]*$"
                                       placeholder="Custom Entity Name"
                                       class="form-control" id="ent-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="record-name" class="col-md-3">Record Name</label>
                            <div class="col-md-9">
                                <input type="text" data-bind="value: RecordName, tooltip:'The Record Name appears in page layouts, key lists, related lists, lookups, and search results.For example, the Record Name for Account is &quot;AccountName&quot; and for Case it is &quot;CaseNumber&quot;.Note that the Record Name field is always called &quot;Name&quot; when referenced via the API.The field must exist as a first level member in your schema'"
                                       required="required" pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                                       placeholder="Identifying member"
                                       class="form-control" id="record-name">


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="plural" class="col-md-3">Plural</label>
                            <div class="col-md-9">
                                <input type="text" data-bind="value: Plural"
                                       required pattern="^[A-Za-z_][A-Za-z0-9_]*$"
                                       placeholder="Plurals"
                                       class="form-control" id="plural">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="icon-class" class="col-md-3 control-label">Icon class</label>
                            <div class="col-md-6">
                                <i data-bind="iconPicker: IconClass, attr:{'class':IconClass() + ' fa-2x' }, tooltip:'icon is only used for solution explorer for you to easily identify the correct item'" id="icon-class"></i>
                            </div>
                        </div>


                        <h3>Data treatment</h3>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-11">
                                <div class="checkbox">
                                    <label data-bind="tooltip : 'Create data as source will save the data in your source folder and can be used as referenced/lookup data that is part of your application'">
                                        <input data-bind="checked: TreatDataAsSource, disable: Transient" id="treat-data-as-source" type="checkbox" name="TreatDataAsSource" />
                                        Treat data as source
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-11">
                                <div class="checkbox">
                                    <label data-bind="tooltip : 'Use for pure messaging infrastructure, no data will be persisted'">
                                        <input data-bind="checked: Transient, disable : TreatDataAsSource" id="transient-data" type="checkbox" name="Transient" />
                                        Transient data 
                                    </label>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div id="business-rules-tab" class="tab-pane" data-bind="with : entity">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :BusinessRuleCollection">
                            <tr>
                                <td>
                                    <a href="#business-rules-tab" data-bind="click :$parent.editBusinessRule.call($parent,$data) ,text: Name"></a>
                                </td>
                                <td data-bind="text:Description"></td>
                                <td>
                                    <a href="#business-rules-tab" data-bind="click : $parent.removeBusinessRule.call($parent,$data)">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-link" data-bind="click : addBusinessRule">
                        <i class="fa fa-plus-circle"></i>
                        Add a business rule
                    </a>

                </div>
                <div id="triggers-tab" class="tab-pane">
                    <table class="table table-striped" data-bind="serverPaging :{entity: 'Trigger', query :'Entity eq \'' + $root.entity().Name() + '\'', list: triggers}">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Operations</th>
                                <th>Added</th>
                                <th>Changed</th>
                                <th>Deleted</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :triggers">
                            <tr>
                                <td>
                                    <a data-bind="attr : {'href':'#/trigger.setup/' + Id()},text: Name"></a>
                                </td>
                                <td data-bind="text:FiredOnOperations"></td>
                                <td>
                                    <i class="fa fa-check" data-bind="visible:IsFiredOnAdded"></i>
                                </td>
                                <td>
                                    <i class="fa fa-check" data-bind="visible:IsFiredOnChanged"></i>
                                </td>
                                <td>
                                    <i class="fa fa-check" data-bind="visible:IsFiredOnDeleted"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-link" href="javascript:;" data-bind="click : $root.addTriggerAsync">
                        <i class="fa fa-plus-circle"></i>
                        Add a trigger
                    </a>
                </div>
                <div id="operations-tab" class="tab-pane">
                    <div data-bind="with : entity">
                        <form class="form-horizontal" role="form" data-bind="with : ServiceContract">
                            <div class="form-group" data-bind="with : EntityResourceEndpoint">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label>
                                            <input data-bind="checked: IsAllowed" id="get-one-endpoint" type="checkbox" name="IsAllowed" />
                                            Get a resource by Id Endpoint
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-bind="with : FullSearchEndpoint">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label>
                                            <input data-bind="checked: IsAllowed" id="search-endpoint-isallowed" type="checkbox" name="IsAllowed" />
                                            Search endpoint
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" data-bind="with : OdataEndpoint">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label>
                                            <input data-bind="checked: IsAllowed" id="odata-endpoint-isallowed" type="checkbox" name="IsAllowed" />
                                            Odata endpoint
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button data-bind="commandWithParameter:{ command : publish, commandParameter : $root.entity}" class="btn btn-default">
                                        <i class="fa fa-gears"></i>
                                        Publish Endpoints
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <h3>Operations</h3>
                    <table class="table table-striped" data-bind="serverPaging :{entity: 'OperationEndpoint', query :'Entity eq \'' + $root.entity().Name() + '\'', list: $root.operations}">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Route</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach : $root.operations">
                            <tr>
                                <td>
                                    <a data-bind="attr : {'href':'#/operation.endpoint.designer/' + ko.unwrap(Id)},text: Name"></a>
                                </td>
                                <td data-bind="text:Route"></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-link" data-bind="click: $root.addOperationEndpoint" href="javascript:;">
                        <i class="fa fa-plus-circle"></i>
                        Add an operation
                    </a>
                    <h3>Queries</h3>
                    <table class="table table-striped" data-bind="serverPaging :{entity: 'QueryEndpoint', query :'Entity eq \'' + $root.entity().Name() + '\'', list: $root.queries}">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Route</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :$root.queries">
                            <tr>
                                <td>
                                    <a data-bind="attr : {'href':'#/query.endpoint.designer/' + ko.unwrap(Id)},text: Name"></a>
                                </td>
                                <td data-bind="text:Route"></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-link" data-bind="click : $root.addQueryEndpoint">
                        <i class="fa fa-plus-circle"></i>
                        Add a query
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>








