
<i class="fa fa-file-archive-o" style="color: #00cc66"></i>
<h1>Receive Port</h1>

<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-md-8 col-md-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
        <!-- ko if : Code -->
        <strong class="icon-read-more" data-bind="bootstrapPopover : Code"> ..more</strong>
        <!-- /ko-->
        <!-- ko if : FileName -->
        <br />
        <a href="javascript:;" data-bind="click : $root.viewFile">
            <span class="small" data-bind="text:FileName"></span>(<span class="small" data-bind="text:Line"></span>)
        </a>
        <!-- /ko-->
        
    </div>
    <div class="col-md-2"></div>
    <!-- /ko-->
</div>

<div class="row">

    <div class="row col-lg-8 col-md8 col-sm-12">

        <div class="col-lg-8 col-md-7 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="search-textbox-rece-port"></label>
                <input type="search" placeholder="Search...." id="search-textbox-rece-port" class="form-control" />

            </div>
            <div id="schema-tree-panel" style="overflow-y: scroll; min-height: 400px"
                 data-bind="portTree :{ port:port, selected: $root.selected, searchTextBox :'#search-textbox-rece-port'}">
                <h3>This is where the tree view goes</h3>
            </div>
        </div>


        <div class="col-lg-4 col-md-5 col-sm-6" data-bind="with:selected ">

            <!-- ko if : $type === "Bespoke.Sph.Domain.DelimitedTextFieldMapping, domain.sph" -->
            <!-- ko compose : {view:'_field.mapping.header.delimitedtext'}-->
            <!-- /ko-->
            <!-- /ko -->
            

            <!-- ko if : $type === "Bespoke.Sph.Domain.HeaderFieldMapping, domain.sph" -->
            <!-- ko compose : {view:'_field.mapping.header'}-->
            <!-- /ko-->
            <!-- /ko -->
            

            <!-- ko if : $type === "Bespoke.Sph.Domain.UriFieldMapping, domain.sph" -->
            <!-- ko compose : {view:'_field.mapping.uri'}-->
            <!-- /ko-->
            <!-- /ko -->


        </div>

    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#general-properties" data-toggle="tab">General</a>
                </li>
                <li>
                    <a href="#reference-assemblies" data-toggle="tab">Referenced Assemblies</a>
                </li>
                <li>
                    <a href="#port-header" data-toggle="tab">Headers</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="general-properties" class="tab-pane active">
                    <form name="entity-form" id="entity-form" class="form-horizontal" role="form" data-bind="with : port">
                        <div class="form-group">
                            <label for="ent-name" class="col-md-3">Name</label>
                            <div class="col-md-9">
                                <input type="text" data-bind="value: Name, readonly : ko.unwrap(Id) !== '0'"
                                       required="" pattern="^[A-Za-z][A-Za-z0-9]*$"
                                       placeholder="Custom Entity Name"
                                       class="form-control" id="ent-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="record-name" class="col-md-3">Record Name</label>
                            <div class="col-md-9">
                                <input type="text" data-bind="value: Entity, tooltip:'The Record Name appears in page layouts, key lists, related lists, lookups, and search results.For example, the Record Name for Account is &quot;AccountName&quot; and for Case it is &quot;CaseNumber&quot;.Note that the Record Name field is always called &quot;Name&quot; when referenced via the API.The field must exist as a first level member in your schema'"
                                       required="required" pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                                       placeholder="Identifying member"
                                       class="form-control" id="record-name">


                            </div>
                        </div>

                    </form>
                </div>

                <div class="tab-pane" id="reference-assemblies" data-bind="with : port">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Version</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach : ReferencedAssemblyCollection">
                            <tr>
                                <td data-bind="text:Name"></td>
                                <td data-bind="text:Version"></td>
                                <td>
                                    <a href="#" data-bind="click : $parent.removeReferencedAssembly.call($parent,$data)">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <a href="#" data-bind="click : addReferencedAssembly" class="btn btn-link">
                        <i class="fa fa-plus-circle"></i>
                        Add an assembly
                    </a>
                </div>

                <div id="port-header" class="tab-pane">

                </div>
            </div>
        </div>
    </div>
</div>
