<section class="view-model-modal" id="sd-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        data-bind="click : cancelClick">&times;</button>
                <h3>Search Definition</h3>
            </div>
            <div class="modal-body" data-bind="with: sd">

                <form class="form-horizontal" id="sd-dialog-form">
                    <div class="form-group">
                        <label for="type" class="col-lg-2 control-label">Entity</label>

                        <div class="col-lg-6">
                            <select class="form-control" id="type"
                                    data-bind="value:type, options:entities, optionsCaption:'[Select your entity]'">
                                <option value="">[Select your entity]</option>
                                <option value="Customer">Customer</option>
                                <option value="Building">Building</option>
                                <option value="Patient">Patient</option>
                                <option value="Employee">Employee</option>
                                <option value="Supplier">Supplier</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sd-name" class="col-lg-2 control-label">Name</label>

                        <div class="col-lg-6">
                            <input type="text" data-bind="value: Name"
                                   required pattern="^[A-Za-z_][A-Za-z0-9_ ]*$"
                                   placeholder="Name"
                                   class="form-control" id="sd-name">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label">Filters</label>


                        <button class="btn btn-link pull-right" data-bind="click : addFilter, enable: Entity()">+ Filter
                        </button>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Term</th>
                                <th>Operator</th>
                                <th>Value</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach :filters">
                            <tr>
                                <td>
                                    <input class="form-control" type="text"
                                           data-bind="value:Term,entityTypeaheadPath :$root.selected().EntityDefinitionId()"
                                           required pattern="^[A-Za-z][A-Za-z0-9_.]*$"/>
                                </td>
                                <td>
                                    <select name="rule-operator" class="form-control" data-bind="value: Operator">
                                        <option value="Eq">=</option>
                                        <option value="Neq">!=</option>
                                        <option value="Le">&lt;=</option>
                                        <option value="Lt">&lt;</option>
                                        <option value="Ge">&gt;=</option>
                                        <option value="Gt">&gt;</option>
                                        <option value="Substringof">Substringof</option>
                                        <option value="StartsWith">StartsWith</option>
                                        <option value="EndsWith">EndsWith</option>
                                        <option value="NotContains">Not Substringof</option>
                                        <option value="NotStartsWith">Not StartsWith</option>
                                        <option value="NotEndsWith">Not EndsWith</option>
                                    </select>
                                </td>
                                <td>
                                    <input data-bind="value:Field" class="form-control"/>

                                </td>
                                <td>
                                    <a href="#" data-bind="click : $parent.removeFilter.call($parent,$data)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <input form="sd-dialog-form" data-dismiss="modal" type="submit" class="btn btn-primary" value="OK"
                       data-bind="click: okClick"/>
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>