<li class="dropdown dropdown-big hidden-xs hidden-sm" data-bind="css: { open: searchResults().length > 0 }">
    <form data-bind="submit: searchCommand" class="form-search">
        <div class="input-append">
            <input data-bind="value: searchText, valueUpdate : 'keyup'" placeholder="Search..." type="search" class="search-query" />
            <a class="add-on" href="#" data-bind="style : { visibility : searchText() === '' ? 'hidden' : 'visible'}, click : function(vm){ vm.searchText('');}"><i class="fa fa-remove"></i></a>
        </div>
    </form>
    <ul class="dropdown-menu">
        <li>
            <h5><i class="fa fa-user"></i>Search results</h5>
            <hr>
        </li>
        <!-- ko  foreach : searchResults -->
        <li>
            <!-- List item heading h6-->
            <a href="#" data-bind="text: Title, click: $root.navigateSearch"></a><span class="label label-warning pull-right">
                <i class="fa fa-home" data-bind="css : {'icon-building':Type === 'Building','icon-home': Type === 'Space'}" ></i>
                <span data-bind2="text:Type"></span>
            </span>
            <div class="clearfix"></div>
            <hr>
        </li>
        <!-- /ko -->
        <li>
            <div class="drop-foot">
                <a href="#">View All</a>
                <a id="close-search-result" href="#" class="pull-right">&times;</a>
            </div>
        </li>
    </ul>
</li>
