<section>
    <h1>Settings</h1>
    <div class="">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#doc-template-tab" data-toggle="tab">Document Templates</a>
            </li>
            <li>
                <a href="#email-template-tab" data-toggle="tab">Email Templates</a>
            </li> 
            
        </ul>

        <div class="tab-content">
            <div id="doc-template-tab" class="tab-pane active">
               

            </div>
            <div id="email-template-tab" class="tab-pane active">
               

            </div>

        </div>
    </div>
</section>
