 <!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->

        <ul class="page-sidebar-menu page-sidebar-menu-light page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <form class="sidebar-search ">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." style="border: none !important">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                        </span>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class="start active open">
                <a href="#dev.home">
                    <i class="icon-wrench"></i>
                    <span class="title">Developers</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu" data-bind="foreach :router.navigationModel">
                    <!-- ko if : role === "developers" -->
                    <li class="active">
                        <a href="#" data-bind=" attr: { href: hash }">
                            <i class="icon-bar-chart" data-bind="attr : {'class' : icon}"></i>
                            <!--ko text: title-->
                            <!-- /ko-->
                        </a>
                    </li> 
                    <!-- /ko-->
                </ul>
            </li>
            <li class="start active open">
                <a href="#management.console">
                    <i class="icon-support"></i>
                    <span class="title">Management</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" data-bind="foreach :router.navigationModel">
                    <!-- ko if : role === "administrators"  -->
                    <li class="active">
                        <a href="#" data-bind=" attr: { href: hash }">
                            <i class="icon-bar-chart" data-bind="attr : {'class' : icon}"></i>
                            <!--ko text: title-->
                            <!-- /ko-->
                        </a>
                    </li> 
                    <!-- /ko-->
                </ul>
            </li>
            <li class="start active open">
                <a href="javascript:;">
                    <i class="icon-folder"></i>
                    <span class="title">User Items</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" data-bind="foreach :router.navigationModel">
                    <!-- ko if : role !== "administrators" && role !== "developers" -->
                    <li class="active">
                        <a href="#" data-bind=" attr: { href: hash }">
                            <i class="icon-bar-chart" data-bind="attr : {'class' : icon}"></i>
                            <!--ko text: title-->
                            <!-- /ko-->
                        </a>
                    </li>
                    <!-- /ko -->
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">

        <!-- BEGIN PAGE HEADER-->
       
        <!-- END PAGE HEADER-->

        <section id="content" style="overflow-x: hidden">

            <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: router.isNavigating" />
            <!--ko compose: {view: 'toolbar'} -->
            <!--/ko-->
            <!--ko compose: {model: router.activeItem,
        attached: router.attached,
        compositionComplete: router.compositionComplete,
        transition: 'entrance'} -->
            <!--/ko-->
        </section>
        <!-- ko compose : 'viewmodels/_developers.log'-->
        <!--/ko-->



    </div>
</div>
<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
<div class="page-quick-sidebar-wrapper">
    <div class="page-quick-sidebar">
        <!-- ko compose : 'viewmodels/solution.explorer.2'-->
        <!--/ko-->



    </div>
</div>
<!-- END QUICK SIDEBAR -->