
<style>
    div#solution-explorer-panel a.jstree-search {
        color: #FFBC3D;
    }
</style>
<div>
    <div class="btn-group">
        <a class="btn btn-link dropdown-toggle" data-toggle="drop-down" style="color: white">
            <i class="fa fa-plus"></i>
            Add item &nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" data-bind="with :newItemService">
            <li>
                <a href="#" data-bind="command: addEntityDefinitionAsync">
                    <i class="fa fa-clipboard"></i>
                    Entity Definition
                </a>
            </li>
            <li>
                <a href="#" data-bind="command: addOperationEndpoint">
                    <i class="fa fa-subway"></i>
                    Operation Endpoint
                </a>
            </li>
            <li>
                <a href="#" data-bind="command: addQueryEndpoint">
                    <i class="fa fa-search"></i>
                    Query Endpoint
                </a>
            </li>

            <li role="separator" class="divider"></li>
            <li>
                <a href="#" data-bind="command: addWorkflowDefinitionAsync">
                    <i class="fa fa-code-fork"></i>
                    Workflow Definition
                </a>
            </li>
            <li>
                <a href="#" data-bind="command:addTriggerAsync">
                    <i class="fa fa-bolt"></i>
                    Trigger
                </a>
            </li>

            <li role="separator" class="divider"></li>

            <li>
                <a href="#" data-bind="command : addTransformDefinitionAsync">
                    <i class="fa fa-exchange"></i>
                    Mapping Transform
                </a>
            </li>
            <li>
                <a href="javascript:;" data-bind="command: addAdapterAsync">
                    <i class="fa fa-database"></i>
                    Adapter
                </a>
            </li>

            <li role="separator" class="divider"></li>
            <li role="heading" class="header-section">
                <h3>User Interface</h3>
            </li>
            <li>
                <a href="javascript:;" data-bind="command:addEntityForm">
                    <i class="fa fa-edit"></i>
                    Form
                </a>
            </li>
            <li>
                <a href="javascript:;" data-bind="command:addWorkflowForm">
                    <i class="fa fa-code-fork"></i>
                    Workflow Form
                </a>
            </li>
            <li>
                <a href="javascript:;" data-bind="command:addPartialView">
                    <i class="fa fa-edit"></i>
                    Partial Form
                </a>
            </li>
            <li>
                <a href="javascript:;" data-bind="command:addDialog">
                    <i class="fa fa-edit"></i>
                    Dialog
                </a>
            </li>
            <li>
                <a href="javascript:;" data-bind="command:addEntityView">
                    <i class="fa fa-list-ul"></i>
                    View
                </a>
            </li>
            <!--<li>
                <a href="javascript:;" data-bind="command:addDashboard">
                    <i class="fa fa-area-chart"></i>
                    Dashboard
                </a>
            </li>-->

            <li>
                <a href="javascript:;" data-bind="command:addReportDefinitionAsync">
                    <i class="fa fa-bar-chart-o"></i>
                    Report Definition
                </a>
            </li>

            <li role="separator" class="divider"></li>
            <li>
                <a href="javascript:;" data-bind="command: addCustomFormAsync">
                    <i class="fa fa-edit"></i>
                    Custom Form
                </a>
            </li>
            <li>
                <a href="javascript:;" data-bind="command: addCustomDialogAsync">
                    <i class="fa fa-files-o"></i>
                    Custom Dialog
                </a>
            </li>
            <li>
                <a href="javascript:;" data-bind="command: addPartialViewAsync">
                    <i class="fa fa-file-code-o"></i>
                    Partial View
                </a>
            </li>
            <li>
                <a href="javascript:;" data-bind="command: addCustomScriptAsync">
                    <i class="fa fa-file-text-o"></i>
                    Custom Script
                </a>
            </li>
        </ul>
    </div>
    <form class="sidebar-search ">

        <div class="input-group">
            <input type="search" class="form-control" style="width: 210px" placeholder="Search..." id="search-solution-tree" />
            <span class="input-group-addon">
                <a href="javascript:;" class="remove">
                    <i class="fa fa-times"></i>
                </a>
            </span>
        </div>
    </form>

    <div id="solution-explorer-panel"></div>
</div>
