<link href="/Content/jstree/style.min.css" rel="stylesheet"/>

<section class="view-model-modal" id="solution-explorer-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Solution Explorer
                    <button class="btn btn-link" data-bind="command : loadAsync, tooltip:'Click to reload the solution items from the server'">
                        <i class="fa fa-refresh"></i>
                    </button></h3>
            </div>
            <div class="modal-body">
                <div id="solution-explorer-docking">
                    <p><strong>Double click</strong> to open.</p>
                    <br/>
                    <div id="jstree_demo_div" data-bind="solutiontree:{
                        items: items,
                        triggers:triggers,
                        wds:triggers,
                        transforms: transforms,
                        click: click,
                        singleClick: singleClick,
                        addEntityDefinition: addEntityDefinition,
                        addForm: addForm,
                        addOperation: addOperation,
                        addView: addView,
                        addWorkflowDefinition: addWorkflowDefinition,
                        addTransformDefinition: addTransformDefinition,
                        addReportDefinition: addReportDefinition,
                        addTrigger: addTrigger,
                        addAdapter: addAdapter,
                        addBusinessRules: addBusinessRules
                    }"></div>
                </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</section>