<link href="/Content/jstree/style.min.css" rel="stylesheet"/>

<div id="solution-explorer-docking">
    <h3>Solution Explorer</h3>
    <span data-bind = "click:hassanRefresh">Refresh</span>
    
    <div id="jstree_demo_div" data-bind="solutiontree:{
    solution: solution,
    click: click,
    addEntityDefinition: addEntityDefinition,
    addForm: addForm,
    addOperation: addOperation,
    addView: addView,
    addWorkflowDefinition: addWorkflowDefinition,
    addTransformDefinition: addTransformDefinition,
    addReportDefinition: addReportDefinition,
    addTrigger: addTrigger,
    addAdapter: addAdapter,
    addBusinessRules: addBusinessRules
}"></div>
</div>