
<h1>Entity Triggers</h1>
<table class="table table-striped" data-bind="filter: { path: 'tbody>tr' }, serverPaging: { entity: 'Trigger', list: triggerCollection}">
    <thead>
        <tr>
            <th>Name</th>
            <th>Entity</th>
            <th>Added</th>
            <th>Changed</th>
            <th>Deleted</th>
            <th>Operation</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody data-bind="foreach :triggerCollection">
        <tr>
            <td>
                <a data-bind="attr: { href: '#/trigger.setup/' + Id() }, text: Name" ></a>
            </td>
            <td data-bind="text:Entity"></td>
            <td>
                <i class="fa fa-check" data-bind="visible:IsFiredOnAdded"></i>
            </td>
            <td>
                <i class="fa fa-check" data-bind="visible:IsFiredOnChanged"></i>
            </td>
            <td>
                <i class="fa fa-check" data-bind="visible:IsFiredOnDeleted"></i>
            </td>
            <td data-bind="text:FiredOnOperations"></td>
            <td>
                <i class="fa fa-check" data-bind="visible:IsActive"></i>
            </td>
        </tr>
    </tbody>
</table>
