<h1>Activity Performance Indicator</h1>
<div class="row">
    <form class="form form-inline">
        <label>Activities</label>
        <select class="form-control" data-bind="value:selectedActivityName,
                    options: activities,
                    optionsText:'Name',
                    optionsValue : 'Name',
                    optionsCaption:'Please select next activity'"></select>

        <label>Interval</label>
        <select class="form-control" data-bind="value:interval">
            <option value="5">5 Seconds</option>
            <option value="10">10 Seconds</option>
            <option value="300">5 Minutes</option>
            <option value="3600">1 Hour</option>
            <option value="21600">6 Hour</option>
        </select>

        <button class="btn btn-default" data-bind="command : showChartCommand">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>
<div class="row" id="chart-div">
    
</div>