<link href="/Content/jsplumb/jsplumb.css" rel="stylesheet" />
<script src="/Scripts/jsPlumb/bundle.js"></script>
<div class="row">

    <h1 data-bind="text:wd().Name()"></h1>

</div>

<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-lg-8 col-lg-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
        <!-- ko if : Code -->
        <strong class="icon-read-more" data-bind="bootstrapPopover : Code"> ..more</strong>
        <!-- /ko-->
        <a href="#" class="alert-link alert" data-bind="click: $root.showError"> or Fix this</a>
    </div>
    <div class="col-lg-2"></div>
    <!-- /ko-->
</div>

<div class="row">
    <div class="col-lg-9" id="container-canvas" style="min-height: 900px" data-bind="with : wd">
        <!-- ko foreach : {data : ActivityCollection, afterAdd : $root.itemAdded } -->

        <div class="activity w" data-bind="style : {'left': WorkflowDesigner().X() + 'px','top': WorkflowDesigner().Y() + 'px'},
                attr : {id : WebId},
                activityPopover : $data,
                css : {'start-actvity2': IsInitiator() }">
            <div data-bind="visible:hasError" class="error">
                <i class="fa fa-exclamation-circle fa-2x"></i>
            </div>
            <div class="pull-right activity32" data-bind="activityClass : $data"></div>
            <span data-bind="text:Name"></span>
            <div data-bind="visible:IsInitiator" class="start-activity">
                <i class="fa fa-power-off fa-2x"></i>
            </div>

            <div style="display: none" class="context-menu">
                <a class="edit-activity" title="edit acitivity" href="#" data-bind="click: $parent.editActivity.call($parent,$data)">
                    <i class="fa fa-edit fa-2x"></i>
                </a>
                <a class="delete-activity" href="#" title="remove activity" data-bind="click: $parent.removeActivity.call($parent,$data)">
                    <i class="fa fa-times-circle fa-2x"></i>
                </a>
                <a class="start-activity" href="#" title="Set as start activity" data-bind="click: $parent.setStartActivity.call($parent,$data)">
                    <i class="fa fa-power-off fa-2x"></i>
                </a>
            </div>
        </div>


        <!-- /ko -->


    </div>

    <div class="col-lg-3" id="toolbox-panel">
        <a href="#" title="Close the toolbox, use ctrl+alt+x to show the toolbox" id="open-close-toolbox-button" class="pull-right">
            <i class="fa fa-times"></i>
        </a>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#toolbox" data-toggle="tab">Toolbox</a>
            </li>
            <li>
                <a href="#variables" data-toggle="tab">Variables</a>
            </li>
            <li>
                <a href="#schemas" data-toggle="tab">Schemas</a>
            </li>
            <li>
                <a href="#properties" data-toggle="tab">Properties</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="toolbox" class="tab-pane active">
                <!-- ko foreach : toolboxElements -->

                <div class="btn btn-default col-lg-12 toolbox-item" data-bind="attr : {id:WebId()}, visible : IsEnabled">
                    <div data-bind="attr : {'class':CssClass}"></div>
                    <strong data-bind="text:Name"></strong>
                    <p>
                        <span data-bind="text:Note"></span>
                    </p>

                </div>

                <!-- /ko -->
            </div>
            <div id="variables" class="tab-pane" data-bind="with : wd">
                <!--ko compose:'_workflow.definition.variables.html' -->
                <!--/ko-->
            </div>
            <div id="schemas" class="tab-pane" data-bind="with:wd">
                <form role="form">
                    <div class="form-group">
                        <label for="complex-variable-schema">Schema</label>
                        <input class="form-control" data-bind="kendoUpload: SchemaStoreId" id="complex-variable-schema" type="file" name="complex-variable-schema" />
                    </div>
                    <div class="form-group">
                        <ul data-bind="foreach :xsdElements">
                            <li data-bind="text:$data"></li>
                        </ul>
                    </div>

                </form>

            </div>
            <div id="properties" class="tab-pane">

                <form role="form" id="workflow-definition-detail" data-bind="with: wd">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" data-bind="value:Name" class="form-control" id="Name" placeholder="Workflow name......">
                    </div>

                    <div class="form-group">
                        <label for="wd-version">Version</label>
                        <input required type="number" data-bind="value: Version" class="form-control" id="wd-version" placeholder="The version number is used for compilation">
                    </div>
                    <div class="form-group">
                        <label for="Note">Note</label>
                        <textarea cols="4" rows="5" data-bind="value:Note" class="form-control" id="Note" placeholder="Note....." />
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input data-bind="checked: IsActive" id="IsActive" type="checkbox" name="IsActive" />
                                Is Active
                            </label>
                        </div>
                    </div>
                    <div class="form-group"><h4>Auto save</h4></div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input data-bind="checked: $root.autoSave" id="autosave" type="checkbox" name="$root.autoSave" />
                                Auto save
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="autosave-interval">Interval (ms)</label>
                        <input type="number" data-bind="value: $root.autoSaveInterval"
                               placeholder="Interval in ms" step="100"
                               min="1000"
                               max="60000"
                               class="form-control" id="autosave-interval">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modalBlockout" style="z-index: 1051; opacity: 0.4;" data-bind="visible: isBusy"></div>
<div class="modalBlockout" style="z-index: 1051; opacity: 0.4;" data-bind="visible: isPublishing"></div>
<img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
<div class="absolute-center workflow-publishing-progress" data-bind="visible:isPublishing">
    <span class="label label-primary">Publising your workflow</span>
    <img src="/Images/spinner-md.gif" alt="loading" />
    <p class="lead" data-bind="text:publishingMessage">Please wait while your Workflow is published to..</p>
</div>

