
<h1><i class="fa fa-code-fork fa-2x"></i>Workflow Definition List</h1>
<table class="table table-striped" data-bind="filter: { path: 'tbody>tr' }, serverPaging: { entity: 'WorkflowDefinition',
    list: definitions }">
    <thead>
        <tr>
            <th>Manage</th>
            <th>Design</th>
            <th>Note</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: definitions">
        <tr>
            <td>
                <a data-bind="attr: { href: '#/workflow.manage/' + Id() }" title="Manage deployment">
                    <i style="color:rgb(118, 143, 207)" class="fa fa-gear fa-2x"></i>
                </a>
                <a data-bind="attr: { href: '#/workflow.debugger/' + Id() }" title="Debugger">
                    <i style="color:brown" class="fa fa-bug fa-2x"></i>
                </a>
                <a data-bind="attr: { href: '#/workflow.kpi/' + Id() }" title="Performance indicator">
                    <i style="color:rgb(33, 130, 214)" class="fa fa-bar-chart-o fa-2x"></i>
                </a>
            </td>
            <td>
                <a data-bind="attr: { href: '#/workflow.definition.visual/' + Id() }">
                    <i class="fa fa-edit"></i>
                    <span data-bind="text:Name"></span>
                </a>
            </td>
            <td data-bind="text: Note"></td>
            <td>
                <i class="fa fa-check" data-bind="visible: IsActive"></i>
            </td>
        </tr>
    </tbody>
    

</table>
<div class="row">
    <h3>Import from existing workflow package</h3>
    <input type="file" name="files" id="import"/>
</div>