
<section class="view-model-modal" id="workers-config-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Workers Config</h3>
            </div>
            <div class="modal-body" data-bind="with: config">

                <form class="form-horizontal" id="workers-config-dialog-form">
                    <div class="form-group">
                        <label for="workers-config-name" class="col-lg-3 control-label">Name</label>
                        <div class="col-lg-9">
                            <input type="text" data-bind="value: Name, enable:ko.unwrap(Id) === '0'"
                                   required="" pattern="^[A-Za-z_][A-Za-z0-9_]*$"
                                   placeholder="The name identifier"
                                   class="form-control" id="workers-config-name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="workers-config-description" class="col-lg-3 control-label">Description</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" id="workers-config-description" data-bind="value :Description" placeholder="Description"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input form="workers-config-dialog-form" data-dismiss="modal" type="submit" class="btn btn-default" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>