<h1>Workflow Definition List</h1>
<table class="table table-striped" data-bind="filter: { path: 'tbody>tr' }, serverPaging: { entity: 'WorkflowDefinition',
    query: 'WorkflowDefinitionId gt 0', list: definitions }">
    <thead>
        <tr>
            <th>Manage</th>
            <th>Design</th>
            <th>Note</th>
            <th>Enabled</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: definitions">
        <tr>
            <td>
                <a data-bind="attr: { href: '#/workflow.manage/' + WorkflowDefinitionId() }" title="Manage deployment">
                    <i style="color:rgb(118, 143, 207)" class="fa fa-gear fa-2x"></i>
                </a>
                <a data-bind="attr: { href: '#/workflow.debugger/' + WorkflowDefinitionId() }" title="Debugger">
                    <i style="color:brown" class="fa fa-bug fa-2x"></i>
                </a>
            </td>
            <td>
                <a data-bind="attr: { href: '#/workflow.definition.visual/' + WorkflowDefinitionId() }">
                    <i class="fa fa-edit"></i>
                    <span data-bind="text:Name"></span>
                </a>
            </td>
            <td data-bind="text: Note"></td>
            <td>
                <input type="checkbox" data-bind="checked: IsActive" />
            </td>
        </tr>
    </tbody>
    

</table>
<div class="row">
    <h3>Import from existing workflow package</h3>
    <input type="file" name="files" id="import"/>
</div>