<h1>Activity Performance Indicator</h1>
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div id="reportrange" class="pull-right">
                <i class="fa fa-calendar fa-lg"></i>
                <span data-bind="date: {value : startDate, format :'MMMM D, YYYY'}">
                </span>
                -
                <span data-bind="date: {value : endDate, format :'MMMM D, YYYY'}"></span>
                <b class="caret"></b>
            </div>
        </div>

        <div class="row" id="chart-div">

        </div>

    </div>
    <div class="col-lg-4">

        <form class="form form-horizontal">
            <label>Activities</label>
            <select class="form-control" data-bind="value:selectedActivityName,
                    options: activities,
                    optionsText:'Name',
                    optionsValue : 'Name',
                    optionsCaption:'[Please select activity]'"></select>

            <label>Interval</label>
            <input class="form-control" style="width: 30%" type="number" name="interval" data-bind="value:interval" />
            <select class="form-control" style="width: 50%;float: none" data-bind="value:unit">
                <option value="1">Second</option>
                <option value="60">Minute</option>
                <option value="3600">Hour</option>
                <option value="86400">Day</option>
                <option value="604800">Week</option>
            </select>


            <button class="btn btn-default pull-right" data-bind="command : showChartCommand">
                <i class="fa fa-bar-chart-o"></i>
                Display
            </button>
        </form>
    </div>
</div>