<form class="form-horizontal" data-bind="with : FieldValidation" role="form">

    <div class="checkbox">
        <label>
            <input data-bind="checked: IsRequired" id="validation-isrequired" type="checkbox" name="IsRequired" />
            Is required
        </label>
    </div>

    <div class="form-group">
        <label for="validation-pattern">Pattern</label>
        <input data-bind="value:Pattern" type="text" class="form-control" id="validation-pattern" placeholder="regex pattern">
    </div>
    <div class="form-group">
        <label for="validation-minlength">Min Length</label>
        <input data-bind="value:MinLength" type="number" class="form-control" id="validation-minlength">
    </div>

    <div class="form-group">
        <label for="validation-maxlength">Max Length</label>
        <input data-bind="value:MaxLength" type="number" class="form-control" id="validation-maxlength">
    </div>

    <div class="form-group">
        <label for="validation-mode">Mode</label>
        <select class="form-control" id="validation-mode" data-bind="value:Mode">
            <option value="">Text</option>
            <option value="email">Email</option>
            <option value="url">Url</option>
            <option value="digits">Digits</option>
            <option value="number">Number</option>
            <option value="date">Date</option>
            <option value="creditcard">Credit card </option>
        </select>
    </div>

    <div class="form-group">
        <label for="validation-message">Message</label>
        <input data-bind="value:Message" type="text" class="form-control" id="validation-message" placeholder="Error message">
    </div>
</form>
