.conn-label {
    padding: 5px;
    border: 1px solid #676767;
    border-radius: 5px;
    z-index: 1005;
    background-color: white;
    margin: 2px;
}
.toolbox-item {
    margin-bottom: 5px;
}
.ScreenActivity {
    background: no-repeat right top url('/images/ScreenActivity.png');
}


.DecisionActivity {
    background: no-repeat right top url('/images/DecisionActivity.png');
}
.EndActivity {
    background: no-repeat right top url('/images/EndActivity.png');
}

.CreateEntityActivity {
    background: no-repeat right top url('/images/CreateEntityActivity.png');
}

.NotificationActivity {
    background: no-repeat right top url('/images/NotificationActivity.png');
}

.activity { 
	width:5em;
	padding:1em;
	position:absolute;
	border: 1px solid black;
	z-index:4;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:11px;
    min-width: 120px;
    min-height: 80px;
}

.w { 
	width:5em;
	padding:1em;
	position:absolute;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #aaa;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
    min-width: 120px;
    min-height: 80px;
}

.w:hover {
	background-color: #5c96bc;
	color:white;

}

.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#1e8151;
	color:white;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

._jsPlumb_endpoint {
	z-index:3;
}

#opened {
	left:10em;
	top:5em;
}

#phone1 {
	left:35em;
	top:12em;
	width:7em;
}
#inperson {
	left:12em;
	top:23em;
}
#phone2 {
	left:28em;
	top:24em;
}
#rejected {
	left:10em;
	top:35em;
}
.dragHover { border:2px solid orange; }
.dragHoverToolbox { border:2px solid orange;
    padding: 10px;
}

path { cursor:pointer; }
.activity16 {
background-image: url("sph.wf.16.png");
    background-repeat: no-repeat;   
    list-style: none outside none;
}	
.activity16-DelayActivity{background-position:0px 0px ; width: 16px ; height: 16px; }
.activity16-CreateEntityActivity{background-position:-26px 0px ; width: 16px ; height: 16px; }
.activity16-NotificationActivity{background-position:-52px 0px ; width: 16px ; height: 16px; }
.activity16-ScreenActivity{background-position:-78px 0px ; width: 16px ; height: 16px; }
.activity16-DecisionActivity{background-position:-104px 0px ; width: 16px ; height: 16px; }
.activity16-ListenActivity{background-position:-130px 0px ; width: 16px ; height: 16px; }
.activity16-ParallelActivity{background-position:-156px 0px ; width: 16px ; height: 16px; }
.activity16-EndActivity{background-position:-182px 0px ; width: 16px ; height: 16px; }
.activity16-SendActivity{background-position:-208px 0px ; width: 16px ; height: 16px; }
.activity16-ReceiveActivity{background-position:-234px 0px ; width: 16px ; height: 16px; }
.activity16-UpdateEntityActivity{background-position:-260px 0px ; width: 16px ; height: 16px; }
.activity16-DeleteEntityActivity{background-position:-286px 0px ; width: 16px ; height: 16px; }
.activity16-ExpressionActivity{background-position:-312px 0px ; width: 16px ; height: 16px; }
.activity16-ScheduledTriggerActivity{background-position:-338px 0px ; width: 16px ; height: 16px; }
.activity16-JoinActivity{background-position:-364px 0px ; width: 16px ; height: 16px; }
.activity16-BusinessRuleActivity{background-position:-390px 0px ; width: 16px ; height: 16px; }
.activity16-StartWorkflowActivity{background-position:-416px 0px ; width: 16px ; height: 16px; }

.activity32 {
background-image: url("sph.wf.32.png");
    background-repeat: no-repeat;   
    list-style: none outside none;
}	
.activity32-CreateEntityActivity{background-position: 0px 0px; width: 32px; height: 32px; }
.activity32-NotificationActivity{background-position: 0px -42px; width: 32px; height: 32px; }
.activity32-ScreenActivity{background-position: 0px -84px; width: 32px; height: 32px; }
.activity32-DecisionActivity{background-position: 0px -126px; width: 32px; height: 32px; }
.activity32-ListenActivity{background-position: 0px -168px; width: 32px; height: 32px; }
.activity32-ParallelActivity{background-position: 0px -210px; width: 32px; height: 32px; }
.activity32-EndActivity{background-position: 0px -252px; width: 32px; height: 32px; }
.activity32-SendActivity{background-position: 0px -294px; width: 32px; height: 32px; }
.activity32-ReceiveActivity{background-position: 0px -336px; width: 32px; height: 32px; }
.activity32-DelayActivity{background-position: 0px -378px; width: 32px; height: 32px; }
.activity32-UpdateEntityActivity{background-position: 0px -420px; width: 32px; height: 32px; }
.activity32-DeleteEntityActivity{background-position: 0px -462px; width: 32px; height: 32px; }
.activity32-ExpressionActivity{background-position: 0px -504px; width: 32px; height: 32px; }
.activity32-ScheduledTriggerActivity{background-position: 0px -546px; width: 32px; height: 32px; }
.activity32-JoinActivity{background-position: 0px -588px; width: 32px; height: 32px; }
.activity32-BusinessRuleActivity{background-position: 0px -630px; width: 32px; height: 32px; }
.activity32-StartWorkflowActivity{background-position: 0px -672px; width: 32px; height: 32px; }

.activity64 {
background-image: url("sph.wf.64.png");
    background-repeat: no-repeat;   
    list-style: none outside none;
}	
.activity64-CreateEntityActivity{background-position:0px 0px ; width: 64px ; height: 64px; }
.activity64-NotificationActivity{background-position:-74px 0px ; width: 64px ; height: 64px; }
.activity64-ScreenActivity{background-position:-148px 0px ; width: 64px ; height: 64px; }
.activity64-DecisionActivity{background-position:-222px 0px ; width: 64px ; height: 64px; }
.activity64-ListenActivity{background-position:-296px 0px ; width: 64px ; height: 64px; }
.activity64-ParallelActivity{background-position:-370px 0px ; width: 64px ; height: 64px; }
.activity64-EndActivity{background-position:-444px 0px ; width: 64px ; height: 64px; }
.activity64-SendActivity{background-position:-518px 0px ; width: 64px ; height: 64px; }
.activity64-ReceiveActivity{background-position:-592px 0px ; width: 64px ; height: 64px; }
.activity64-DelayActivity{background-position:-666px 0px ; width: 64px ; height: 64px; }

