<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="Humanizer" version="1.7.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net451" />
  <package id="Spring.Core" version="2.0.0-M2" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
</packages>