@using System.Web.Mvc.Html
@using Bespoke.Sph.Web.Models

<form class="form-horizontal">

    <div class="row">
        <div class="col-lg-4">
            <div>
                <button class="btn btn-default pull-right" data-bind="click : addBusinessRule">Add</button>
            </div>
            <div>
                <ol data-bind="foreach :BusinessRuleCollection">
                    <li>
                        <a href="#" data-bind="click : $parent.editBusinessRule.call($parent,$data), text : Name"></a>
                        <a href="#" data-bind="click : $parent.removeBusinessRule.call($parent,$data)">&times;</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-lg-8" data-bind="with : selectedBusinessRule">
            <div class="form-group">
                <label for="Name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="Name" placeholder="Rule name...." data-bind="value:Name">
                </div>
            </div>
            <div class="form-group">
                <label for="Description" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="Description" placeholder="Description...." data-bind="value:Description">
                </div>
            </div>
            <div class="form-group">
                <label for="ErrorLocation" class="col-lg-2 control-label">Error Location</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="ErrorLocation" placeholder="ErrorLocation...." data-bind="value:ErrorLocation">
                </div>
            </div>
            
            <div class="form-group">
                <label for="br-message" class="col-lg-2 control-label">Message</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="br-message" placeholder="Message" data-bind="value:ErrorMessage">
                </div>
            </div>

            <h3>Rules</h3>
            <a class="btn btn-mini pull-right" data-bind="click: addRule">+ Rule</a>
            <table id="rules-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Left</th>
                        <th>Operator</th>
                        <th>Right</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: RuleCollection">
                    <tr>
                        <td>
                            @Html.Partial("_TriggerFieldDropDown", new TypeModel { Path = "Left" })
                        </td>
                        <td>
                            <select name="rule-operator" class="form-control" data-bind="value: Operator">
                                <option value="Eq">=</option>
                                <option value="Le">&lt;=</option>
                                <option value="Lt">&lt;</option>
                                <option value="Ge">&gt;=</option>
                                <option value="Gt">&gt;</option>
                                <option value="Substringof">Mengandungi</option>
                                <option value="StartsWith">Mula dengan</option>
                                <option value="EndsWith">Akhir</option>
                            </select>
                        </td>
                        <td>
                            @Html.Partial("_TriggerFieldDropDown", new TypeModel { Path = "Right" })
                        </td>
                        <td>
                            <a class="btn btn-mini" rel="nofollow" href="#" data-bind="click : $parent.removeRule.call($parent,$data)">-</a>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>



</form>
