<div>
    <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" />
    <div class="pull-right alert-success alert">
        <p>            Please wait....</p>
    </div>
</div>
