<section class="context-action-panel" data-bind="visible: isSelected">
    <button class="btn btn-link btn-context-action">
        <i class="icon-chevron-sign-right"></i>
    </button>

    <div class="context-action">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span>DataGrid Properties</span>
        </div>
        <table class="table table-striped">
            <colgroup>
                <col style="width: 100px"/>
                <col style="width: 100px"/>
                <col style="width: 30px"/>
                <col style="width: 100px"/>
            </colgroup>
            <thead>
                <tr>
                    <th>Expression</th>
                    <th>Header</th>
                    <th>Format</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: DataGridColumnCollection">
                <tr>
                    <td>
                        <select class="input-large" type="text" data-bind="kendoComboBox: Expression, options: $root.dataGridColumnOptions" >
                            
                        </select>
                    </td>
                    <td><input type="text" class="input-datagrid-header" data-bind="value: Header" /></td>
                    <td>
                        <select class="input-small" data-bind="value:Format">
                            <option></option>
                            <option value="{0:d}">Short DateTime</option>
                            <option value="{0:c}">Currency</option>
                            <option value="{0:F2}">Decimal</option>
                            <option value="Custom">Custome</option>
                        </select>
                    </td>
                    <td><a href="#" data-bind="click : $parent.removeColumn.call($parent,$data)"><i class="icon-remove"></i></a></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-link" data-bind="click : addColumn">+ Column</button>

        <a class="btn btn-link pull-right" data-bind="click: $root.removeReportItem">
            <i class="icon-remove"></i>
            Buang
        </a>


    </div>
</section>
