<section class="btn-group pull-right" data-bind="visible: isSelected">
    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
        <i class="icon-chevron-sign-right"></i>
    </button>

    <div class="dropdown-menu alert alert-info" style="padding: 10px">
       @*  <form class="form-horizontal">*@
      
            <a class="btn btn-link pull-right" data-bind="click: $root.removeReportItem">
                <i class="icon-remove"></i>
                Buang
            </a>

     @*   </form>*@

    </div>
</section>
