<section class="btn-group pull-right" data-bind="visible: isSelected">
    <button class="btn btn-link btn-context-action">
        <i class="icon-chevron-sign-right"></i>
    </button>
    <div class="context-action alert alert-info">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span>Line Chart Properties</span>
        </div>
        <div class="control-group">
            <label class="control-label">Title</label>
            <div class="controls">
                <input class="input-xlarge" data-bind="value: Title" id="line-chart" name="Title-linechart" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Label format</label>
            <div class="controls">
                <input data-bind="value: ValueLabelFormat" id="line-chart" name="ValueLabelFormat" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Field</label>
            <div class="controls">
                <input data-bind="value: HorizontalAxisField" type="text" name="HorizontalAxisField" />
            </div>
        </div>
        <a class="btn btn-link pull-right" data-bind="click: $root.removeReportItem">
            <i class="icon-remove"></i>
            Buang
        </a>
        @*   </form>*@
    </div>
</section>
