<section class="btn-group pull-right" data-bind="visible: isSelected">
    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
        <i class="icon-chevron-sign-right"></i>
    </button>
    <div class="dropdown-menu alert alert-info" style="padding: 10px">
        <div class="control-group">
            <label class="control-label">Title</label>
            <div class="controls">
                <input data-bind="value: Title" id="line-chart" name="Title-linechart" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Label format</label>
            <div class="controls">
                <input data-bind="value: ValueLabelFormat" id="line-chart" name="ValueLabelFormat" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Field</label>
            <div class="controls">
                <input data-bind="value: HorizontalAxisField" type="text" name="HorizontalAxisField" />
            </div>
        </div>
        <a class="btn btn-link pull-right" data-bind="click: $root.removeReportItem">
            <i class="icon-remove"></i>
            Buang
        </a>
        @*   </form>*@
    </div>
</section>
