@{
    Layout = null;
}
<h2>WWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</h2>

  <!--ko compose:'viewmodels/_reportdefinition.preview' -->
<!--/ko-->
<div data-bind="compose:'viewmodels/_reportdefinition.preview'">/*/*/*/*</div>

<h2>XXXXXXXXXXXXXXX</h2>