@model Bespoke.Sph.Commerspace.Web.ViewModels.ReportBuilderViewModel

@{
    Layout = null;
}

<h1>Report Builder</h1>
<div id="report-info" data-bind="with: reportDefinition">
    <h2 data-bind="text: Title"></h2>
    <span data-bind="text: Description"></span>
</div>

<div id="report-container">
    <div class="row">
        <div class="span4" id="layout-toolbox">
            <ul class="nav nav-tabs">
                <li>
                    <label>
                        <input type="radio" value="SingleColumns" name="layout">Single Column
                   <img src="~/Images/report-layout.1.png" />
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" value="TwoColumns" name="layout">2 Columns
                    <img src="~/Images/report-layout.2.png" /></label>
                </li>
            </ul>
        </div>

        <div class="span8" id="reportitems-toolbox">
            <ul data-bind="foreach: toolboxitems" class="nav nav-tabs">
                <li>
                    <a href="#">
                        <i data-bind="attr: { class: Icon }"></i>
                        <span data-bind="text: Name"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" data-bind="with: reportDefinition">
        <div id="report-designer" data-bind="foreach: ReportLayoutCollection">
            <div class="report-layout">
                <span data-bind="text: Name"></span>
                <div data-bind="foreach: ReportItemCollection">
                    @foreach (var t in Model.ReportItems)
                    {
                        @Html.DisplayFor(m => t)
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>

@Html.Partial("_ConfigurationPanel")