@model Bespoke.SphCommercialSpaces.Domain.LabelItem

<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.TextBox, domain.commercialspace" -->
<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement" class="control-group">
    @Html.Partial("_DesignerContextAction")
    <label data-bind="text: Label" class="control-label"></label>
    <div class="controls">
        <input type="text" data-bind="attr: { 'title': Tooltip, 'class': CssClass() + ' ' + Size() }" />

        <span data-bind="text: HelpText" class="help-inline"></span>
    </div>
</div>
<!--/ko-->
