@model Bespoke.Sph.Domain.Button

<div class="form-group">
    <label for="button-icon-class" class="control-label">Icon class</label>
    <br />
    <i data-bind="iconPicker: IconClass, attr:{'class':IconClass() + ' fa-2x' }" id="button-icon-class"></i>
   
</div>
<div class="form-group">

    <label>
        <input data-bind="checked: IsToolbarItem" id="button-toolbar-item" type="checkbox" name="IsToolbarItem" />
        Show on toolbar
    </label>

</div>

<!-- ko if : typeof $root.entity === "function" -->

<div class="form-group">
    <label for="form-element-button-command-name">Operation</label>
    <select class="form-control" data-bind="options :$root.operationsOption,
                            optionsCaption :'[Use command]',
                            value: Operation" id="form-design-operation" name="FormDesign.Button.Operation"></select>
</div>


<!-- /ko -->
<div class="form-group">
    <label for="form-design-operation-method">Method</label>
    <select class="form-control" data-bind="value: OperationMethod,enable:Operation" id="form-design-operation-method" name="FormDesign.OperationMethod">
        <option value="">[Please select]</option>
        <option value="post">POST</option>
        <option value="put">PUT</option>
        <option value="patch">PATCH</option>
    </select>
</div>
<div class="form-group">
    <label for="form-design-delete-operation">DELETE Operation</label>
    <select class="form-control" data-bind="options :$root.deleteOperationsOption,
                            optionsCaption :'[Select a DELETE operation]',
                            value: DeleteOperation" id="form-design-delete-operation" name="FormDesign.Operation"></select>
</div>
<div class="form-group">
    <label for="success-message">Success Message</label>
    <input type="text" data-bind="value: OperationSuccessMesage, enable:Operation"
           placeholder="The message to alert user when the operation return success"
           class="form-control" id="success-message">

</div>
<div class="form-group">
    <label for="success-url">Then navigate to</label>
    <input type="text" data-bind="value: OperationSuccessNavigateUrl, enable:Operation"
           placeholder="Once the alert is okayed then navigate to this url"
           class="form-control" id="success-url">
</div>
<div class="form-group">
    <label for="operation-success-callback">Success Callback</label>
    <textarea class="form-control" data-bind="value: OperationSuccessCallback, enable:Operation"
              placeholder="Execute custom code once the operation successfuly invoked"
              id="operation-success-callback" name="OperationSuccessCallback"></textarea>
    <a href="#" data-bind="click : editOperationSuccessCallback, disable:(ko.unwrap(OperationSuccessMesage) || ko.unwrap(OperationSuccessNavigateUrl))">Edit</a>
</div>
<div class="form-group">
    <label for="operation-failure-callback">Failuire Callback</label>
    <textarea class="form-control" data-bind="value: OperationFailureCallback, enable:Operation"
              placeholder="Execute custom code once the operation failed to be successfuly invoked"
              id="operation-failure-callback" name="OperationFailureCallback"></textarea>
    <a href="#" data-bind="click : editOperationFailureCallback">Edit</a>
</div>




<div class="form-group" data-bind="disable:Operation">
    <label for="form-element-button-command-name">Command Name</label>
    <input class="form-control" data-bind="value: CommandName,disable:Operation"
           placeholder="save is default command generated, edit the command script using the page editor"
           id="form-element-button-command-name" type="text" name="CommandName" />
</div>
<div class="form-group">
    <label>
        <input data-bind="checked: UseClick,disable:Operation" type="checkbox" name="UseClick" />
        Use click
    </label>
</div>

<div class="form-group">
    <label for="form-element-button-command">Command</label>
    <textarea class="form-control" data-bind="value: Command,disable:Operation"
              placeholder="Command needs to return a promise"
              id="form-element-button-command" name="Command"></textarea>
    <a href="#" data-bind="click : editCommand,disable:Operation">Edit</a>
</div>
