@model Bespoke.Sph.Domain.EntityLookupElement

<!--ko if: ko.unwrap($type) === "Bespoke.Sph.Domain.EntityLookupElement, domain.sph" -->
<div class="form-group">
    <label for="fe-ele-entity">Entity</label>
    <select class="form-control" data-bind="value: Entity,
                options : $root.entityOptions,
                optionsValue : 'value',
                optionsText : 'text',
                optionsCaption: '[Select Entity]'" id="fe-ele-entity" name="entity"></select>
</div>
<div class="form-group">
    <label for="fe-ele-vmp">Value Member Path</label>
    <input class="form-control" data-bind="value: ValueMemberPath,entityTypeaheadPath : Entity" id="fe-ele-vmp" type="text" name="ValueMemberPath" />
</div>
<div class="form-group">
    <label for="fe-ele-dmp">Display Member Path</label>
    <input class="form-control" data-bind="value: DisplayMemberPath,entityTypeaheadPath:Entity" id="fe-ele-dmp" type="text" name="DisplayMemberPath" />
</div>
<div class="form-group">
    <label for="fe-ele-dt">Display Template</label>
    <textarea class="form-control" data-bind="value: DisplayTemplate" id="fe-ele-dt" name="DispalyTemplate"></textarea>

    <a href="#" data-bind="click : editDisplayTemplate,disable:DisplayMemberPath()">Edit</a>
</div>
<div class="form-group">
    <label for="fe-ele-cols">Columns</label>
    <span data-bind="value: LookupColumnCollection" id="fe-ele-cols"></span>

    <a href="#" data-bind="click : editColumns">Edit</a>
</div>



<!--/ko-->
