@using Bespoke.Sph.Domain
@model Bespoke.Sph.Domain.ListView



<!--ko if:ko.unwrap($type) === "Bespoke.Sph.Domain.ListView, domain.sph" -->
<div class="form-group">
    <label for="form-element-list-view-type">Child item type</label>
    <select id="felv-entity" class="form-control" data-bind="value: ChildItemType,
                options : $root.collectionMemberOptions,
                optionsValue : 'value',
                optionsText : 'text',
                optionsCaption: '[Select Entity]'" name="entity"></select>
</div>

<div class="btn-group">
    <a data-bind="bootstrapDropDown : {}" class="btn btn-link dropdown" href="#">
        + ListView Column
        <span class="caret pull-right"></span>
    </a>
    <ul class="dropdown-menu">

        @{
            var fieldTypes = new[] {
                typeof(TextBox)
                , typeof(NumberTextBox)
                , typeof(CheckBox)
                , typeof(ComboBox)
                , typeof(DatePicker)
                , typeof(DateTimePicker)
                , typeof(FileUploadElement)
                , typeof(DownloadLink)
                , typeof(Button)
                , typeof(ImageElement)
            };
        }
        @foreach (var type in fieldTypes)
        {
            <li>
                <a class="btn btn-link" data-bind="click: addListViewColumn('@type.Name')" href="#">
                    <img src="@string.Format("/images/form.element.{0}.png",type.Name)" class="pull-left" />
                    + @type.Name
                </a>
            </li>
        }


    </ul>
</div>




<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Path</th>
            <th>Label</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: ListViewColumnCollection">
        <tr>
            <td>
                <img data-bind="attr : {'src':icon }" src="" alt="" />
            </td>
            <td>
                <input class="form-control" type="text" data-bind="value:Path" />
            </td>
            <td>
                <input class="form-control" type="text" data-bind="value:Label" />
            </td>
            <td>
                <a href="#" data-bind="click : $parent.removeListViewColumn.call($parent,$data)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<!--/ko-->
