@{
    ViewBag.Title = "Sistem Pengurusan Hartanah";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="carousel">
    <a class="prev"></a>
    <a class="next"></a>
    <div class="carousel-container">
        <h3>Sample Screenshots</h3>
        <div class="jCarouselLite">
            <ul class="carousel-list">
                <li>
                    <div class="img-border">
                        <a href="#">
                            <img src="~/Content/images/screen1.JPG" alt="" /></a>
                    </div>
                </li>
                <li>
                    <div class="img-border">
                        <a href="#">
                            <img src="~/Content/images/screen2.JPG" alt="" /></a>
                    </div>
                </li>
                <li>
                    <div class="img-border">
                        <a href="#">
                            <img src="~/Content/images/screen1.JPG" alt="" /></a>
                    </div>
                </li>
                <li>
                    <div class="img-border">
                        <a href="#">
                            <img src="~/Content/images/screen2.JPG" alt="" /></a>
                    </div>
                </li>
                <li>
                    <div class="img-border">
                        <a href="#">
                            <img src="~/Content/images/screen1.JPG" alt="" /></a>
                    </div>
                </li>
                <li>
                    <div class="img-border">
                        <a href="#">
                            <img src="~/Content/images/screen2.JPG" alt="" /></a>
                    </div>
                </li>
                <li>
                    <div class="img-border">
                        <a href="#">
                            <img src="~/Content/images/screen1.JPG" alt="" /></a>
                    </div>
                </li>
                <li>
                    <div class="img-border">
                        <a href="#">
                            <img src="~/Content/images/screen2.JPG" alt="" /></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="main-container">
        <div class="wrapper">
            <article class="main-container-box">
                <h3 class="prev-indent-bot">About SPH</h3>
                <h6 class="p1">SPH tagline</h6>
                <p class="img-indent-bot">Bla bla bla asdsadsad asdasdsadsad asdsadsadsad sadsadsad asdsadsadsad asdsadas</p>
                <a class="button" href="#"><span>read more</span></a>
            </article>
            <article class="main-container-box">
                <div class="indent-left">
                    <h3 class="p1">Features</h3>
                    <ul class="list-1">
                        <li><a href="#">Feature A</a></li>
                        <li><a href="#">Feature B</a></li>
                        <li><a href="#">Feature C</a></li>
                        <li><a href="#">Feature D</a></li>
                        <li><a href="#">Feature E</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>
@section head_script {
    <script type="text/javascript">
		$(document).ready(function() { 
			$('.carousel .jCarouselLite').jCarouselLite({ 
				btnNext: '.carousel .next',
				btnPrev: '.carousel .prev',
				speed: 600,
				easing: 'easeOutQuart',
				vertical: false,
				circular: false,
				visible: 4,
				start: 0,
				scroll: 1
			}); 
		}); 
	</script>
}