@using System.Web.Optimization
@using Newtonsoft.Json
@model Bespoke.Sph.Commerspace.Web.Controllers.PrintViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        <div>
            @foreach (var fe in Model.FormDesign.FormElementCollection)
            {
                @Html.DisplayFor(m => fe)
            }
        </div>
    </body>
    @Scripts.Render("~/scripts/vendor")
<script type="text/javascript">
    $(function () {
        var item = ko.mapping.fromJSON('@Html.Raw(JsonConvert.SerializeObject(Model.Item))');
        ko.applyBindings(item);


    });

</script>
</html>
