.complaint-check-panel {
  background: #0096e1;
  color: #fff;
  padding: 10px 20px;
  height: 100px;
  width: 80px;
}
.application-check-panel {
  background: #0096e1;
  color: #fff;
  padding: 10px 20px;
}
.box-label {
  font-size: x-large;
  font-weight: bolder;
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}
