.dataTables_filter {
  float: left;
  text-align: right;
}
.dataTables_length {
  float: none;
}
.dataTables_length select {
  width: 80px;
}
.dataTables_paginate {
  float: right;
  text-align: right;
}
