@model Bespoke.SphCommercialSpaces.Domain.MaintenanceTemplate
@{
    Layout = null;
    var i = 0;
}

<h1>@Model.FormDesign.Name</h1>
<span>@Model.FormDesign.Description</span>
<form id="maintenance-details" class="form-horizontal" data-bind="with: maintenance">
    @foreach (var fe in Model.FormDesign.FormElementCollection)
    {
        if (null != fe.CustomField)
        {
            fe.Path = "CustomFieldValueCollection()[" + i++ + "].Value";
        }
       
        @Html.EditorFor(m => fe)
        
    }
</form>
