@model Bespoke.Sph.Web.ViewModels.SphIndexViewModel
@using System.Web.Mvc.Html
@{
    Layout = null;
    var splash = Server.MapPath("~/_splash.html");
    var splashHtml = "";
    if (File.Exists(splash))
    {
        splashHtml = (File.ReadAllText(splash));
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Rx Developer | Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/Content/__css.bundle.dev.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>


<body class="page-md page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-sidebar-closed">
    @Html.Partial("_header")
    <div class="clearfix">
    </div>

    <div id="applicationHost" class="page-container">
        @(!string.IsNullOrWhiteSpace(splashHtml) ? Html.Raw(splashHtml) : Html.Partial("_splash"))

    </div>

 @Html.Partial("_scripts")

</body>
</html>
