@import 'variables.less';
@import '..\less\mixins.less';

@input-small-width: 80px;
@input-large-width: 120px;

#building-list-page {
}

.input-floor-no {
    width: @input-small-width;
}

.input-floor-name {
     width: @input-large-width;
}

.input-floor-size {
    width: @input-small-width;
}

#building-detail-page {
   

   
}
