@import 'variables.less';
@import '..\less\mixins.less';

@header-height: 35px;

header{
    height : @header-height;

    #drawer-menu{
        float:left;
    }

    

    div.nav-header{
        float:right;
    }

    div.nav-header>ul,div.nav-header>div{
        float:right;
    }
}