@model Bespoke.SphCommercialSpaces.Domain.TextBox

<div>
    <label class="control-label">@Model.Label</label>
    <div class="controls">
        <span data-bind="text: @Model.Path"></span>
    </div>
</div>