
<nav id="header-navbar" class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Code Editor</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <form class="navbar-form navbar-left" role="search">
            <button data-bind="click : save" class="btn btn-default"><i class="fa fa-save"></i>Save</button>
            <button data-bind="click : saveAndClose" class="btn btn-default"><i class="fa fa-arrow-circle-down"></i>Save &amp; Close</button>
            <button data-bind="click : copy" class="btn btn-default"><i class="fa fa-copy"></i>Copy               </button>
            <button data-bind="click : paste" class="btn btn-default"><i class="fa fa-paste"></i>Paste</button>
            <input data-bind="value : searchText" type="search" class="form-control" style="width: 100px" />
            <button data-bind="click : search" class="btn btn-default"><i class="fa fa-search"></i>Search</button>
            <button data-bind="click : logs" class="btn btn-default"><i class="fa fa-clock-o"></i>Logs</button>
            <div class="form-group">
                <label class="sr-only">Theme</label>
                <select style="width: 200px" class="form-control" id="theme">
                    <optgroup label="Light">
                        <option value="textmate">Textmate</option>
                        <option value="crimson_editor">Crimson</option>
                    </optgroup>
                    <optgroup label="Dark">
                        <option value="monokai">Monokai</option>
                        <option value="twilight">Twilight</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only">Font size</label>
                <select style="width: 100px" id="font-size" class="form-control">
                    @for (int i = 10; i < 21; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>

        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("Help")" data-target="#help" data-toggle="modal">Help</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Insert Snippets <b class="caret"></b></a>
                <ul class="dropdown-menu" id="snippets-list">
                    <!-- ko foreach : snippets -->

                    <li><a href="#" data-bind="text:title"></a></li>

                    <!-- /ko -->
                    <li class="divider"></li>
                    <li><a href="#" data-bind="click: openSnippetEditor">Snippets Editor</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->


    <form class="form-inline">
        <div class="form-group">
        </div>
    </form>
    <div class="modal fade" style="background-color: white" id="help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</nav>

