@model Bespoke.Sph.Web.ViewModels.FormRendererViewModel

@if (Model.Form.IsAuditTrailAvailable)
{
    <h3 data-i18n="Audit Trail">Audit Trail</h3>
        <!--ko compose: {model:'viewmodels/_audittrail.list', activationData:{id:$root.entity().Id(), entity : '@(Model.EntityDefinition.Name)'}} -->
        <!--/ko-->
}
