@{
    ViewBag.Title = "Contact";
}



<div class="row-fluid section" id="contact">
    <!-- MAP  -->
    
    <div class="container">
      <h2>Contact</h2>
      <p class="intro hidden-phone">Powered by Google Maps. Show the world where you work.</p>
    </div>
    
   
    <!-- /container -->
    
    </div> 




<div id="form">
    
      <div class="container">
    
        <div class="row">        
            <div class="span8" >
            <h3>Contact Form</h3>



             <form method="post" id="contact-form">
                               
            <fieldset>
            <div class="row"> 
                        <div class="holder span8"><div class="message"><div class="top"></div><div class="contents"><div id="alert"></div></div><div class="bottom"></div></div></div>
                        <div class="field span8"><input type="text" value="" class="input-text m-wrap m-ctrl-large" id="name" name="name" placeholder="Your Name"/></div>
                        <div class="field span8"><input type="text" value="" class="input-text m-wrap m-ctrl-large" id="email" name="email" placeholder="Your Email Address"/></div>
                        <div class="field span8"><input type="text" value="" class="input-text m-wrap m-ctrl-large" id="email-action-subject" name="subject" placeholder="Subject"/></div>
                        <div class="field span8"><textarea  class="input-textarea m-wrap m-ctrl-large" id="message" name="message" placeholder="Your Message" ></textarea></div>
                        <div class="field span8"><input type="submit" class="m-btn green" value="Submit" /></div></div>
                    </fieldset>
                    </form>
        
          </div>

          <div class="span4">
  
              <h3>Contact info</h3>

              <p>Bespoke Technology Sdn Bhd<br>
                Unit 226, Block A, Lobby 5<br>
                Damansara Intan<br>
                47400 Petaling Jaya, Selangor<br>
                Phone: (603) 7729 4424<br>
                Fax: (603) 7727 8359<br>
                Email: admin@bespoke.com.my<br>
                Web: www.bespoke.com.my</p>
            
          </div>
          
            
          
          
        </div>    
    
             
      </div> <!-- /container -->
    
    </div> <!-- /form  -->

