@{
    ViewBag.Title = "Faq";
}

<!-- Start About -->
        <div class="row-fluid section" id="blog">
          <div class="container"> 

            <div class="explain">

               <h2>FAQ</h2>
              <p class="intro">Overview of Sistem Pengurusan Hartanah</p>


              <div class="row-fluid">

              <div class="span9 blog_entry">
                
                
                <div class="member"><img src="~/Images/pic2.png" alt="" ></div>
                  <h2>What is SPH?</h2>                  
                  <div class="section">                 
                      <p>SPH is a comprehensive software application which coordinating the operational 
                          functions of front office, sales and planning in administering the property in 
                          their inventory such as buildings, commercial space, land ,hotel, rest house 
                          and lot more to be much more efficient and dynamic.</p>               
                  </div>
                  <hr/>
              <h2>What can I do with SPH?</h2>
                <div class="section">
                    <p>SPH provides automated functionality where local property managers 
                        and maintenance personnel can manage their day to day operations. 
                        Some of  the common features provided by SPH are:</p> 
                    <div><ul>
                        <li>Template Builder</li>
                        <li>Dashboard</li>
                        <li>Contract</li>
                        <li>Space Management</li>
                        <li>User Management</li>
                        <li>Map Location </li>
                        <li>Tenant</li>
                        <li>Deposit & Rental Payment</li>
                        <li>General Setting</li>
                        <li>Report</li>
                        <li>Complaint</li>
                        <li>Maintenance</li>
                         </ul>                 

                    </div>
                </div>
                  <hr/>
                  
                <h2>Why would i want to use SPH ?</h2>
                <div class="section">
                    <p>SPH is a software application designed specifically to assist you 
                       in ensuring the smooth operation of property management. 
                        This system also allow you to get any type of information 
                        anywhere such as property information, tracking property and 
                        management report while you are on the go. In the mean time, 
                        this software platform also has been build to be easily integrated 
                        with any other existing software in the market for example accounting system and etc.</p>                  
                </div>
                  <hr/>

                 <h2>Is PMS right for me ?</h2>
                <div class="section">
                    <p>PMS is a software application designed specifically to assist you in ensuring the smooth 
                        operation of property management. This system also allow you to get any type of information 
                        anywhere such as property information, tracking property and management report while you are on the go. 
                        In the mean time, this software platform also has been build to be easily integrated with any other 
                        existing software in the market for example accounting system and etc.</p>                  
                </div>
                  <hr/>
                  
                  <h2>What is required to use SPH ?</h2>
                <div class="section">
                    <p>SPH is a Web and a Cross-Browser application based which can be access using Firefox, Chrome, Safari and Internet Explorer 7 and above. </p>                  
                </div>
                  <hr/>
                  
                  <h2>Can anyone access my forms and reports ?</h2>
                <div class="section">
                    <p>PMS is a highly secured and a Role-Based Security system for the registered user.  Only dedicated user with given User Name and Password can access the system. </p>                  
                </div>
                  <hr/>
                  
                  <h2>Who are you guys ?</h2>
                <div class="section">
                    <p>Established in 2006, Bespoke Technology Sdn. Bhd. (Bespoke) provides a range of Information Technology (IT) services for clients in financial, healthcare and government sectors. We have successfully delivered numerous solutions for desktop, web and mobile platforms. PMS is a system built base on company experience developing Property Management System for our client, Property Management Division at Prime Ministers Department.</p>                  
                </div>
                  <hr/>

              </div>        

          </div> 
                
          </div>
        </div>
      </div>
