@{
    ViewBag.Title = "Features";

}


<div class="row-fluid section" id="blog">
    <div class="container">

<div class="sidenav">
   <div class="span3 bs-docs-sidebar">
       <ul class="nav nav-list bs-docs-sidenav affix ">
           <li class="nav-header">On this page</li> 
           <li class=""><a href="#template"> 1. Template</a></li>
           <li class=""><a href="#dashboard"> 2. Dashboard</a></li>
           <li class=""><a href="#contract"> 3. Contract</a></li>
           <li class=""><a href="#space management"> 4. Space Management</a></li>
           <li class=""><a href="#user management"> 5. User Management</a></li>
           <li class=""><a href="#map location"> 6. Map Location </a></li>
           <li class=""><a href="#tenant"> 7. Tenant</a></li>
           <li class=""><a href="#deposit-rental"> 8. Deposit & Rental Payment</a></li>
           <li class=""><a href="#report"> 9. Report</a></li>
           <li class=""><a href="#complaint"> 10. Complaint</a></li>
           <li class=""><a href="#maintenance"> 11. Maintenance</a></li>
       </ul>
   </div>   
    </div>    


        <div class="explain">
            <h2>Features</h2>
            <p class="intro">Built by developers. Sleek. Fast. Clean. Responsive. We make it easy for you.</p>
            <hr/>

            <div class="row-fluid">
                <div class="span4">
                    <h4 id="template">Application - Template, commercial space, building, complaint & maintenance</h4>
                    <p>Our Dynamic Template Builder provides the tools for anyone to easily drag and drop an amazing form in just a few short minutes. 
                        As a system Admin, we can help you collect data without writing a single line of code.</p>
                </div>
                <div class="span4"><div class="member"><img src="~/Images/maklumat_templat_bangunan.png" alt="" ></div></div>
            </div>
            <hr/>

            <div class="row-fluid"> 
                <div class="span3"><div class="member"><img src="~/Images/permohonan.png" alt="permohonan" ></div>                    
                </div>
                <div class="span3"><div class="member"><img src="~/Images/aduan.png" alt="aduan" ></div></div>
                <div class="span3">                    
                    <h4 id="dashboard">Dashboard – Appication / Complaint</h4>
                    <p>This features allow admin user to monitor any application and complaint submitted by the user at a glance. With the number shown in every task, the admin could easily view and do monitoring on the task involved.</p>
                </div> 
            </div>                                            
            <hr/>
                
            <div class="row-fluid">
                <div class="span4">
                    <h4 id="contract">Contract</h4>
                    <p>This functionality is to facilitate admin user by creating/provide the tenant a contract or agreement 
                        after . In the mean time, admin could 
                        create several types of new contract according to their needs or even do some changes to the existing contract.</p>
                </div>
                <div class="span4"><div class="member"><img src="~/Images/butiran_kontrak.png" alt="kontrak" ></div></div>
            </div></div>
        <hr/>
        
        <div class="row-fluid"> 
            <div class="span4"><div class="member"><img src="~/Images/bangunan_gunasama.png" alt="permohonan" ></div>                    
            </div>
            <div class="span4">                    
                <h4 id="space management">Space Management</h4>
                <p>Our Dynamic Space Management are built so that it could serve every type of property in the market. The benefit is admin could view all the listed property own by the property department or division that are appointed by the company or organisation to monitor their investment are always in good shape and profitable. Other than that, the admin could create new form by using our Dynamic Template Builder without even come out with any additional cost to hired a programmer.</p>
            </div> 
        </div>                                            
        <hr/>    
        
        <div class="row-fluid">
            <div class="span4">
                <h4 id="user management">User Management</h4>
                <p>The advantageous of the  system is that it has this feature which the admin  could set either a full access or limited access to some users to assure the authenticity and security of all data in the system are safe and secure.</p>
            </div>
            <div class="span4"><div class="member"><img src="~/Images/pengurusan_pengguna.png" alt="kontrak" ></div></div>
        </div>
        <hr/>
        
        <div class="row-fluid"> 
            <div class="span4"><div class="member"><img src="~/Images/peta_carian.png" alt="permohonan" ></div>                    
            </div>
            <div class="span4">                    
                <h4 id="map location">Map Location</h4>
                <p>Geographical Information System ( GIS ) is a mapping system that are use to locate property accurate and efficient. Every property that has been registered in the system, have this functionality where it could generate a map of a location that need to be visit, check or track.</p>
            </div> 
        </div>                                            
        <hr/>    

        <div class="row-fluid">
            <div class="span4">
                <h4 id="tenant">Tenant</h4>
                <p>All tenant that are register in the system will be listed in this module. All the data such as tenant information, payment history, and rebate could be view through here. This allow admin to monitor closely the tenant activity with the lot or unit that has been rent so that there should not be any breach of contract or agreement could occur.</p>
            </div>
            <div class="span4"><div class="member"><img src="~/Images/maklumat_penyewa.png" alt="kontrak" ></div></div>
        </div>
        <hr/>
        
        <div class="row-fluid"> 
            <div class="span4"><div class="member"><img src="~/Images/rekod_bayaran.png" alt="permohonan" ></div>                    
            </div>
            <div class="span4">                    
                <h4 id="deposit-rental">Deposit & Rental Payment</h4>
                <p>The system use Financial Process Xchange ( FPX ) which is a platform for online banking where payment can be made online and it would go directly to the admin account. Nevertheless, users still can make through the counter and once payment received, admin instantly will update the system.</p>
            </div> 
        </div>                                            
        <hr/>   
        
        <div class="row-fluid">
            <div class="span4">
                <h4 id="report">Report</h4>
                <p>A  powerful Report Builder are built  to help you create dynamic visualizations made up of your own graphs, charts and key metrics. Our Report Builder allows you to design your reports using 5 types of widgets (Graphs, Charts, Numbers, Text and Datagrids) that you can easily add, mix and match in your reports.</p>
            </div>
            <div class="span4"><div class="member"><img src="~/Images/report.png" alt="kontrak" ></div></div>
        </div>
        <hr/>
        
        <div class="row-fluid"> 
            <div class="span4"><div class="member"><img src="~/Images/borang aduan.png" alt="permohonan" ></div>                    
            </div>
            <div class="span4">                    
                <h4 id="complaint">Complaint</h4>
                <p>The flexible and ability of this feature give user an ease in handling all type of complaint lodged in day to day operation. This unsurpassed functionality is one of the requirement to keep a positive feedback and communication between the tenant and admin.</p>
            </div> 
        </div>                                            
        <hr/>  
         
        <div class="row-fluid">
            <div class="span4">
                <h4 id="maintenance">Maintenance</h4>
                <p>This feature allow admin to have a full monitoring on every task given despite the maintenance difficulty. The system enabled admin to validate and create work order and appointed a contractor or vendor registered in the system according to their specialty respectively. With the advanced reporting capability and rapid information update, give the admin the advantageous of keeping positive communication and feedback with the tenant.</p>
            </div>
            <div class="span4"><div class="member"><img src="~/Images/1.png" alt="kontrak" ></div></div>
        </div>
        <hr/>

    </div>
</div>
