@model dynamic

@{
    ViewBag.Title = "Rest Houeses (SPH)";
}
<div class="row-fluid section" id="blog">
    <div class="container">

        <div class="explain">
            <h2>Halls, sports courts etc short term booking</h2>
            <p class="intro">Built by developers. Sleek. Fast. Clean. Responsive. We make it easy for you.</p>
            <hr />

        </div>
    </div>
</div>