@{
    ViewBag.Title = "Home Page";
   
   }

<!-- Start About -->
<div class="row-fluid section" id="about">
    <div class="container">
        <div class="explain">
            <h2>SPH Property System</h2>
            <p class="intro">@ViewBag.Moto</p>
            <p class="explain">
               SPH is a dynamic web-based software, that can caters any type of properties in the market such as building, commercial space, promotion lot , office lot, quarters and etc. With SPH, everything are manageable and in order. SPH is completely customizable to fit your business. Our implementation professionals will work with you to ensure a perfect fit between your business and our solutions. We will teach you how to use our system to save time and maintain your property with more efficient.
            </p>
            <div class="row-fluid">
                <div class="span3 well">
                    <a href="#" class="member">
                        <img src="/Images/quarters.png" alt=""></a>
                    <h4>Quarters</h4>
                    <p>SPH is for corporates who manage townships & housing .... </p>
                    <p><a href="@Url.Action("Quarters", "Home")" class="m-btn blue btn-block">Read More</a></p>
                </div>
                <div class="span3 well">
                    <a href="#" class="member">
                        <img src="/Images/offices.png" alt=""></a>
                    <h4>Office</h4>
                    <p>The office space is a type of properties that most thriving .... </p>
                    <p><a href="@Url.Action("Office", "Home")" class="m-btn blue btn-block">Read More</a></p>
                </div>
                <div class="span3 well">
                    <a href="#" class="member">
                        <img src="/Images/courts.png" alt=""></a>
                    <h4>Ruang Komersial</h4>
                    <p>
                        SPH is a dynamic web-based software,thact can caters any ......
                    </p>
                    <p><a href="@Url.Action("RuangKomersil", "Home")" class="m-btn blue btn-block">Read More</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
