@{
    ViewBag.Title = "Home Page";
}

    <!-- Start About -->
    <div class="row-fluid section" id="about">
        <div class="container">

            <div class="explain">

                <h2>Portal Sistem Pengurusan Harta</h2>
                <p class="intro">Built by developers. Sleek. Fast. Clean. Responsive. We make it easy for you.</p>

                <div class="row-fluid">

                    <div class="span3">

                        <a href="#" class="member">
                            <img src="/Images/hotel.png" alt=""></a>
                        <h4>Rumah Peranginan</h4>
                        <p>Sph help hotels and resorts management to record all
                            related information including customer bookings, accommodation charges,
                            complaints,and feedback. </p>
                        <p><a href="@Url.Action("Rp","Home")" class="m-btn blue btn-block">Read More</a></p>
                    </div>

                    <div class="span3">

                        <a href="#" class="member">
                            <img src="/Images/quarters.png" alt=""></a>
                        <h4>Quarters</h4>
                        <p>Quarters are built for civil servants and have been developed specifically for quarters management, SPH guaranteed that
                            every submission will be processed smoothly according to workflow applied.</p>
                        <p><a href="#" class="m-btn blue btn-block">Read More</a></p>
                    </div>

                    <div class="span3">

                        <a href="#" class="member">
                            <img src="/Images/offices.png" alt=""></a>
                        <h4>Office</h4>
                        <p>The office space is a type of properties that most thriving in malaysia
                            , with SPH, office space can be managed in a more orderly regulation such as
                            rental application.</p>
                        <p><a href="#" class="m-btn blue btn-block">Read More</a></p>
                    </div>

                    <div class="span3">

                        <a href="#" class="member">
                            <img src="/Images/courts.png" alt=""></a>
                        <h4>Ruang Komersial</h4>
                        <p>SPH is a dynamic web-based software,that can caters any type of properties
                            in the market such as commercial space. With SPH, everything are manageable
                            and in order.</p>
                        <p><a href="#" class="m-btn blue btn-block">Read More</a></p>
                    </div>


                    <!-- <p>
                             <a class="btn btn-large actionbtn" href="#">Our Services</a>
            
                         </p> -->

                </div>

            </div>
        </div>
    </div>
