@{
    ViewBag.Title = "office";
}

<div class="row-fluid section" id="about">
          <div class="container"> 

            <div class="explain">

              <h2>Office</h2>
              <p class="intro">This is where you'd put a brief explanation of your portfolio item.</p>

              <!-- Start Team Members -->

              <div class="row-fluid">

              <div class="span8 pagination-centered">
                
                <img src="/Images/offices.png" alt="">
  
              </div>

              <div class="span4 pagination-centered">

                <p>The office space is a type of properties that most thriving in malaysia
                    , with SPH, office space can be managed in a more orderly regulation such as
                    rental application, maintainance, complaints, rental payments till
                    the contract expired.</p>

                <a href="@Url.Action("Quarters","Home")" class="m-btn blue">View Previous Item</a>
                <a href="@Url.Action("Rk","Home")" class="m-btn blue">View Next Item</a>

              </div>

             

              
         

          <!-- <p>
            <a class="btn btn-large actionbtn" href="#">Our Services</a>
            
          </p> -->

          </div> 
                
          </div>
        </div>
      </div>
