@{
    ViewBag.Title = "Pricing";
}


<div class="row-fluid section" id="blog">

    <div class="container">

        <h2>Pricing</h2>
            <p class="intro">@ViewBag.Moto</p>
            <hr/>


        <div class="row-fluid pricing-table pricing-three-column">
            <div class="span4 plan">
                <div class="plan-name-bronze">
                    <h2>Premium</h2>
                </div>
                <ul>
                    <li class="plan-feature">Not Applicable</li>
                    <li class="plan-feature">Free installation</li>
                    <li class="plan-feature">Unlimited user</li>
                    <li class="plan-feature">Phone support</li>
                    <li class="plan-feature">*NBD RM1200/day</li>
                    <li class="plan-feature">Training RM500/day</li>
                    <li class="plan-feature">Customisation Man day - 0 hours/year </li>
                    <li class="plan-feature">*PPM - 0 visit(s)</li>
                    <li class="plan-feature">Payment integration</li>
                </ul>
            </div>
            <div class="span4 plan">
                <div class="plan-name-gold">
                    <h2>Gold</h2>
                </div>
                <ul>
                    <li class="plan-feature">10k/month</li>
                    <li class="plan-feature">Free installation</li>
                    <li class="plan-feature">Unlimited user</li>
                    <li class="plan-feature">Remote & phone support</li>
                    <li class="plan-feature">*NBD RM500/day</li>
                    <li class="plan-feature">Training RM500/day</li>
                    <li class="plan-feature">Customisation Man day - 60 hours/year </li>
                    <li class="plan-feature">*PPM - 2 visit(s)</li>
                    <li class="plan-feature">Payment integration</li>
                </ul>
            </div>
            <div class="span4 plan">
                <div class="plan-name-silver">
                    <h2>Platinum</h2>
                </div>
                <ul>
                    <li class="plan-feature">15k/month</li>
                    <li class="plan-feature">Free installation</li>
                    <li class="plan-feature">Unlimited user</li>
                    <li class="plan-feature">Remote & phone support</li>
                    <li class="plan-feature">*Free NBD</li>
                    <li class="plan-feature">Free training</li>
                    <li class="plan-feature">Customisation Man day - 160 hours/year </li>
                    <li class="plan-feature">*PPM - 4 visit(s)</li>
                    <li class="plan-feature">Payment integration</li>
                </ul>
            </div>
            <fieldset>
            <div class="alert alert-info">
                <h3>Note</h3>
                <ul>
                    <li>*NBD - Next Business Day</li>
                    <li>*PPM - Plan Preventive Maintenance</li>
                </ul>
            </div>
                </fieldset>
        </div>
    </div>
</div>
