@{
    ViewBag.Title = "Pricing";
}


<div class="row-fluid section" id="blog">
    
    <div class="container">
      <h2>Pricing</h2>
            
      <div class="row-fluid pricing-table pricing-three-column">
        <div class="span4 plan">
          <div class="plan-name-bronze">
            <h2>Bronze</h2>
            <span>RM20K</span>
          </div>
          <ul>
            <li class="plan-feature">2 licensed user*</li>
              <li class="plan-feature">up to 1 building**</li>
              <li class="plan-feature">6 month warranty</li>
              <li class="plan-feature">free online support</li>
              <li class="plan-feature">RM500 / person</li>
              <li class="plan-feature">NBD support***</li>
            <li class="plan-feature"><a href="#" class="btn btn-primary btn-plan-select"><i class="icon-white icon-ok"></i> Select</a></li>
          </ul>
        </div>
        <div class="span4 plan">
          <div class="plan-name-silver">
            <h2>Silver</h2>
            <span>RM30K</span>
          </div>
          <ul>
            <li class="plan-feature">4 licensed user*</li>
              <li class="plan-feature">up to 5 building**</li>
              <li class="plan-feature">12 month warranty</li>
              <li class="plan-feature">free online support</li>
              <li class="plan-feature">free training</li>
              <li class="plan-feature">NBD support***</li>
            <li class="plan-feature"><a href="#" class="btn btn-primary btn-plan-select"><i class="icon-white icon-ok"></i> Select</a></li>
          </ul>
        </div>
          <div class="span4 plan">
              <div class="plan-name-gold">
                  <h2>Gold</h2>
                  <span>60K</span>
              </div>
              <ul>
                  <li class="plan-feature">6 licensed user*</li>
                  <li class="plan-feature">Unlimited building</li>
                  <li class="plan-feature">12 month warranty</li>
                  <li class="plan-feature">free online support</li>
                  <li class="plan-feature">free training</li>
                  <li class="plan-feature">NBD support***</li>
                  <li class="plan-feature"><a href="#" class="btn btn-primary btn-plan-select"><i class="icon-white icon-ok"></i> Select</a></li>
              </ul>
          </div>

           <div>          
               <h3>Note</h3>                      
          <ul>
              <li>  Additional licensed user will be charge RM1000 / user</li>
              <li>**Additional building will be charge RM5000 / building </li>
              <li>***Next Business Day ( NBD ) support will be charge RM800 / day</li>
              <li> free support in klang valley only.</li>           
          </ul>
      </div>
      </div></div></div>