@{
    ViewBag.Title = "Quarters";
}

<div class="row-fluid section" id="about">
    <div class="container">

        <div class="explain">

            <h2>Quarters</h2>
           <p class="intro">@ViewBag.Moto</p>

            <!-- Start Team Members -->
            <div class="row-fluid">
                <div class="span5 well">
                    <h4>Info</h4>
                    <p>SPH is for corporates who manage townships & housing colonies for their employees. 
                        The product is an online system that helps the corporates effectively manage applications 
                        for residential houses (Quarters), allotment of quarters, maintenance of quarters and 
                        provides a host of reports and value added features to the system users (administrators and employees).</p>
                    <br/>
                </div>
                <div class="span5 well">
                    <h4>Features</h4>
                    <ul>
                        <li>Flexible forms/template creation</li>
                        <li>Flexible reports builder creation</li>
                        <li>Flexible contract creation</li>
                        <li>Flexible multi-level and multiple approvals</li>
                        <li>Flexible contracts</li>
                        <li>Integration with Google Maps</li>
                        <li>Possibility to upload quarter(s) pictures</li>
                        <li>Analytical reports and charts</li>
                    </ul>
                </div>
                <div class="span8 well">
                    <a href="#" class="member">
                        <img src="/Images/bangunan_gunasama.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>

﻿@model dynamic

@{
    ViewBag.Title = "Rest Houeses (SPH)";
}

