@{
    ViewBag.Title = "Quarters";
}

<div class="row-fluid section" id="about">
          <div class="container"> 

            <div class="explain">

              <h2>Quarters</h2>
              <p class="intro">SPH allows management to maintain quarters effectively.</p>

              <!-- Start Team Members -->

              <div class="row-fluid">

              <div class="span8 pagination-centered">
                
                <img src="/Images/quarters.png" alt="">
  
              </div>

              <div class="span4 pagination-centered">

                <p>Quarters are built for civil servants and with a systematic SPH that
                    have been developed specifically for quarters management, SPH guaranteed that
                    every submission will be processed smoothly according to workflow applied.</p>

               <a href="@Url.Action("Office","Home")" class="m-btn blue">View Next Item</a>

              </div>

             

              
         

          <!-- <p>
            <a class="btn btn-large actionbtn" href="#">Our Services</a>
            
          </p> -->

          </div> 
                
          </div>
        </div>
      </div>
