@{
    ViewBag.Title = "Rp";
}


        <div class="row-fluid section" id="about">
          <div class="container"> 

            <div class="explain">

              <h2>Rumah Peranginan</h2>
              <p class="intro">This is where you'd put a brief explanation of your portfolio item.</p>

              <!-- Start Team Members -->

              <div class="row-fluid">

              <div class="span8 pagination-centered">
                
                <img src="http://placehold.it/1024x768" alt="">
  
              </div>

              <div class="span4 pagination-centered">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus nisi ut metus venenatis ut cursus erat faucibus. In ac nisl in odio hendrerit vulputate. Quisque sed enim tortor, sed tincidunt ante. Praesent sodales neque congue tellus accumsan varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ut libero ut est sodales tristique. Sed ut sodales risus. Vivamus est felis, faucibus quis hendrerit quis, aliquet ac libero. Suspendisse potenti. Aliquam erat volutpat. Pellentesque vel arcu in mi semper vulputate. Integer volutpat imperdiet mi, ac gravida sem euismod ac. Nullam pulvinar ante eu turpis accumsan facilisis vitae tempus massa.</p>

                <a href="portfolio.html" class="m-btn blue">Back to Portfolio</a>
                <a href="portfolio_example.html" class="m-btn blue">View Next Item</a>

              </div>

             

              
         

          <!-- <p>
            <a class="btn btn-large actionbtn" href="#">Our Services</a>
            
          </p> -->

          </div> 
                
          </div>
        </div>
      </div>