@{
    ViewBag.Title = "Rp";
}


        <div class="row-fluid section" id="about">
          <div class="container"> 

            <div class="explain">

              <h2>Rumah Peranginan</h2>
              <p class="intro">SPH allows you to keep track of hotel/resort guests.</p>

              <!-- Start Team Members -->

              <div class="row-fluid">

              <div class="span8 pagination-centered">
                
                <img src="/Images/hotel.png" alt="">
  
              </div>

              <div class="span4 pagination-centered">

                  <p>Sph help hotels and resorts management to record all
                    related information including customer bookings, accommodation charges,
                    complaints,and feedback. In addition SPH have the capabilities allowing
                    management supervise each process occured with more efficient.</p>

                
                <a href="@Url.Action("Quarters","Home")" class="m-btn blue">View Next Item</a>

              </div>

             

              
         

          <!-- <p>
            <a class="btn btn-large actionbtn" href="#">Our Services</a>
            
          </p> -->

          </div> 
                
          </div>
        </div>
      </div>