#slider-menu {
  width: 260px;
  background-color: #1e1e1e;
  margin-top: -40px;
}
#slider-menu .nav > li {
  padding: 5px;
  margin-left: 5px;
  margin-top: 2px;
}
#slider-menu .nav > li > a {
  margin-right: 5px;
  color: #fff;
}
#slider-menu .nav > li > a:hover {
  margin-right: 5px;
  color: #fff;
  background-color: #252526;
}
#slider-menu .nav > li > a > i {
  margin-right: 5px;
}
