@import 'variables.less';

#slider-menu
{
    width: 260px;
    background-color: #1e1e1e;
    margin-top: -40px;

    .nav > li
    {
        padding: 5px;
        margin-left: 5px;
        margin-top: 2px;
    }

        .nav > li > a
        {
            margin-right: 5px;
            color: #fff;
        }

            .nav > li > a:hover
            {
                margin-right: 5px;
                color: #fff;
                background-color: #252526;
            }

            .nav > li > a > i
            {
                margin-right: 5px;
            }
}
