<header class="navbar navbar-static-top " id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button style="color: black;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">Code Editor</a>
        </div>
        <nav id="header-navbar" class="collapse navbar-collapse" role="navigation" style="background-color: white">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a data-bind="click : save"><i class="fa fa-save"></i>Save</a>
                </li>
                <li>
                    <a data-bind="click : saveAndClose"><i class="fa fa-arrow-circle-down"></i>Save &amp; Close</a>
                </li>
                @*<li>
                    <a data-bind="click : copy"><i class="fa fa-copy"></i>Copy</a>
                </li>
                <li>
                    <a data-bind="click : paste"><i class="fa fa-paste"></i>Paste</a>
                </li>*@
                <li><a href="@Url.Action("Help")" target="_blank">Help</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Snippets <b class="caret"></b></a>
                    <ul class="dropdown-menu" id="snippets-list">
                        <!-- ko foreach : snippets -->
                        <li><span data-bind="text:title, attr :{title : note}"></span></li>
                        <!-- /ko -->
                    </ul>
                </li>
            </ul>



        </nav>

    </div>
</header>