@using System.Configuration
@using System.Web.Mvc.Html
@model dynamic

@{
    Layout = null;
    var theme = ConfigurationManager.AppSettings["sph:AceTheme"] ?? "crimson_editor";
    var fontSize = ConfigurationManager.AppSettings["sph:AceFontSize"] ?? "18";
    var mode = Model.Mode;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Editor</title>
    <link href="/Content/external/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/external/font-awesome.min.css" rel="stylesheet" />
    <style type="text/css" media="screen">
        body {
            overflow: hidden;
        }

        #editor {
            margin: 0;
            margin-top: 50px;
            position: absolute;
            top: 0;
            bottom: 20px;
            left: 0;
            right: 0;
            font-size: @(fontSize)px;
        }
    </style>
</head>
<body>
    @Html.Partial("_Toolbar")
    <pre id="editor">
// PLEASE WAIT WHILE YOUR SCRIPT IS LOADING
</pre>
    @Html.Partial("_VendorScripts")
    <script type="text/javascript">

        var bespoke = bespoke || {};
        bespoke.sph = bespoke.sph || {};
        bespoke.sph.domain = bespoke.sph.domain || {};


        require.config({
            baseUrl: "/SphApp",
            waitSeconds: 15,
            paths: {
                'durandal': '/Scripts/durandal',
                'plugins': '/Scripts/durandal/plugins'
            }
        });
    </script>

    <script type="text/javascript">

        require([], function (context, app) {
            ace.require("ace/ext/language_tools");
            var editor = ace.edit("editor");
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: false
            });
            editor.setTheme("ace/theme/@theme");

            editor.getSession().setMode("ace/mode/@mode");
            editor.gotoLine(1);

            editor.commands.addCommand({
                name: 'GotoLine',
                bindKey: { win: 'Ctrl-G', mac: 'Command-G' },
                exec: function () {
                    require(['viewmodels/ace.goto.line'], function (dialog) {
                        app.showModal(dialog)
                            .done(function (result) {
                                if (result === "OK") {
                                    editor.gotoLine(dialog.line());
                                }
                            });
                    });
                },
                readOnly: true
            });

            var isBusy = ko.observable(),
                save = function () {

                    var data = JSON.stringify({
                        file: '@Model.File',
                        code: editor.getValue()
                    });
                    isBusy(true);

                    return $.ajax({
                        type: "POST",
                        data: data,
                        url: "/sph/editor/save",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function(){
                            alert("error");
                        },
                        success: function(){
                            isBusy(false);
                        }
                    });

                },
                saveAndClose = function () {

                    save().done(function () {
                        window.close();
                    });

                },
                copiedText = "",
                copy = function () {
                  copiedText =  editor.getCopyText();
                },
                paste = function () {
                    editor.getSession().insert(copiedText);
                },
                search = function () {

                },
                open = function () {

                },
                gotoLine = function (number) {

                },
                vm = {
                    paste: paste,
                    searchText: ko.observable(),
                    open: open,
                    copy: copy,
                    save: save,
                    search: search,
                    saveAndClose: saveAndClose,
                    gotoLine: gotoLine,
                    snippets: ko.observableArray(),
                    logs: ko.observableArray(),
                    openSnippetEditor: function () {
                        require(['viewmodels/snippets.dialog'], function (dialog) {
                            app.showModal(dialog)
                                .done(function () {

                                });
                            setTimeout(function () {
                                $('div.modal-backdrop').remove();
                            }, 500);
                        });
                    }

                };
            ko.applyBindings(vm, document.getElementById('header-navbar'));



            $('#theme').change(function () {
                editor.setTheme("ace/theme/" + $(this).val());
                $.post('/Editor/SaveSetting', { 'ace-theme': $(this).val() });
            });
            $('#font-size').change(function () {
                $('#editor').css("font-size", $(this).val() + "px");
                $.post('/Editor/SaveSetting', { 'ace-font-size': $(this).val() });
            });
            $('#snippets-list').on('click', 'a', function () {
                var snp = ko.dataFor(this);
                editor.insert(snp.code);
            });

            // let it run
            $.get('/sph/editor/code?id=@Model.File').done(function (text) {
                editor.setValue(text);
                editor.gotoLine(1);

            });
            editor.gotoLine(1);

            $.get('/sph/editor/snippets/@mode').done(function (snippets) {
                vm.snippets(snippets);

                var snippetManager = ace.require("ace/snippets").snippetManager;

                ace.config.loadModule("ace/snippets/@mode", function (m) {
                    if (m) {
                        snippetManager.files.javascript = m;
                        m.snippets = snippetManager.parseSnippetFile(m.snippetText);

                        _(snippets).each(function (v) {
                            m.snippets.push({
                                content: v.code,
                                name: v.title,
                                tabTrigger: v.title
                            });
                        });

                        snippetManager.register(m.snippets, m.scope);
                    }
                });

            });





        });
    </script>

</body>
</html>
