<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
			<section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
	<connectionStrings>
		<add name="sph" connectionString="data source=(localdb)\Projects;initial catalog=sph;integrated security=True;MultipleActiveResultSets=True;App=station.web" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Roslyn.Compilers.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Roslyn.Compilers" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\temp\sphEmail"/>
			</smtp>
		</mailSettings>
	</system.net>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<typeAliases>
			<alias name="Building" type="Bespoke.Sph.Domain.Building, domain.sph"/>
			<alias name="Contract" type="Bespoke.Sph.Domain.Contract, domain.sph"/>
			<alias name="ContractTemplate" type="Bespoke.Sph.Domain.ContractTemplate, domain.sph"/>
			<alias name="Space" type="Bespoke.Sph.Domain.Space, domain.sph"/>
			<alias name="Complaint" type="Bespoke.Sph.Domain.Complaint, domain.sph"/>
			<alias name="ComplaintTemplate" type="Bespoke.Sph.Domain.ComplaintTemplate, domain.sph"/>
			<alias name="Deposit" type="Bespoke.Sph.Domain.Deposit, domain.sph"/>
			<alias name="Designation" type="Bespoke.Sph.Domain.Designation, domain.sph"/>
			<alias name="Invoice" type="Bespoke.Sph.Domain.Invoice, domain.sph"/>
			<alias name="Inventory" type="Bespoke.Sph.Domain.Inventory, domain.sph"/>
			<alias name="Maintenance" type="Bespoke.Sph.Domain.Maintenance, domain.sph"/>
			<alias name="Page" type="Bespoke.Sph.Domain.Page, domain.sph"/>
			<alias name="Payment" type="Bespoke.Sph.Domain.Payment, domain.sph"/>
			<alias name="Rebate" type="Bespoke.Sph.Domain.Rebate, domain.sph"/>
			<alias name="RentalApplication" type="Bespoke.Sph.Domain.RentalApplication, domain.sph"/>
			<alias name="Rent" type="Bespoke.Sph.Domain.Rent, domain.sph"/>
			<alias name="SpatialStore" type="Bespoke.Sph.Domain.SpatialStore, domain.sph"/>
			<alias name="Setting" type="Bespoke.Sph.Domain.Setting, domain.sph"/>
			<alias name="Tenant" type="Bespoke.Sph.Domain.Tenant, domain.sph"/>
			<alias name="Trigger" type="Bespoke.Sph.Domain.Trigger, domain.sph"/>
			<alias name="UserProfile" type="Bespoke.Sph.Domain.UserProfile, domain.sph"/>
			<alias name="Watcher" type="Bespoke.Sph.Domain.Watcher, domain.sph"/>
			<alias name="Workflow" type="Bespoke.Sph.Domain.Workflow, domain.sph"/>
			<alias name="WorkflowDefinition" type="Bespoke.Sph.Domain.WorkflowDefinition, domain.sph"/>
		</typeAliases>
		<objects>
			<object name="IPersistence" type="Bespoke.Sph.SqlRepository.SqlPersistence, sql.repository">
				<constructor-arg name="connectionString" value="data source=(localdb)\Projects;initial catalog=Sph;integrated security=True;MultipleActiveResultSets=True;Application Name=sph.cs.web"/>
			</object>
			<object name="IBrokerConnection" type="Bespoke.Sph.RabbitMqPublisher.DefaultBrokerConnection, rabbitmq.changepublisher, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
				<property name="Port" value="5672"/>
				<property name="Password" value="guest"/>
				<property name="Username" value="guest"/>
				<property name="Host" value="localhost"/>
				<property name="VirtualHost" value="sph.0009"/>
			</object>

			<object name="IEntityChangePublisher" type="Bespoke.Sph.RabbitMqPublisher.ChangePublisherClient,rabbitmq.changepublisher">
				<constructor-arg name="connection" ref="IBrokerConnection"/>
			</object>

			<object name="IEntityChangedListener&lt;Building&gt;" type="Bespoke.Sph.RabbitMqPublisher.EntityChangedListener&lt;Building&gt;,rabbitmq.changepublisher">
				<constructor-arg name="connection" ref="IBrokerConnection"/>
			</object>
			<object name="IEntityChangedListener&lt;Space&gt;" type="Bespoke.Sph.RabbitMqPublisher.EntityChangedListener&lt;Space&gt;,rabbitmq.changepublisher">
				<constructor-arg name="connection" ref="IBrokerConnection"/>
			</object>
			<object name="IEntityChangedListener&lt;Complaint&gt;" type="Bespoke.Sph.RabbitMqPublisher.EntityChangedListener&lt;Complaint&gt;,rabbitmq.changepublisher">
				<constructor-arg name="connection" ref="IBrokerConnection"/>
			</object>
			<object name="IEntityChangedListener&lt;Contract&gt;" type="Bespoke.Sph.RabbitMqPublisher.EntityChangedListener&lt;Contract&gt;,rabbitmq.changepublisher">
				<constructor-arg name="connection" ref="IBrokerConnection"/>
			</object>
			<object name="IEntityChangedListener&lt;Maintenance&gt;" type="Bespoke.Sph.RabbitMqPublisher.EntityChangedListener&lt;Maintenance&gt;,rabbitmq.changepublisher">
				<constructor-arg name="connection" ref="IBrokerConnection"/>
			</object>
			<object name="IEntityChangedListener&lt;RentalApplication&gt;" type="Bespoke.Sph.RabbitMqPublisher.EntityChangedListener&lt;RentalApplication&gt;,rabbitmq.changepublisher">
				<constructor-arg name="connection" ref="IBrokerConnection"/>
			</object>
			<object name="ITemplateEngine" type="Bespoke.Sph.Templating.RazorEngine, razor.template"/>
			<object name="IScriptEngine" type="Bespoke.Sph.RoslynScriptEngines.RoslynScriptEngine , roslyn.scriptengine"/>
			<object name="IBinaryStore" type="Bespoke.Sph.SqlRepository.SqlBinaryStore, sql.repository"/>
			<object name="ISpatialService&lt;SpatialStore&gt;" type="Bespoke.Sph.SqlRepository.SqlSpatial&lt;SpatialStore&gt;, sql.repository"/>
			<object name="ISpatialService&lt;Building&gt;" type="Bespoke.Sph.SqlRepository.SqlSpatial&lt;Building&gt;, sql.repository"/>
			<object name="IRepository&lt;Building&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Building&gt;, sql.repository"/>
			<object name="IRepository&lt;Contract&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Contract&gt;, sql.repository"/>
			<object name="IRepository&lt;ContractTemplate&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;ContractTemplate&gt;, sql.repository"/>
			<object name="IRepository&lt;Space&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Space&gt;, sql.repository"/>
			<object name="IRepository&lt;ComplaintTemplate&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;ComplaintTemplate&gt;, sql.repository"/>
			<object name="IRepository&lt;Complaint&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Complaint&gt;, sql.repository"/>
			<object name="IRepository&lt;Deposit&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Deposit&gt;, sql.repository"/>
			<object name="IRepository&lt;Designation&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Designation&gt;, sql.repository"/>
			<object name="IRepository&lt;Invoice&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Invoice&gt;, sql.repository"/>
			<object name="IRepository&lt;Inventory&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Inventory&gt;, sql.repository"/>
			<object name="IRepository&lt;Maintenance&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Maintenance&gt;, sql.repository"/>
			<object name="IRepository&lt;Page&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Page&gt;, sql.repository"/>
			<object name="IRepository&lt;Payment&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Payment&gt;, sql.repository"/>
			<object name="IRepository&lt;Rent&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Rent&gt;, sql.repository"/>
			<object name="IRepository&lt;Rebate&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Rebate&gt;, sql.repository"/>
			<object name="IRepository&lt;RentalApplication&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;RentalApplication&gt;, sql.repository"/>
			<object name="IRepository&lt;SpatialStore&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;SpatialStore&gt;, sql.repository"/>
			<object name="IRepository&lt;Setting&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Setting&gt;, sql.repository"/>
			<object name="IRepository&lt;Tenant&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Tenant&gt;, sql.repository"/>
			<object name="IRepository&lt;Trigger&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Trigger&gt;, sql.repository"/>
			<object name="IRepository&lt;UserProfile&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;UserProfile&gt;, sql.repository"/>
			<object name="IRepository&lt;Watcher&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Watcher&gt;, sql.repository"/>
			<object name="IRepository&lt;Workflow&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Workflow&gt;, sql.repository"/>
			<object name="IRepository&lt;WorkflowDefinition&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;WorkflowDefinition&gt;, sql.repository"/>
			<object name="QueryProvider" type="Bespoke.Sph.SqlRepository.SqlQueryProvider, sql.repository"/>
			<object name="IPagingTranslator" type="Bespoke.Sph.SqlRepository.Sql2008PagingTranslator, sql.repository"/>
			<object name="IDirectoryService" type="Bespoke.Sph.SubscribersInfrastructure.ActiveDirectory,subscriber.infrastructure"/>
			<object name="ISqlServerMetadata" type="Bespoke.Sph.SqlRepository.SqlServer2012Metadata, sql.repository"/>


		</objects>
	</spring>
</configuration>
