@model Bespoke.SphCommercialSpaces.Domain.BarChartItem

<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.BarChartItem, domain.commercialspace" -->
<div  class="report-item" data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectedReportItem" class="control-group">
    @Html.Partial("_DesignerContextAction")
    LABELBarChartItem
</div>
<!--/ko-->
