@model Bespoke.SphCommercialSpaces.Domain.DataGridItem

<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.DataGridItem, domain.commercialspace" -->
<div class="report-item" data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectedReportItem" class="control-group">
    @Html.Partial("_DataGridDesignerContextAction")
    <table class="table table-striped">
        <thead>
            <tr data-bind="foreach: ReportColumnCollection">
                <th data-bind="text: Header"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-bind="foreach: ReportColumnCollection">
                <td></td>
            </tr>
            <tr data-bind="foreach: ReportColumnCollection">
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<!--/ko-->
