@model Bespoke.SphCommercialSpaces.Domain.LabelItem

<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.LabelItem, domain.commercialspace" -->
<div class="report-item" data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectedReportItem" class="control-group">
    @Html.Partial("_LabelDesignerContextAction")
    <div data-bind="html: Html"></div>
</div>
<!--/ko-->
