@model Bespoke.SphCommercialSpaces.Domain.LineChartItem

<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.LineChartItem, domain.commercialspace" -->
<div  class="report-item" data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectedReportItem" class="control-group">
    @Html.Partial("_DesignerContextAction")
    LineChartItem
</div>
<!--/ko-->
