<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="sph:BaseUrl" value="http://localhost:4436" />
    <add key="sph:BaseDirectory" value="c:\project\work\sph" />
    <add key="sph:ApplicationName" value="Dev" />
    <add key="sph:ApplicationFullName" value="SPH Platform Showcase" />
  </appSettings>
  <connectionStrings>
    <add name="Sph" connectionString="data source=(localdb)\Projects;initial catalog=sph;integrated security=True;MultipleActiveResultSets=True;App=station.web" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\sphEmail" />
      </smtp>
    </mailSettings>

  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.web>

    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="SphRoleProvider">
      <providers>
        <clear />
        <add applicationName="sph" connectionStringName="sph" name="SphRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </providers>
    </roleManager>

    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" connectionStringName="sph" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="4" applicationName="sph" />
      </providers>
    </membership>
  </system.web>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <typeAliases>
      <alias name="Page" type="Bespoke.Sph.Domain.Page, domain.sph" />
      <alias name="SpatialStore" type="Bespoke.Sph.Domain.SpatialStore, domain.sph" />
      <alias name="Setting" type="Bespoke.Sph.Domain.Setting, domain.sph" />
      <alias name="Trigger" type="Bespoke.Sph.Domain.Trigger, domain.sph" />
      <alias name="UserProfile" type="Bespoke.Sph.Domain.UserProfile, domain.sph" />
      <alias name="Watcher" type="Bespoke.Sph.Domain.Watcher, domain.sph" />
      <alias name="Tracker" type="Bespoke.Sph.Domain.Tracker, domain.sph" />
      <alias name="Workflow" type="Bespoke.Sph.Domain.Workflow, domain.sph" />
      <alias name="WorkflowDefinition" type="Bespoke.Sph.Domain.WorkflowDefinition, domain.sph" />
    </typeAliases>
    <objects>
      <object name="IPersistence" type="Bespoke.Sph.SqlRepository.SqlPersistence, sql.repository">
        <constructor-arg name="connectionString" value="data source=(localdb)\Projects;initial catalog=Sph;integrated security=True;MultipleActiveResultSets=True;Application Name=sph.cs.web" />
      </object>
      <object name="IBrokerConnection" type="Bespoke.Sph.RabbitMqPublisher.DefaultBrokerConnection, rabbitmq.changepublisher, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <property name="Port" value="5672" />
        <property name="Password" value="guest" />
        <property name="UserName" value="guest" />
        <property name="Host" value="localhost" />
        <property name="VirtualHost" value="Dev" />
      </object>

      <object name="IEntityChangePublisher" type="Bespoke.Sph.RabbitMqPublisher.ChangePublisherClient,rabbitmq.changepublisher">
        <constructor-arg name="connection" ref="IBrokerConnection" />
      </object>

      <object name="ITaskScheduler" type="Bespoke.Sph.WindowsTaskScheduler.TaskScheduler , windows.taskschedulers">
        <constructor-arg name="executable" value="C:\project\work\sph\source\scheduler\scheduler.delayactivity\bin\Debug\scheduler.delayactivity.exe" />
      </object>

      <object name="ITemplateEngine" type="Bespoke.Sph.Templating.RazorEngine, razor.template" />
      <object name="IScriptEngine" type="Bespoke.Sph.RoslynScriptEngines.RoslynScriptEngine , roslyn.scriptengine" />
      <object name="IBinaryStore" type="Bespoke.Sph.SqlRepository.SqlBinaryStore, sql.repository" />
      <object name="ISpatialService&lt;SpatialStore&gt;" type="Bespoke.Sph.SqlRepository.SqlSpatial&lt;SpatialStore&gt;, sql.repository" />
      <object name="IRepository&lt;Page&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Page&gt;, sql.repository" />
      <object name="IRepository&lt;SpatialStore&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;SpatialStore&gt;, sql.repository" />
      <object name="IRepository&lt;Setting&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Setting&gt;, sql.repository" />
      <object name="IRepository&lt;Tracker&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Tracker&gt;, sql.repository">
        <constructor-arg name="useJson" value="true" />
      </object>
      <object name="IRepository&lt;Trigger&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Trigger&gt;, sql.repository" />
      <object name="IRepository&lt;UserProfile&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;UserProfile&gt;, sql.repository" />
      <object name="IRepository&lt;Watcher&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Watcher&gt;, sql.repository" />
      <object name="IRepository&lt;Workflow&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Workflow&gt;, sql.repository">
        <constructor-arg name="useJson" value="true" />
      </object>
      <object name="IRepository&lt;WorkflowDefinition&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;WorkflowDefinition&gt;, sql.repository" />
      <object name="QueryProvider" type="Bespoke.Sph.SqlRepository.SqlQueryProvider, sql.repository" />
      <object name="IPagingTranslator" type="Bespoke.Sph.SqlRepository.Sql2008PagingTranslator, sql.repository" />
      <object name="IDirectoryService" type="Bespoke.Sph.DirectoryServices.AspNetDirectoryService, sqlmembership.directoryservices" />
      <object name="INotificationService" type="Bespoke.Sph.EmailServiceNotification.EmailService, email.service" />
      <object name="ISqlServerMetadata" type="Bespoke.Sph.SqlRepository.SqlServer2012Metadata, sql.repository" />


    </objects>
  </spring>
</configuration>