<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="StationEntityModelContainer" connectionString="metadata=res://*/StationEntityModel.csdl|res://*/StationEntityModel.ssdl|res://*/StationEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\katmai;initial catalog=i90009000;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>