<form class="form-horizontal">
    <div class="form-group">
        <label for="rdl-title" class="control-label col-sm-3">Title</label>
        <div class="col-sm-8">
            <input class="form-control" data-bind="value: Title" id="rdl-title" type="text" name="Title" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="cat" class="control-label col-sm-3">Category</label>
        <div class="col-sm-8">
            <input class="form-control" data-bind="value: Category" id="cat" type="text" name="Category" />
        </div>
    </div>
    <div class="form-group">
        <label for="rdl-description" class="control-label col-sm-3">Description</label>
        <div class="col-sm-8">
            <textarea class="form-control" data-bind="value: Description" id="rdl-description" name="Description"></textarea>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <label class="checkbox">
                <input data-bind="checked: IsActive" id="rdl-isactive" type="checkbox" name="IsActive" />
                Is Active
            </label>
        </div>
    </div>
    
    
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <label class="checkbox">
                <input data-bind="checked: IsPrivate" id="rdl-isprivate" type="checkbox" name="IsPrivate" />
                Private
            </label>
        </div>
    </div>
    

</form>
