<form class="form-horizontal" data-bind="with: DataSource">
    <div class="form-group">
        <label for="data-source-entity" class="col-lg-2">Entity</label>
        <div class="col-lg-9">
            <select class="form-control" data-bind="value: EntityName, options: $root.entities, optionsCaption : '[Select Entity]'" id="data-source-entity" name="Entity"></select>
        </div>
    </div>
    <div class="form-group">
    </div>
    <table class="table table-striped" data-bind="scroll : 5">
        <thead>
            <tr>
                <th>Field</th>
                <th>Operator</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: ReportFilterCollection">
            <tr>
                <td>
                    <select class="input-datasource-fieldname form-control" data-bind="value: FieldName, options: $root.filterableEntityColumns, optionsText: 'Name', optionsValue: 'Name'"></select>
                </td>
                <td>
                    <select data-bind="value: Operator" class="input-datasource-operator form-control">
                        <option value="Eq">=</option>
                        <option value="Neq">!=</option>
                        <option value="Le">&lt;=</option>
                        <option value="Lt">&lt;</option>
                        <option value="Ge">&gt;=</option>
                        <option value="Gt">&gt;</option>
                        <option value="Substringof">Contains</option>
                        <option value="StartsWith">Starts with</option>
                        <option value="EndsWith">Ends with</option>
                        <option value="NotContains">Not Substringof</option>
                        <option value="NotStartsWith">Not StartsWith</option>
                        <option value="NotEndsWith">Not EndsWith</option>

                    </select>
                </td>
                <td>
                    <input class="input-datasource-value form-control" type="text" data-bind="value: Value" />
                </td>
                <td>
                    <a href="#" data-bind="click: $root.removeFilter"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn-link btn" href="#" data-bind="click: $root.addFilter">
        <i class="fa fa-plus-circle"></i>
        Add a query filter
    </a>
    <div class="form-group">
        <label for="data-source-query" class="control-label">Query</label>
        <div class="controls">
            <textarea placeholder="Write your custom SQL query" class="form-control" rows="8" data-bind="value: Query" id="data-source-query" name="Query"></textarea>
        </div>
    </div>
</form>

