<form class="form-horizontal" data-bind="with: DataSource">
    <div class="form-group">
        <label for="data-source-entity" class="control-label">Entity</label>
        <div class="controls">
            <select class="form-control" data-bind="value: EntityName, options: $root.entities, optionsCaption : '[Select Entity]'" id="data-source-entity" name="Entity">
            </select>
        </div>
    </div>
    <div class="form-group">
    </div>
    <a class="btn-link pull-right btn" href="#" data-bind="click: $root.addFilter">+ Filter</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Field</th>
                <th>Operator</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: ReportFilterCollection">
            <tr>
                <td>
                    <select class="input-datasource-fieldname form-control" data-bind="value: FieldName, options: $root.filterableEntityColumns, optionsText: 'Name', optionsValue: 'Name'"></select>
                </td>
                <td>
                    <select data-bind="value: Operator" class="input-datasource-operator form-control">
                        <option value="Eq">=</option>
                        <option value="Le">&lt;=</option>
                        <option value="Lt">&lt;</option>
                        <option value="Ge">&gt;=</option>
                        <option value="Gt">&gt;</option>
                        <option value="Substringof">Mengandungi</option>
                        <option value="StartsWith">Mula dengan</option>
                        <option value="EndsWith">Akhir</option>
                    </select>
                </td>
                <td>
                    <input class="input-datasource-value form-control" type="text" data-bind="value: Value" />
                </td>
                <td>
                    <a href="#" data-bind="click: $root.removeFilter">Buang</a>
                </td>
            </tr>
        </tbody>
    </table>
      <div class="form-group">
        <label for="data-source-query" class="control-label">Query</label>
        <div class="controls">
            <textarea class="form-control" rows="8" data-bind="value: Query" id="data-source-query" name="Query"></textarea>
        </div>
    </div>
</form>

