<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sph:BaseUrl" value="http://localhost:4436"/>
    <add key="sph:BaseDirectory" value="c:\project\work\sph"/>
    <add key="sph:EnableOfflineForm" value="true"/>
    <add key="sph:ApplicationName" value="DevV1"/>
    <add key="sph:ApplicationFullName" value="SPH Platform showcase"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="server=(localdb)\Projects;database=his;trusted_connection=yes;" name="His"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
