@model Bespoke.Sph.Domain.ComplaintTemplate

@{
    Layout = null;
}

<div id="complaint-assignment-page">
   <h3>Maklumat @Model.FormDesign.Name</h3>
   <form class="form-horizontal" data-bind="with: complaint">
        @Html.Partial("_TenantDetails")

        @foreach (var fe in Model.FormDesign.FormElementCollection)
        {
            @Html.DisplayFor(m => fe)

        }
    </form>
    <h3>Maklumat Penyenggaraan</h3>
    <form class="form-horizontal" data-bind="with: maintenance">
         <div class="control-group">
            <label for="CreatedDate" class="control-label">Tarikh Dihantar</label>
            <div class="controls">
                <span data-bind="date:{value: CreatedDate,format:'DD/MM/YYYY'}" id="CreatedDate"/>
            </div>
        </div> 
        <div class="control-group">
            <label for="Department" class="control-label">Jabatan</label>
            <div class="controls">
                <span data-bind="text: Department" id="Department"/>
            </div>
        </div> 
        <div class="control-group">
            <label for="Status" class="control-label">Status</label>
            <div class="controls">
                <span data-bind="text: Status" id="Status"/>
            </div>
        </div> 
        <div class="control-group">
            <label for="Resolution" class="control-label">Resolusi</label>
            <div class="controls">
                <span data-bind="text: Resolution" id="Resolution"/>
            </div>
        </div>
    </form>
</div>
