@{
    Layout = null;
}
<div id="header-navbar" class="navbar">
    <div class="navbar-inner">

        <img src="/Images/sph_48x48.png" class="pull-left" alt="Logo" />
        @if (User.Identity.IsAuthenticated)
        {
            <button class="btn" id="drawer-menu" title="Open menu">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
        }
        <!-- Site name for smallar screens -->
        <a href="/#/@ViewBag.StartModule" class="logo">Sistem Pengurusan Harta</a>

        <!-- Navigation starts -->
        <div class="nav-header">

            @if (User.Identity.IsAuthenticated)
            {
                <!-- Links -->
                <div class="btn-group">
                    <button id="user-profile-split-button" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                        <img src="/Images/user_24_white.png" alt="">
                        @User.Identity.Name
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/#/user.profile"><i class="fa fa-user"></i>Profile</a></li>
                        <li><a href="/#/user.setting"><i class="fa fa-cogs"></i>Settings</a></li>
                        <li><a href="@Url.Action("Logoff", "Account")"><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </div>
                <!-- Notifications -->
                <ul class="nav navbar-nav">



                    <!-- ko compose : 'viewmodels/messages' -->
                    <!-- /ko -->
                    <!-- ko compose : 'viewmodels/search' -->
                    <!-- /ko -->


                </ul>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li><a id="log-in" href="@Url.Action("Login", "Account")" class="login-label"><i class="fa fa-signin"></i>  Log Masuk </a></li>
                </ul>
            }

        </div>
    </div>
</div>
