@model Bespoke.Sph.Domain.DateTimePicker
<div class="form-group" data-bind="visible:@Html.Raw(Model.Visible)">
    <label class="col-md-4">@Model.Label</label>
    <span class="col-md-8" data-bind="date:{value : @Model.Path, format : 'DD/MM/YYYY HH:mm'}"></span>
</div>