@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/App/durandal/amd/require.js"></script>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/_constants.js"></script>
    <script src="~/Scripts/_function.prototypes.js"></script>
    <script src="~/Scripts/_task.js"></script>
    <script src="~/Scripts/qunit-1.12.0.js"></script>
    <script src="~/App/schemas/sph.domain.g.js"></script>
    <link href="~/Content/qunit-1.12.0.css" rel="stylesheet" />
    <script type="text/javascript">

        require.config({
            baseUrl: "/App",
            waitSeconds: 15
        });
    </script>
    @RenderSection("head", required: false)
</head>
<body>

    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>
