@model dynamic

<section class="modal fade" id="document-panel-modal" data-bind="with: $root.documentField">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Dokumen</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="doc-field-name" class="control-label">Nama</label>
                        <div class="controls">
                            <input class="form-control" placeholder="field's name" data-bind="value: Name" id="doc-field-name" type="text" name="doc-field-name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="doc-field-note" class="control-label">Nota</label>
                        <div class="controls">
                            <input class="form-control" placeholder="note" data-bind="value: Note" id="doc-field-note" type="text" name="doc-field-note" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="doc-field-path" class="control-label">Path</label>
                        <div class="controls">
                            <input class="form-control" placeholder="Path to the property" id="doc-field-path" name="doc-field-path" data-bind="pathAutoComplete: {value: Path, type : $root.trigger().Entity}" class="input-xxlarge" />
                            <span class="btn-block">You can use Path.Subpath convention</span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: $root.saveField" />
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</section>
