#add-on-tab form {
  font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  width: 500px;
  height: 500px;
}
#available-space-list > div {
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
  min-height: 200px;
  background-color: #e6e6d5;
}
#available-space-list > div .list-article {
  /*background-color: #e6e6d5;*/
background: #feffe8; /* Old browsers */
background: -moz-linear-gradient(top,  #feffe8 100%, #d6dbbf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#feffe8), color-stop(100%,#d6dbbf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffe8 100%,#d6dbbf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffe8 100%,#d6dbbf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffe8 100%,#d6dbbf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffe8 100%,#d6dbbf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */

}
#available-space-list > div article > div > div > span {
  font-weight: bold;
  font-size: 2em;
}
#available-space-list > div form > a.btn {
  float: right;
  clear: both;
  margin-top: 15px;
  margin-bottom: 15px;
}
#available-space-list > div h3 {
  color: white;
}
#available-space-list > div a {
  color: white;
}
#available-space-list > div:nth-child(odd) {
  background-color: #fcfce3;
}
div.space-image-panel {
  float: right;
  margin-top: 10px;
  height: 100px;
  width: 150px;
}
span.feature-category {
  font-weight: bold;
  font-size: 14px;
}
div.feature-item {
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid gray;
}
div.feature-item span.feature-isrequired {
  float: left;
  font-weight: bold;
  display: none;
}
div.feature-item div.btn-add-feature {
  float: right;
}
div.feature-item p.feature-description {
  margin: 10px;
  padding: 5px;
  font-style: italic;
}
div.feature-item span.feature-charge {
  float: right;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: green;
  clear: both;
}
div.feature-item span.feature-name {
  font-size: 14px;
}
div.feature-item select.input-feature-available-quantity {
  float: right;
  width: 50px;
}
div.filter-panel {
  background-color: #F8F8F8;
  color: #000;
}
div.filter-panel div > div {
  margin: 10px;
}
div.filter-panel h3 {
  font-size: 1.2em;
  background-color: #fff;
  margin-top: 0px;
}
div.filter-panel form.form-horizontal div.control-group > label.control-label {
  width: 30px;
}
div.filter-panel form.form-horizontal div.controls {
  margin-left: 40px;
}
div.filter-panel span {
  color: #000;
}
div.filter-panel button {
  float: right;
  margin: 10px;
}
.list-header {
  height: 45px;
background: #73880a; /* Old browsers */
background: -moz-linear-gradient(top,  #73880a 0%, #73880a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73880a), color-stop(100%,#73880a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #73880a 0%,#73880a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #73880a 0%,#73880a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #73880a 0%,#73880a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #73880a 0%,#73880a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73880a', endColorstr='#73880a',GradientType=0 ); /* IE6-9 */

}
.list-header .category {
  font-weight: bolder;
  font-size: 1.5em;
   font-family: "Segoe UI Light", Verdana, Helvetica, Sans-Serif;
  padding: 10px;
  float: left;
  width: 300px;
  color: #ffffff;
}
.list-info {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0px solid #79bbff;
  height: 150px;
  width: 600px;
  margin: 0px;
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: medium;
  font-weight: bold;
  padding-left: 10px;
}
.list-info .info-text {
  margin: 20px;
}
.list-footer {
  height: 30px;
  font-family: "Segoe UI Light", Verdana, Helvetica, Sans-Serif;
  font-size: large;
  font-weight: bolder;
  color: #ffffff;
  padding-left: 10px;
  margin-top: 1px;
  padding: 6px;
  background: #627d4d; /* Old browsers */
background: -moz-linear-gradient(top,  #627d4d 0%, #1f3b08 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627d4d), color-stop(100%,#1f3b08)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* IE10+ */
background: linear-gradient(to bottom,  #627d4d 0%,#1f3b08 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */

}
.list-footer .prices {
  font-family: "Segoe UI Light", Verdana, Helvetica, Sans-Serif;
  font-size: large;
  font-weight: bolder;
    float: right;
}
.detail-button {
  background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  float: right;
  clear: both;
  margin-top: -35px;
  margin-right: 10px;
  padding-left: 27px;
}
.detail-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1', GradientType=0);
  background-color: #0061a7;
}
.detail-button:active {
  position: relative;
  top: 1px;
}
.building-name {
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: medium;
  font-weight: bold;
  margin: 0px;
}
.space-detail-tab {
  border-bottom: 1px solid #877878;
}
div > div h4 {
  font-size: 16px;
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-weight: bold;
  color: black;
}
div > div h5 {
  font-size: 15px;
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-weight: bold;
  color: green;
  border-bottom: 1px solid #877878;
}
.label-am {
  font-size: 15px;
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  color: gray;
  font-weight: 700;
}
