#add-on-tab form {
  font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  width: 500px;
  height: 500px;
}
#available-space-list > div {
  padding: 10px;
  background-color: #0096e1;
  margin: 10px;
  margin-bottom: 15px;
  color: white;
}
#available-space-list > div article > div > span {
  font-weight: bold;
  font-size: 2em;
}
#available-space-list > div form > a.btn {
  float: right;
  clear: both;
  margin-top: 10px;
  margin-bottom: 5px;
}
#available-space-list > div h3 {
  color: white;
}
#available-space-list > div a {
  color: white;
}
#available-space-list > div .category {
  font-style: oblique;
}
#available-space-list > div:nth-child(odd) {
  background-color: #78b500;
}
div.space-image-panel {
  float: right;
}
div.space-search-panel {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin: 5px;
}
div.space-search-panel button {
  position: relative;
  right: 10px;
  bottom: 5px;
  float: right;
}
div.space-search-panel:last-child {
  position: absolute;
}
span.feature-category {
  font-weight: bold;
  font-size: 14px;
}
div.feature-item {
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid gray;
}
div.feature-item span.feature-isrequired {
  float: left;
  font-weight: bold;
  display: none;
}
div.feature-item div.btn-add-feature {
  float: right;
}
div.feature-item p.feature-description {
  margin: 10px;
  padding: 5px;
  font-style: italic;
}
div.feature-item span.feature-charge {
  float: right;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: green;
  clear: both;
}
div.feature-item span.feature-name {
  font-size: 14px;
}
div.feature-item select.input-feature-available-quantity {
  float: right;
  width: 50px;
}
