
<div class="row">
    <div class="span3">
        <a href="http://www.bespoke.com.my/">©@(DateTime.Today.Year) Bespoke Technology Sdn. Bhd.</a>
    </div>
    <div class="span1">
        <a href="#">Terms</a>
    </div>
    <div class="span2">
        <a href="#">Privacy & Cookies</a>
    </div>
    <div class="span2 offset2">
        <a href="#" class="pull-right">Help center</a>
    </div>
    <div class="span2">
        <a href="#">Feedback</a>
    </div>
</div>