@{
    ViewBag.Title = "Change Password";
}
<h1>@ViewBag.Title.</h1>




<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>





<p>
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>


<form class="form-horizontal">
    <div class="control-group">
        <label for="OldPassword" class="control-label">Kata Laluan Asal</label>
        <div class="controls">
            <input data-bind="value: OldPassword" id="OldPassword-" type="password" name="OldPassword" />
        </div>
    </div>

    <div class="control-group">
        <label for="NewPassword" class="control-label">Kata laluan baru</label>
        <div class="controls">
            <input data-bind="value: NewPassword" id="NewPassword" type="password" name="NewPassword" />
        </div>
    </div>

    <div class="control-group">
        <label for="ConfirmPassword" class="control-label">Pastikan Katalaluan anda</label>
        <div class="controls">
            <input data-bind="value: ConfirmPassword" id="ConfirmPassword" type="password" name="ConfirmPassword" />
        </div>
    </div>

</form>



