@model ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}
<h1>@ViewBag.Title.</h1>




<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

  
    <div class="header-box">


        <p>
            New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
        </p>

        <div class="header-section">
            <h3>Change Password Form</h3>
        </div>

        <div class="labelLeft">
            
        </div>
        <div class="labelLeft">
            
        </div>
        <div class="labelLeft">
     
        </div>


    </div>
    <div class="submitpanel">
        <input type="submit" class="k-button" value="Change password" />
    </div>
}
