@model Bespoke.Sph.Commerspace.Web.Controllers.LoginModel
@{
    ViewBag.Title = "Log in";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm((string)ViewBag.FormAction, "Account"))
{
 
        
                
<body class="login_body">
    <div class="wrap">
        <h2>Daftar Masuk Pengguna</h2>
        <form action="#" autocomplete="off" method="post" class="validate" novalidate="novalidate">
            <div class="login">
                <div class="email">
                    <label class="controls">Nama Pengguna </label>
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="pw">
                    <label class="controls">Kata Laluan </label>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="remember">
                    <label class="checkbox">
	                <input type="checkbox" value="1" name="remember"> Remember me on this computer
                </label>
                </div>      
            </div>
            <div class="pull-right">
                <input type="submit" class="btn btn-primary" value="Daftar Masuk" />
            </div>
        </form>	
    </div>
</body>
                
                
            
    
}