@model Bespoke.Sph.Domain.BuildingFloorsElement

<!--ko if:$data['$type']() === "Bespoke.Sph.Domain.BuildingFloorsElement, domain.sph" -->
    <div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
       @Html.Partial("_DesignerContextAction")
     <input type="button" name="add-floor-button" class="btn pull-right" data-bind2="click: $parent.addFloorCommand" value="+ Floor" />
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind2="foreach: FloorCollection">
                <tr>
                    <td>
                        <input class="input-small" type="text" data-bind2="value: Number, uniqueName: true" value="G" /></td>

                    <td>
                        <input class="input-large" type="text" data-bind2="value: Name, uniqueName: true"  value="Ground Floor"/></td>
                    <td>
                        <input type="text" data-bind2="value: Size, uniqueName: true" value="5000" /></td>
                    <td>
                        <input type="button" data-bind2="click: $root.removeFloorCommand, uniqueName: true" class="btn btn-mini" value="-" /></td>
                    <td>
                        <input type="button" data-bind2="click: $root.addLotCommand, enable: $root.building().BuildingId() > 0 && Name, uniqueName: true" class="btn btn-mini" value="+Lot" /></td>
                    <td>
                        <input type="button" data-bind2="click: $root.viewFloorPlanCommand, enable: $root.building().BuildingId() > 0 && Name, uniqueName: true" class="btn btn-mini" value="Pelan Lantai" /></td>
                </tr>    
                 <tr>
                    <td>
                        <input class="input-small" type="text" data-bind2="value: Number, uniqueName: true" value="1" /></td>

                    <td>
                        <input class="input-large" type="text" data-bind2="value: Name, uniqueName: true" value="Level 1" /></td>
                    <td>
                        <input type="text" data-bind2="value: Size, uniqueName: true" value="5000" /></td>
                    <td>
                        <input type="button" data-bind2="click: $root.removeFloorCommand, uniqueName: true" class="btn btn-mini" value="-" /></td>
                    <td>
                        <input type="button" data-bind2="click: $root.addLotCommand, enable: $root.building().BuildingId() > 0 && Name, uniqueName: true" class="btn btn-mini" value="+Lot" /></td>
                    <td>
                        <input type="button" data-bind2="click: $root.viewFloorPlanCommand, enable: $root.building().BuildingId() > 0 && Name, uniqueName: true" class="btn btn-mini" value="Pelan Lantai" /></td>
                </tr>
            </tbody>
        </table>
    </div>
<!--/ko-->
