@model Bespoke.Sph.Domain.ComplaintCategoryElement
<!--ko if:$data['$type']() === "Bespoke.Sph.Domain.ComplaintCategoryElement, domain.sph" -->
<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
    @Html.Partial("_DesignerContextAction")
    <label data-bind="text: Label" class="control-label"></label>
    <div class="controls">
        <select data-bind="attr: { 'class': CssClass() + ' ' + Size(), 'title': Tooltip }"></select>

        <label data-bind="text: SubCategoryLabel"></label>
        <select data-bind="attr: { 'class': CssClass() + ' ' + Size(), 'title': Tooltip }"></select>
    </div>
</div>
<!--/ko-->