@model Bespoke.Sph.Domain.RentalApplicationContactElement

<!--ko if:$data['$type']() === "Bespoke.Sph.Domain.RentalApplicationContactElement, domain.sph" -->

<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
      @Html.Partial("_DesignerContextAction")
  <div>
      <div class="form-group">
          <label for="Contact.Name" class="control-label col-lg-2">Nama</label>
          <div class="col-lg-4">
              <input class="form-control" id="Contact.Name" type="text" name="Name" />
          </div>
      </div>
      <div class="form-group">
         <label for="Contact.IcNo" class="control-label col-lg-2">No. Pengenalan</label>
         <div class="col-lg-4">
             <input class="form-control" id="Contact.IcNo" type="text" name="IcNo" />
         </div>
     </div>
      <div class="form-group">
          <label for="Contact.OfficeNo" class="control-label col-lg-2">No. Telefon (Pejabat)</label>
          <div class="col-lg-4">
              <input class="form-control" id="Contact.OfficeNo" type="text" name="OfficeNo" />
          </div>
      </div>
      <div class="form-group">
          <label for="Contact.MobileNo" class="control-label col-lg-2">No. Telefon (Bimbit)</label>
          <div class="col-lg-4">
              <input class="form-control" id="Contact.MobileNo" type="text" name="MobileNo" />
          </div>
      </div>
      <div class="form-group">
          <label for="Contact.Email" class="control-label col-lg-2">Emel</label>
          <div class="col-lg-4">
              <input class="form-control" id="Contact.Email" type="text" name="Email" />
          </div>
      </div>
  </div>
</div>
<!--/ko-->
