<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DataServiceUrl" value="http://localhost.fiddler:58553" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="StationDataContext" providerName="System.Data.SqlClient" connectionString="data source=.\KATMAI,50125; Integrated Security=SSPI; Initial catalog=StationMinyak" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Roslyn.Compilers.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Roslyn.Compilers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <typeAliases>
      <alias name="Ride" type="Bespoke.Cycling.Domain.Ride, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="Registration" type="Bespoke.Cycling.Domain.Registration, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="GeoLocation" type="Bespoke.Cycling.Domain.GeoLocation, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="BinaryStore" type="Bespoke.Cycling.Domain.BinaryStore, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="ClubRide" type="Bespoke.Cycling.Domain.ClubRide, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="Club" type="Bespoke.Cycling.Domain.Club, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="Invoice" type="Bespoke.Cycling.Domain.Invoice, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="Payment" type="Bespoke.Cycling.Domain.Payment, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="RidePermission" type="Bespoke.Cycling.Domain.RidePermission, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="Route" type="Bespoke.Cycling.Domain.Route, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="Setting" type="Bespoke.Cycling.Domain.Setting, cycling.domain, Version=1.0.0.0, Culture=neutral" />
      <alias name="SiteMember" type="Bespoke.Cycling.Domain.SiteMember, cycling.domain, Version=1.0.0.0, Culture=neutral" />
    </typeAliases>
    <objects>
      <object name="IPersistence" type="Bespoke.Cycling.OdataRepository.OdataPersistence, odata.repository">
        <constructor-arg name="url" value="http://localhost.fiddler:58553/Repository/Save" />
      </object>
      <!--<object name="IWeatherService" type="Bespoke.Cycling.SqlRepository.SqlWeatherService, sql.repository"/>
			<object name="ISpatialService" type="Bespoke.Cycling.SqlRepository.SqlSpatialService, sql.repository"/>
			<object name="ILocationService" type="Bespoke.Cycling.SqlRepository.SqlLocationService, sql.repository"/>
			<object name="IPersistence" type="Bespoke.Cycling.SqlRepository.SqlPersistence, sql.repository"/>-->
      <object name="IEntityChangePublisher" type="Bespoke.Cycling.RabbitMqPublisher.ChangePublisherClient, rabbitmq.changepublisher, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <property name="Port" value="5672" />
        <property name="Password" value="guest" />
        <property name="Username" value="guest" />
        <property name="Host" value="localhost" />
        <property name="VirtualHost" value="cycling" />
        <property name="Exchange" value="cycling.ms.changes" />
      </object>
      <object name="IRepository&lt;Ride&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;Ride&gt;, odata.repository" />
      <object name="IRepository&lt;Registration&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;Registration&gt;, odata.repository" />
      <object name="IRepository&lt;GeoLocation&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;GeoLocation&gt;, odata.repository" />
      <object name="IRepository&lt;ClubRide&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;ClubRide&gt;, odata.repository" />
      <object name="IRepository&lt;Club&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;Club&gt;, odata.repository" />
      <object name="IRepository&lt;Invoice&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;Invoice&gt;, odata.repository" />
      <object name="IRepository&lt;Payment&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;Payment&gt;, odata.repository" />
      <object name="IRepository&lt;RidePermission&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;RidePermission&gt;, odata.repository" />
      <object name="IRepository&lt;Route&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;Route&gt;, odata.repository" />
      <object name="IRepository&lt;SiteMember&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;SiteMember&gt;, odata.repository" />
      <object name="IRepository&lt;Setting&gt;" type="Bespoke.Cycling.OdataRepository.OdataRepository&lt;Setting&gt;, odata.repository" />
      <object name="QueryProvider" type="Bespoke.Cycling.OdataRepository.OdataQueryProvider, odata.repository" />
    </objects>
  </spring>
</configuration>