<?xml version="1.0" encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net"  >


	<object name="IEntityChangePublisher" type="Bespoke.Station.RabbitMqPublisher.ChangePublisherClient, rabbitmq.changepublisher, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
		<property name="Port" value="5672"/>
		<property name="Password" value="guest"/>
		<property name="Username" value="guest"/>
		<property name="Host" value="localhost"/>
	</object>
	<object name="IRepository&lt;Account>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Account, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Billing>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Billing, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Delivery>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Delivery, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Dipping>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Dipping, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;DippingLookup>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.DippingLookup, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Employee>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Employee, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Order>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Order, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Product>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Product, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Pump>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Pump, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Sale>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Sale, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Setting>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Setting, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Shift>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Shift, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Supplier>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Supplier, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Tank>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Tank, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Transaction>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Transaction, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;LogEntry>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.LogEntry, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;Inventory>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.Inventory, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="IRepository&lt;ChequeRegistry>" type="Bespoke.Station.OdataRepository.OdataRepository&lt;Bespoke.Station.Domain.ChequeRegistry, domain.station>, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>

	<object name="IPersistence" type="Bespoke.Station.OdataRepository.OdataPersistence, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
	<object name="QueryProvider>" type="Bespoke.Station.OdataRepository.OdataQueryProvider, odata.repository, Version=1.0.2.1006, Culture=neutral, PublicKeyToken=null"/>
</objects>