@using Bespoke.Sph.Domain
@using Bespoke.Sph.FormCompilers.DurandalJs
@using Bespoke.Sph.FormCompilers.DurandalJs.FormElements
@inherits Template<ListViewCompiler>
@{
    var element = Model.Element;
}
<div data-bind="visible:@element.Visible">
    <span> @element.Label</span>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                @foreach (var col in element.ListViewColumnCollection)
                {
                    <th>@col.Label</th>
                }
            </tr>
        </thead>
        <tbody data-bind="foreach :@Model.Expression">
            <tr>
                @foreach (var col in element.ListViewColumnCollection)
                {
                    @Raw(Model.RenderInput(col.Input));

                }
            </tr>
        </tbody>
    </table>
</div>
