@using Bespoke.Sph.Domain
@using Bespoke.Sph.FormCompilers.DurandalJs
@using Bespoke.Sph.FormCompilers.DurandalJs.FormElements
@inherits Template<ComboBoxCompiler>
<span data-bind="@Model.GetKnockoutDisplayBindingExpression()"></span>
