@using Bespoke.Sph.Domain
@using Bespoke.Sph.FormCompilers.DurandalJs
@using Bespoke.Sph.FormCompilers.DurandalJs.FormElements
@inherits Template<FormElementCompiler>

<div class="alert alert-error">
    <strong>There's no EditorTemplate for @Model.GetType().Name</strong>
</div>
