@model Bespoke.SphCommercialSpaces.Domain.BuildingMapElement
<a type="button" class="@Model.CssClass" data-toggle="modal" data-bind="click: $parent.showMapCommand" href="#map-panel">
    <i class="@Model.Icon"></i>
       @Model.Label

</a>
