@model Bespoke.SphCommercialSpaces.Domain.CustomListDefinitionElement


<div>
    <input type="button" class="btn pull-right" value="@Model.Label" />
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                @foreach (var c in Model.CustomFieldCollection)
                {
                    <th>@c.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr data-bind2="foreach :CustomListCollection()[0].CustomFieldValueCollection">
                @foreach (var c in Model.CustomFieldCollection)
                {
                    <td>
                        @if (c.Type == typeof(string).AssemblyQualifiedName)
                        {
                            <input class="input-small" type="text" data-bind="value: Value, uniqueName: true" />
                        }
                        @if (c.Type == typeof(int).AssemblyQualifiedName)
                        {
                            <input class="input-small" type="number" data-bind="value: Value, uniqueName: true" />
                        }
                        @if (c.Type == typeof(bool).AssemblyQualifiedName)
                        {
                            <input class="input-small" type="checkbox" data-bind="value: Value, uniqueName: true" />
                        }
                        @if (c.Type == typeof(DateTime).AssemblyQualifiedName)
                        {
                            <input class="input-small" type="text" data-bind="value: Value, uniqueName: true" />
                        }

                    </td>
                }

            </tr>
        </tbody>
    </table>
</div>
