@model Bespoke.SphCommercialSpaces.Domain.MaintenanceOfficerElement

<div class="control-group">
    <label for="maintenance-officers" class="control-label">@Model.Label</label>
    <div class="controls">
        <select data-bind="options:$root.officerOptions, optionsText:'Item2',optionsValue:'Item1'" id="maintenance-officers" name="maintenance-officers">
            
        </select>
    </div>
</div>
