<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="http://localhost:4436"/>
    <add key="token" value="6DWmE2B7xIlZBaTSjlDaWsiV8SEYMjUUOqxci/hBD+L4BlTK9l5ULh2bze2+iNFwBkJE3B80n7B1wvtyyoRx16medSwuX+WxJRFz3IfHZ4O8dVgokdlS53rRoEQOSjFsr6U6nJuBBV1QO/Ql3oGERH+RiZomQBvNCMuHsar13TAfXjaeos5Kx6+G1jTrgCeOoJALRAc5XOOnt5sIYsTNhErmLYxv1P4bTUu/Zw/qBbTQAGDTU2C7bQi7GygSw7pbdUZOLADg7sWiMFvtzjiIded44IozQJnnlupOzm27SAxQWaXRX1fCkX0t8C4dgh0zHfVoz+JY0uAuAIPsz3CI3mJmgcECXdRrCqBjU3qQfexWXFFEI/3FFgWfP453s+pDUUXJb9HJpw7g20Egl7Btpch+Xz3WXjuza8+/sW3mAoE7gLY/dRUS2BGOs8Cg4CuYIXoVat427/z11HhXp6UYsfO2kH+Rx4+VVs283zw81N8mvHmzRuRDR7cwwZWCcyoktZKBLNcMxEpVsGG1VdgPBs7H7iI5wmw/UJ8iQURJQ9lMYPEtVMjcY2n8Pmt58ti+v9jOVcgk8XxnIDYH0wEWdDZseo9Eyac38wBpiKKJe3NayGKNe6Os8G3VDuc+A4nTSWfivE0YUVreRZBUKyszaniiNhMchWk8Etvi0FWmapW7g1TbOOHEuJpCyeFCwvmbVEZnUM7WbOUxmAM8GmvF+qBh08JR0Wzlib96OhRygU0QRQgaLbw3l/Ou+y4BjVSmPSjymgoHu26wspMk/K0xsXzw3x5BrZcLw49je5BWjgxOMImXybN5zYwSyq9/GD+UzslmlOhKN5nWueulHrCs67/ifAg2WvjOWpdLkzq5ZW5T0+8Tc+lMWknrTzbf6zCa"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>