CREATE DATABASE [rx_test_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rx_test_database', FILENAME = N'E:\data\data\rx_test_database.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rx_test_database_log', FILENAME = N'E:\data\logs\rx_test_database_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [rx_test_database]
GO
USE [rx_test_database]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [rx_test_database] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO


CREATE SCHEMA [DevV1] AUTHORIZATION [dbo]

GO


CREATE TABLE [DevV1].[Patient](
	[Id] [varchar](50) NOT NULL,
	[Mrn] [varchar](255) NOT NULL,
	[FullName] [varchar](255) NOT NULL,
	[Gender] [varchar](255) NOT NULL,
	[Religion] [varchar](255) NOT NULL,
	[Race] [varchar](255) NOT NULL,
	[Status] [varchar](255) NOT NULL,
	[MaritalStatus] [varchar](255) NULL,
	[Json] [varchar](max) NULL,-- CONSTRAINT CHECK ( ISJSON(value)>0 ),
	[CreatedDate] [DateTime2] NOT NULL,
	[CreatedBy] [varchar](255) NULL,
	[ChangedDate] [DateTime2] NOT NULL,
	[ChangedBy] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [DevV1].[Patient] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO

ALTER TABLE [DevV1].[Patient] ADD  DEFAULT (getdate()) FOR [ChangedDate]
GO

ALTER TABLE [DevV1].[Patient]
ADD [Dob] AS CAST(JSON_VALUE([Json], '$.Dob') AS DateTime2)