@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
<h3>testssss</h3>
@section scripts
{
    <script type="text/javascript">
    if (!ko) alert("wwwww");
    alert("wwwwssw");
    $(document).ready(function () {

        var hit = {
            "$type": "Bespoke.Sph.Domain.Space, domain.sph",
            "SearchKeywords": "BPH.UT/KR/7  Wilayah Persekutuan Putrajaya",
            "ApplicationTemplateOptions": {
                "$type": "System.Int32[], mscorlib",
                "$values": [6]
            },
            "LotCollection": {
                "$type": "Bespoke.Sph.Domain.ObjectCollection`1[[Bespoke.Sph.Domain.Lot, domain.sph]], domain.sph",
                "$values": []
            },
            "CustomFieldValueCollection": {
                "$type": "Bespoke.Sph.Domain.ObjectCollection`1[[Bespoke.Sph.Domain.CustomFieldValue, domain.sph]], domain.sph",
                "$values": [{
                    "$type": "Bespoke.Sph.Domain.CustomFieldValue, domain.sph",
                    "Name": "Name",
                    "Type": "String",
                    "Value": "KEDAI RUNCIT",
                    "WebId": null
                },
                    {
                        "$type": "Bespoke.Sph.Domain.CustomFieldValue, domain.sph",
                        "Name": "Location",
                        "Type": "String",
                        "Value": "Presint 5",
                        "WebId": null
                    },
                    {
                        "$type": "Bespoke.Sph.Domain.CustomFieldValue, domain.sph",
                        "Name": "Status",
                        "Type": "String",
                        "Value": "Aktif",
                        "WebId": null
                    }]
            },
            "Address": {
                "$type": "Bespoke.Sph.Domain.Address, domain.sph",
                "UnitNo": null,
                "Floor": null,
                "Block": null,
                "Street": "Apartmen P5R3, No. 2, Jalan P5/7",
                "City": null,
                "Postcode": "62200",
                "State": "Wilayah Persekutuan Putrajaya",
                "Country": "Malaysia",
                "WebId": null
            },
            "PhotoCollection": {
                "$type": "Bespoke.Sph.Domain.ObjectCollection`1[[Bespoke.Sph.Domain.Photo, domain.sph]], domain.sph",
                "$values": []
            },
            "CustomListValueCollection": {
                "$type": "Bespoke.Sph.Domain.ObjectCollection`1[[Bespoke.Sph.Domain.CustomListValue, domain.sph]], domain.sph",
                "$values": []
            },
            "FeatureDefinitionCollection": {
                "$type": "Bespoke.Sph.Domain.ObjectCollection`1[[Bespoke.Sph.Domain.FeatureDefinition, domain.sph]], domain.sph",
                "$values": []
            },
            "SpaceId": 15,
            "TemplateId": 4,
            "TemplateName": null,
            "BuildingId": 120,
            "LotName": null,
            "FloorName": "Tingkat 1",
            "Size": 0.0,
            "Category": "Kedai Runcit",
            "RentalType": "Sebulan",
            "IsOnline": true,
            "RegistrationNo": "BPH.UT/KR/7",
            "IsAvailable": true,
            "ContactPerson": "MOHD HELMI BIN MOHD ABDUL HALIM",
            "ContactNo": null,
            "State": "Wilayah Persekutuan Putrajaya",
            "City": "NULL",
            "BuildingName": "Kedai ,  Apartmen P5R3, No. 2, Jalan P5/7  Wilayah Persekutuan Putrajaya",
            "BuildingLot": null,
            "RentalRate": 730.0,
            "Location": null,
            "Description": null,
            "CreatedBy": null,
            "CreatedDate": "0001-01-01T00:00:00",
            "ChangedBy": null,
            "ChangedDate": "0001-01-01T00:00:00",
            "WebId": null
        };
        require(['services/datacontext'], function (context) {

            var o = context.toObservable(hit);
            test("space to observable", function () {

                ok(typeof o.ApplicationTemplateOptions === "function", "ApplicationTemplateOptions should be a function ");
            });

        });

    });
    </script>
}
