@model Bespoke.Sph.Web.ViewModels.TemplateFormViewModel

@{
    Layout = null;
}

<h1>Maklumat Templat Aduan </h1>
<div>
    <div class="row">
        <!-- left toobox-->
        <div class="col-lg-4">
            @Html.Partial("_Toolbox")
        </div>
        
        <div class="tabbable col-lg-8">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#complaint-designer" data-toggle="tab">Designer</a>
                </li>
                <li>
                    <a href="#complaint-category" data-toggle="tab">Categories</a>
                </li>
                <li>
                    <a href="#complaint-others" data-toggle="tab">Others Information</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="complaint-designer" class="tab-pane active" data-bind="with: template">

                    <div data-bind="with: FormDesign" id="template-form-designer">
                        <h1 data-bind="text: Name"></h1>
                        <span data-bind="html: Description"></span>

                        <form class="form-horizontal">
                            <!--ko foreach:FormElementCollection -->
                            @foreach (var fe in Model.FormElements)
                            {
                                @Html.DisplayFor(m => fe)
                            }
                            <!--/ko-->

                        </form>
                    </div>


                </div>
                <div id="complaint-category" class="tab-pane">
                    <h5>Kategori Aduan</h5>
                    <a type="button" class="btn btn-mini pull-right" href="#" data-bind="click: addComplaintCategory">+ Category</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Keterangan</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: template().ComplaintCategoryCollection">
                            <tr>
                                <td>
                                    <input type="text" class="input-category-name" data-bind="value: Name" /></td>
                                <td>
                                    <input type="text" class="input-category-description" data-bind="value: Description" /></td>
                                <td>
                                    <a class="add-subcategory-button" href="/#" data-bind="click: $root.editCategory">Sub Kategori</a></td>
                                <td>
                                    <a class="remove-category-button" href="/#" data-bind="click: $root.removeCategory">Buang</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <section class="modal hide" id="category-details-modal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3>Senarai Subkategori</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <h5>Sub Kategori</h5>
                                <input type="button" value="+" class="btn btn-mini pull-right" data-bind="click: addSubCategory" />
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: subCategoryOptions">
                                        <tr>
                                            <td>
                                                <input type="text" class="input-subcategory" data-bind="value: text" />
                                            </td>
                                            <td>
                                                <a href="#category-details-modal" class="remove-subcategory" data-bind="click: $root.removeSubCategory">Buang</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>

                        <div class="modal-footer">
                            
                            <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: saveSubCategoryCommand" />
                            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                        </div>
                    </section>
                </div>
                <div id="complaint-others" class="tab-pane" data-bind="with : template">
                    <form class="form-horizontal" data-bind="with : FormDesign">
                        <div class="form-group">
                            <img alt="no image" src="/Images/no-image.png" data-bind="attr : {src:'/image/thumbnail/' + ImageStoreId()}" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="imageStoreId">Imej</label>
                            <div class="controls">
                                <input data-bind="kendoUpload : ImageStoreId" type="file" value="upload" name="files" id="imageStoreId" />
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>


@Html.Partial("_PathPicker")