@model Bespoke.Sph.Web.ViewModels.TemplateFormViewModel

@{
    Layout = null;
}

<h1>Maklumat Templat Ruang </h1>
<div>
    <div class="row">
        <!-- left toolbox-->
        <div class="span4">
            @Html.Partial("_Toolbox")
        </div>


        <div class="tabbable span8">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#space-designer" data-toggle="tab">Designer</a>
                </li>
                <li>
                    <a href="#space-default-values" data-toggle="tab">Default values</a>
                </li>
                <li>
                    <a href="#space-icons" data-toggle="tab">Icons</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="space-designer" class="tab-pane active" data-bind="with : template">
                    <div data-bind="with: FormDesign" id="template-form-designer">
                        <h1 data-bind="text: Name"></h1>
                        <span data-bind="text: Description"></span>

                        <form class="form-horizontal">
                            <!--ko foreach:FormElementCollection -->
                            @foreach (var fe in Model.FormElements)
                            {
                                @Html.DisplayFor(m => fe)
                            }
                            <!--/ko-->

                        </form>
                    </div>

                </div>
                <div id="space-default-values" class="tab-pane" data-bind="with : template">
                    @Html.Partial("_DefaultValues")
                </div>
                <div id="space-icons" data-bind="with : template" class="tab-pane">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label for="default-map-icon" class="control-label">Map icon</label>
                            <div class="controls">
                                <!-- ko if : DefaultMapIcon -->
                                <img data-bind="attr: { src: '/image/store/' + DefaultMapIcon()}" src="/Images/no-image.png" alt="map icon" />
                                <!--/ko-->
                                <input type="file" data-bind="kendoUpload: DefaultMapIcon" id="default-map-icon" name="files" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="default-map-icon" class="control-label">Small icon</label>
                            <div class="controls">
                                <!-- ko if : DefaultSmallIcon -->
                                <img data-bind="attr: { src: '/image/store/' + DefaultSmallIcon()}" src="/Images/no-image.png" alt="map icon" />
                                <!--/ko-->
                                <input type="file" data-bind="kendoUpload: DefaultSmallIcon" id="default-map-icon" name="files" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="default-map-icon" class="control-label">icon</label>
                            <div class="controls">
                                <!-- ko if : DefaultIcon -->
                                <img data-bind="attr: { src: '/image/store/' + DefaultIcon()}" src="/Images/no-image.png" alt="map icon" />
                                <!--/ko-->
                                <input type="file" data-bind="kendoUpload: DefaultIcon" id="default-map-icon" name="files" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
    </div>
</div>


@Html.Partial("_PathPicker")