<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="permissions.editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <permissions.editor.Properties.Settings>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
        </permissions.editor.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <clear />
    <add name="sph" providerName="System.Data.SqlClient" connectionString="data source=.\KATMAI; Integrated Security=SSPI; Initial catalog=Sph" />
  </connectionStrings>
  <system.web>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="SphRoleProvider">
      <providers>
        <clear />
        <add applicationName="sph" connectionStringName="sph" name="SphRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </providers>
    </roleManager>

    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" connectionStringName="sph" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="4" applicationName="sph" />
      </providers>
    </membership>

  </system.web>
</configuration>