<div class="control-group">
    <label class="control-label ">No. Aduan : </label>
    <span class="controls" data-bind="text: ReferenceNo" id="ReferenceNo" />
</div>
<div class="control-group" data-bind="with: $parent.tenant">
    <label class="control-label ">Pengadu : </label>
    <span class="controls" data-bind="text: Name" id="tenant().Name" />
</div>
<div class="control-group" data-bind="with: $parent.tenant">
    <label class="control-label ">Id / SsmNo : </label>
    <span class="controls" data-bind="text: IdSsmNo" id="tenant().IdSsmNo" />
</div>
<div class="control-group">
    <label class="control-label ">Jenis Aduan :  </label>
    <span class="controls" data-bind="text: Type" id="Type" />
</div>
<div class="control-group">
    <label class="control-label ">Kategori :  </label>
    <span class="controls" data-bind="text: Category" id="Category" />
</div>
<div class="control-group">
    <label class="control-label ">SubKategori :  </label>
    <span class="controls" data-bind="text: SubCategory" id="SubCategory" />
</div>
<div class="control-group">
    <label class="control-label ">Keterangan :  </label>
    <span class="controls" data-bind="text: Remarks" id="Remarks" />
</div>
<div class="control-group">
    <label class="control-label ">Lokasi :  </label>
    <span class="controls" data-bind="text: CommercialSpace" />
</div>
