
                        <div class="container-fluid">
                            <div class="span7">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Entension</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: contract.DocumentCollection">
                                        <tr>
                                            <td data-bind="text: Title"></td>
                                            <td data-bind="text: Extension"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#documents-template" class="btn" 
                                    data-bind="command: startGenerateDocumentCommand, enable: contract.ContractId() > 0"
                                    data-loading-text="getting templates.."
                                    data-complete-text="Generate agreement document">Generate agreement document</a>
                            </div>

                            <div class="span2" data-bind="with: selectedDocument">
                                <h3>Versions</h3>
                                <ul data-bind="foreach: DocumentVersionCollection">
                                    <li>
                                        <span data-bind="text: No"></span>
                                        <a download data-bind="attr: { href: '/BinaryStore/Get/' + StoreId(), title : 'download version : ' + No }">Download
                                            <i class="icon-download"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                   




<section class="modal hide" id="documents-template">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Pilih jenis template</h3>
    </div>
    <div class="modal-body">
        <label for="selectedDocumentTemplate">Templates</label>
        <select name="selectedDocumentTemplate" id="selectedDocumentTemplate" data-bind="options: documentTemplateCollection, value: selectedDocumentTemplate, optionsText: 'Name', optionsValue: 'StoreId', optionsCaption: 'Sila pilih template'"></select>

        <label>Tajuk</label>
        <input class="input-xlarge" type="text" data-bind="value: documentTitle" />
        <label>Nota</label>
        <textarea class="input-xxlarge" rows="3" data-bind="value: documentRemarks"></textarea>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: generateDocumentCommand" />
    </div>
</section>
