<section class="modal hide" id="preview-parameters-dialog">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Parameters value</h3>
    </div>
    <div class="modal-body" data-bind="with : rdl">
        <table class="table table-striped" data-bind="with : DataSource">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :ParameterCollection">
                <tr>
                    <td data-bind="text:Name"></td>
                    <td>
                        <input type="text" data-bind="value:Value" />
                    </td>
                </tr>
            </tbody>
        </table>

        <input  type="button" class="btn btn-primary" value="Preview" data-bind="click: $root.executePreview" />
        <div id="report-preview-panel"></div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</section>
