<h5>Custom Field</h5>
<a type="button" class="btn btn-mini pull-right" href="#" data-bind="click: $root.addCustomField">+ Custom Field</a>
<table class="table">
    <thead>
        <tr>
            <th>Order</th>
            <th>Nama</th>
            <th>Jenis</th>
            <th>Saiz</th>
            <th>Diwajbkan</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: CustomFieldCollection">
        <tr>
            <td>
                <input type="text" data-bind="value: Order" /></td>
            <td>
                <input type="text" data-bind="value: Name" /></td>
            <td><span>
                <select data-bind="value: Type">
                    <option value="Text">Teks</option>
                    <option value="Number">Nombor</option>
                    <option value="Boolean">Betul/Salah</option>
                    <option value="DateTime">Tarikh</option>
                    <option value="List">Senarai</option>
                </select></span><span data-bind="visible: Type() == 'List'"> Senaraikan
                    <input type="text" data-bind="value: Listing" />
                </span></td>
            <td>
                <input type="text" data-bind="value: Size" /></td>
            <td>
                <input type="checkbox" data-bind="checked: IsMandatory" /></td>
            <td>
                <input type="button" class="btn btn-danger" data-bind="click: $root.removeCustomField" value="-"/>
            </td>
        </tr>
    </tbody>
</table>