<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#add-field" data-toggle="tab">Add a field</a>
        </li>
        <li>
            <a href="#fields-settings" data-toggle="tab">Fields settings</a>
        </li>
        <li>
            <a href="#form-settings" data-toggle="tab">Form Settings</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="add-field" class="tab-pane active">
            <ul class="nav">
                <li>
                    <a class="btn input-medium">
                        <i class="icon-text-width"></i>
                        Text
                    </a>
                </li>
                <li>
                    <a class="btn input-medium">
                        <i class="icon-calendar"></i>
                        Date picker
                    </a>
                </li>
                <li>
                    <a class="btn input-medium">
                        <i class="icon-time"></i>
                        Time picker
                    </a>
                </li>
                <li>
                    <a class="btn input-medium">
                        <i class="icon-check"></i>
                        Boolean
                    </a>
                </li>
            </ul>
        </div>
        <div id="fields-settings" class="tab-pane">
            

        </div>
        <div id="form-settings" class="tab-pane">
          

        </div>

    </div>
</div>