<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No Kontrak</th>
                <th>No Invois</th>
                <th>Tahun</th>
                <th>Bulan</th>
                <th>Suku</th>
                <th>Tengah</th>
                <th>Amaun</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: rentCollection">
            <tr>
                <td data-bind="text: ContractNo"/>
                <td data-bind="text: No"/>
                <td data-bind="text: Year" />
                <td data-bind="text: Month" />
                <td data-bind="text: Quarter" />
                <td data-bind="text: Half" />
                <td data-bind="text: Amount" />
            </tr>
        </tbody>
    </table>
</div>