<section>
    <a href="/#/role.settings/0" class="btn btn-primary">+ Jawatan</a>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Jawatan</th>
                <th>Peranan</th>
            </tr>
        </thead>
        <tbody data-bind="foreach :designationCollection">
            <tr>
                <td>
                    <a data-bind="attr : {href:'/#/role.settings/' + DesignationId()},text: Name"></a>
                </td>
                <td data-bind="text:Description">
                     
                </td>
            </tr>
        </tbody>
    </table></div>
    <input type="button" class="btn btn-primary" data-bind="command : saveCommand" value="Simpan" />
</section>
