<div>
    <input type="text" data-bind="value: role" />
    <input type="button" value="Tambah" class="btn btn-primary" data-bind="command: saveroleCommand" />
</div>
<div>
    <table class="table table-bordered span6">
        <thead>
            <tr>
                <th>Bil</th>
                <th>Peranan </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: roles">
            <tr>
                <td data-bind="text: Index"></td>
                <td data-bind="text: RoleName"></td>
            </tr>
        </tbody>
    </table>
</div>
