<section id="setting.department">
    <a class="btn btn-primary" data-bind="click: addCommand" >+ Jabatan</a>
    <table>
        <thead>
            <tr>
                <th>Nama</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: departments">
            <tr>
                <td>
                    <input type="text" data-bind="value: Name"/>
                </td><td>
                    <input type="button" class="btn btn-danger" data-bind="click: $parent.removeCommand" value="-"/>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="button" data-bind="command: saveCommand" class="btn btn-primary" value="Simpan" data-loading-text="diproses.." data-complete-text="Selesai"/>
</section>

