<div class="row-fluid">
    <div>

        <div>
            <a href="/#/role.settings/0" id="add-designation" data-toggle="modal" class="btn btn-link pull-left"><i class="icon-plus">Jawatan </i></a>
        </div>
    </div>

    <table class="table table-striped row-fluid" data-bind="filter: { path: 'table>tbody>tr' }">
        <thead>
            <tr>
                <th>Jawatan</th>
                <th>Peranan</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: designationCollection">
            <tr>
                <td>
                    <a data-bind="attr: { href: '/#/role.settings/' + DesignationId() }, text: Name"></a>
                </td>
                <td data-bind="text: Description"></td>
            </tr>
        </tbody>
    </table>

</div>
