<section id="application-list" class="view-list" data-bind="foreach: applications">

    <div class="article-left-content">
        <article class="article-container-full-width">
            <div id="div-application" title="Go to application details">
                <h3 data-bind="text: RegistrationNo"></h3>
                <address data-bind="text: Contact.Name"></address>
                <address data-bind="text: CompanyName"></address>
                <label>Status</label><address data-bind="text: Status"></address>
                <input type="button" class="btn btn-success" value="Terperinci" data-bind="click: $parent.viewAttached" />
            </div>
        </article>
    </div>
</section>
