<div class="row">
    <div class="header1"><h2>Senarai permohonan : <span data-bind="text: status"></span></h2></div>
    
    <div class="span3 border-box">
        <div class="labelLeft">
            <label for="selectedIdSsm">Id / SSM No:</label>
            <input type="text" data-bind="value: selectedIdSsm" id="selectedIdSsm"/>
        </div>
        <div class="labelLeft">
            <label for="selectedRegistrationNo">No. Rujukan :</label>
            <input type="text" id="selectedRegistrationNo" data-bind="value: selectedRegistrationNo"/>
        </div>
        <div>
            <button data-bind="click: searchCommand" class="btn btn-primary">Carian</button>
        </div>
    </div>
    <div class="span9">
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No Rujukan</th>
                    <th>Nama</th>
                    <th>Syarikat</th>
                    <th>Ruang Komersil</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: applications">
                <tr>
                    <td><a data-bind="attr: { href: '/#/rentalapplication.verify/' + RentalApplicationId() }, text: RegistrationNo"></a></td>
                    <td data-bind="text: Contact.Name"></td>
                    <td data-bind="text: CompanyName"></td>
                    <td>
                        <span data-bind="text: CommercialSpace.Category"></span>,
                        <span data-bind="text: CommercialSpace.BuildingName"></span>,
                        <span data-bind="text: CommercialSpace.FloorName"></span>,
                        <span data-bind="text: CommercialSpace.LotName"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    
    
    </div>
</div>
<div class="row">
    <button type="button" class="btn offset3" data-bind="command: refreshCommand" data-loading-text="Sila tunggu..." >
        <i class="icon-refresh"></i>
    </button>
    
</div>