
<section id="application-list" class="view-list" data-bind="foreach: applications">
    
    <div class="article-left-content">
        <article class="article-container-full-width">
            <div id="div-application" title="Go to application details" >
                <label>Nama Syarikat</label><address data-bind="text: CompanyName"></address>
                <label>Status</label><address data-bind="text: Status"></address>
                <input type="button" value="Terperinci" data-bind="click:viewDetailCommand"/>
            </div>
        </article>
    </div>
</section>