<h2>Senarai Bangunan</h2>      
<section id="building-list" class="view-list" data-bind="foreach: buildings">
    <div class="article-right-content">
        <article class="article-container-full-width">
            <div id="div-building" title="Go to building details">
                <div class="labelRight">
                    <span>Nama Lot:</span><label data-bind="text: Name, click: $parent.viewAttached"></label>
                </div>
            </div>
        </article>
    </div>
</section>
<div class="btn-group">
    <input type="button" class="btn btn-primary" data-bind="click: addNewCommand" value="Add New" />
</div>
