<h1 class="row-fluid">Senarai Bangunan</h1>

<table class="table" data-bind="filter: { path: 'tbody>tr' }">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Jenis</th>
            <th>Keluasan</th>
            <th>Tingkat</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach :buildings">
        <tr>
            <td>
                <a data-bind="attr: { href: '/#/building.detail-templateid.' + TemplateId() + '/' + TemplateId() + '/' + BuildingId() }, text: Name" ></a> 
            </td>
            <td data-bind="text:Type"></td>
            <td data-bind="text:Size"></td>
            <td data-bind="text:Floors"></td>
            <td></td>
        </tr>
    </tbody>
</table>
