<div class="container">
    <div class="row">
        <h2 class="span8 page-title">Peta Carian</h2>
        <div class="span4">
            <form class="form-search">
                <input id="search" placeholder="Carian lokasi.." type="search" class="input-large search-query"/>
                <a href="#"><span class="k-i-cancel k-icon"></span></a>
            </form>
            
        </div>
    </div>

    <div class="row">
        <div id="map-buildingbound" class="google-maps span8">
            <img alt="loading" src="/Images/spinner-md.gif" />
        </div>

        <div class="span4">
            <ul data-bind="foreach: buildingCollection" class="unstyled">
                <li>
                    <div>
                        <a class="btn btn-success btn-block" href="#" data-bind="text: building.Name, click: $parent.highlightCommand"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
