<div data-bind="visible: isBusy">
    <img src="/Images/spinner-md.gif"/>
</div>
<section id="building-details" class="view">
    <h2 class="page-title" data-bind="text: title"></h2>
    <div class="labelLeft">
        <label title="Name">Name : </label>
        <input type="text" name="building.Name" data-bind="value: building.Name" />
    </div>
    <div class="labelLeft">
        <label title="LotNo">Lot No. : </label>
        <input type="text" name="building.LotNo" data-bind="value: building.LotNo" />
    </div>
    <div class="labelLeft">
        <label title="Street">Street : </label>
        <input type="text" name="building.Address.Street" data-bind="value: building.Address.Street" />
    </div>
    <div class="labelLeft">
        <label title="City">City : </label>
        <input type="text" name="building.Address.City" data-bind="value: building.Address.City" />
    </div>
    <div class="labelLeft">
        <label title="Postcode">Postcode : </label>
        <input type="text" name="building.Address.Postcode" data-bind="value: building.Address.Postcode" />
    </div>
    <div class="labelLeft">
        <label title="State">State : </label>
        <select name="building.Address.State" data-bind="value: building.Address.State">
            <option value="Kuala Lumpur">Kuala Lumpur</option>
            <option value="Selangor">Selangor</option>
            <option value="Perak">Perak</option>
            <option value="Pahang">Pahang</option>
            <option value="Pulau Pinang">Pulau Pinang</option>
            <option value="Melaka">Melaka</option>
            <option value="Johor">Johor</option>
            <option value="Kelantan">Kelantan</option>
            <option value="Perlis">Perlis</option>
            <option value="Sabah">Sabah</option>
            <option value="Sarawak">Sarawak</option>
            <option value="Terengganu">Terengganu</option>
            <option value="Kedah">Kedah</option>
            <option value="Negeri Sembilan">Negeri Sembilan</option>
        </select>
    </div>
    <div class="labelLeft">
        <label title="Size">Size (sq/ft) : </label>
        <input type="text" name="building.Size" data-bind="value: building.Size" />
    </div>
    <div class="labelLeft">
        <label title="Status">Status : </label>
        <select name="building.Status" data-bind="value: building.Status">
            <option value="Good">Good</option>
            <option value="Ready">Ready to Occupy</option>
            <option value="Damage">Damage</option>
            <option value="Maintenance">Under Maintenance</option>
        </select>
    </div>
    <div class="labelLeft">
        <input type="button" class="btn btn-primary" data-bind="click: addFloorCommand" value="Add Floor"/>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: building.FloorCollection">
            <tr>
                <td><input type="text" data-bind="value:Name,uniqueName: true"/></td>
                <td><input type="text" data-bind="value:Size,uniqueName: true"/></td>
                <td><input type="button" data-bind="click: $parent.removeFloorCommand" class="btn btn-primary" value="-" /></td>
                <td><input type="button" data-bind="click: $parent.addLotCommand" class="btn btn-primary" value="+Lot" /></td>
            </tr>
        </tbody>
    </table>
         </div>

    <div>
        <input type="button" class="btn btn-primary" value="Back" data-bind="click: goBackCommand" />
        <input type="button" class="btn btn-primary" value="Save" data-bind="click: saveCommand" />
    </div>
    
       <input type="button" class="btn btn-primary" value="Show map" data-bind="click: showMapCommand" />

    <div id="map" style="width: 1200px; height: 400px"></div>
  <input type="button" class="btn btn-primary" value="save map" data-bind="click: saveMapCommand" />
</section>