<div class="page-header">
    <h1>Senarai Bangunan</h1>
</div>
<section id="building-list" class="view-list" data-bind="foreach: buildings">
    <div class="article-right-content">
        <article class="article-container-full-width">
            <div id="div-building" title="Go to building details" data-bind="click: $parent.viewAttached">
                <div class="labelRight">
                <label>Nama Lot:</label><address data-bind="text: Name"></address></div>
            </div>
        </article>
    </div>
</section>
<div class="btn-group">
        <input type="button" class="btn btn-primary" data-bind="click: addNewCommand" value="Add New" />
    </div>


