<h1>Maklumat Templat Bangunan </h1>
<div class="container">
    <div class="row">
        <!-- left toobox-->
        <div class="span4">
         
        </div>

        <div class="span8">

            <div id="add-field" class="tab-pane active">
                <ul class="nav">
                    <li>
                        <a class="btn input-medium">
                            <i class="icon-text-width"></i>
                            Text
                        </a>
                    </li>
                    <li>
                        <a class="btn input-medium">
                            <i class="icon-calendar"></i>
                            Date picker
                        </a>
                    </li>
                    <li>
                        <a class="btn input-medium">
                            <i class="icon-time"></i>
                            Time picker
                        </a>
                    </li>
                    <li>
                        <a class="btn input-medium">
                            <i class="icon-check"></i>
                            Boolean
                        </a>
                    </li>
                </ul>
            </div>

            <div id="building-template-form-designer" class="bar-warning warning label-warning">
                sd
            </div>


        </div>
    </div>
</div>


