<h2>Templat Bangunan</h2>
<table data-bind="filter: { path: 'tbody>tr' }" class="table table-striped">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Keterangan</th>
            <th>Aktif</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: buildingTemplates">
        <tr>
            <td>
                <a data-bind="attr: { href: '/#/building.template.form/' + BuildingTemplateId() }, text: Name"></a>
            </td>
            <td data-bind="text: Description"></td>
            <td>
                <input type="checkbox" data-bind="checked: IsActive"/>
            </td>
        </tr>
    </tbody>
</table>