<h2><span data-bind="text:title"></span></h2>
<section id="building-list" class="view-list" data-bind="foreach: commercialspaces">
    <div class="article-right-content">
        <article class="article-container-full-width">
            <div id="div-cs">
                <address data-bind="text: Name"></address>
                <span>RM </span>
                <span data-bind="text: RentalRate"></span>
                <input type="button" class="btn btn-link" value="Mohon Sewa" data-bind="click: $parent.viewAttached"/>
            </div>
        </article>
    </div>
</section>
