<h2>Templat Ruang Komersil</h2>
<table class="table table-striped" data-bind="filter : {path:'tbody>tr'}">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Keterangan</th>
            <th>Aktif</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: csTemplates">
        <tr>
            <td>
                <a data-bind="attr: { href: '/#/template.commercialspace-id.0/' + CommercialSpaceTemplateId() }, text: Name"></a>
            </td>
            <td data-bind="text: FormDesign().Description"></td>
            <td>
                <input type="checkbox" data-bind="checked: IsActive"/>
            </td>
        </tr>
    </tbody>
</table>