<section>
    <h2>Senarai Ruang Komersil</h2>

    <div class="pull-right">
        <form class="form-search">
            <input type="search" class="search-query" placeholder="Cari ruang anda.." />
            <span class="icon-search"></span>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No daftar</th>
                <th>Lot</th>
                <th>Bangunan</th>
                <th>Lantai</th>
                <th>Kategori</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: commercialspaces">
            <tr>
                <td>
                    <a data-bind="attr :{href :'/#/commercialspacedetail/' + BuildingId() + '/' + FloorName() + '/' + CommercialSpaceId()}, text:RegistrationNo"></a>
                </td>
                <td data-bind="text:LotName"></td>
                <td>
                     <a data-bind="attr: { href: '/#/buildingdetail/' + BuildingId() }, text: BuildingName"></a>
                </td>
                <td>
                      <a data-bind="attr :{href :'/#/floorplan/' + BuildingId() + '/' + FloorName()}, text:FloorName"></a>
                </td>
                <td data-bind="text:Category">4</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div>
        <a href="/#/commercialspacedetail/0/-/0">
            <i class="icon-plus-sign"></i>
            Ruang Komersial
        </a>
    </div>
</section>
