<section>
    <div class="modal" id="cs-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3><span data-bind="text: title" class="media-heading" /></h3>
        </div>

        <form id="cs">
            <div class="modal-body">
                <div class="labelLeft">
                    <label>Floor</label>
                    <input type="text" data-bind="value: commercialSpace.FloorName" class="media-heading" />
                </div>
                <div class="labelLeft">
                    <label>Lot</label>
                    <input type="text" data-bind="value: commercialSpace.LotName" class="media-heading" />
                </div>
                <div class="labelLeft">
                    <label>Name</label>
                    <input type="text" data-bind="value: commercialSpace.Name" class="media-heading" />
                </div>
                <div class="labelLeft">
                    <label>Size</label>
                    <input type="text" data-bind="value: commercialSpace.Size" class="media-heading" />
                </div>
                <div class="labelLeft">
                    <label>Rental Rate</label>
                    <input type="text" data-bind="value: commercialSpace.RentalRate" class="media-heading" />
                </div>
                <div class="labelLeft">
                    <label>Rental Type</label>
                    <select data-bind="value: commercialSpace.RentalType">
                        <option value="Monthly">Monthly</option>
                        <option value="Quarterly">Quarterly</option>
                        <option value="Half Year">Half Year</option>
                        <option value="Yearly">Yearly</option>
                    </select>
                </div>
                <div class="labelLeft">
                    <label>Category</label>
                    <select data-bind="value: commercialSpace.Category">
                        <option value="Cafeteria">Cafeteria</option>
                        <option value="ATM">ATM</option>
                        <option value="Restaurant">Restaurant</option>
                        <option value="Laundry">Laundry</option>
                        <option value="Nursery">Nursery</option>
                    </select>
                </div>
                <div class="labelLeft">
                    <label>IsOnline</label>
                    <input type="checkbox" data-bind="isChecked: commercialSpace.IsOnline" />
                </div>
            </div>

            <div class="modal-footer">
                <input type="button" class="btn btn-primary" value="Cancel" data-bind ="click: cancelCsCommand"/>
                <input type="button" class="btn btn-primary" value="Save" data-bind="click: saveCsCommand, disable: isBusy()" />
            </div>
        </form>

    </div>
</section>
