<h3>Maklumat Pemeriksaan</h3>
<div class="span8">
    <form class="form-horizontal" data-bind="with: complaint">
        <!--ko compose:'_complaint.details.html' -->
        <!--/ko-->

        <div data-bind="with: Inspection">
            <div class="control-group">
                <span class="control-label">Tarikh Ditugaskan : </span>
                <span class="controls">
                    <span data-bind="date: { value: AssignedDate, format: 'DD/MM/YYYY' }" id="AssignedDate" />
                </span>
            </div>
            <div class="control-group">
                <span class="control-label">Tarikh Pemeriksaan </span>
                <span class="controls">
                    <input data-bind="kendoDate: InspectionDate" id="InspectionDate" type="text" name="InspectionDate" />
                </span>
            </div>
            <div class="control-group">
                <label class="control-label">Resolusi :  </label>
                <select class="controls" data-bind="value: Resolution" id="Inspection().PersonInCharge">
                    <option value="WontFix">Tidak Boleh Selesai</option>
                    <option value="Duplicate">Duplicate</option>
                    <option value="Fake">Tipu</option>
                    <option value="Deferred">Perlu external</option>
                    <option value="Complete">Selesai</option>
                </select>
            </div>
            <div class="control-group">
                <span class="control-label">Catatan Pemeriksaan </span>
                <span class="controls">
                    <textarea cols="5" rows="5" data-bind="value: Observation" id="Observation" name="Observation" />
                </span>
            </div>
        </div>
    </form>
    <input id="save-button" type="button" class="btn btn-primary pull-right" value="Simpan" data-bind="command: saveCommand" data-loading-text="Sila tunggu..." data-complete-text=" OK" />

</div>
