<div id="complaint.checkstatus-page">
    <h1>Semak status aduan anda</h1>
    <form class="form-horizontal">
        <div class="control-group">
            <label for="tiket-no" class="control-label">No tiket aduan</label>
            <div class="controls">
                <input data-bind="value: ticketNo" id="tiket-no" type="text" name="TicketNo" />
            </div>
        </div>
        <div class="control-group">
            <label  class="control-label">-</label>
            <div class="controls">
                <input type="submit" class="btn btn-success" value="Submit" data-bind="command : search"/>
            </div>
        </div>
    </form>
    
    <table class="table table-striped" data-bind="filter: { path: 'tbody>tr' }">
        <thead>
            <tr>
                <th>Tarikh</th>
                <th>No Ticket</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody data-bind="foreach :results">
            <tr>
                <td data-bind="date:CreatedDate"></td>
                <td data-bind="text:TicketNo"></td>
                <td data-bind="text:Status"></td>
            </tr>
        </tbody>
    </table>
</div>