<h3>Maklumat Aduan</h3>
<div class="span8">
    <form class="form-horizontal" data-bind="with: complaint">
        <!--ko compose:'_complaint.details.html' -->
        <!--/ko-->
        <div class="control-group" data-bind="with: $parent.departmentOptions">
            <label for="department" class="control-label">Jabatan :</label>
            <div class="controls">
                <select id="department" name="department" data-bind="options: $data, optionsText: 'Name', optionsValue: 'Name', value: $parent.Department, optionsCaption: '[Sila Pilih]'"></select>
            </div>
        </div>
        <div class="control-group">
            <label for="Note" class="control-label">Nota : </label>
            <div class="controls">
                <textarea cols="5" rows="5" data-bind="value: Note" id="Note" name="Note" />
            </div>
        </div>
    </form>
    <input id="save-button" type="button" class="btn btn-primary pull-right" value="Simpan" data-bind="command: saveCommand" data-loading-text="Sila tunggu..." data-complete-text=" OK" />

</div>
