<a class="title">SILA PILIH JENIS ADUAN ANDA</a>
<section id="rental-list" data-bind="foreach :complaintTemplates">
    <div class="metro tile">
    <a class="title" data-bind="text: name"></a>
    <ul class="today-datas" data-bind="foreach: templates">       
        <li class="bordered-box">
            <div class="pull-left" data-bind="with : FormDesign">
                <img data-bind="attr: { src: '/Image/store/' + ImageStoreId()}"  alt="baru" />
            </div>
            <div class="pull-right">
                <a data-bind="attr: { href: '/#/complaint.form-templateid.'+ ComplaintTemplateId() +'/' + ComplaintTemplateId() }, text: Name"></a>         
            </div>
        </li>
    </ul></div>
</section>