<h4>KLIK UNTUK PILIH JENIS ADUAN</h4>
<section id="rental-list">
    <ul class="today-datas" data-bind="foreach: complaintTemplates">

        <li>
            <div class="pull-left" data-bind="with : FormDesign">
                <img data-bind="attr: { src: '/Image/store/' + ImageStoreId()}"  alt="baru" />
            </div>
            <div class="pull-right">
                <a data-bind="attr: { href: '/#/complaint.form-templateid.'+ ComplaintTemplateId() +'/' + ComplaintTemplateId() }, text: Name"></a>
                
            </div>
        </li>
    </ul>
</section>