<h1 data-bind="text: title"></h1>

<div class="row-fluid">

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#am" data-toggle="tab">Maklumat Am</a>
            </li>
            <li>
                <a href="#clauses" data-toggle="tab">Klaus</a>
            </li>
            <li>
                <a href="#documents" data-toggle="tab">Dokumen</a>
            </li>
            <li>
                <a href="#history" data-toggle="tab">Sejarah</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="am" class="tab-pane active">

                <!--ko compose: {view: '_contract.form'} -->
                <!--/ko-->

            </div>
            <div id="clauses" class="tab-pane">
                <!--ko compose:'viewmodels/_contract.clauses' -->
                <!--/ko-->

            </div>
            <div id="documents" class="tab-pane">
                <!--ko compose: 'viewmodels/_contract.documents' -->
                <!--/ko-->
            </div>
            <div id="history" class="tab-pane">
                <h2>Permohonan dan Kontrak</h2>

                <!--ko compose: 'viewmodels/_audittrail.list' -->
                <!--/ko-->

            </div>

        </div>
    </div>


</div>

<section class="modal hide" id="extend-contract-panel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Sambung Kontrak</h3>
    </div>
    <div class="modal-body" data-bind="with: contract">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Tarikh Baru</label>
                <div class="controls ">
                    <input type="text" name="Contract.Extension.Date" data-bind="kendoDate: Extension.Date" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Nota</label>
                <div class="controls">
                    <textarea cols="5" rows="5" class="large" name="Contract.Extension.Note" data-bind="value: Extension.Remarks" />
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: extendCommand" />
    </div>
</section>

<section class="modal hide" id="terminate-contract-panel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Tamatkan Kontrak</h3>
    </div>
    <div class="modal-body" data-bind="with: contract">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Tarikh Tamat</label>
                <div class="controls">
                    <input type="text" name="Contract.Termination.Date" data-bind="kendoDate: Termination.Date" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Pegawai Pelulus</label>
                <div class="controls">
                    <input type="text" name="Contract.Termination.Note" data-bind="value: Termination.ApprovalOfficer" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Catatan</label>
                <div class="controls ">
                    <textarea cols="5" rows="5" class="x" name="Contract.Termination.Note" data-bind="value: Termination.Remarks" />
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: terminateCommand" />
    </div>
</section>
