<div class="row-fluid">
    <div class="row">
        <h1 class="span12">Kontrak baru</h1>
    </div>
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span9">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#am" data-toggle="tab">Am</a>
                    </li>
                    <li>
                        <a href="#clauses" data-toggle="tab">Klaus</a>
                    </li>
                    <li>
                        <a href="#documents" data-toggle="tab">Dokumen</a>
                    </li>
                    <li>
                        <a href="#history" data-toggle="tab">Sejarah</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="am" class="tab-pane active">

                        <!--ko compose: {view: '_contract.form'} -->
                        <!--/ko-->

                    </div>
                    <div id="clauses" class="tab-pane">
                        <!--ko compose: {view: '_contract.clauses'} -->
                        <!--/ko-->

                    </div>
                    <div id="documents" class="tab-pane">
                        <!--ko compose: {view: '_contract.documents'} -->
                        <!--/ko-->
                    </div>
                    <div id="history" class="tab-pane">
                        <h2>Permohonan dan Kontrak</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tarikh/Masa</th>
                                    <th>Pengguna</th>
                                    <th>Operasi</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: auditTrailCollection">
                                <tr>
                                    <td data-bind="date: { value: DateTime, format: 'd MMM YYYY HH:mm' }"></td>
                                    <td data-bind="text: User"></td>
                                    <td data-bind="text: Operation"></td>
                                    <td data-bind="text: Note"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <button class="btn btn-primary" data-bind="command: saveCommand"
        data-loading-text="Saving..."
        data-complete-text="Saved!!!!!">
        Save</button>
</div>
