<div>
    <div class="header1"><h2>Senarai Jenis kontrak</h2></div>   
    <table class=" table table-striped">
        <thead>
            <tr>
                <th>Jenis</th>
                <th>Keterangan</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: contractTemplateCollection">
            <tr>
                <td>
                    <a href="#" data-bind="text: Type, attr: { href: '/#/contracttypetemplate/' + ContractTemplateId() }"></a>
                </td>
                <td data-bind="text: Description"></td>
                <td data-bind="text: Status"></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/#/contracttypetemplate/0">+ Jenis Kontrat</a>
</div>
