<div class="row-fluid">
    <div>
        <h1 class="span12"  data-bind="text:title"></h1>
    </div>
    <div>
     
        <div>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#am" data-toggle="tab">Am</a>
                    </li>
                    <li>
                        <a href="#clauses" data-toggle="tab">Klaus</a>
                    </li>
                    <li>
                        <a href="#documents" data-toggle="tab">Dokumen</a>
                    </li>
                    <li>
                        <a href="#history" data-toggle="tab">Sejarah</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="am" class="tab-pane active">

                        <!--ko compose: {view: '_contract.form'} -->
                        <!--/ko-->

                    </div>
                    <div id="clauses" class="tab-pane">
                        <!--ko compose:'viewmodels/_contract.clauses' -->
                        <!--/ko-->

                    </div>
                    <div id="documents" class="tab-pane">
                        <!--ko compose: 'viewmodels/_contract.documents' -->
                        <!--/ko-->
                    </div>
                    <div id="history" class="tab-pane">
                        <h2>Permohonan dan Kontrak</h2>
                 
                        <!--ko compose: 'viewmodels/_audittrail.list' -->
                        <!--/ko-->

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
    <button class="btn btn-primary" data-bind="command: saveCommand"
        data-loading-text="Diproses..."
        data-complete-text="Disimpan">
        Simpan</button>
</div>
</div>


