<form class="form-horizontal">
    <div id="contract-setup" class="k-content">
        <div id="tabstrip">
            <ul>
                <li>Jenis Kontrak</li>
                <li  class="k-state-active">Templat Dokumen</li>
                <li>Topik dan klaus</li>
            </ul>
            <div id="contract-type">
                <div class="control-group">
                    <input type="text" data-bind="value:contractTemplate.Type"/>
                    <input type="button" name="add-floor-button" class="btn" data-bind="click: addContractTypeCommand" value="+ Jenis Kontrak" />
                </div>
                <div>
                     <table>
                        <thead>
                            <tr>
                                <th>Jenis Kontrak</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: contractTemplateTypes">
                            <tr>
                                <td>
                                    <span data-bind="text: Type, uniqueName: true"></span></td>
                                <td>
                                    <input type="button" value="Terperinci" class="btn btn-small" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="document-template">
                <div>
                    <div class="control-group">
                        <label for="contract-template-type" class="control-label">Jenis Kontrak</label>
                        <div class="controls" id="contract-template-type">
                            <select data-bind="value: contractTemplate.ContractTemplateId, options: contractTypeOptions, optionsValue: 'Item1', optionsText: 'Item2', optionsCaption: '[Sila pilih]'" id="contract-template-options" name="contractTemplateTypes" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="documentName" class="control-label">Nama dokumen</label>
                    <input type="text" id="documentName" data-bind="value: fileName" />
                    <input id="returnLetterTemplate" type="file" name="files" />
                    <input type="button" data-bind="click:addDocumentCommand" value="+ Dokumen" class="btn btn-small"/>
                </div>
                <div>
                     <table>
                        <thead>
                            <tr>
                                <th>Jenis Kontrak</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: contractTemplate.DocumentTemplateCollection">
                            <tr>
                                <td>
                                    <span data-bind="text: Name, uniqueName: true"></span></td>
                                <td>
                                    <input type="button" value="Terperinci" class="btn btn-small" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div id="topic-clauses">
                <div>
                    <h2>Topik dan klaus</h2>
                </div>
                <div>
                    <div class="control-group">
                        <label for="contract-template-type" class="control-label">Jenis Kontrak</label>
                        <div class="controls" id="Div1">
                            <select data-bind="options: contractTypeOptions, optionsValue: 'Item1', optionsText: 'Item2', optionsCaption: '[Sila pilih]'" id="Select1" name="contractTemplateTypes" />
                        </div>
                    </div>
                </div>
                <div>
                    <div class="control-group">
                        <label for="contract-template-type" class="control-label">Nama Dokumen</label>
                        <div class="controls" id="Div2">
                            <select data-bind="options: contractTypeOptions, optionsValue: 'Item1', optionsText: 'Item2', optionsCaption: '[Sila pilih]'" id="Select2" name="contractTemplateTypes" />
                        </div>
                    </div>
                </div>
                <div>
                    <table>
                        <thead>
                            <th></th>
                        </thead>
                    </table>
                </div>
                <div>
                    <button class="btn btn-primary" data-bind="command: saveCommand" data-loading-text="Saving...." data-complete-text="Done">Simpan</button>
                </div>
            </div>
        </div>

    </div>
</form>
