<div class="row-fluid">
    <div class="row">
        <h1 class="span12">Buat tawaran kontrak baru</h1>
    </div>
    <form class="form-horizontal">
        <div class="control-group">
            <label for="tenant_name" class="control-label">Nama</label>
            <div class="controls">
                <input class="input-large" data-bind="value: tenant.Name" id="tenant_name" type="text" name="tenant.Name" />
            </div>
        </div>
        <button class="btn btn-primary">Save</button>
    </form>
</div>