<div class="container">
    <div class="row">
        <div class="span12">
            <h1>
                <span data-bind="text: title"></span>:
                <span data-bind="text: floor.Name"></span>:
                <span data-bind="text: floor.Size"></span></h1>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <ul id="lotlist" class="nav nav-tabs nav-stacked" data-bind="foreach: floor.LotCollection">
                <li>
                    <a href="#" data-bind="click: $parent.selectCommand">
                           <i class="icon-pencil"></i><span data-bind="text: Name"></span>
                     </a>
                </li>
            </ul>
        </div>
        <div id="floorplanmap" class="google-maps span10">
            <img src="/Images/spinner-md.gif" />
        </div>

    </div>
    <div class="row pull-right">
        <input type="button" class="btn btn-primary" data-bind="command: saveCommand, disable: isBusy()" value="SAVE" data-loading-text="saving.." data-complete-text="Simpan" />
    </div>
</div>
