<h1 class="row-fluid">Senarai Inventori</h1>
<div>
    <table class=" table table-striped" data-bind="filter: { path: 'tbody>tr' }, serverPaging: { entity: 'Inventory', query: 'InventoryId gt 0', list: inventoryCollection}">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Kategori</th>
                <th>Jenama</th>
                <th>Spesifikasi</th>
                <th>Kuantiti</th>
            </tr>
        </thead>
        <tbody data-bind="foreach :inventoryCollection">
            <tr>
                <td data-bind="text:Name"></td>
                <td data-bind="text:Category"></td>
                <td data-bind="text:Brand"></td>
                <td data-bind="text:Specification"></td>
                <td data-bind="text:Quantity"></td>
            </tr>
        </tbody>
    </table>
</div>