<h1 class="row-fluid">Senarai Inventori</h1>
<div>
    <div>
      <a href="/#/inventory.detail" id="add-inventory-button" data-toggle="modal" class="pull-right">
          <br/><br/><img data-bind=" attr: { src: '/Images/add_icon.png' }" src="/Images/add_icon.png" alt="Tambah Inventori" title="Tambah Inventori"/>
      </a>
    </div>
    <table class=" table table-striped">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Kategori</th>
                <th>Jenama</th>
                <th>Spesifikasi</th>
                <th>Kuantiti</th>
            </tr>
        </thead>
        <tbody data-bind="foreach :inventoryCollection">
            <tr>
                <td data-bind="text:Name"></td>
                <td data-bind="text:Category"></td>
                <td data-bind="text:Brand"></td>
                <td data-bind="text:Specification"></td>
                <td data-bind="text:Quantity"></td>
            </tr>
        </tbody>
    </table>
</div>