<section>
    <span data-bind="text: title"></span>
    <span data-bind="text: floor.Name"></span>
    <span data-bind="text: floor.Size"></span>
    <div>
        <ul class="nav" data-bind="foreach: floor.LotCollection" >                       
                <li style="width: 200px; height: 150px;">
                    <input data-bind="value: Name" />
                    <input data-bind="value: Size" />
                    <a id="new-cs" class="btn btn-success" data-bind="click: $parent.addCsCommand"> +Commercial Space</a>
                    <input type="button" data-bind="click: $parent.removeLotCommand" class="btn btn-primary" value="-" />                   
                    <input type="button" data-bind="click: addNewLotCommand" class="btn btn-primary" value="+Lot" />    
                </li>
            </ul>                 
    </div>
    
</section>

<section>
    <input type="button" class="btn btn-primary" data-bind="click: goBackCommand, disable: isBusy()" value="OK" />
</section>


