<section>
    <span data-bind="text: title"></span>
    <span data-bind="text: floor.Name"></span>
    <span data-bind="text: floor.Size"></span>
    <div>
    <input type="button" data-bind="click: addNewLotCommand" class="btn btn-primary" value="New Lot" /></div>
     <div>
        <ul class="nav" data-bind="foreach: floor.LotCollection" >                       
                <li style="width: 180px; height: 150px;">
                    <a id="new-cs" class="btn btn-success" data-bind="click: $parent.addCsCommand">Commercial Space</a>
                    <input data-bind="value: Name" />
                    <input data-bind="value: Size" />
                    <input type="button" data-bind="click: $parent.removeLotCommand" class="btn btn-primary" value="-" />                                       
                </li>
            </ul>                 
    </div>
</section>

<section>
    <input type="button" class="btn btn-primary" data-bind="click: goBackCommand, disable: isBusy()" value="BACK" />
    <input type="button" class="btn btn-primary" data-bind="click: saveCommand, disable: isBusy()"  value="SAVE" />
</section>


