<h3>Pengeluaran Arahan Kerja</h3>
<form class="form-horizontal">

    <div data-bind="with: maintenance().Complaint">
        <div data-bind="visible: Tenant().Name">
            <div class="control-group">
                <label class="span2">Pengadu</label><label class="span1">:</label>
                <span data-bind="text: Tenant().Name" />
            </div>
            <div class="control-group ">
                <label class="span2">Alamat </label><label class="span1">:</label>
                <div class="control-group" data-bind="with: Tenant().Address">
                   
                        <span data-bind="text: UnitNo" />
                    
                        <span data-bind="text: Street" />
                   
                        <span data-bind="text: City" />
                   
                        <span data-bind="text: Postcode" />
                   
                        <span data-bind="text: State" />
                  
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="span2">Kategori</label><label class="span1">:</label>
            <span data-bind="text: Category" />
        </div>
        <div class="control-group">
            <label class="span2">SubKategori</label><label class="span1">:</label>
            <span data-bind="text: SubCategory" />
        </div>
        <div class="control-group">
            <label class="span2">Keterangan</label><label class="span1">:</label>
            <span data-bind="text: Remarks" />
        </div>

    </div>
</form>


