<li class="dropdown dropdown-big">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <i class="icon-envelope-alt"></i>Kontrak <span class="badge badge-important">6</span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <!-- Heading - h5 -->
            <h5><i class="icon-envelope-alt"></i>Messages</h5>
            <!-- Use hr tag to add border -->
            <hr>
        </li>
        <li>
            <!-- List item heading h6 -->
            <a href="#">Hello how are you?</a>
            <!-- List item para -->
            <p>Quisque eu consectetur erat eget  semper...</p>
            <hr>
        </li>
        <li>
            <a href="#">Today is wonderful?</a>
            <p>Quisque eu consectetur erat eget  semper...</p>
            <hr>
        </li>
        <li>
            <div class="drop-foot">
                <a href="#">View All</a>
            </div>
        </li>
    </ul>
</li>
