<section>
    <h3>Maklumat Tawaran</h3>
    <div class="control-group">
        <label for="Offer.CommercialSpaceId" class="control-label">Id Ruang Komersil</label>
        <div class="controls">
            <input data-bind="value: Offer.CommercialSpaceId" id="Offer.CommercialSpaceId" type="text" name="CommercialSpaceId" />
        </div>
    </div>
    <div class="control-group">
        <label for="Offer.Size" class="control-label">Saiz</label>
        <div class="controls">
            <input data-bind="value: Offer.Size" id="Offer.Size" type="text" name="Offer.Size" />
        </div>
    </div>
    <div class="control-group">
        <label for="Offer.Building" class="control-label">Bangunan</label>
        <div class="controls">
            <input data-bind="value: Offer.Building" id="Offer.Building" type="text" name="Offer.Building" />
        </div>
    </div>
    <div class="control-group">
        <label for="Offer.Floor" class="control-label">Lantai</label>
        <div class="controls">
            <input data-bind="value: Offer.Floor" id="Offer.Floor" type="text" name="Offer.Floor" />
        </div>
    </div>
    <div class="control-group">
        <label for="Offer.Deposit" class="control-label">Deposit</label>
        <div class="controls">
            <input data-bind="value: Offer.Deposit" id="Offer.Deposit" type="text" name="Offer.Deposit" />
        </div>
    </div>
    <div class="control-group">
        <label for="Offer.Rent" class="control-label">Kadar Sewa</label>
        <div class="controls">
            <input data-bind="value: Offer.Rent" id="Offer.Rent" type="text" name="Offer.Rent" />
        </div>
    </div>
    <div class="control-group">
        <label for="Offer.Date" class="control-label">Tarikh Mula Tawaran</label>
        <div class="controls">
            <input class="datepicker" name="Offer.Date" data-format="dd/MM/yyyy" type="text" data-bind="value: Offer.Date" />
        </div>
    </div>
    <div class="control-group">
        <label for="Offer.ExpiryDate" class="control-label">Tarikh Akhir Tawaran</label>
        <div class="controls">
            <input class="datepicker" name="Offer.ExpiryDate" data-format="dd/MM/yyyy" type="text" data-bind="value: Offer.ExpiryDate" />
        </div>
    </div>
    <div>
        <table id="offer-condition-table" class="table table-bordered table-bordered">
            <thead>
                <tr>
                    <th>Tajuk</th>
                    <th>Keterangan</th>
                    <th>Nota</th>
                    <th>Diwajibkan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Offer.OfferConditionCollection">
                <tr>
                    <td>
                        <input type="text" data-bind="value: Title, uniqueName: true" /></td>
                    <td>
                        <input type="text" data-bind="value: Description, uniqueName: true" /></td>
                    <td>
                        <input type="text" data-bind="value: Note, uniqueName: true" /></td>
                    <td>
                        <input type="checkbox" data-bind="checked: IsRequired" /></td>

                    <td>
                        <button class="btn btn-danger" title="Buang senarai ini">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="button" name="addConditionCommand" class="btn pull-right" value="+ Terma &amp; Syarat" data-bind="click: addConditionCommand" />
    </div>
</section>
<section>
    <input type="button" class="btn btn-success" value="SIMPAN" data-bind="command: saveCommand" data-loading-text="processing.." data-complete-text="Disimpan!" />
    <input type="button" class="btn btn-success" value="CETAK SURAT TAWARAN" data-bind="click: generateOfferLetterCommand"  data-loading-text="processing..." data-complete-text="Surat tawaran" />
</section>
