<form class="form-horizontal">
    <h3>Maklumat Tawaran</h3>
    <div class="control-group">
        <label for="offer.CommercialSpaceId" class="control-label">Ruang Komersil</label>
        <div class="controls">
            <input data-bind="value: commercialSpace.RegistrationNo" id="offer.CommercialSpaceId" type="text" name="CommercialSpaceId" />
        </div>
    </div>
    <div class="control-group">
        <label for="offer.Size" class="control-label">Saiz</label>
        <div class="controls">
            <input data-bind="value: offer.Size" id="offer.Size" type="text" name="offer.Size" />
        </div>
    </div>
    <div class="control-group">
        <label for="offer.Building" class="control-label">Bangunan</label>
        <div class="controls">
            <input data-bind="value: offer.Building" id="offer.Building" type="text" name="offer.Building" />
        </div>
    </div>
    <div class="control-group">
        <label for="offer.Floor" class="control-label">Lantai</label>
        <div class="controls">
            <input data-bind="value: offer.Floor" id="offer.Floor" type="text" name="offer.Floor" />
        </div>
    </div>
    <div class="control-group">
        <label for="offer.Deposit" class="control-label">Deposit</label>
        <div class="controls">
            <input data-bind="value: offer.Deposit" id="offer.Deposit" type="text" name="offer.Deposit" />
        </div>
    </div>
    <div class="control-group">
        <label for="offer.Rent" class="control-label">Kadar Sewa</label>
        <div class="controls">
            <input data-bind="value: offer.Rent" id="offer.Rent" type="text" name="offer.Rent" />
        </div>
    </div>
    <div class="control-group">
        <label for="offer.Date" class="control-label">Tarikh Mula Tawaran</label>
        <div class="controls">
            <input class="datepicker" name="offer.Date" data-format="dd/MM/yyyy" type="text" data-bind="date : { value : offer.Date, format:'DD/MM/YYYY'}" />
        </div>
    </div>
    <div class="control-group">
        <label for="offer.ExpiryDate" class="control-label">Tarikh Akhir Tawaran</label>
        <div class="controls">
            <input class="datepicker" name="offer.ExpiryDate" data-format="dd/MM/yyyy" type="text" data-bind="date: { value: offer.ExpiryDate, format: 'DD/MM/YYYY' }" />
        </div>
    </div>
    <div>
        <table id="offer-condition-table" class="table table-bordered table-bordered">
            <thead>
                <tr>
                    <th>Tajuk</th>
                    <th>Keterangan</th>
                    <th>Nota</th>
                    <th>Diwajibkan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: offer.OfferConditionCollection">
                <tr>
                    <td>
                        <input type="text" data-bind="value: Title, uniqueName: true" /></td>
                    <td>
                        <input type="text" data-bind="value: Description, uniqueName: true" /></td>
                    <td>
                        <input type="text" data-bind="value: Note, uniqueName: true" /></td>
                    <td>
                        <input type="checkbox" data-bind="checked: IsRequired" /></td>

                    <td>
                        <button class="btn btn-danger" title="Buang senarai ini">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="button" name="addConditionCommand" class="btn pull-right" value="+ Terma &amp; Syarat" data-bind="click: addConditionCommand" />
    </div>
</form>
<section>
    <input type="button" class="btn btn-success" value="SIMPAN" data-bind="command: saveCommand" data-loading-text="processing.." data-complete-text="Disimpan!" />
    <input type="button" class="btn btn-success" value="CETAK SURAT TAWARAN" data-bind="click: generateOfferLetterCommand"  data-loading-text="processing..." data-complete-text="Surat tawaran" />
</section>
