<section>
    <div class="control-group">
        <label for="TenantIdSsmNo" class="control-label">ID/SSM No: </label>
        <div class="controls">
            <input data-bind="value: idSsmNo" id="TenantIdSsmNo" type="text" name="TenantIdSsmNo" />
        </div>
    </div>
    <div class="control-group">
        <label for="contractNo" class="control-label">No. Kontrak :</label>
        <div class="controls">
            <input data-bind="value: contractNo" id="contractNo" type="text" name="contractNo" />
        </div>
    </div>
    <input type="button" class="btn btn-primary" data-bind="click : searchPaymentCommand" value="Cari" />
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>No.Kontrak</th>
                <th>IdSsmNo</th>
                <th>Bulan/Tahun</th>
                <!--<th>Telah Bayar (RM)</th>
                    <th>Patut Bayar (RM)</th>
                    <th>Tunggakan (RM)</th>
                    --> 
                <th> Manual</th>
            </tr>
            
        </thead>
        <tbody data-bind =" foreach : paymentCollection" >
            <tr>
                <td data-bind="text:ContractNo"></td>
                <td data-bind="text:TenantIdSsmNo"></td>
                <td data-bind="date: { value: Date, format: 'MM/YYYY' }"></td>
                <!--<td data-bind="text:Paidamount"></td>
                    <td data-bind="text:MustPaidAmout"></td>
                    <td data-bind="text:Accrued"></td>
                    -->  <td><a type="button" class="btn pull-right" data-toggle="modal" href="#set-payment-modal">Set Bayar</a></td>
            </tr>
        </tbody>
    </table>
</section>

<section id="set-payment-modal" class="modal hide fade" style="margin-left: -500px; width: 940px">
    <div class="modal-header">
        <h4>Maklumat Bayaran</h4>
    </div>
    <div class="modal-body" style="width: 900px; height: 500px; max-height: 500px" data-bind="with : payment">
        <div class="control-group">
            <span > Amaun Semasa :</span><span class="add-on"> RM </span><span data-bind="text: Amount" id="Amount" />
        </div>
       <!-- <div class="control-group">
            <span >Tunggakan Terkumpul :</span><span class="add-on"> RM </span><span data-bind="text: AccumulatedAccrued" id="AccumulatedAccrued" />
        </div>
        <div class="control-group">
            <span >Jumlah Perlu Dibayar :</span><span class="add-on"> RM </span><span data-bind="text: TotalPayment" id="TotalPayment" />
        </div>
        <div class="control-group">
            <span >Jumlah Sudah Dibayar :</span><span data-bind="text: RentPaid" id="RentPaid" />
        </div>-->
       
        <div id="payment">
            <h4>Rekod Bayaran</h4>
            <input type="button" value="+" class="btn-mini" data-bind="click: $parent.addPaymentCommand"/>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No Resit</th>
                        <th>Jumlah (RM)</th>
                        <th>Tarikh</th>
                    </tr>
                </thead>
                <tbody data-bind=" foreach: PaymentDistributionCollection">
                    <tr>
                        <td><input type="text" data-bind="value: ReceiptNo, uniqueName: true"/></td>
                        <td><input type="text" data-bind="value: Amount, uniqueName: true" /></td>
                        <td><input id="paymentdistribution.DateTime" name="Date" type="text" data-bind="kendoDate: DateTime" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" value="Simpan" class="btn btn-small" data-bind="click: saveCommand" data-dismiss="modal"/>
        <input type="button" value="Batal" class="btn btn-small" data-dismiss="modal"/>
    </div>
</section>
