<h1 class="header">Ruang Untuk Disewa</h1>

<div class="row" data-bind="with : searchTerm">
    <div class="control-group span3 offset2">
        <label class="control-label">Categories</label>
        <div class="controls" data-bind="foreach :categoryOptions">
            <label class="checkbox">
                <input type="checkbox" data-bind="value:$data, checked : $parent.categories" />
                <!-- ko text:$data -->
                <!-- /ko -->
            </label>
        </div>
    </div>
    <div class="control-group span3">
        <label class="control-label">Negeri</label>
        <div class="controls" data-bind="foreach :stateOptions">
            <label class="checkbox">
                <input type="checkbox" data-bind="value:$data,checked:$parent.states" />
                <!-- ko text:$data -->
                <!-- /ko -->
            </label>
        </div>
    </div>
    <div class="control-group span2">
        <button class="btn btn-primary" data-bind="command : $root.searchCommand">
            <i class="icon-search pull-left"></i>
            Search
        </button>
    </div>
</div>

<div class="row" data-bind="filter: { path: 'section>div' }">

    <section id="building-list" class="span12" data-bind="foreach: items">
        <h2 data-bind="text:name"></h2>
        <!-- ko foreach : spaces -->
        <div>
            <article>
                <div>
                    <span class="category" data-bind="text: Category" />
                    <span class="building-name" data-bind="text: BuildingName" />
                    <form id="div-building">
                        <div>
                            <span class="location">Lokasi :</span>
                            <span class="lot-name" data-bind="text: LotName" />
                            <span class="floor-name" data-bind="text: FloorName" />,
                            <span class="building-name" data-bind="text: BuildingName" />,
                            <span class="city" data-bind="text: City" />,
                            <span class="state" data-bind="text: State" />.
                        </div>

                        <div>
                            <span class="label">Saiz :</span>
                            <span class="size" data-bind="text: Size" />mps
                       
                            <span class="label">Kadar Sewa :</span>
                            RM <span class="rental-rate" data-bind="money: RentalRate" />
                        </div>
                        <a class="btn btn-primary" data-bind="attr: { href: '/#/application.detail-templateid.' + $parents[0].id + '/' + CommercialSpaceId() }">Mohon Sewa</a>

                    </form>

                </div>
            </article>
        </div>

        <!-- /ko -->

    </section>

</div>
