<h1 class="header">Ruang Untuk Disewa</h1>
<section id="building-list" class="span12" data-bind="foreach: items">
    <!-- ko foreach : spaces -->
    <div class="metro tile">
        <article class="tile">
            <div class="row-fluid bordered-box">
                <span class="title" data-bind="text: Category"/>
                <span class="title" data-bind="text: BuildingName"/>
                <form class="form-inline span11" id="div-building">

                    <div class="span2">
                        <img src="/Content/images/icon.png" width="60" height="60" alt="">
                    </div>
                    <div>
                        <span class="label">Lokasi :</span>
                        <span data-bind="text: LotName" />
                        <span data-bind="text: FloorName" />,
                        <span data-bind="text: BuildingName" />,
                        <span data-bind="text: City" />,
                        <span data-bind="text: State" />.
                    </div>

                    <div>
                        <span class="label">Saiz :</span>
                        <span data-bind="text: Size" /> mps
                        <span class="label">Kadar Sewa :</span>
                        RM <span data-bind="money: RentalRate" />
                    </div>
                    <a class="icon-eject btn btn-primary pull-right" data-bind="attr: { href: '/#/application.detail-templateid.' + $parents[0].id + '/' + CommercialSpaceId() }">  Mohon Sewa</a>

                </form>

            </div>
        </article>
    </div>

    <!-- /ko -->

</section>
