<div class="row-fluid">
    <section class="span4">
        <div>
            <section id="commercialSpace" class="widget wgreen">
                <div class="widget-head">
                    <div class="pull-left">RUANG KOMERSIAL</div>
                    <div class="widget-icons pull-right">
                        <a href="#"><i class="icon-chevron-down"></i></a>
                        <a href="#"><i class="icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content wgreen">
                    <article class="">
                        <div id="commercialSpace-Detail" class="padd" data-bind="with: commercialSpace">
                            <div><span>Negeri : </span><span data-bind="text: State"></span></div>
                            <div><span>Bandar : </span><span data-bind="text: City"></span></div>
                            <div><span>Nama Bangunan :</span><span data-bind="text: BuildingName"></span></div>
                            <div><span>Lot Bangunan :</span><span data-bind="text: BuildingLot"></span></div>
                            <div><span>Tingkat : </span><span data-bind="text: FloorName"></span></div>
                            <div><span>Lot : </span><span data-bind="text: LotName"></span></div>
                            <div><span>Jenis Ruang : </span><span data-bind="text: Category"></span></div>
                            <div><span>Saiz : </span><span data-bind="text: Size"></span></div>
                            <div><span>Kadar Sewa : </span><span data-bind="text: RentalRate"></span></div>
                        </div>
                    </article>
                    <div class="centered">
                        <img alt="map" data-bind="attr: { src: commercialSpace.StaticMap }" class="img-polaroid centered" src="/Images/accent.png" />
                    </div>
                </div>

            </section>
        </div>
    </section>
    <section class="span8">
        <form class="form-horizontal">

            <div class="fc-header-title">
                <h3>Maklumat Pemohon</h3>
            </div>
            <div class="row-fluid">
               <div class="control-group">
                    <label class="control-label ">Nama</label>
                    <div class="controls ">
                        <input type="text" name="rentalapplication.Contact.Name" data-bind="value: rentalapplication.Contact.Name" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">No. Kad Pengenalan</label>
                    <div class="controls">
                        <input type="text" name="rentalapplication.Contact.IcNo" data-bind="value: rentalapplication.Contact.IcNo" />
                    </div>

                </div>
                <div class="control-group">
                    <label class="control-label">Jawatan</label>
                    <div class="controls">
                        <input type="text" name="rentalapplication.Contact.Role" data-bind="value: rentalapplication.Contact.Role" />
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">No. Telefon </label>
                    <div class="controls">
                        <input type="text" name="rentalapplication.Contact.MobileNo" data-bind="value: rentalapplication.Contact.MobileNo" />
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Emel</label>
                    <div class="controls">
                        <input type="email" name="rentalapplication.Contact.Email" data-bind="value: rentalapplication.Contact.Email" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input data-bind="checked: rentalapplication.IsCompany" id="rentalapplication.IsCompany" type="checkbox" name="rentalapplication.IsCompany" />
                            Permohonan bagi pihak syarikat
                        </label>
                    </div>
                </div>
                <section data-bind="visible: rentalapplication.IsCompany() == true">
                    <div class="fc-header-title">
                        <h3>Maklumat Syarikat</h3>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Nama Syarikat</label>
                        <div class="controls">
                            <input type="text" name="rentalapplication.CompanyName" data-bind="value: rentalapplication.CompanyName" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">No Pendaftaran Syarikat</label>
                        <div class="controls">
                            <input type="text" name="rentalapplication.CompanyRegistrationNo" data-bind="value: rentalapplication.CompanyRegistrationNo" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Jenis Syarikat</label>
                        <div class="controls">
                            <select name="rentalapplication.CompanyType" data-bind="value: rentalapplication.CompanyType">
                                <option value="Business Corporate">Business Corporate</option>
                                <option value="Partnership">Partnership</option>
                                <option value="Sole Proprietorship">Sole Proprietorship</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group ">
                        <label class="control-label">No. Telefon Pejabat</label>
                        <div class="controls">
                            <input type="text" name="rentalapplication.Contact.OfficeNo" data-bind="value: rentalapplication.Contact.OfficeNo" />
                        </div>
                    </div>
                    <div>
                        <h6>Alamat</h6>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Jalan</label>
                        <div class="controls">
                            <input type="text" name="rentalapplication.Address.Street" data-bind="value: rentalapplication.Address.Street" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Bandar</label>
                        <div class="controls">
                            <input type="text" name="rentalapplication.Address.City" data-bind="value: rentalapplication.Address.City" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Poskod</label>
                        <div class="controls">
                            <input type="text" name="rentalapplication.Address.Postcode" data-bind="value: rentalapplication.Address.Postcode" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Negeri</label>
                        <div class="controls">
                            <select name="rentalapplication.Address.State" data-bind="value: rentalapplication.Address.State">
                                <option value="Selangor">Selangor</option>
                                <option value="Johor">Johor</option>
                                <option value="Melaka">Melaka</option>
                                <option value="Kelantan">Kelantan</option>
                                <option value="W.P Kuala Lumpur">W.P Kuala Lumpur</option>
                                <option value="Pahang">Pahang</option>
                                <option value="Perak">Perak</option>
                                <option value="Terengganu">Terengganu</option>
                                <option value="Sabah">Sabah</option>
                                <option value="Sarawak">Sarawak</option>
                            </select>
                        </div>
                    </div>
                </section>

                <div class="fc-header-title">
                    <h3>Cadangan Perniagaan</h3>
                </div>
                <div class="control-group">
                    <label class="control-label">Tujuan Permohonan</label>
                    <div class="controls">
                        <textarea cols="3" rows="4" name="rentalapplication.Purpose" data-bind="value: rentalapplication.Purpose" class="input-block-level"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Pengalaman</label>
                    <div class="controls">
                        <textarea cols="3" rows="4" name="rentalapplication.Experience" data-bind="value: rentalapplication.Experience" class="input-block-level"></textarea>
                        <span class="help-block">Nyatakan pengalaman anda/syarikat berdasarkan permohonan diatas</span>
                    </div>

                </div>

                <div class="control-group">
                    <label class="control-label">Sejarah </label>
                    <div class="controls">
                        <input type="checkbox" name="rentalapplication.IsRecordExist" class="checkbox" data-bind="checked: rentalapplication.IsRecordExist" />
                        <span class="help-inline">Pernah/Sudah Ada menyewa mana-mana Ruang Komersial dengan BPH? </span>
                    </div>
                </div>
                <div class="control-group" data-bind="visible: rentalapplication.IsRecordExist">
                    <label class="control-label">-</label>
                    <div class="controls">
                        <span class="help-block">Sila nyatakan alamat</span>
                        <textarea cols="3" rows="4" name="rentalapplication.PreviousAddress" data-bind="value: rentalapplication.PreviousAddress"></textarea>

                    </div>
                </div>
                <div class="fc-header-title">
                    <h3>Dokumen sokongan</h3>

                </div>
                <div>
                    <table id="document-sokongan-table" class="table table-bordered table-bordered">
                        <thead>
                            <tr>
                                <th>Jenis</th>
                                <th>Nama</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: { data: rentalapplication.AttachmentCollection, afterAdd: configureUpload }">
                            <tr>
                                <td>
                                    <input type="text" data-bind="value: Type, uniqueName: true" /></td>
                                <td>
                                    <input type="text" data-bind="value: Name, uniqueName: true" /></td>
                                <td>
                                    <input class="input-medium " type="file" value="upload" name="files" />
                                </td>
                                <td>
                                    <button class="btn btn-danger" title="Buang dokumen ini">-</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <input type="button" name="addAttachmentCommand" class="btn pull-right" value="+ Dokument" data-bind="click: addAttachmentCommand" />

                </div>
                <div class="text-warning warning">
                    <p>Sila pastikan semua maklumat yang diberi adalah benar dan tepat.</p>
                    <p>Permohonan anda akan dibatalkan sekiranya pihak pengurusan mendapati maklumat yang diberi tidak benar.</p>
                    <p>Terima Kasih atas kerjasama yang diberikan.</p>
                </div>
            </div>
        </form>

        <section>
            <div class="pull-right">
                <input id="save-application-button" type="button" name="saveCommand" class="btn btn-success" value="Hantar permohonan"
                    data-bind="command: saveCommand"
                    data-loading-text="processing...."
                    data-complete-text="Submitted!" />
            </div>
        </section>
        <section class="modal hide" id="success-panel">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Makluman Permohonan</h3>
            </div>
            <div class="modal-body">
                <span>Permohonan anda sudah berjaya direkodkan, no rujukan permohonan anda ialah <strong data-bind="text: registrationNo"></strong></span>
            </div>

            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" />
            </div>
        </section>
    </section>
</div>
