<h1>Report Builder</h1>
<div id="report-container">
    <div id="report-tool">
        <button class="btn"><i class="icon-report-label"></i>Label</button>
        <button class="btn"><i class="icon-report-line"></i>Line</button>
        <button class="btn"><i class="icon-report-table"></i>Table</button>
        <button class="btn"><i class="icon-report-bar-chart"></i>Bar Chart</button>
        <button class="btn"><i class="icon-report-line-chart"></i>Line Chart</button>
        <button class="btn"><i class="icon-report-pie-chart"></i>Pie Chart</button>
    </div>
    <div id="report-menu">
        <ul>
            <li>Settings</li>
            <li>Data</li>
            <li>Layout</li>
            <li>Security</li>
        </ul>
    </div>
    <div id="side-panel"></div>
    <div id="report-main"></div>

</div>

