<!--<h1>Report Manager</h1>
    <ul>
        <li>Settings</li>
        <li>Data</li>
        <li>Layout</li>
        <li>Security</li>
    </ul>-->
<h1 class="row-fluid">Senarai Laporan</h1>

<table class="table" data-bind="filter: { path: 'tbody>tr' }">
    <thead>
        <tr>
            <th>Nama</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: reports">
        <tr>
            <td>
                <a data-bind="attr: { href: '/#/reportdefinition.edit/' + ReportDefinitionId() }, text: Name" ></a> 
            </td>
            <td></td>
        </tr>
    </tbody>
</table>