<h1>Report schedules for
    <span data-bind="text:rdl().Title"></span></h1>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label for="schedule-mode" class="control-label">Mode</label>
            <div class="controls">
                <select data-bind="value: mode" id="schedule-mode" name="schedule-mode">
                    <option value="">[Please Select]</option>
                    <option value="h">Hourly</option>
                    <option value="d">Daily</option>
                    <option value="w">Weekly</option>
                    <option value="m">Monthly</option>
                </select>
            </div>
        </div>

        <div data-bind="with : rdl">
            <div data-bind="with : Schedule">
                <!--ko if:$data['$type'] === "Bespoke.SphCommercialSpaces.Domain.HourlySchedule, domain.commercialspace" -->
                <div class="control-group">
                    <label for="sche-start-hour" class="control-label">Start Hour</label>
                    <div class="controls">
                        <input class="input-mini" data-bind="value: StartHour" id="sche-start-hour" type="number" name="sche-start-hour" />
                    </div>
                </div>
                
                <div class="control-group">
                    <label for="h-end" class="control-label">End hour</label>
                    <div class="controls">
                        <input class="input-mini" data-bind="value: EndHour" id="h-end" type="number" name="EndHour" />
                    </div>
                </div>
                
                <div class="control-group">
                    <label for="h-minute" class="control-label">On the minute</label>
                    <div class="controls">
                        <input class="input-mini" data-bind="value: Minute" id="h-minute" type="number" name="Minute" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="h-interval" class="control-label">Interval</label>
                    <div class="controls">
                        <input class="input-mini" data-bind="value: Interval" id="h-interval" type="number" max="23" name="Interval" />
                        <span class="help-inline">every hour</span>
                    </div>
                </div>

                <!-- /ko-->
                <!--ko if:$data['$type'] === "Bespoke.SphCommercialSpaces.Domain.DailySchedule, domain.commercialspace" -->
                <div class="control-group">
                    <label for="daily-hour" class="control-label">Hour</label>
                    <div class="controls">
                        <input class="input-mini" data-bind="value: Hour" id="daily-hour" type="number" max="23" name="sche-start-hour" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="daily-minute" class="control-label">Minute</label>
                    <div class="controls">
                        <input class="input-mini" data-bind="value: Minute" id="daily-minute" type="number" max="59" name="daily-minute" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input data-bind="checked: IsMonday" id="daily-monday" type="checkbox" name="IsMonday" />
                            Monday
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input data-bind="checked: IsTuesday" id="daily-tuesday" type="checkbox" name="IsTuesday" />
                            Tuesday
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input data-bind="checked: IsWednesday" id="daily-wednesday" type="checkbox" name="IsWednesday" />
                            Wednesday
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input data-bind="checked: IsThursday" id="daily-thursday" type="checkbox" name="IsThursday" />
                            Thursday
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input data-bind="checked: IsFriday" id="daily-friday" type="checkbox" name="IsFriday" />
                            Friday
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input data-bind="checked: IsSaturday" id="daily-saturday" type="checkbox" name="IsSaturday" />
                            Saturday
                        </label>
                    </div>
                </div>
                
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input data-bind="checked: IsSunday" id="d-sunday" type="checkbox" name="IsSunday" />
                            Sunday
                        </label>
                    </div>
                </div>
                



                <!-- /ko-->
            </div>
        </div>
    </form>
</div>
