<h1>Kembalikan permohonan-</h1>
<form class="form-horizontal">

    <section>
        <h3>dokumen yang tidak lengkap</h3>
        <ul data-bind="foreach: application.AttachmentCollection">
            <li>
                <span data-bind="text: Type"></span>
            </li>
        </ul>

        <div class="control-group">
            <label for="remarks" class="control-label">Nota :</label>
            <div class="controls">
                <textarea id="remarks" rows="3" cols="4" class="input-block-level" name="application.Remarks" data-bind="value: application.Remarks"></textarea>
            </div>
        </div>
        <div>
            <input type="button" value="Balik" class="btn" data-bind="click: sendEmailCommand" />
            <input type="button" value="Hantar Emel" class="btn btn-primary" data-bind="command: sendEmailCommand" data-loading-text="Sending email..." data-complete-text="Email sent" />
            <input type="button" value="Cetak Surat" class="btn btn-primary" data-bind="command: generateLetterCommand" data-loading-text="Generating document..." data-complete-text="Document is ready" />
        </div>
    </section>

</form>
