<li class="dropdown dropdown-big" data-bind="css: { open: searchResults().length > 0 }">
    <form data-bind="submit: searchCommand" class="form-search">
        <input data-bind="value: searchText" placeholder="Search..." type="search" class="search-query" />
        <i class="icon-search"></i>
    </form>
    <ul class="dropdown-menu">
        <li>
            <h5><i class="icon-user"></i>Search results</h5>
            <hr>
        </li>
        <!-- ko  foreach : searchResults -->
        <li>
            <!-- List item heading h6-->
            <a href="#" data-bind="text: Title, click: $root.navigateSearch"></a><span class="label label-warning pull-right">
                <i class="icon-home" data-bind="css : {'icon-building':Type === 'Building','icon-home': Type === 'CommercialSpace'}" ></i>
                <span data-bind2="text:Type"></span>
            </span>
            <div class="clearfix"></div>
            <hr>
        </li>
        <!-- /ko -->
        <li>
            <div class="drop-foot">
                <a href="#">View All</a>
                <a id="close-search-result" href="#" class="pull-right">&times;</a>
            </div>
        </li>
    </ul>
</li>
