<form class="form-horizontal">
    <div class="control-group">
        <label for="returnLetterTemplate" class="control-label">Returned letter template</label>
        <div class="controls">
            <input data-bind="value: returnLetterTemplate" id="returnLetterTemplate" type="file" name="files" />
        </div>
    </div>

    <div class="btn-group">
        <button class="btn btn-primary" data-bind="command: saveCommand" data-loading-text="Saving...." data-complete-text="Done">Save</button>
    </div>
</form>
