<section>
    <h3>Tetapan</h3>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li>
                <a href="#template-tab" data-toggle="tab">Templat</a>
            </li>
            <li>
                <a href="#rebate-tab" data-toggle="tab">Rebat</a>
            </li>
            <li>
                <a href="#interest-tab" data-toggle="tab">Faedah</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="template-tab" class="tab-pane active">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label for="returnLetterTemplate" class="control-label">Returned letter template</label>
                        <div class="controls">
                            <input id="returnLetterTemplate" type="file" name="files" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="offerLetterTemplate" class="control-label">Template surat tawaran</label>
                        <div class="controls">
                            <input id="offerLetterTemplate" type="file" name="files" />
                        </div>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-primary" data-bind="command: saveCommand" data-loading-text="Saving...." data-complete-text="Done">Save</button>
                    </div>
                </form>
            </div>
            <div id="rebate-tab" class="tab-pane">
                <!--ko compose:'viewmodels/_setting.rebate' -->
                <!--/ko-->
            </div>
            <div id="interest-tab" class="tab-pane">
                <!--ko compose:'viewmodels/_setting.interest' -->
                <!--/ko-->
            </div>
        </div>
    </div>
</section>
