<form class="form-horizontal">
   <div class="control-group">
        <label for="returnLetterTemplate" class="control-label">Returned letter template</label>
        <div class="controls">
            <input id="returnLetterTemplate" type="file" name="files" />
        </div>
    </div>
    
    <div class="control-group">
        <label for="offerLetterTemplate" class="control-label">Template surat tawaran</label>
        <div class="controls">
            <input  id="offerLetterTemplate" type="file" name="files" />
        </div>
    </div>

    <div>
        <button class="btn btn-primary" data-bind="command: saveCommand" data-loading-text="Saving...." data-complete-text="Done">Save</button>
    </div>
</form>
