<div>
    <header>
        <!--ko compose: {view: 'header'} -->
        <!--/ko-->
        <!--ko compose: {view: 'nav'} -->
        <!--/ko-->
    </header>
    <section id="content" class="container-fluid">
        <div class="pull-right" data-bind="if: router.activeItem().toolbar">
            <div data-bind="with: router.activeItem().toolbar">
                <!-- ko if: typeof saveCommand === "function"-->
                <button class="btn" data-bind="command: saveCommand" data-loading-text="Saving....">
                    <i class="icon-save"></i>
                    Save
                </button>
                <!-- /ko -->
                <!-- ko if: typeof removeCommand === "function"-->
                <button class="btn" data-bind="command: removeCommand" data-loading-text="Removing....">
                    <i class="icon-remove"></i>
                    Remove
                </button>
                <!-- /ko -->
                <!-- ko if: typeof reloadCommand === "function"-->
                <button class="btn" data-bind="command: reloadCommand" data-loading-text="Loading....">
                    <i class="icon-refresh"></i>
                    Reload
                </button>
                <!-- /ko -->
                <!-- ko if: typeof printCommand === "function"-->
                <button class="btn" data-bind="command: printCommand" data-loading-text="Printing....">
                    <i class="icon-print"></i>
                    Print
                </button>
                <!-- /ko -->
                <!-- ko if: typeof emailCommand === "function"-->
                <button class="btn" data-bind="command: emailCommand" data-loading-text="Sendin....">
                    <i class="icon-envelope"></i>
                    Email
                </button>
                <!-- /ko -->
            </div>
        </div>
        <!--ko compose: {model: router.activeItem, 
            afterCompose: router.afterCompose, 
            transition: 'entrance'} -->
        <!--/ko-->
    </section>

</div>
