<section>
    <h3>Maklumat Penyewa</h3>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li>
                <a href="#general-tab" data-toggle="tab">AM</a>
            </li>
            <li>
                <a href="#contract-tab" data-toggle="tab">Kontrak</a>
            </li>
            <li>
                <a href="#rental-tab" data-toggle="tab">Sewa</a>
            </li>
            <li>
                <a href="#adhoc-tab" data-toggle="tab">Ad Hoc Invois</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="general-tab" class="tab-pane active">
                <section>
                    <div class="control-group">
                        <span class="control-label">Nama : </span>
                        <span data-bind="text: tenant().Name" id="tenant.Name" />
                    </div>
                    <div class="control-group">
                        <span class="control-label">Id / SSM No : </span>
                        <span data-bind="text: tenant().IdSsmNo" id="tenant().IdSssmNo" />
                    </div>
                     <div class="control-group">
                        <span class="control-label">Bisnes : </span>
                        <span data-bind="text: tenant().BussinessType" id="tenant.BussinessType" />
                    </div>
                    <div class="control-group">
                        <span class="control-label">No. Telefon : </span>
                        <span data-bind="text: tenant().PhoneNo" id="tenant().PhoneNo" />
                    </div>
                    <div class="control-group">
                        <span class="control-label">No. Telefon Bimbit : </span>
                        <span data-bind="text: tenant().MobilePhoneNo" id="tenant().MobilePhoneNo" />
                    </div>
                    <div class="control-group">
                        <span class="control-label">No. Faks : </span>
                        <span data-bind="text: tenant().FaksNo" id="tenant().FaksNo" />
                    </div>
                    <div class="control-group">
                        <span class="control-label">Emel : </span>
                        <span data-bind="text: tenant().Email" id="tenant().Email" />
                    </div>
                    <section data-bind="with: tenant().Address">
                        <div>
                            <span>Alamat : </span>
                            <span data-bind="text : Street"></span>, 
                            <span data-bind="text : City"></span>,
                            <span data-bind="text : Postcode"></span>,
                            <span data-bind="text : State"></span>
                        </div>
                    </section>
                </section>
            </div>
            <div id="contract-tab" class="tab-pane">
                <!--ko compose:'viewmodels/_tenant.contract' -->
                <!--/ko-->
            </div>
            <div id="rental-tab" class="tab-pane">
                <!--ko compose:'viewmodels/_tenant.rent' -->
                <!--/ko-->
            </div>
            <div id="adhoc-tab" class="tab-pane">
                 <!--ko compose:'viewmodels/_tenant.adhoc' -->
                <!--/ko-->
            </div>
        </div>
    </div>
</section>
