<section id="tenant-list">
    <h1>Senarai Penyewa</h1>
    <table class="table table-striped" data-bind="filter: { path: 'tbody>tr' }">
        <thead>
            <tr>
                <th>No. Id/SSM </th>
                <th>Nama </th>
                <th>No. Telefon </th>
                <th>Email </th>
                <th>Alamat </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: tenantCollection">
            <tr>
                <td>
                    <a data-bind="attr: { href: '/#/tenant.detail/' + TenantId() }, text: IdSsmNo"></a>
                </td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: MobilePhone"></td>
                <td data-bind="text: Email"></td>
                <td>
                    <span data-bind="text: Address.Street"></span>,
                    <span data-bind="text: Address.Postcode"></span>
                    <span data-bind="text: Address.City"></span>,
                    <span data-bind="text: Address.State"></span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
