

<div class="pull-right navbar navbar-inner">
    <div data-bind="with: router.activeItem().toolbar">


        <!-- ko if: typeof groupCommands === "function"-->
        <!-- ko foreach: groupCommands-->

        <div class="btn-group">
            <a class="btn dropdown-toggle input-large" data-toggle="drop-down" href="#">

                <!-- ko text : caption -->
                <!-- /ko -->
                <span class="caret pull-right"></span>
            </a>
            <ul class="dropdown-menu">
                <!-- ko foreach: commands-->
                <li>
                    <a class="btn btn-link" data-bind="command: command" href="#">
                        <i data-bind="attr: { 'class': icon }"></i>
                        <!-- ko text : caption -->
                        <!-- /ko -->
                    </a>
                </li>
                <!-- /ko -->

            </ul>
        </div>

        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: typeof addNewCommand === "function"-->
        <button id="save" class="btn" data-bind="command: addNewCommand" data-loading-text="Simpan....">
            <i class="icon-plus"></i>
            Tambah
        </button>
        <!-- /ko -->

        <!-- ko if: typeof addNew === "object"-->
        <!-- ko with: addNew-->
        <a id="savebutton" class="btn" data-bind="attr: { href: location }" data-loading-text="Simpan....">
            <i class="icon-plus"></i>
            <!-- ko text : caption -->
            <!-- /ko -->
        </a>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: typeof saveCommand === "function"-->
        <button id="save-button" class="btn" data-bind="command: saveCommand">
            <i class="icon-save"></i>
            Simpan
        </button>
        <!-- /ko -->
        <!-- ko if: typeof removeCommand === "function"-->
        <button class="btn" data-bind="command: removeCommand">
            <i class="icon-remove"></i>
            Hapuskan
        </button>
        <!-- /ko -->
        <!-- ko if: typeof reloadCommand === "function"-->
        <button class="btn" data-bind="command: reloadCommand" data-loading-text="Sedang Proses....">
            <i class="icon-refresh"></i>
            Muat Semula
        </button>
        <!-- /ko -->
        <!-- ko if: typeof auditTrail === "object"-->
        <a data-toggle="modal" href="#shell-logviewer-modal" class="btn" data-bind="commandWithParameter: { command: $root.viewAuditTrailCommand, commandParameter: auditTrail }" data-loading-text="Sedang Proses....">
            <i class="icon-calendar"></i>
            Log
        </a>
        <!-- /ko -->
        <!-- ko if: typeof printCommand === "object"-->
        <button class="btn" data-bind="commandWithParameter: { command: $root.printCommand, commandParameter: printCommand }" data-loading-text="Cetak....">
            <i class="icon-print"></i>
            Cetak
        </button>
        <!-- /ko -->


        <!-- ko if: typeof exportCommand === "function"-->
        <button class="btn" data-bind="command: exportCommand">
            <i class="icon-download"></i>
            Eksport
        </button>
        <!-- /ko -->
        
        <!-- ko if: typeof importCommand === "function"-->
        <button class="btn" data-bind="command: importCommand">
            <i class="icon-upload"></i>
            Import
        </button>
        <!-- /ko -->

        <!-- ko if: typeof emailCommand === "function"-->
        <button class="btn" data-bind="command: emailCommand" data-loading-text="Sedang Proses....">
            <i class="icon-envelope"></i>
            Emel
        </button>
        <!-- /ko -->

        <!-- ko if: typeof watchCommand === "function"-->
        <button class="btn" data-bind="command: watchCommand, visible: watching() === false" data-loading-text="saving....">
            <i class="icon-eye-open"></i>
            Pantau
        </button>
        <!-- /ko -->
        <!-- ko if: typeof unwatchCommand === "function"-->
        <button class="btn" data-bind="command: unwatchCommand, visible: watching" data-loading-text="saving....">
            <i class="icon-eye-close"></i>
            Unwatch
        </button>
        <!-- /ko -->

        <!-- ko if: typeof commands === "function"-->
        <!-- ko foreach: commands-->

        <!-- ko if: typeof visible === "undefined"-->
        <button class="btn" data-bind="command: command">
            <i data-bind=" attr: { 'class': icon }"></i>
            <!-- ko text: caption -->
            <!-- /ko -->
        </button>
        <!-- /ko -->
        <!-- ko if: typeof visible === "function"-->
        <button class="btn" data-bind="command: command, isvisible: visible">
            <i data-bind=" attr: { 'class': icon }"></i>
            <!-- ko text: caption -->
            <!-- /ko -->
        </button>
        <!-- /ko -->

        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: typeof clicks === "function"-->
        <!-- ko foreach: clicks-->

        <!-- ko if: typeof visible === "undefined"-->
        <button class="btn" data-bind="click: command">
            <i data-bind=" attr: { 'class': icon }"></i>
            <!-- ko text: caption -->
            <!-- /ko -->
        </button>
        <!-- /ko -->
        <!-- ko if: typeof visible === "function"-->
        <button class="btn" data-bind="click: command, isvisible: visible">
            <i data-bind=" attr: { 'class': icon }"></i>
            <!-- ko text: caption -->
            <!-- /ko -->
        </button>
        <!-- /ko -->

        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>

