<div id="toolbar" class="toolbar-panel">

    <a class="float-left" href="#" id="toolbar-add-new-button">
        <img src="~/Images/azure/icon-drawer-add.png" alt="add new items" />
        <span>Tambah</span>
    </a>

    <a href="#" style="display: none" class="float-right dialog-cancel" id="toolbar-add-new-close-button">
        <img class="fx-drawmenu fx-drawmenu-close" src="~/Images/blank.png" alt="icon"/>
    </a>
    
    <div id="toolbar-menu-panel" style="display: none">
        <div class="content clearfix">
        <div class="left">
            <h1>Pesanan</h1>       
        <ul>
            <li><div id="toolbar-create-order-button"><i class="float-left live-tile live-tile-pesanan"></i><span>Buat Pesanan</span></div></li>
            <li><div id="toolbar-create-lubricant-order-button"><i class="float-left live-tile live-tile-pesanan-pelincir"></i><span>Pesanan Pelincir</span></div></li>
            <li><div id="toolbar-goods-loading-button"><i class="float-left live-tile live-tile-terimapesanan"></i><span>Terima Pesanan</span></div></li>
        </ul>
            </div>
            <div class="left">
                <h1>Kewangan</h1>  
        <ul> 
            <li><div id="toolbar-record-expense-button"><i class="float-left live-tile live-tile-Document"></i><span>Terima Bil</span></div></li>         
            <li><div id="toolbar-record-cashout-button"><i class="float-left live-tile live-tile-Cash"></i><span>Bayar Tunai</span></div></li>
            <li><div id="toolbar-record-bank-deposit-button"><i class="float-left live-tile live-tile-Bank"></i><span>Deposit bank</span></div></li>
            <li><div id="toolbar-record-check-button"><i class="float-left live-tile live-tile-Cek"></i><span>Keluar Cek</span></div></li>
            <li><div id="toolbar-record-receive-check-button"><i class="float-left live-tile live-tile-CekTunai"></i><span>Terima Cek/Tunai</span></div></li>        
       </ul> 
                </div> 
            </div>                  
    </div> 
</div>             
