<h1>Buat trigger baru </h1>
<form class="form-horizontal" data-bind="with: trigger">
    <div class="control-group">
        <label for="Name" class="control-label">Nama</label>
        <div class="controls">
            <input class="input-xxlarge" data-bind="value: Name" id="Name" type="text" name="Name" />
        </div>
    </div>
    <div class="control-group">
        <label for="Note" class="control-label">Nota</label>
        <div class="controls">
            <textarea class="input-xxlarge" data-bind="value: Note" id="Note" name="Note"></textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input data-bind="checked: IsActive" id="isActive" type="checkbox" name="IsActive" />
                Aktif
            </label>
        </div>
    </div>

    <div class="control-group">
        <label for="Entity" class="control-label">Entiti</label>
        <div class="controls">
            <select data-bind="value: Entity" id="Entity" name="Entity">
                <option value="">[--Sila Pilih--]</option>
                <option value="Building">Bangunan</option>
                <option value="RentalApplication">Permohonan Sewa</option>
                <option value="Deposit">Deposit</option>
                <option value="Contract">Kontrak</option>
                <option value="CommercialSpace">Ruang Komersil</option>
                <option value="Tenant">Penyewa</option>
                <option value="Invoice">Invois</option>
            </select>
        </div>
    </div>
    <h3>Rules</h3>
    <a class="btn btn-mini pull-right" data-bind="click: $parent.addRuleCommand">+</a>
    <table id="rules-table" class="table table-striped">
        <thead>
            <tr>
                <th>Left</th>
                <th>Operator</th>
                <th>Right</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: RuleCollection">
            <tr>
                <td>
                    <div class="btn-group" data-bind="visible: Left().Name() === ''">
                        <a class="btn dropdown-toggle input-xlarge" data-toggle="drop-down" href="#">+ Field
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="btn btn-link" data-bind="click: $root.addDocumentFieldCommand" href="#document-panel-modal">+ Document Field</a>
                            </li>
                            <li><a class="btn btn-link" data-bind="click: $root.addConstantFieldCommand" href="#constant-panel-modal">+ Constant Field</a>
                            </li>
                            <li><a class="btn btn-link" data-bind="click: $root.addFunctionFieldCommand" href="#function-panel-modal">+ Function Field</a>
                            </li>
                        </ul>
                    </div>
                    <div data-bind="with: Left">
                        <a href="#" class="btn btn-link" data-bind="attr: { href: '' }, text: Name">Add here</a>
                    </div>
                </td>
                <td>
                    <select data-bind="value: Operator">
                        <option value="Eq">=</option>
                        <option value="Le">&lt;=</option>
                        <option value="Lt">&lt;</option>
                        <option value="Ge">&gt;=</option>
                        <option value="Gt">&gt;</option>
                        <option value="Substringof">Mengandungi</option>
                        <option value="StartsWith">Mula dengan</option>
                        <option value="EndsWith">Akhir</option>

                    </select>
                </td>
                <td>
                    <div class="btn-group" data-bind="visible: Right().Name() === ''">
                        <a class="btn dropdown-toggle input-xlarge" data-toggle="drop-down" href="#">+ Field
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="btn btn-link" data-bind="click: $root.addDocumentFieldToRightCommand" href="#document-panel-modal">+ Add Document Field</a>
                            </li>
                            <li><a class="btn btn-link" data-bind="click: $root.addConstantFieldToRightCommand" href="#constant-panel-modal">+ Add Constant Field</a>
                            </li>
                            <li><a class="btn btn-link" data-bind="click: $root.addFunctionFieldToRightCommand" href="#function-panel-modal">+ Add Function Field</a>
                            </li>
                        </ul>
                    </div>
                    <div data-bind="with: Right">
                        <a href="#" class="btn btn-link" data-bind="attr: { href: '' }, text: Name">Add here</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Action</h3>
    <div class="btn-group" id="action-panel">
        <a class="btn dropdown-toggle input-xlarge" data-toggle="drop-down">Add Action<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="btn btn-link" data-bind="click: $root.addEmailActionCommand">Add Email Action</a>
            </li>
            <li><a class="btn btn-link" data-bind="click: $root.addSetterActionCommand">Add Setter Action</a>
            </li>

        </ul>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tajuk</th>
                <th>Nota</th>
                <th>Template</th>
                <th>Aktif</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: ActionCollection">
            <tr>
                <td>
                    <input type="text" data-bind="value: Title" />
                </td>
                <td>
                    <input type="text" data-bind="value: Note" />
                </td>
                <td>
                    <!-- ko if: $data.hasOwnProperty("Bcc") -->
                    <a type="button" class="btn btn-link" data-toggle="modal" href="#email-action-modal">Edit Email Template</a>
                    <!-- /ko -->
                    <!-- ko if: $data.hasOwnProperty("SetterActionChildCollection") -->
                    <a type="button" class="btn btn-link" data-toggle="modal" href="#setter-action-modal">Edit Setter Template</a>
                    <!-- /ko -->
                </td>
                <td>
                    <input data-bind="checked: IsActive" id="IsActive" type="checkbox" name="IsActive" />
                </td>
            </tr>
        </tbody>
    </table>
</form>

<section class="modal hide" id="function-panel-modal">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Function</h3>
    </div>
    <div class="modal-body" data-bind="with: functionField">
        <div class="control-group">
            <label for="function-panel-name" class="control-label">Nama</label>
            <div class="controls">
                <input data-bind="value: Name" id="function-panel-name" type="text" name="Name" />
            </div>
        </div>
        <div class="control-group">
            <label for="func-note" class="control-label">Nota</label>
            <div class="controls">
                <input data-bind="value: Note" id="func-note" type="text" name="Note" />
            </div>
        </div>
        <div class="control-group">
            <label for="func-script" class="control-label">Skript</label>
            <div class="controls">
                <textarea id="func-script" data-bind="value: Script" class="input-xxlarge" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: updateFunctionLeftToRuleCommand, visible: !isRight()" />
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: updateFunctionRightToRuleCommand, visible: isRight()" />
    </div>
</section>

<section class="modal hide" id="document-panel-modal">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Dokumen</h3>
    </div>
    <div class="modal-body" data-bind="with: documentField">
        <div class="control-group">
            <label for="doc-panel-name" class="control-label">Nama</label>
            <div class="controls">
                <input data-bind="value: Name" id="doc-panel-name" type="text" name="Name" />
            </div>
        </div>
        <div class="control-group">
            <label for="doc-note" class="control-label">Nota</label>
            <div class="controls">
                <input data-bind="value: Note" id="doc-note" type="text" name="Note" />
            </div>
        </div>
        <div class="control-group">
            <label for="doc-path" class="control-label">Path</label>
            <div class="controls">
                <input id="doc-path" data-bind="value: Path" class="input-xxlarge" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: updateDocumentLeftToRuleCommand, visible: !isRight()" />
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: updateDocumentRightToRuleCommand, visible: isRight()" />
    </div>
</section>

<section class="modal hide" id="constant-panel-modal">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Constant</h3>
    </div>
    <div class="modal-body" data-bind="with: constantField">
        <div class="control-group">
            <label for="constant-panel-name" class="control-label">Nama</label>
            <div class="controls">
                <input data-bind="value: Name" id="constant-panel-name" type="text" name="Name" />
            </div>
        </div>
        <div class="control-group">
            <label for="constant-note" class="control-label">Nota</label>
            <div class="controls">
                <input data-bind="value: Note" id="constant-note" type="text" name="Note" />
            </div>
        </div>
        <div class="control-group">
            <label for="constant-typename" class="control-label">Type</label>
            <div class="controls">
                <select id="constant-typename" data-bind="value: TypeName">
                    <option value="System.String, mscorlib">Teks</option>
                    <option value="System.DateTime">Tarikh</option>
                    <option value="System.Int32, mscorlib">Nombor bulat</option>
                    <option value="System.Decimal">Nombor pecahan</option>
                    <option value="System.Boolean, mscorlib">Betul/Salah</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="constant-value" class="control-label">Nilai</label>
            <div class="controls">
                <input data-bind="value: Value" id="constant-value" type="text" name="Value" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: updateConstantLeftToRuleCommand, visible: !isRight()" />
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: updateConstantRightToRuleCommand, visible: isRight()" />
    </div>
</section>

<section class="modal hide" id="email-action-modal">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Function</h3>
    </div>
    <div class="modal-body" data-bind="with: emailAction">
        <div class="control-group">
            <label for="email-action-to" class="control-label">To</label>
            <div class="controls">
                <input data-bind="value: To" id="email-action-to" type="text" name="Note" />
            </div>
        </div>
        <div class="control-group">
            <label for="email-action-from" class="control-label">From</label>
            <div class="controls">
                <input data-bind="value: From" id="email-action-from" type="text" name="Name" />
            </div>
        </div>
        <div class="control-group">
            <label for="email-action-subject" class="control-label">Subject Template</label>
            <div class="controls">
                <textarea id="email-action-subject" data-bind="value: SubjectTemplate" class="input-xxlarge" rows="5"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label for="email-action-body" class="control-label">Body Template</label>
            <div class="controls">
                <textarea id="email-action-body" data-bind="value: BodyTemplate" class="input-xxlarge" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: updateEmailActionCommand" />
    </div>
</section>

<section class="modal hide" id="setter-action-modal">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Function</h3>
    </div>
    <div class="modal-body" data-bind="with: setterAction">
        <div class="control-group">
            <label for="function-panel-note" class="control-label">Nota</label>
            <div class="controls">
                <input data-bind="value: Note" id="function-panel-note" type="text" name="Note" />
            </div>
        </div>
        <a class="btn btn-mini pull-right" data-bind="click: $root.addSetterActionChildCosmmand">+</a>
        <table id="action-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: SetterActionChildCollection">
                <tr>
                    <td>
                        <input type="text" data-bind="value: Path" id="setter-action-child-path" />
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle input-xlarge" data-toggle="drop-down">+ Field
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="btn btn-link" data-bind="click: $root.addDocumentFieldToActionCommand" href="#document-panel-modal">Add Document Field</a>
                                </li>
                                <li><a class="btn btn-link" data-bind="click: $root.addConstantFieldToActionCommand" href="#constant-panel-modal">Add Constant Field</a>
                                </li>
                                <li><a class="btn btn-link" data-bind="click: $root.addFunctionFieldToActionCommand" href="#function-panel-modal">Add Function Field</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" data-bind="click: updateSetterActionCommand" />
    </div>
</section>
