<div class="container">
    <div class="row">
        <div class="span8">
            <section id="application-list" class="k-block">

                <article>
                    <div id="div-application" title="Go to application details">
                        <h2>Maklumat Pemohon (<span data-bind="text: rentalapplication.Status"></span>)</h2>

                        <div><span>No  :</span><span data-bind="text: rentalapplication.RegistrationNo"></span></div>
                        <div><span>Nama  :</span><span data-bind="text: rentalapplication.CompanyName"></span></div>
                        <div>
                            <span>Alamat :</span>
                            <span data-bind="text: rentalapplication.Address.Street"></span>
                            <span data-bind="text: rentalapplication.Address.City"></span>
                            <span data-bind="text: rentalapplication.Address.Postcode"></span>
                            <span data-bind="text: rentalapplication.Address.State"></span>
                        </div>
                        <div><span>Nama Pegawai :</span><span data-bind="text: rentalapplication.Contact.Name"></span></div>
                        <div><span>No. Telefon (Pejabat) :</span><span data-bind="text: rentalapplication.Contact.OfficeNo"></span></div>
                        <div><span>No. Telefon (Mobile) :</span><span data-bind="text: rentalapplication.Contact.MobileNo"></span></div>
                        <div>
                            <a href="#details-panel" class="btn">
                                <i class="icon-camera"></i>
                                Maklumat Lanjut

                            </a>
                            <a data-bind="click: showAuditTrailCommand"  href="#audit-trail" class="btn">
                                <i class="icon-book"></i>Sejarah Permohonan</a>
                        </div>
                    </div>
                </article>

            </section>
            <br />
            <br />
            <br />
            <section id="attachment-list" class="k-block">

                <article>
                    <h2>Dokumen sokongan</h2>
                    <input type="button" class="btn" value="+ Dokumen" data-bind="click: addAttachmentCommand, visible: rentalapplication.Status() == 'New'" />
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Jenis</th>
                                    <th>Nama</th>
                                    <th>Diterima</th>
                                    <th>Diperlukan</th>
                                    <th>Lengkap</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: rentalapplication.AttachmentCollection">
                                <tr>
                                    <td>
                                        <input type="text" data-bind="value: Type, uniqueName: true" /></td>
                                    <td>
                                        <input type="text" data-bind="value: Name, uniqueName: true" /></td>
                                    <td>
                                        <input type="checkbox" class="checkbox" data-bind="checked: IsReceived" />
                                    </td>
                                    <td>
                                        <input type="checkbox" class="checkbox" data-bind="checked: IsRequired" /></td>
                                    <td>
                                        <input type="checkbox" class="checkbox" data-bind="checked: IsCompleted" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>

            </section>
        </div>

        <div class="span4">
            <section id="commercialSpace">
                <div class="article-left-content">
                    <article class="info">
                        <div id="commercialSpace-Detail">
                            <h3>RUANG KOMERSIAL</h3>
                            <div><span>Negeri :</span><span data-bind="text: commercialSpace.State"></span></div>
                            <div><span>Bandar :</span><span data-bind="text: commercialSpace.City"></span></div>
                            <div><span>Nama Bangunan :</span><span data-bind="text: commercialSpace.BuildingName"></span></div>
                            <div><span>Lot Bangunan :</span><span data-bind="text: commercialSpace.BuildingLot"></span></div>
                            <div><span>Tingkat :</span><span data-bind="text: commercialSpace.FloorName"></span></div>
                            <div><span>Lot :</span><span data-bind="text: commercialSpace.LotName"></span></div>
                            <div><span>Jenis Ruang :</span><span data-bind="text: commercialSpace.Category"></span></div>
                        </div>
                    </article>
                </div>
                <div>
                    <img alt="map" data-bind="attr:{src: commercialSpace.StaticMap}" class="img-polaroid" src="/Images/accent.png"/>
                </div>

            </section>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <label>Nota</label>
            <textarea class="input-block-level input-large" data-bind="value:remarks" rows="5"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="span12 pull-right">
        </div>
        <section style="float: right">
            <input type="button" class="btn btn-info" value="SENARAI MENUNGGU" data-bind="command: waitingListCommand, visible: rentalapplication.Status() == 'New'" data-loading-text="processing.." data-complete-text="Menunggu" />
            <input type="button" class="btn btn-warning" value="KEMBALIKAN" data-bind="command: returnedCommand, visible: rentalapplication.Status() == 'New'" data-loading-text="processing.." data-complete-text="DiKembalikan"/>
            <input type="button" class="btn btn-danger" value="BATALKAN" data-bind="command: declinedCommand, visible: rentalapplication.Status() == 'New'" data-loading-text="processing.." data-complete-text="Di tolak"/>
            <input type="button" class="btn btn-success" value="LULUSKAN" data-bind="command: approvedCommand, visible: rentalapplication.Status() == 'New'" data-loading-text="processing.." data-complete-text="Lulus!"/>
            <input type="button" class="btn btn-success" value="SEDIAKAN TAWARAN" data-bind="click: generateOfferLetterCommand, visible: rentalapplication.Status() == 'Approved' || rentalapplication.Status() == 'WaitingConfirmation'" data-loading-text="processing.." data-complete-text="Surat tawaran"/>
            <input type="button" class="btn btn-success" value="SAH TERIMA TAWARAN" data-bind="command: confirmOfferCommand, visible: rentalapplication.Status() == 'Offered'" data-loading-text="processing.." data-complete-text="Terima tawaran"/>
            <input type="button" class="btn btn-danger" value="TOLAK TAWARAN" data-bind="command: rejectOfferLetterCommand, visible: rentalapplication.Status() == 'Offered'" data-loading-text="processing.." data-complete-text="Surat tolak"/>
            <input type="button" class="btn btn-success" value="SEDIAKAN KONTRAK" data-bind="command: contractCommand, visible: rentalapplication.Status() == 'Confirmed'" data-loading-text="processing.." data-complete-text="Kontrak"/>
        </section>

    </div>
    <section class="modal hide fade" id="details-panel">
        <div class="modal-header">
            <button class="pull-right btn" data-dismiss="modal">&times;</button>
            <h3>Maklumat lanjut</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <input type="button" class="btn-small btn-primary" value="OK" data-dismiss="modal" />
        </div>
    </section>

    <section class="modal hide fade" id="audit-trail">
        <div class="modal-header">
            <button class="pull-right btn" data-dismiss="modal">&times;</button>
            <h3>Sejarah Permohonan</h3>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tarikh/Masa</th>
                        <th>Pengguna</th>
                        <th>Operasi</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:auditTrailCollection">
                    <tr>
                        <td data-bind="date: { value: DateTime, format: 'd MMM YYYY' }"></td>
                        <td data-bind="text:User"></td>
                        <td data-bind="text:Operation"></td>
                        <td data-bind="text:Note"></td>
                    </tr>
                </tbody>
            </table>
            <img src="/Images/spinner-md.gif" data-bind="visible:isBusy"/>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn-small btn-primary" value="OK" data-dismiss="modal" />
        </div>
    </section>


</div>
