<div class="row">
    <form class="form-inline">
        <div class="date-range pull-right" style="margin-right: 30px">
            <i class="fa fa-calendar fa-lg"></i>
            <span data-bind="date: { value : from, format :'MMMM DD, YYYY', inputFormat :'YYYY-MM-DD'}">
            </span>
            -
            <span data-bind="date: { value:to, format :'MMMM DD, YYYY', inputFormat :'YYYY-MM-DD'}"></span>
            <b class="caret"></b>
        </div>


    </form>
</div>
<div id="request-logs-charts"></div>