<table class="table table-condensed table-striped table-hover" data-bind="with: schedule">
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Active</th>
        <th>Truncate data</th>
        <th>Notify on error</th>
        <th>Notify on success</th>
        <th></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: IntervalScheduleCollection">
    <tr>
        <td>
            <i data-bind="attr : {class:icon}"></i>
        </td>
        <td>
            <a href="#" data-bind="click: $parent.editSchedule.call($parent, $data), text: name"></a>
        </td>
        <td>
            <input type="checkbox" name="IsEnabled" data-bind="checked:IsEnabled" />
        </td>
        <td>
            <input type="checkbox" name="truncate-data" data-bind="checked:Metadata.TruncateData" />
        </td>
        <td>
            <input type="checkbox" name="notify-on-error" data-bind="checked: Metadata.NotifyOnError" />
        </td>
        <td>
            <input type="checkbox" name="notify-on-success" data-bind="checked:Metadata.NotifyOnSuccess" />
        </td>
        <td>
            <a href="#" data-bind="click : $parent.removeIntervalSchedule.call($parent,$data)"><i class="fa fa-times"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<div>
<p></p>
</div>
<div id="action-panel" data-bind="with: schedule">
    <div class="btn-group">
        <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">
            <i class="fa fa-plus-circle"></i>
            Add new scheduled task &nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="btn btn-link" data-bind="click: addIntervalSchedule('Daily')">
                    <i class="fa fa-clock-o"></i>
                    Daily
                </a>
            </li>
            <li>
                <a class="btn btn-link" data-bind="click: addIntervalSchedule('Weekly')">
                    <i class="fa fa-th-list"></i>
                    Weekly
                </a>
            </li>

            <li>
                <a class="btn btn-link" data-bind="click: addIntervalSchedule('Monthly')">
                    <i class="fa fa-calendar-o"></i>
                    Monthly
                </a>
            </li>

        </ul>
    </div>

</div>
<div>
<p></p>
<p></p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>
