<div id="developers-log-panel" class="footer" data-bind="value: visible" style="background-color: whitesmoke">

    <div class="pull-right">

        <button class="btn btn-default pull-right" style="border: none" id="developers-log-panel-collapse" title="Collapse">
            <i class="fa fa-minus"></i>
        </button>
        <button class="btn btn-default pull-right" style="border: none" id="developers-log-panel-expand" title="Expand">
            <i class="fa fa-square-o"></i>
        </button>
    </div>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#server-logs-panel" data-toggle="tab">Logs Output</a>
            </li>
            <li>
                <a href="#subsribers-workers-panel" data-toggle="tab">Subscribers</a>
            </li>

        </ul>
        <div class="tab-content">
            <div id="server-logs-panel" class="tab-pane active">
                <div style="margin-left: 10px">
                    <button class="btn btn-default" style="border: none" data-bind="command : start, disable : connected" title="Connection to the running workers">
                        <i class="fa fa-plug"></i>
                        Connect
                    </button>
                    <button class="btn btn-default" style="border: none" data-bind="click : stop, enable : connected" title="Break the connection to the workers">
                        <i class="fa fa-chain-broken" style="border: none"></i>
                        Disconnect
                    </button>
                    <button class="btn btn-default" style="border: none" data-bind="click : clear" title="Clear all logs">
                        <i class="fa fa-times" style="color: red"></i>
                        Clear
                    </button>


                    <div class="btn-group" data-toggle2="buttons">
                        <label class="btn btn-sm btn-default active" title="Filter infos" style="margin-left: 5px">
                            <input type="checkbox" autocomplete="off" data-bind="checked : info">
                            <i class="fa fa-info" style="color: blue"></i>
                            Infos
                        </label>
                        <label class="btn btn-sm btn-default" title="Filter warnings" style="margin-left: 5px">
                            <input type="checkbox" autocomplete="off" data-bind="checked : warning">
                            <i class="fa fa-warning" style="color: orange"></i>
                            Warnings
                        </label>
                        <label class="btn btn-sm btn-default" title="Filter errors" style="margin-left: 5px">
                            <input type="checkbox" autocomplete="off" data-bind="checked : error">
                            <i class="fa fa-exclamation-circle" style="color: red"></i>
                            Errors
                        </label>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Source</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <label class="btn btn-sm btn-default" title="Filter WebServer" style="margin-left: 5px;border:none">
                                    <input type="checkbox" autocomplete="off" data-bind="checked : logFilter.webServer">
                                    <i class="glyphicon glyphicon-globe" style="color: rgb(83, 22, 169)"></i>
                                    Web Server
                                </label>
                            </li>
                            <li>
                                <label class="btn btn-sm btn-default" title="Filter Workflow" style="margin-left: 5px;border:none">
                                    <input type="checkbox" autocomplete="off" data-bind="checked : logFilter.workflow">
                                    <i class="fa fa-code-fork" style="color: rgb(21, 159, 185)"></i>
                                    Workflow
                                </label>
                            </li>
                            <li>
                                <label class="btn btn-sm btn-default" title="Filter Subscriber" style="margin-left: 5px;border:none">
                                    <input type="checkbox" autocomplete="off" data-bind="checked : logFilter.subscribers">
                                    <i class="fa fa-gears" style="color: rgb(25, 67, 177)"></i>
                                    Subscribers
                                </label>
                            </li>
                            <li>
                                <label class="btn btn-sm btn-default" title="Filter Schedulers" style="margin-left: 5px;border:none">
                                    <input type="checkbox" autocomplete="off" data-bind="checked : logFilter.schedulers">
                                    <i class="fa fa-times-circle-o" style="color: rgb(146, 94, 5)"></i>
                                    Schedulers
                                </label>
                            </li>
                            <li>
                                <label class="btn btn-sm btn-default" title="Filter Elasticsearch" style="margin-left: 5px;border:none">
                                    <input type="checkbox" autocomplete="off" data-bind="checked : logFilter.elasticsearch">
                                    <i class="fa fa-search" style="color: rgb(22, 169, 26)"></i>
                                    Elasticsearch
                                </label>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">All</a></li>
                        </ul>
                    </div>

                    <button class="btn btn-default pull-right" style="border: none;" data-bind="click : setting" title="Settings">
                        <i class="fa fa-gear"></i>
                    </button>
                    <input type="text" data-bind="textInput:filterText" placeholder=" filter..."
                           class="pull-right" style="width: 120px; border: none; background-color: #ffffff; margin: 2px" />

                </div>
                <div id="developers-log-footer" style="height: 250px; overflow-y: scroll; background-color: #fff">
                    <ul data-bind="foreach :list" class="list-group">
                        <li data-bind="css :{'list-group-item-success': message === 'Your workers has been succesfully restarted.'}">

                            <!-- ko if: ko.unwrap(severity) === "Verbose"-->
                            <i class="fa fa-info" style="color: #aba8a8">
                            </i>
                            <span data-bind="text:time" style="margin-left: 5px"></span>
                            <span data-bind="html:message" style="margin-left: 5px"></span>
                            <!--/ko-->

                            <!-- ko if: ko.unwrap(severity) === "Info"-->
                            <i class="fa fa-info" style="color: blue">
                            </i>
                            <span data-bind="text:time" style="margin-left: 5px"></span>
                            <span data-bind="html:message" style="margin-left: 5px"></span>
                            <!--/ko-->
                            
                            <!-- ko if: ko.unwrap(severity) === "Warning"-->
                            <i class="fa fa-warning" style="color: orange"></i>
                            <span data-bind="text:time" style="margin-left: 5px"></span>
                            <span data-bind="html:message" style="margin-left: 5px"></span>
                            <!--/ko-->

                            <!-- ko if: ko.unwrap(severity) === "Error"-->
                            <a class="" href="#developers-log-panel" title="View Exception stack trace" data-bind="click : $root.viewStackTrace">
                                <i class="fa fa-exclamation-circle" style="color: red"></i>
                                <span data-bind="text:time" style="margin-left: 5px"></span>
                                <span data-bind="html:message" style="margin-left: 5px"></span>
                            </a>
                            <!--/ko-->
                        </li>
                    </ul>
                </div>

            </div>
            <div id="subsribers-workers-panel" class="tab-pane">

                <ul class="list-group" data-bind="foreach :subscribers">
                    <li></li>
                </ul>
            </div>


        </div>
    </div>
</div>