

<h1>A test form for patient</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="a-test-for-for-patient-form">



    <div data-bind="visible:true" class="form-group">
        <label for="69493157-77c8-4e17-b9b8-69739a96c947" class="col-md-4">Name</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Name, enable :true "
                   
                   
                   
                   id="69493157-77c8-4e17-b9b8-69739a96c947" type="text" name="Name" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label for="af3879b9-e39c-4f2c-928e-da9812077fcf" class="col-md-4">Full Name</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: FullName, enable :true "
                   
                   
                   
                   id="af3879b9-e39c-4f2c-928e-da9812077fcf" type="text" name="FullName" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>