

<h1>Default Account Form</h1>
<div class="row">
    <form id="account-detail-form" class="form-horizontal" data-bind="with : entity">


    <div data-bind="visible:true" class="form-group">
        <label for="7f44afcf-b7d3-4c22-b4ca-0b6c0d342864" class="col-lg-4">Name</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: AccountName, visible :true"
                   id="7f44afcf-b7d3-4c22-b4ca-0b6c0d342864" type="text" name="AccountName" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="b281751d-987c-46d4-a683-f91dca9c5790" class="col-lg-4">NO</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: AccountNo, visible :true"
                   id="b281751d-987c-46d4-a683-f91dca9c5790" type="text" name="AccountNo" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="c95149d2-a5a8-4a71-8a95-3e3f37ef5d82" class="col-lg-4">Anual Revenue</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Revenue, visible :true"
                   id="c95149d2-a5a8-4a71-8a95-3e3f37ef5d82" type="text" name="Revenue" />
        </div>
    </div>
<h2>Address</h2>



    <div data-bind="visible:true" class="form-group">
        <label for="bdb19ab1-3542-4424-abb8-299f4f34c0df" class="col-lg-4">Street</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Address().Street, visible :true"
                   id="bdb19ab1-3542-4424-abb8-299f4f34c0df" type="text" name="Address.Street" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="831cd874-5cf9-440d-9486-c6c392cac91a" class="col-lg-4">Postcode</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Address().Postcode, visible :true"
                   id="831cd874-5cf9-440d-9486-c6c392cac91a" type="text" name="Address.Postcode" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="afc082ec-614d-4f63-a3bc-02ed3445b131" class="col-lg-4">State</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Address().State, visible :true"
                   id="afc082ec-614d-4f63-a3bc-02ed3445b131" type="text" name="Address.State" />
        </div>
    </div>
    </form>
</div>
