<h1>Microsoft SQL Server</h1>
<div class="row">
    <form class="form-horizontal" data-bind="with:adapter">
        <h3>Adapter property</h3>
       <div class="form-group">
           <label class="col-sm-3" for="name">Name</label>
           <div class="col-sm-9">
               <input class="form-control" type="text" id="name" required placeholder="Adapter name" data-bind="value:Name"/>
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-3" for="description">Description</label>
           <div class="col-sm-9">
               <textarea class="form-control" type="text" id="description" placeholder="Developers note" data-bind="value: Description"></textarea>
           </div>
       </div>

        <h3>Connection property</h3>

        <div class="form-group">
            <label class="col-sm-3" for="server">Server</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="server" required placeholder="SQL Server name instance" data-bind="value:Server"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3" for="trusted">Trusted Connection</label>
            <div class="col-sm-9 checkbox">
                <input type="checkbox" id="trusted"  placeholder="SQL Server name instance" data-bind="value:TrustedConnection"/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3" for="userid">UserId</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="userid" required placeholder="UserId if connection using SQL authentication" data-bind="value:UserId, disable:TrustedConnection "/>
            </div>
        </div>



        <div class="form-group">
            <label class="col-sm-3" for="password">Password</label>
            <div class="col-sm-9">
                <input class="form-control" type="password" id="password" required placeholder="Password if connection using SQL authentication" data-bind="value:Password, disable:TrustedConnection"/>
            </div>
        </div>



        <div class="form-group">
            <label class="col-sm-3" for="database">Database</label>
            <div class="col-sm-9">
                <select class="form-control" type="text" id="database" required placeholder="Username if connection using SQL authentication"
                        data-bind="value:Database">

                </select>
            </div>
        </div>
        <h3>Database objects</h3>


    </form>
</div>