<h1> Oracle Adapter</h1>
<div class="row" data-bind="with : adapter">
    <form class="form-horizontal">
        
        <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-6">
                <input type="text" data-bind="value: Name" 
                       required="" pattern="^[A-Za-z_][A-Za-z0-9_]*$" 
                       placeholder="Name for the adapter"
                       class="form-control" id="name">
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-6">
                <textarea  data-bind="value: Description"
                           placeholder=""
                           class="form-control" id="desc"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="cs" class="col-lg-2 control-label">Connection string</label>
            <div class="col-lg-6">
                <input type="text" data-bind="value: ConnectionString"
                       required=""
                       placeholder="Oracle connection string"
                       class="form-control" id="cs">
            </div>
        </div>

        <div class="form-group">
            <label for="schema" class="col-lg-2 control-label">Schema</label>
            <div class="col-lg-6">
                <select class="form-control" id="schema" data-bind="value : Schema, options:$root.schemaOptions, optionsCaption:'[Select a schema]'"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="table" class="col-lg-2 control-label">Table</label>
            <div class="col-lg-6">
                <select class="form-control" id="table" data-bind="value : Table, options:$root.tableOptions, optionsCaption:'[Select a table]'"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="table" class="col-lg-2 control-label sr-only">Generate</label>
            <div class="col-lg-6">
                <button class="btn btn-default" data-bind="command : $root.generate">
                    <i class="fa fa-database"></i>
                </button>
            </div>
        </div>

    </form>
</div>