<h1>Integration Adapters </h1>
<div class="row">

    <div>
        <div class="btn-group">
            <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">
                Add Adapter&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a style="text-align: left" class="btn btn-link" href="#adapter.oracle/0" data-bind2="click: addPropertyMapping('Simple')">
                        <i class="fa fa-database fa-align-left"></i>
                        Oracle Database
                    </a>
                </li>
                <li>
                    <a style="text-align: left" class="btn btn-link" href="#adapter.sqlserver/0">
                        <i class="fa fa-windows"></i>
                        Microsoft SQL Server
                    </a>
                </li>
                <li>
                    <a style="text-align: left" class="btn btn-link" href="#adapter.db2/0">
                        <i class="fa fa-database"></i>
                        IBM DB2
                    </a>
                </li>
                <li>
                    <a style="text-align: left" class="btn btn-link" href="#adapter.mysql/0">
                        <img alt="MySql" src="/images/mysql-24-black.png" />
                        MySQL
                    </a>
                </li>
                <li>
                    <a style="text-align: left" class="btn btn-link"href="#adapter.postgresql/0">
                        <i class="fa fa-database"></i>
                        PostgresSQL
                    </a>
                </li>
                <li>
                    <a style="text-align: left" class="btn btn-link"href="#adapter.fs/0">
                        <i class="fa fa-file-archive-o"></i>
                        File System
                    </a>
                </li>
                <li>
                    <a style="text-align: left" class="btn btn-link"href="#adapter.ftp/0">
                        <i class="fa fa-share-alt"></i>
                        FTP
                    </a>
                </li>
                <li>
                    <a style="text-align: left" class="btn btn-link"href="#adapter.rest/0">
                        <i class="fa fa-html5"></i>
                        RESTful Web API
                    </a>
                </li>
                <li>
                    <a style="text-align: left" class="btn btn-link"href="#adapter.http/0">
                        <i class="fa fa-html5"></i>
                        HTTP Web Scrapper
                    </a>
                </li>
                <li>
                    <a style="text-align: left" class="btn btn-link"href="#adapter.wsdl/0">
                        <i class="fa fa-code"></i>
                        XML Web Service
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <table class="table table-striped" data-bind="serverPaging :{entity : 'Adapter', list: adapters}">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach : adapters">
            <tr>
                <td>
                    <a href="#" data-bind="attr : {'href':'#adapter.'+ $root.getAdapterType($data)+'/' + AdapterId()},text: Name" >HrEmployees</a>
                </td>
                <td data-bind2="text: Type">Oracle</td>
                <td data-bind="text:Description"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>