<h1>Microsoft SQL Server</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-md-8 col-md-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-md-2"></div>
    <!-- /ko-->
</div>


<div class="row">


    <div class="row col-lg-9 col-md9">

        <div class="col-lg-8 col-md-7 col-sm-6">
            <div id="table-tree" style="overflow-y: scroll; min-height: 400px"
                 data-bind="adapterTree :{ adapter:adapter, selected: $root.selected}">
                <h3>This is where the tre view goes</h3>
            </div>
            <a class="btn btn-link" data-bind="click : $root.addTable">
                <i class="fa fa-plus-circle"></i>
                Add new table or view
            </a>
            <a class="btn btn-link" data-bind="click : $root.addOperation">
                <i class="fa fa-plus-circle"></i>
                Add new stored procedure or function
            </a>
        </div>


        <div class="col-lg-4 col-md-5 col-sm-6" data-bind="with:selected ">
            <!-- ko if : (typeof(SqlType) !== "undefined") -->
            <h3 data-bind="text: 'Column Property'"></h3>
            <form>
                <div class="form-group">
                    <label class="control-label" data-bind="text:Name">Name</label>
                    <span class=""
                          data-bind="text:ko.unwrap(DbType) + ' (' + ko.unwrap(Length) + ')' + (ko.unwrap(IsNullable) ? ' NULL': ' NOT NULL')"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">CLR Property</label>
                    <input type="text" disabled class="form-control" data-bind="value:ClrName, tooltip: 'The property name used internally by C# compiler'"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Display Name</label>
                    <input type="text" placeholder="Json serialized property name, leave it blank and it will use the ClrName" class="form-control" data-bind="value:DisplayName, tooltip: 'The property name used by json serializer, for your API'"/>
                </div>


                <div class="form-group" data-bind="visible :(!ko.unwrap(IsNullable) && (ko.unwrap(Ignore)|| ko.unwrap(IsComplex)))">
                    <label for="member-default-value" class="control-label">Default Value</label>
                    <div class="btn-group" id="member-default-value">
                        <a data-bind="with : DefaultValue, bootstrapDropDown : {}" class="btn btn-link dropdown" href="#">
                            <img data-bind="fieldImage : $type" class="pull-left" alt="." />
                            <!-- ko text : Name -->
                            <!-- /ko -->
                            <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li data-bind="with : DefaultValue">
                                <a class="btn btn-link" data-bind="visible: Name() !== '+ Field', click: $root.editField.call($parent, $data, $parent.DefaultValue)">
                                    <i class="fa fa-edit"></i>
                                    Edit Default Value
                                </a>
                            </li>

                            <li>
                                <a data-bind="click: $root.addField" href="#">
                                    <img src="/images/ConstantField.png" alt="constantfield" class="pull-left" />
                                    + Constant Field
                                </a>
                            </li>
                            <li>
                                <a data-bind="click: $root.addField(DefaultValue,'Function')" href="#">
                                    <img src="/images/FunctionField.png" alt="FunctionField" class="pull-left" />
                                    + Function Field
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="form-group sr-only">
                    <label class="control-label">Is Complex &nbsp;
                        <input type="checkbox" data-bind="checked: IsComplex, tooltip:'If you want to make this field accessible via another endpoint'"/>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">MIME type</label>
                    <input type="text" required class="form-control" data-bind="value:MimeType,enable:IsComplex, tooltip: 'Mime type used for the response message content type'"/>
                </div>
                <!-- ko with :LookupColumnTable -->
                <div class="form-group sr-only">
                    <label class="control-label">Enable Lookup Table &nbsp;
                        <input type="checkbox" data-bind="checked: IsEnabled, tooltip:'If this column only store the key, and you want to display the value for the given from a separate lookup table'"/>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lookup-table">Lookup Table</label>
                    <select type="text" required class="form-control" id="lookup-table" 
                        data-bind="value:Table, options:$root.tableNameOptions, optionsCaption:'', enable:IsEnabled, tooltip:'Lookup table where the value is stored'"></select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="lookup-table">Name</label>
                    <input type="text" required class="form-control" id="lookup-name" data-bind="value:Name,enable:IsEnabled, tooltip:'The property name for the field produce by the lookup value'"/>
                </div>
                <div class="form-group">
                    <label for="member-type2">Type</label>
                    <select required class="form-control" id="member-type2" data-bind="value:TypeName,enable:IsEnabled, tooltip:'The data type of the return value'">
                        <option value="">[Please Select]</option>
                        <option value="System.String, mscorlib">String</option>
                        <option value="System.Boolean, mscorlib">Boolean</option>
                        <option value="System.Byte, mscorlib">Byte</option>
                        <option value="System.Int16, mscorlib">Short</option>
                        <option value="System.Int32, mscorlib">Integer</option>
                        <option value="System.Int64, mscorlib">Long</option>
                        <option value="System.Decimal, mscorlib">Decimal</option>
                        <option value="System.Double, mscorlib">Double</option>
                        <option value="System.DateTime, mscorlib">DateTime</option>
                        <option value="System.DateTimeOffset, mscorlib">DateTimeOffset</option>
                        <option value="System.TimeSpan, mscorlib">TimeSpan</option>
                        <option value="System.Guid, mscorlib">Guid</option>
                        <option value="System.Byte[], mscorlib">Byte Array</option>
                        <option value="System.Xml.XmlDocument, System.Xml">Xml</option>
                    </select>

                </div>
                <div class="form-group" id="key-column-form-group" data-bind="value:KeyColumn,enable:IsEnabled, tooltip:'The column name for the key, in the lookup table'">
                  <i class="fa fa-spinner fa-spin fa-fw fa-2x" data-bind="visible:IsEnabled"></i>
                    <span class="sr-only">Loading...</span>
                </div>

                <div class="form-group" id="value-column-form-group"
                        data-bind="tooltip:'The column name for the value, in the lookup table'">
                        <i class="fa fa-spinner fa-spin fa-fw fa-2x" data-bind="visible:IsEnabled"></i>
                        <span class="sr-only">Loading...</span>

                </div>
                <!-- /ko -->
            </form>
            <!-- /ko -->
            <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.Api.TableDefinition, domain.sph" -->
            <h3 data-bind="text: ko.unwrap(Name) "></h3>
            <form>


                <div class="form-group">
                    <label for="version-column" class="control-label">Version Column</label>

                    <select class="form-control" id="version-column"
                            data-bind="value:VersionColumn, options: (_(ko.unwrap(ColumnCollection)).filter(function(v){ return ko.unwrap(v.DbType) === 'timestamp'})), optionsValue : 'Name', optionsText:'Name', optionsCaption:''"></select>

                </div>
                <div class="form-group">
                    <label for="modified-date-column" class="control-label">Modified Date Column</label>

                    <select class="form-control" id="modified-date-column"
                            data-bind="value:ModifiedDateColumn, options:  (_(ko.unwrap(ColumnCollection)).filter(function(v){ return ko.unwrap(v.TypeName) === 'System.DateTime, mscorlib'})), optionsValue : 'Name', optionsText:'Name', optionsCaption:''"></select>

                </div>
            </form>
            <!-- /ko -->

            <div id="action-generators-panel">



                <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.Api.ChildListActionCode, domain.sph" -->
                <h3>Related table list action</h3>
                <form>
                    <div class="form-group">
                        <label class="control-label">Enable &nbsp;
                            <input type="checkbox" data-bind="checked: IsEnabled"/>
                        </label>
                    </div>
                </form>
                <!-- /ko -->

                <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.Api.ComplexColumnActionCode, domain.sph" -->
                <h3>Complex column link action</h3>
                <form>
                    <div class="form-group">
                        <label class="control-label">Enable &nbsp;
                            <input type="checkbox" data-bind="checked: IsEnabled"/>
                        </label>
                    </div>
                </form>
                <!-- /ko -->

                <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.Api.DeleteActionCode, domain.sph" -->
                <h3>Delete resource action</h3>
                <form>
                    <div class="form-group">
                        <label class="control-label">Enable &nbsp;
                            <input type="checkbox" data-bind="checked: IsEnabled"/>
                        </label>
                    </div>
                </form>
                <!-- /ko -->

                <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.Api.GetOneActionCode, domain.sph" -->
                <h3>Get one by primary key</h3>
                <form>
                    <div class="form-group">
                        <label class="control-label">Enable &nbsp;
                            <input type="checkbox" data-bind="checked: IsEnabled"/>
                        </label>
                    </div>
                </form>
                <!-- /ko -->

                <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.Api.InsertActionCode, domain.sph" -->
                <h3>Insert new resource action</h3>
                <form>
                    <div class="form-group">
                        <label class="control-label">Enable &nbsp;
                            <input type="checkbox" data-bind="checked: IsEnabled"/>
                        </label>
                    </div>
                </form>
                <!-- /ko -->

                <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.Api.ListActionCode, domain.sph" -->
                <h3>List action</h3>
                <form data-bind="with:ErrorRetry">
                    <div class="form-group">
                        <label for="retry-count" class="control-label">Attempt</label>
                        <input type="number" max="50" data-bind="value: Attempt, tooltip:'Enable retry for your database call, the min value is 2, in an Exception is thrown, after the number of retry count you set, the execution will stop and exception is propagated to the call stack'" min="2"
                               placeholder="Set the number if retries if the invocation throws any exception"
                               class="form-control" id="retry-count">
                    </div>
                    <div class="form-group">
                        <label for="retry-interval" class="control-label">Wait</label>
                        <input type="number" step="10" max="50000" data-bind="value: Wait, tooltip:'The time in ms, the code will wait before attempting the next retry. The default is 500ms'"
                               placeholder="The interval between retries in ms"
                               class="form-control" id="retry-interval">
                    </div>
                    <div class="form-group">
                        <label for="retry-interval" class="control-label">Algorithm</label>
                        <select data-bind="value: Algorithm, tooltip:'Connstant - set to your interval value, Liner = interval * n, Exponential = interval * (2^n), n is the retry attempt'"
                                class="form-control" id="retry-wait">
                            <option value="Constant">Constant</option>
                            <option value="Linear">Linear</option>
                            <option value="Exponential">Exponential</option>
                        </select>
                    </div>
                </form>
                <!-- /ko -->

                <!-- ko if : ko.unwrap($type) === "Bespoke.Sph.Domain.Api.UpdateActionCode, domain.sph" -->
                <h3>Update resource action</h3>
                <form>
                    <div class="form-group">
                        <label class="control-label">Enable &nbsp;
                            <input type="checkbox" data-bind="checked: IsEnabled"/>
                        </label>
                    </div>
                </form>
                <!-- /ko -->

            </div>

        </div>

    </div>


    <div class="col-md-3 col-lg-3">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#general-tab" data-toggle="tab">General</a>
                </li>
                <li>
                    <a href="#connection-tab" data-toggle="tab">Connection</a>
                </li>
                <li>
                    <a href="#others-tab" data-toggle="tab">Others</a>
                </li>
                <li>
                    <a href="#others2-tab" data-toggle="tab">Others</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="general-tab" class="tab-pane active">

                    <form data-bind="with:adapter">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control" type="text" id="name" required placeholder="Adapter name"
                                   pattern="^[A-Z][A-Za-z0-9_]*$"
                                   data-bind="value:Name"/>

                        </div>

                        <div class="form-group">
                            <label for="name">Column Display Name Strategy</label>
                            <select class="form-control" type="text" id="column-name-strategy" placeholder="Adapter name"
                                   pattern="^[A-Z][A-Za-z0-9_]*$"
                                   data-bind="value:ColumnDisplayNameStrategy">
                                <option value=""></option>
                                <option value="Pascal">PascalCase</option>
                                <option value="camel">camel</option>
                                <option value="_">_ (underscore)</option>
                                <option value="-">- (dash)</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" type="text" id="description" placeholder="Developers note"
                                      data-bind="value: Description"></textarea>

                        </div>

                    </form>
                </div>
                <div id="connection-tab" class="tab-pane">
                    <form data-bind="with : adapter">
                        <div class="form-group">
                            <label for="server">Server</label>
                            <input class="form-control" type="text" id="server" required
                                   placeholder="SQL Server name instance" data-bind="value:Server"/>
                        </div>

                        <div class="form-group">
                            <label for="trusted">Trusted Connection</label>
                            <input type="checkbox" id="trusted" placeholder="SQL Server name instance"
                                   data-bind="checked:TrustedConnection"/>
                        </div>

                        <div class="form-group">
                            <label for="userid">UserId</label>
                            <input class="form-control" type="text" id="userid" required
                                   placeholder="UserId if connection using SQL authentication"
                                   data-bind="value:UserId, disable:TrustedConnection "/>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" id="password" required
                                   placeholder="Password if connection using SQL authentication"
                                   data-bind="value:Password, disable:TrustedConnection"/>
                        </div>

                        <div class="form-group">
                            <label for="database">Database</label>
                            <select class="form-control" id="database" required
                                    data-bind="value:Database, options: $root.databaseOptions, optionsCaption:'[Select a database]'"></select>
                        </div>


                    </form>

                </div>
                <div id="others-tab" class="tab-pane">


                </div>
                <div id="others2-tab" class="tab-pane">

                </div>

            </div>
        </div>
    </div>
</div>


<img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy"/>
