<link href="/Content/external/prism.css" rel="stylesheet"/>

<h1><!-- ko text:objectType --><!--/ko--> Operation Details</h1>
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-9">



        <div class="row" id="response-members-panel">
            <h3>Operation Schema Designer</h3>
            <div class="col-sm-8">
                <div data-bind="operationSchemaTree : {operation: operation, selected : $root.selected }">
                </div>
            </div>
            <div class="col-sm-4" data-bind="with: $root.selected">
                <h3>Member properties</h3>

                <form class="form" role="form" data-bind="visible:Name()">
                    <div class="form-group">
                        <label for="member_name2">CLR Name</label>
                        <input class="form-control" id="member_name2" name="member.name" type="text" required
                               pattern="^[A-Za-z@_][A-Za-z0-9_]*$"
                               data-bind="value: Name, enable : ko.unwrap(Name) !== '@return_value', tooltip: 'The property name for C# code, must be valid C# identifier with Pascal'"/>
                    </div>

                    <!-- ko if: ko.unwrap($type) === 'Bespoke.Sph.Integrations.Adapters.SprocResultMember, sqlserver.adapter'-->
                    <div class="form-group">
                        <label for="field-name">Field Name</label>
                        <input class="form-control" id="field-name" name="field.name" type="text" required
                               data-bind="value: FieldName, tooltip:'Field is the record set name, must be the same with the field name returned from the operation call'"/>
                    </div>

                    <div class="form-group">
                        <label for="member_name2">Display Name</label>
                        <input class="form-control" id="display-name" name="display.name" type="text" required
                               data-bind="value: DisplayName, tooltip :'Json serialized property name'"/>
                    </div>

                    <div class="form-group">
                        <label for="member-type2">Type</label>
                        <select class="form-control" id="member-type2" data-bind="value:TypeName">
                            <option value="">[Please Select]</option>
                            <option value="System.String, mscorlib">String</option>
                            <option value="System.Boolean, mscorlib">Boolean</option>
                            <option value="System.Byte, mscorlib">Byte</option>
                            <option value="System.Int16, mscorlib">Short</option>
                            <option value="System.Int32, mscorlib">Integer</option>
                            <option value="System.Int64, mscorlib">Long</option>
                            <option value="System.Decimal, mscorlib">Decimal</option>
                            <option value="System.Double, mscorlib">Double</option>
                            <option value="System.DateTime, mscorlib">DateTime</option>
                            <option value="System.DateTimeOffset, mscorlib">DateTimeOffset</option>
                            <option value="System.TimeSpan, mscorlib">TimeSpan</option>
                            <option value="System.Guid, mscorlib">Guid</option>
                            <option value="System.Byte[], mscorlib">Byte Array</option>
                            <option value="System.Xml.XmlDocument, System.Xml">Xml</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label class="checkbox">
                            <input data-bind="checked: IsNullable" id="member-nullable" type="checkbox"
                                   name="IsNullable"/>
                            Nullable
                        </label>
                    </div>

                    <!-- /ko -->
                    <!-- ko if: ko.unwrap($type) === 'Bespoke.Sph.Domain.ComplexMember, domain.sph'-->
                    <div class="form-group">
                        <label for="complex-type-name">Type Name</label>
                        <input class="form-control" id="complex-type-name" name="member.name" type="text" required
                               data-bind="value: TypeName"/>
                    </div>

                    <!-- /ko -->


                </form>
            </div>
        </div>

        <div class="row">
            <a data-toggle="collapse" href="#sproc-text">
                <h3>
                    <i class="fa fa-chevron-down"></i>
                    SQL Text
                </h3>
            </a>
            <div id="sproc-text" class="collapse in">
                <code data-bind="text:text" class="language-sql"></code>
            </div>
        </div>
        <div class="row" style="height: 200px"></div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#general-sproc" data-toggle="tab">General</a>
                </li>
                <li>
                    <a href="#retries-sproc" data-toggle="tab">Error &amp; Retries</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="general-sproc" class="tab-pane active">

                    <form data-bind="with : operation">

                        <div class="form-group">
                            <label for="name" class="control-label">Name</label>

                            <input type="text" data-bind="value: Name"
                                   required="" pattern="^[A-Za-z_][A-Za-z0-9_]*$"
                                   placeholder="Operation name"
                                   class="form-control" id="name">
                        </div>

                        <div class="form-group">
                            <label for="method-name" class="control-label">Method Name</label>
                            <input type="text" data-bind="value: MethodName"
                                   required="" pattern="^[A-Za-z_][A-Za-z0-9_]*$"
                                   placeholder="Method name in the adapter class"
                                   class="form-control" id="method-name">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input data-bind="checked: UseHttpGet" id="use-http-get" type="checkbox"
                                           name="UseHttpGet"/>
                                    Use HTTP GET method
                                </label>
                            </div>
                        </div>
                        <div class="alert alert-info">
                            You can use HTTP GET for safe and idempotent stored procedure,
                            the kind of stored procedure that is safe even it's called countless time,
                            and will not change any state and has no side effects
                        </div>
                    </form>
                </div>
                <div id="retries-sproc" class="tab-pane" data-bind="with : operation">

                    <form data-bind="with : ErrorRetry">
                        <div class="form-group">
                            <label for="trusted">Enable</label>
                            <input type="checkbox" id="trusted" data-bind="checked:IsEnabled">
                        </div>

                        <div class="form-group">
                            <label for="retry-count" class="control-label">Attempt</label>
                            <input type="number" max="50"
                                   data-bind="value: Attempt, enable:IsEnabled, tooltip:'Enable retry for your sproc, the min value is 2, in an Exception is thrown, after the number of retry count you set, the execution will stop and exception is propagated to the call stack'"
                                   min="2"
                                   placeholder="Set the number if retries if the invocation throws any exception"
                                   class="form-control" id="retry-count">
                        </div>
                        <div class="form-group">
                            <label for="retry-interval" class="control-label">Wait interval</label>
                            <input type="number" step="10" max="50000" min="100"
                                   data-bind="value: Wait, enable:IsEnabled, tooltip:'The time in ms, the code will wait before attempting the next retry. The default is 500ms'"
                                   placeholder="The interval between retries in ms"
                                   class="form-control" id="retry-interval">
                        </div>
                        <div class="form-group">
                            <label for="retry-interval" class="control-label">Algorithm</label>
                            <select data-bind="value: Algorithm, enable:IsEnabled, tooltip:'Connstant - set to your interval value, Liner = interval * n, Exponential = interval * (2^n), n is the retry attempt'"
                                    class="form-control" required id="retry-wait">
                                <option value="Constant">Constant</option>
                                <option value="Linear">Linear</option>
                                <option value="Exponential">Exponential</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
