<link href="/Content/external/prism.css" rel="stylesheet"/>

<h1><!-- ko text:objectType --><!--/ko--> Operation Details</h1>
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-9">


        <div class="row" id="response-members-panel">
            <h3>Operation Schema Designer</h3>
            <div class="col-sm-8">
                <div data-bind="operationSchemaTree : {operation: operation, selected : $root.selected }">
                </div>
            </div>
            <div class="col-sm-4" data-bind="with: $root.selected">
                <!-- ko if : (typeof(SqlType) !== "undefined") -->
                <h3 data-bind="text: 'Parameter Property'"></h3>
                <form>
                    <div class="form-group">
                        <label class="control-label" data-bind="text:Name">Name</label>
                    <span class=""
                          data-bind="text:ko.unwrap(DbType) + ' (' + ko.unwrap(Length) + ')' + (ko.unwrap(IsNullable) ? ' NULL': ' NOT NULL')"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">CLR Property</label>
                        <input type="text" disabled class="form-control"
                               data-bind="value:ClrName, tooltip: 'The property name used internally by C# compiler'"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Display Name</label>
                        <input type="text"
                               placeholder="Json serialized property name, leave it blank and it will use the ClrName"
                               class="form-control"
                               data-bind="value:DisplayName, tooltip: 'The property name used by json serializer, for your API'"/>
                    </div>


                </form>
                <!-- /ko -->
            </div>
        </div>

        <div class="row">
            <a data-toggle="collapse" href="#sproc-text">
                <h3>
                    <i class="fa fa-chevron-down"></i>
                    SQL Text
                </h3>
            </a>
            <div id="sproc-text" class="collapse in">
                <code data-bind="text:text" class="language-sql"></code>
            </div>
        </div>
        <div class="row" style="height: 200px"></div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#general-sproc" data-toggle="tab">General</a>
                </li>
                <li>
                    <a href="#retries-sproc" data-toggle="tab">Error &amp; Retries</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="general-sproc" class="tab-pane active">

                    <form data-bind="with : operation">

                        <div class="form-group">
                            <label for="name" class="control-label">Name</label>

                            <input type="text" data-bind="value: Name"
                                   required="" pattern="^[A-Za-z_][A-Za-z0-9_]*$"
                                   placeholder="Operation name"
                                   class="form-control" id="name">
                        </div>

                        <div class="form-group">
                            <label for="method-name" class="control-label">Method Name</label>
                            <input type="text" data-bind="value: MethodName"
                                   required="" pattern="^[A-Za-z_][A-Za-z0-9_]*$"
                                   placeholder="Method name in the adapter class"
                                   class="form-control" id="method-name">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input data-bind="checked: UseHttpGet" id="use-http-get" type="checkbox"
                                           name="UseHttpGet"/>
                                    Use HTTP GET method
                                </label>
                            </div>
                        </div>
                        <div class="alert alert-info">
                            You can use HTTP GET for safe and idempotent stored procedure,
                            the kind of stored procedure that is safe even it's called countless time,
                            and will not change any state and has no side effects
                        </div>
                    </form>
                </div>
                <div id="retries-sproc" class="tab-pane" data-bind="with : operation">

                    <form data-bind="with : ErrorRetry">
                        <div class="form-group">
                            <label for="trusted">Enable</label>
                            <input type="checkbox" id="trusted" data-bind="checked:IsEnabled">
                        </div>

                        <div class="form-group">
                            <label for="retry-count" class="control-label">Attempt</label>
                            <input type="number" max="50"
                                   data-bind="value: Attempt, enable:IsEnabled, tooltip:'Enable retry for your sproc, the min value is 2, in an Exception is thrown, after the number of retry count you set, the execution will stop and exception is propagated to the call stack'"
                                   min="2"
                                   placeholder="Set the number if retries if the invocation throws any exception"
                                   class="form-control" id="retry-count">
                        </div>
                        <div class="form-group">
                            <label for="retry-interval" class="control-label">Wait interval</label>
                            <input type="number" step="10" max="50000" min="100"
                                   data-bind="value: Wait, enable:IsEnabled, tooltip:'The time in ms, the code will wait before attempting the next retry. The default is 500ms'"
                                   placeholder="The interval between retries in ms"
                                   class="form-control" id="retry-interval">
                        </div>
                        <div class="form-group">
                            <label for="retry-interval" class="control-label">Algorithm</label>
                            <select data-bind="value: Algorithm, enable:IsEnabled, tooltip:'Connstant - set to your interval value, Liner = interval * n, Exponential = interval * (2^n), n is the retry attempt'"
                                    class="form-control" required id="retry-wait">
                                <option value="Constant">Constant</option>
                                <option value="Linear">Linear</option>
                                <option value="Exponential">Exponential</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
