<h1>Add New Customer</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-lg-2"></div>
    <!-- /ko-->
</div>
<div class="row">

<div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="add-customer-form-form">


<div data-bind="visible:true" class="form-group">
    <label for="53671b97-faf0-4343-bea4-1642fd40424f" class="col-md-4">Full name</label>

    <div class="col-md-8">
        <input required class=" form-control input-large" title=""
               data-bind="value: FullName, enable :true"
               id="53671b97-faf0-4343-bea4-1642fd40424f" type="text" name="FullName"/>
    </div>
</div>

<div class="form-group" data-bind="visible:true">
    <label for="ff83f8d0-9dd7-4621-87b7-7b5ddbd0c985" class="col-md-4">Gender</label>

    <div class="col-md-8">
        <select data-bind="value: Gender, enable :true" id="ff83f8d0-9dd7-4621-87b7-7b5ddbd0c985"
                name="Gender" class=" input-large form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
</div>

<label class="col-md-4">Age</label>
<span class="col-md-8" data-bind="text: Age"></span>

<div data-bind="visible:true">
    <span> Test</span>
    <button class="btn btn-default pull-right"
            data-bind="click : addChildItem(Contact().AttachmentCollection, bespoke.dev_1.domain.Attachment)">
        Attachment
    </button>
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Ext.</th>
            <th>Upload</th>
            <th>Download</th>
            <th></th>
        </tr>
        </thead>
        <tbody data-bind="foreach :Contact().AttachmentCollection">
        <tr>
            <td>


                <input class=" form-control " title=""
                       data-bind="value: Title, visible :true, enable :true"
                       id="d512e3da-277a-4c3e-a524-82c8af273f66" type="text" name="Title"/>

            </td>
            <td>

                <select data-bind="value: Extension, visible :true, enable :true"
                        id="0a7e8f44-6fe2-4c7f-836c-6edeed6c7c2a" name="Extension" class="  form-control">
                    <option value=".docx">Word 2007</option>
                    <option value=".xlsx">Excel 2007</option>
                    <option value=".pdf">PDF</option>
                </select>

            </td>
            <td>

                <input class=" form-control " title=""
                       data-bind="kendoUpload : StoreId, visible :true"
                       id="6ffaae77-a767-4183-a93f-5322f3494a75" type="file" name="files"/>

            </td>
            <td>


                <a data-bind="attr : {'href':'/sph/binarystore/get/' + StoreId()}, visible:true" download>
                    Download
                </a>


            </td>
            <td>
                <a title="remove" href="#"
                   data-bind="click : $parent.removeChildItem.call($parent,$parent.Contact().AttachmentCollection, $data)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="form-group" data-bind="visible:true">
    <label class="col-md-4">State</label>

    <div class="col-md-8">
        <select data-bind=" visible :true, comboBoxLookupOptions : { value: Address().State, entity : 'State', valuePath : 'Name', displayPath: 'Name', query :'StateId gt 0'}"
                name="Address().State" class="fa fa-chevron-down  form-control">
        </select>
    </div>
</div>

<div class="form-group" data-bind="visible:true">
    <label class="col-md-4">District</label>

    <div class="col-md-8">
        <select data-bind=" visible :true, comboBoxLookupOptions : { value: Address().District, entity : 'District', valuePath : 'Name', displayPath: 'Name', query :ko.computed(function(){ return 'State eq \'' + Address().State() + '\'';})}"
                name="Address().District" class="fa fa-chevron-down  form-control">
        </select>
    </div>
</div>

<div class="form-group" data-bind="visible:true">
    <label for="0dab9f82-6ff7-436c-8ac0-af789738da24" class="col-md-4">Locality</label>

    <div class="col-md-8">
        <select data-bind="value: Address().Locality, enable :true"
                id="0dab9f82-6ff7-436c-8ac0-af789738da24" name="Address().Locality"
                class=" input-large form-control">
            <option value="Urban">Urban</option>
            <option value="Surburb">Suburban</option>
            <option value="Remote">Remote</option>
        </select>
    </div>
</div>


<div data-bind="visible:true" class="form-group">
    <label for="4fd5b435-4058-4db2-a506-b5fc161f1751" class="col-md-4">Contact name</label>

    <div class="col-md-8">
        <input class=" form-control input-large" title=""
               data-bind="value: Contact().Name, enable :true"
               id="4fd5b435-4058-4db2-a506-b5fc161f1751" type="text" name="Contact().Name"/>
    </div>
</div>
<div class="form-group" data-bind="visible:true">
    <div class="col-md-offset-4 col-md-8">
        <div class="checkbox">
            <label class="checkbox">
                <input data-bind="checked : IsPriority, enable :true" id="IsPriority" type="checkbox"
                       name="IsPriority"/>
                Priority
            </label>
        </div>
    </div>
</div>

<div class="form-group" data-bind="visible : true">
    <label for="3c1a89b1-5b54-4d98-a89f-8fb3e7fd3435" class="col-md-4">Registered</label>

    <div class="col-md-8">
        <input class=" form-control input-large"
               data-bind="kendoDate: RegisteredDate, enable :IsPriority"
               id="3c1a89b1-5b54-4d98-a89f-8fb3e7fd3435" type="text"
               name="RegisteredDate"/>
    </div>
</div>


<div data-bind="visible:true" class="form-group">
    <label for="be1a0e15-c653-467b-a30c-128eb5ac7534" class="col-md-4">Revenue</label>

    <div class="col-md-8">
        <input class=" form-control input-large" title=""
               data-bind="value: AnnualRevenue, enable :true"
               id="be1a0e15-c653-467b-a30c-128eb5ac7534" type="text" name="AnnualRevenue"/>
    </div>
</div>


<div class="form-group" data-bind="visible:true">
    <label for="f7afcecf-9176-4446-b55d-2d5e43a3fea4" class=""></label>

    <div class="col-md-8">
        <a id="f7afcecf-9176-4446-b55d-2d5e43a3fea4"
           data-bind="attr : {'href':'/sph/documenttemplate/transform?entity=Customer&templateId=2&id=' + CustomerId()}, visible:true"
           download>
            Download Profile
        </a>
    </div>
</div>


<div data-bind="visible:true" class="form-group">
    <label for="3e1a01cf-2665-4d59-bab3-d04bea004a21" class="col-md-4">Upload Profile</label>

    <div class="col-md-8">
        <input class=" form-control input-large" title=""
               data-bind="kendoUpload : ProfileStoreId, visible :true"
               id="3e1a01cf-2665-4d59-bab3-d04bea004a21" type="file" name="files"/>
    </div>
</div>

<label class="col-md-4">Photo</label>
<img alt="Photo" width="" height=""
     data-bind="attr : {'src':'/sph/image/store/' + PhotoStoreId()}, visible:true"/>

<div data-bind="visible:true" class="form-group">
    <label for="45ecb6e5-93fd-49a8-81d8-26537a4e3ded" class="col-md-4">Upload Photo</label>

    <div class="col-md-8">
        <input class=" form-control input-large" title=""
               data-bind="kendoUpload : PhotoStoreId, visible :true"
               id="45ecb6e5-93fd-49a8-81d8-26537a4e3ded" type="file" name="files"/>
    </div>
</div>

<button data-bind="command : $root.promoteTo, visible :true, enable: true" class="btn btn-default">Promote
</button>
</form>
</div>
<div class="col-sm-4">
    <h3>Audit Trail</h3>
    <!--ko compose: {model:'viewmodels/_audittrail.list', activationData:{id:$root.entity().CustomerId(), entity : 'Customer'}} -->
    <!--/ko-->
</div>
</div>
