<h1>Admitted Patients</h1>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-link pull-right" data-bind="visible: chartFiltered, click: clearChartFilter">
            <i class="fa fa-times"></i>
            Clear chart's filter
        </button>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, map : map, entity : 'Patient', list:list}">
            <thead>
                <tr>
                    <th>Bil</th>
                    <th>Created date</th>
                    <th>Religion</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Discharge</th>
                    <th>Transfer</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td data-bind="text:$Index"></td>
                    <td data-bind="date:CreatedDate"></td>
                    <td data-bind="text:Religion"></td>
                    <td data-bind="text:FullName"></td>
                    <td data-bind="text:Age"></td>
                    <td data-bind="text:Gender"></td>
                    <td>
                        <a data-bind="attr : {href:'#patient-discharge-form' + '/' + Id, title:'Discharge' }">
                            <i class="fa fa-wheelchair fa-2x"></i>
                                                        <span data-bind="text:PassportNo"></span>
                        </a>
                    </td>
                    <td>
                        <a data-bind="attr : {href:'#patient-transfer-form' + '/' + Id, title:'Transfer' }">
                            <i class="fa fa-hand-o-right fa-2x"></i>
                                                        <span data-bind="text:PassportNo"></span>
                        </a>
                    </td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

    <!-- ko compose : {view : '_chart.panel'}-->
    <!-- /ko -->
</div>