<h1>All patients</h1>
<div class="row">
    <div id="table-div" class="col-md-8">
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, entity : 'Patient', list:list}">
            <thead>
                <tr>
                    <th>Mrn</th>
                    <th>Name</th>
                    <th>Dob</th>
                    <th>Marital Status</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>Religion</th>
                    <th>Admit</th>
                    <th>Discharge</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr>
                    <td>

                        <a data-bind="attr : {href:'#patient-details' + '/' + PatientId },text: Mrn"></a>
                    </td>
                    <td data-bind="text:FullName"></td>
                    <td data-bind="date:Dob"></td>
                    <td data-bind="text:MaritalStatus"></td>
                    <td data-bind="text:Gender"></td>
                    <td data-bind="text:Race"></td>
                    <td data-bind="text:Religion"></td>
                    <td>
                        <a data-bind="attr : {href:'#admission-form' + '/' + PatientId, title:'Admit' }">
                            <i class="fa fa-hospital-o fa-2x"></i>
                                                        <span data-bind="text:PassportNo"></span>
                        </a>
                    </td>
                    <td>
                        <a data-bind="attr : {href:'#patient-discharge-form' + '/' + PatientId, title:'Discharge' }">
                            <i class="fa fa-wheelchair o fa-2x"></i>
                                                        <span data-bind="text:PassportNo"></span>
                        </a>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
    <div id="chart-main" style="display:none" class="col-md-8"></div>
    <div id="chart-div" class="col-md-4" data-bind="with:chart">
        <h3>Charts</h3>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="chart-name" class="col-md-2">Charts</label>
                <div class="col-md-10">
                    <select class="form-control" name="chart.name" id="chart-name"
                        data-bind="value: selectedChartId, options:charts, optionsText: 'Name', optionsValue : 'EntityChartId', optionsCaption:'[Select a chart]'"></select>
           
                </div> 
            </div>
            <div class="form-group">
                <label for="chart-aggregate" class="col-md-2">Aggregate</label>
                <div class="col-md-10">
                    <select data-bind="value: aggregate" class="form-control" name="chart.aggregate" id="chart-aggregate">
                        <option value="term">Term</option>
                        <option value="histogram">Histogram</option>
                        <option value="date_histogram">Date Histogram</option>
                    </select>           
                </div> 
            </div>
            <div class="form-group">
                <label for="field" class="col-md-2">Fields</label>
                <div class="col-md-10">
                <select class="form-control" data-bind="value: field, options: fieldOptions, optionsCaption :'[Select a field]'" id="field"></select>
                      
                </div> 
            </div>
            <div class="form-group" data-bind="visible : aggregate() === 'date_histogram'">
                <label for="chart-date-interval" class="col-md-2">Date interval</label>
                <div class="col-md-10">
                    <select data-bind="value:dateInterval" class="form-control" name="chart.date-interval" id="chart-date-interval">
                        <option value="year">Year</option>
                        <option value="quarter">Quarter</option>
                        <option value="month">Month</option>
                        <option value="week">Week</option>
                        <option value="day">Day</option>
                        <option value="hour"> Hour</option>
                        <option value="minute">minute</option>
                        <option value="second">second</option>
                    </select>           
                </div> 
            </div>
            <div class="form-group" data-bind="visible : aggregate() === 'histogram'">
                <label for="histogram-interval" class="col-md-2">Interval</label>
                <div class="col-md-10">
                    <input class="form-control" step="10" type="number" id="histogram-interval" data-bind="value:histogramInterval" />
                      
                </div> 
            </div>
            <div class="form-group">
                <label for="chart-type" class="col-md-2">Type</label>
                <div class="col-md-10">
                    <select class="form-control" name="chart-type" id="chart-type" data-bind="value:type">
                        <option value="pie">Pie</option>
                        <option value="line">Line</option>
                        <option value="bar">Bar</option>
                        <option value="column">Column</option>
                    </select>           
                </div> 
            </div>
            <div class="form-group">
                <a href="#" data-bind="command:saveAs" title="Save chart as">
                    <i class="fa fa-save"></i>
                </a>
                <a href="#" data-bind="command:save, visible: selectedChartId" title="edit and save current chart">
                    <i class="fa fa-copy"></i>
                </a>
                <a href="#" data-bind="command:remove, visible: selectedChartId" title="remove current chart">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </form>
        <div id="chart-Patient">
        </div>
    </div>
    <div style="position:absolute;top:180px;right:0px">
        <a href="#" id="charts-toggle"><img src="/images/charts.png"></a>
    </div>
</div>