<h1>All patients</h1>

<div class="row">
    <div class="col-md-8">
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, entity : 'Patient', list:list}">
            <thead>
                <tr>
                    <th>Mrn</th>
                    <th>Name</th>
                    <th>Dob</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>Religion</th>
                    <th>Admit</th>
                    <th>Discharge</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr>
                    <td>

                        <a data-bind="attr : {href:'#patient-registration' + '/' + PatientId },text: Mrn"></a>
                    </td>

                    <td data-bind="text:FullName"></td>
                    <td data-bind="date:Dob"></td>
                    <td data-bind="text:Gender"></td>
                    <td data-bind="text:Race"></td>
                    <td data-bind="text:Religion"></td>
                    <td>
                        <a data-bind="attr : {href:'#admission-form' + '/' + PatientId, title:'Admit' }">
                                <i class="fa fa-hospital-o fa-2x"></i>
                                                        <span data-bind="text:PassportNo"></span>
                        </a>
                    </td>
                    <td>
                        <a data-bind="attr : {href:'#patient-discharge-form' + '/' + PatientId, title:'Discharge' }">
                                <i class="fa fa-wheelchair o fa-2x"></i>
                                                        <span data-bind="text:PassportNo"></span>
                        </a>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4" data-bind="with:chart">
        <h3>Charts</h3>

        <form class="form">
            <div class="form-group">
                <label for="field">Fields</label>
                <select class="form-control" data-bind="value: field" id="field">

                    <option value="">[Select Field]</option>
                    <option value="Mrn">Mrn</option>
                    <option value="FullName">FullName</option>
                    <option value="Dob">Dob</option>
                    <option value="Gender">Gender</option>
                    <option value="Religion">Religion</option>
                    <option value="Race">Race</option>
                    <option value="RegisteredDate">RegisteredDate</option>
                    <option value="IdentificationNo">IdentificationNo</option>
                    <option value="PassportNo">PassportNo</option>
                    <option value="Nationality">Nationality</option>
                    <option value="NextOfKin">NextOfKin</option>
                    <option value="HomeAddress">HomeAddress</option>
                    <option value="Occupation">Occupation</option>
                    <option value="Status">Status</option>
                    <option value="Age">Age</option>
                    <option value="Income">Income</option>
                    <option value="Empty">Empty</option>
                    <option value="NextOfKin.FullName">NextOfKin.FullName</option>
                    <option value="NextOfKin.Relationship">NextOfKin.Relationship</option>
                    <option value="NextOfKin.MobilePhone">NextOfKin.MobilePhone</option>
                    <option value="NextOfKin.Email">NextOfKin.Email</option>
                    <option value="NextOfKin.Telephone">NextOfKin.Telephone</option>
                    <option value="HomeAddress.Street">HomeAddress.Street</option>
                    <option value="HomeAddress.Street2">HomeAddress.Street2</option>
                    <option value="HomeAddress.Postcode">HomeAddress.Postcode</option>
                    <option value="HomeAddress.City">HomeAddress.City</option>
                    <option value="HomeAddress.State">HomeAddress.State</option>
                    <option value="HomeAddress.Country">HomeAddress.Country</option>
                </select>
            </div>
        </form>
        <div id="chart-Patient">

        </div>
    </div>
</div>