<h1>All customers</h1>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-link pull-right" data-bind="visible: chartFiltered, click: clearChartFilter">
            <i class="fa fa-times"></i>
            Clear chart's filter
        </button>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, entity : 'Customer', list:list}">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>State</th>
                    <th>Age</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td>
                        <a data-bind="attr : {href:'#add-customer-form' + '/' + Id, title:'FullName' }">
                            <i class="fa fa-plus-square-o"></i>
                                                        <span data-bind="text:FullName"></span>
                        </a>
                    </td>
                    <td data-bind="text:Address.State"></td>
                    <td data-bind="text:Age"></td>
                    <td data-bind="text:Gender"></td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

    <!-- ko compose : {view : '_chart.panel'}-->
    <!-- /ko -->
</div>