<h1>All customers</h1>

<div class="row">
    <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, entity : 'Customer', list:list}">
        <thead>
            <tr>
                <th>FullName</th>
                <th>FullName</th>
                <th>Street1</th>
                <th>State</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody data-bind="foreach :list">
            <tr>
                <td>

                    <a data-bind="attr : {href:'#add-customer-form' + '/' + CustomerId },text: FullName"></a>
                </td>                      <td data-bind="text:FullName"></td>
                    <td data-bind="text:Address.Street1"></td>
                    <td data-bind="text:Address.State"></td>
                    <td data-bind="text:Age"></td>
                    <td data-bind="text:Gender"></td>
            </tr>
        </tbody>
    </table>

</div>