<h1>All patients view</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table table-striped" data-bind="queryPaging :{ query: query, map : map, list:list}">
            <thead>
                <tr>
                    <th>Age</th>
                    <th>Full Name</th>
                    <th>Registered Date</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">
                    <td data-bind="text:Age"></td>
                    <td data-bind="text:FullName"></td>
                    <td data-bind="text:RegisteredDate"></td>
                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>
</div>