<h1>All police stations list</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table table-striped" data-bind="queryPaging :{ query: query, map : map, list:list}">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">
                    <td>
                        <a data-bind="attr : {href:'#police-station-edit-details' + '/' + Id, title:'No' }">
                            <i class="fa fa-eyedropper"></i>
                                                        <span data-bind="text:No"></span>
                        </a>
                    </td>
                    <td data-bind="text:Name"></td>
                    <td data-bind="text:Category"></td>
                    <td data-bind="text:Size"></td>
                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>
</div>