Design a Database Structure with SQL Server 2014 (70-465)
David Peter Hansen
2016
Why a Good Database Structure Matters
16m 18s

    Course Introduction
    1m 18s
    What Is a Database Structure?
    2m 35s
    Performance and Maintenance Issues
    2m 35s
    Demo: Database Structure Issues
    9m 14s
    Module Summary
    34s

Translating Business Requirements
40m 14s

    Module Introduction
    1m 26s
    What Type of Application Is the Database Used For?
    4m 49s
    Difference Between Logical and Physical Design
    11m 8s
    Demo: Physical Design
    6m 42s
    Normalization and Denormalization
    7m 35s
    Demo: Denormalization
    7m 41s
    Module Summary
    49s

Designing Physical Database and Object Placement
31m 37s

    Module Introduction
    53s
    Filegroups, Data Files, and Transaction Log File
    8m 23s
    RAID Levels
    6m 18s
    Demo: Data Files and Filegroup Placement
    7m 2s
    System Databases
    2m 55s
    Demo: Configure System Databases
    5m 13s
    Module Summary
    51s

Designing the Right Index Strategy
39m 11s

    Module Introduction
    52s
    Heaps, Clustered, and Nonclustered Indexes
    13m 21s
    Demo: Index Strategy
    10m 13s
    Columnstore Index
    3m 33s
    Demo: Columnstore Indexes
    1m 58s
    XML Indexes
    3m 37s
    Demo: XML Index
    4m 44s
    Module Summary
    50s

Designing the Right Partitioning Strategy
29m 34s

    Module Introduction
    1m 1s
    Vertical vs. Horizontal Partitioning
    2m 29s
    Table and Index Partitioning
    7m 38s
    Demo: Partitioned Table
    5m 54s
    Partitioning Operations
    3m 48s
    Demo: Partition Management
    7m 55s
    Module Summary
    47s