

<h1>Appointment details</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
    
    </div>
    <div class="col-lg-2"></div>
    <!-- /ko-->
</div>
<div class="row">

    <div class="col-sm-8">
        <form class="form-horizontal" data-bind="with : entity" id="appointment-details-form">


    <div data-bind="visible:true" class="form-group">
        <label class="col-md-4">Mrn</label>
        <div class="col-md-8">
            <input  class="fa fa-text-width form-control " title=""
                   data-bind="value: Mrn, visible :true, autocomplete :{ entity:'Patient', field :'Mrn', query:'PatientId gt 0' }"
                   id="" type="text" name="Mrn" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="fb38b3a3-739c-4628-a029-9369d0035aa3" class="col-md-4">Reference No</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: ReferenceNo, enable :true"
                   id="fb38b3a3-739c-4628-a029-9369d0035aa3" type="text" name="ReferenceNo" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="709d58fd-57f1-4cc3-9268-3b0b40ac7edf" class="col-md-4">Doctor</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Doctor, enable :true"
                   id="709d58fd-57f1-4cc3-9268-3b0b40ac7edf" type="text" name="Doctor" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="6930f227-7969-408c-bba9-fa57e1d1c22a" class="col-md-4">Location</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Location, enable :true"
                   id="6930f227-7969-408c-bba9-fa57e1d1c22a" type="text" name="Location" />
        </div>
    </div>

    <div class="form-group" data-bind="visible:true">
        <label for="4d94f9bd-b878-47b2-856a-fb3cb2dbcf51" class="col-md-4">DateTime</label>
        <div class="col-md-8">
            <input class=" form-control input-large"
                   data-bind="kendoDateTime: DateTime, enable :true" id="4d94f9bd-b878-47b2-856a-fb3cb2dbcf51" type="text"
                   name="DateTime" />
        </div>
    </div>
        </form>
    </div>
</div>
