<h1 data-i18n="Borang Kelulusan Permohonan Kuarters">Borang Kelulusan Permohonan Kuarters</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : message" id="borang-kelulusan-permohonan-kuarters-form">
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="No Daftar" for="7bb660be-0c72-499b-ea4a-4f043811e610" class="col-md-4">No Daftar</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: NoDaftar"
                   id="7bb660be-0c72-499b-ea4a-4f043811e610" type="text" name="NoDaftar" />
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : Lulus, enable :true" id="Lulus" type="checkbox"
                           name="Lulus"/>
                    <span data-i18n="Lulus">Lulus</span>
                </label>
            </div>
        </div>
    </div>
<div data-bind="visible:true">
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                    <th data-i18n="Issuer">Issuer</th>
                    <th data-i18n="Note">Note</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach :Recommendations">
            <tr>
                    <td>
    <input class="form-control "
           data-bind="value: Issuer, visible :true, enable :true ,uniqueName:true"
           type="text"
           name="Issuer"
            />
                    </td>
                    <td>
    <input class="form-control "
           data-bind="value: Note, visible :true, enable :true ,uniqueName:true"
           type="text"
           name="Note"
            />
                    </td>
                <td>
                    <a title="remove" href="#" data-bind="click : $parent.removeChildItem.call($parent,$parent.Recommendations, $data)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <a data-i18n="Recommendations" class="btn btn-link" data-bind="click : addChildItem(Recommendations, bespoke.DevV1.PermohonanKuartersWorkflow.domain.Recommendation)">
        <i class="fa fa-plus-circle"></i>
        Recommendations
    </a>
</div>
</form>
    </div>
</div>