
<section class="view-model-modal" id="curl-sample-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>curL sample</h3>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="curl-sample-form">
                  

                    <div class="form-group" data-bind="visible:endpoint().IsHttpPost">
                        <label for="endpoint-post" class="col-lg-12 control-label">POST</label>
                        <div class="col-lg-12">
                            <textarea  readonly="readonly" class="form-control" id="endpoint-post" data-bind="value:post"></textarea>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:endpoint().IsHttpPut">
                        <label for="endpoint-put" class="col-lg-12 control-label">PUT</label>
                        <div class="col-lg-12">
                            <textarea  readonly="readonly" class="form-control" id="endpoint-put" data-bind="value:put"></textarea>
                        </div>
                    </div>

                    <div class="form-group" data-bind="visible:endpoint().IsHttpPatch">
                        <label for="endpoint-patch" class="col-lg-12 control-label">PATCH</label>
                        <div class="col-lg-12">
                            <textarea  readonly="readonly" class="form-control" id="endpoint-patch" data-bind="value:patch"></textarea>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:endpoint().IsHttpDelete">
                        <label for="endpoint-delete" class="col-lg-12 control-label">DELETE</label>
                        <div class="col-lg-12">
                            <textarea  readonly="readonly" class="form-control" id="endpoint-delete" data-bind="value:delete1"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Close</a>
            </div>
        </div>
    </div>
</section>