<div class="row">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Column A</th>
                <th>Column B</th>
                <th>Column C</th>
                <th>Column 4</th>
            </tr>
        </thead>
        <tbody data-bind="customPaging:{list: list, pager : '#ima-pager'}">
            <tr>
                <td data-bind="text: Column1"></td>
                <td data-bind="text: Column1"></td>
                <td data-bind="text: Column4"></td>
                <td data-bind="text: Column4"></td>
            </tr>
        </tbody>
    </table>
  
  
    <div id="ima-pager"></div>
    
</div>