

<h1>customer-form-2</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
    
    </div>
    <div class="col-lg-2"></div>
    <!-- /ko-->
</div>
<div class="row">

    <div class="col-sm-8">
        <form class="form-horizontal" data-bind="with : entity" id="customer-form-2-form">


    <div data-bind="visible:true" class="form-group">
        <label for="61d18069-25bc-4cf7-817b-d08e1b0f9417" class="col-md-4">FullName</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: FullName, enable :true"
                   id="61d18069-25bc-4cf7-817b-d08e1b0f9417" type="text" name="FullName" />
        </div>
    </div>
    <div class="form-group" data-bind="visible : true">
        <label class="col-md-4">Created</label>
        <div class="col-md-8">
            <input class=" form-control "
                   data-bind="kendoDate: CreatedDate, enable :true" type="text"
                   name="CreatedDate" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="1f8aa7a5-8d80-45b6-a27a-27a2714ff5ea" class="col-md-4">Rating</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Rating, enable :true"
                   id="1f8aa7a5-8d80-45b6-a27a-27a2714ff5ea" type="text" name="Rating" />
        </div>
    </div>
        </form>
    </div>
        <div class="col-sm-4">
            <h3>Audit Trail</h3>
            <!--ko compose: {model:'viewmodels/_audittrail.list', activationData:{id:$root.entity().CustomerId(), entity : 'Customer'}} -->
            <!--/ko-->
        </div>
</div>
