<h1>customer wajib</h1>

<div class="row">
    <div class="col-md-8">
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, entity : 'Customer', list:list}">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>Nama</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr>
                    <td>

                        <a data-bind="attr : {href:'#add-customer-form' + '/' + CustomerId },text: FullName"></a>
                    </td>

                    <td data-bind="text:FullName"></td>


                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4" data-bind="with:chart">
        <h3>Charts</h3>

        <form class="form">
            <div class="form-group">
                <label for="field">Fields</label>
                <select class="form-control" data-bind="value: field" id="field">

                    <option value="">[Select Field]</option>
                    <option value="FullName">FullName</option>
                    <option value="Address">Address</option>
                    <option value="Age">Age</option>
                    <option value="Gender">Gender</option>
                    <option value="IsPriority">IsPriority</option>
                    <option value="Contact">Contact</option>
                    <option value="PhotoStoreId">PhotoStoreId</option>
                    <option value="RegisteredDate">RegisteredDate</option>
                    <option value="Rating">Rating</option>
                    <option value="AnnualRevenue">AnnualRevenue</option>
                    <option value="ProfileStoreId">ProfileStoreId</option>
                    <option value="Address.Street1">Address.Street1</option>
                    <option value="Address.Street2">Address.Street2</option>
                    <option value="Address.Postcode">Address.Postcode</option>
                    <option value="Address.State">Address.State</option>
                    <option value="Address.Locality">Address.Locality</option>
                    <option value="Contact.Name">Contact.Name</option>
                    <option value="Contact.Email">Contact.Email</option>
                    <option value="Contact.Telephone">Contact.Telephone</option>
                    <option value="Contact.AttachmentCollection">Contact.AttachmentCollection</option>
                    <option value="Contact.Attachment.Title">Contact.Attachment.Title</option>
                    <option value="Contact.Attachment.Extension">Contact.Attachment.Extension</option>
                    <option value="Contact.Attachment.Note">Contact.Attachment.Note</option>
                    <option value="Contact.Attachment.StoreId">Contact.Attachment.StoreId</option>
                </select>
            </div>
        </form>
        <div id="chart-Customer">

        </div>
    </div>
</div>