

<h1>What ever</h1>
<div class="row">

    <div class="col-lg-8">
        <form class="form-horizontal" data-bind="with : entity" id="customer-whatever-form">


    <div data-bind="visible:true" class="form-group">
        <label for="9b39d36c-7d9e-4432-b38c-ef1ce9fba0a4" class="col-lg-4">Name</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: FullName, enable :true"
                   id="9b39d36c-7d9e-4432-b38c-ef1ce9fba0a4" type="text" name="FullName" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="e7e3e1d4-2716-4939-b733-b92bf4feef0d" class="col-lg-4">Address</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Address().Street1, enable :true"
                   id="e7e3e1d4-2716-4939-b733-b92bf4feef0d" type="text" name="Address.Street1" />
        </div>
    </div>

<div data-bind="">
    <button class="btn btn-default pull-right" data-bind="click : addChildItem(ManagerCollection, 'Manager')">+ Manager</button>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                    <th>Name</th>
                    <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach :ManagerCollection">
            <tr>
                    <td>
                        

    <input  class=" form-control " title=""
           data-bind="value: FullName, visible :true, enable :true"
           id="8a23898f-c23d-4dd0-8618-f1ab0b0e07a9" type="text" name="FullName" />

                    </td>
                    <td>
                        

    <input  class=" form-control " title=""
           data-bind="value: Telephone, visible :true, enable :true"
           id="a72f477f-ee50-4351-9f66-161492c79490" type="text" name="Telephone" />

                    </td>
                <td>
                    <a title="remove" href="#" data-bind="click : $parent.removeChildItem.call($parent,$parent.ManagerCollection, $data)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
        </form>
    </div>
        <div class="col-lg-4">
            <h3>Audit Trail</h3>
            <!--ko compose: {model:'viewmodels/_audittrail.list', activationData:{id:$root.entity().CustomerId(), entity : 'Customer'}} -->
            <!--/ko-->
        </div>
</div>
