

<h1>Employee details</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="employee-details-form">



    <div data-bind="visible:true" class="form-group">
        <label for="5794c230-924f-404d-9ea3-34f0e7d23d38" class="col-md-4">No</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: No, enable :true "
                   
                   
                   
                   id="5794c230-924f-404d-9ea3-34f0e7d23d38" type="text" name="No" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label for="a2f5692d-f5a9-4e52-e501-dc5c2851c867" class="col-md-4">First Name</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: FirstName, enable :true "
                   
                   
                   
                   id="a2f5692d-f5a9-4e52-e501-dc5c2851c867" type="text" name="FirstName" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label for="5eb9ffb1-6b66-4b31-ce16-2c68b6d2a59b" class="col-md-4">Last Name</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: LastName, enable :true "
                   
                   
                   
                   id="5eb9ffb1-6b66-4b31-ce16-2c68b6d2a59b" type="text" name="LastName" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label for="TextBox_4" class="col-md-4">Gender</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Gender, enable :true "
                   
                   
                   
                   id="TextBox_4" type="text" name="Gender" />
        </div>
    </div>

<div data-bind="visible:true">
    <button class="btn btn-default pull-right" data-bind="click : addChildItem(SpouseCollection, bespoke.DevV1_employee.domain.Spouse)">Senarai Pasangan</button>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                    <th>Name</th>
                    <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach :SpouseCollection">
            <tr>
                    <td>
                        


    <input  class=" form-control " title=""
            data-bind="value: Name, visible :true, enable :true ,uniqueName:true"
            
             
            type="text" 
            name="Name" 
            
             />

                    </td>
                    <td>
                        


    <input  class=" form-control " title=""
            data-bind="value: Age, visible :true, enable :true ,uniqueName:true"
            
             
            type="text" 
            name="Age" 
            
             />

                    </td>
                <td>
                    <a title="remove" href="#" data-bind="click : $parent.removeChildItem.call($parent,$parent.SpouseCollection, $data)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>