<h1>Endpoint permission settings</h1>
<style>
    .has-implementation {
        color: rgb(0, 103, 183)!important;
        font-weight: bold;
    }

    i.has-implementation + span {
        color: red;
    }
</style>
<div class="row">
    <div class="col-lg-4" id="endpoints-tree-panel"></div>
    <div class="col-lg-8">
        <h2>Permission setting</h2>
        <form class="form-horizontal" data-bind="with : selected">
            <!-- ko if : IsInherited -->
            <div class="alert alert-info">
                <p>No implementation provided</p>
            </div>
            <!-- /ko -->
            <!-- ko foreach : Claims -->
            <div class="form-group">
                <div class="col-lg-4">
                    <select class="form-control" data-bind="value:Type">
                        <option value="">[Select Claim Type]</option>
                        <option value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier">NameIdentifier</option>
                        <option value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress">Email</option>
                        <option value="http://schemas.microsoft.com/ws/2008/06/identity/claims/role">Role</option>
                        <option value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/anonymous">Anonymous</option>
                        <option value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name">Name</option>
                        <option value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/mobilephone">MobilePhone</option>
                        <option value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/postalcode">PostalCode</option>
                        <option value="designation">Designation</option>
                        <option value="department">Department</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <input type="text" required class="form-control" data-bind="value:Value" />
                </div>
                <div class="col-lg-4">
                    <!-- ko if : IsInherited -->
                    <select class="form-control" data-bind="value:Permission">
                        <option value="ia">Inherited allow</option>
                        <option value="id">Inherited deny</option>
                        <option value="a">Allow</option>
                        <option value="d">Deny</option>
                    </select>

                    <!-- /ko -->
                    <!-- ko if : !ko.unwrap(IsInherited) -->
                    <select class="form-control" data-bind="value:Permission">
                        <option value="a">Allow</option>
                        <option value="d">Deny</option>
                    </select>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
        </form>
        <a href="javascript:;" data-bind="click : addClaims, visible : selected">
            <i class="fa fa-plus-circle"></i>
            Add a claim
        </a>
    </div>
</div>