
<section class="view-model-modal" id="ID">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Error Details</h3>
            </div>
            <div class="modal-body" data-bind="with: log">

                <form class="form-horizontal" id="ID-form">

                    <div class="form-group">
                        <label for="message-field" class="control-label">Message</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="message-field" type="text" data-bind="value: message" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label for="stack-trace" class="control-label">Details</label>
                    </div>
                    <div class="form-group">
                        <textarea rows="20" class="form-control" id="stack-trace" readonly data-bind="value:details"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="severity-field" class="col-sm-3 control-label">Severity</label>
                        <div class="col-sm-6">
                            <input type="text" data-bind="value: severity"
                                   readonly
                                   placeholder="Severity"
                                   class="form-control" id="severity-field">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="time-field" class="col-sm-3 control-label">Time</label>
                        <div class="col-sm-6">
                            <input type="text" data-bind="value: time"
                                   readonly
                                   placeholder="Severity"
                                   class="form-control" id="time-field">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Close</a>
            </div>
        </div>
    </div>
</section>