<div class="row">
    <h1>Event Logs</h1>
</div>
<div class="row">
    <div class="col-lg-8">
        <table class="table table-striped" data-bind="
               filter :{path:'tbody>tr'},
            searchPaging: {
            list : list,
            query : query,
            entity : 'Log'
            }">
            <thead>
                <tr>
                    <th>Date Time</th>
                    <th>Operation</th>
                    <th>Severity</th>
                    <th>Log Source</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr>
                    <td>
                        <a href="#" data-bind="click : $parent.openDetails, date: { value: time, format:'YYYY-MM-DD HH:mm ss', inputFormat : moment.ISO_8601}"></a>
                    </td>
                    <td data-bind="text: (operation || '<No Category>') + ': ' + message"></td>
                    <td data-bind="text:severity"></td>
                    <td data-bind="text:log"></td>
                </tr>
            </tbody>
        </table></div>
    <div class="col-lg-4">
        <h2>Filter</h2>
        <form id="filter-logs-form" role="form" class="form-horizontal">
            <div class="form-group">
                <label for="log-time-from" class="col-lg-3 control-label">From</label>
                <div class="col-lg-9">
                    <input type="text" data-bind="kendoDateTime: timeFrom"
                           class="form-control" id="log-time-from">
                </div>
            </div>
            <div class="form-group">
                <label for="log-time-to" class="col-lg-3 control-label">To</label>
                <div class="col-lg-9">
                    <input type="text" data-bind="kendoDateTime: timeTo"
                           class="form-control" id="log-time-to">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 control-label">Severity</label>
                <div class="col-lg-9">
                    <!-- ko foreach :severityOptions-->
                    <label>
                        <input type="checkbox" data-bind="value:key, checked : $root.selectedSeverities"/>
                        <!-- ko text: key--> <!-- /ko -->(<!-- ko text: doc_count--><!-- /ko-->)
                    </label>
                    <br/>
                    <!-- /ko-->
                    <a href="javascript:;" data-bind="click : function(){ $root.selectedSeverities([]);}">Clear</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Computers</label>
                <div class="col-lg-9">
                    <!-- ko foreach :computerOptions-->
                    <label>
                        <input type="checkbox" data-bind="value:key, checked : $root.selectedComputers"/>
                        <!-- ko text: key--> <!-- /ko -->(<!-- ko text: doc_count--><!-- /ko-->)
                    </label>
                    <br/>
                    <!-- /ko-->
                    <a href="javascript:;" data-bind="click : function(){ $root.selectedComputers([]);}">Clear</a>
                </div>
            </div>

            <div class="form-group">
                <label for="log-id" class="col-lg-3 col-md-3 control-label">Log Id</label>
                <div class="col-lg-7 col-md-10">
                    <input type="text" data-bind="value: logId"
                           placeholder="Load by log id"
                           maxlength="36"
                           class="form-control" id="log-id">
                </div>
                <div class="col-md-2 col-lg-2">
                    <a href="javascript:;" data-bind="command : searchById, tooltip:'Search log by Id'">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

</div>