<div class="row" data-bind="with : entity">
    <img alt="logo" data-bind="attr:{src:'/image/thumbnail/' + IconStoreId() + '?height=50'}" class="pull-right" />
    <h1 data-bind="text:Name"></h1>
</div>
<div class="row">
    <ul data-bind="foreach :views">
        <li>
            <span data-bind="text:Text"></span>
        </li>
    </ul>
</div>

<div class="row">
    <h3 data-bind="with : entity">Recent <span data-bind="text:Plural"></span></h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="searchPaging :{ query : recentItemsQuery, list: recentItems, entity: 'Lead'}">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3>Reports
        </h3>
    </div>
    <div class="col-lg-6">
        <h3>Tools
        </h3>
    </div>
</div>



<div class="row">

</div>