

<h1>Add new lead</h1>
<div class="row">
    <form class="form-horizontal" data-bind="with : entity" id="lead-add-new-form">


    <div data-bind="visible:true" class="form-group">
        <label for="2a86ba35-05a3-4c1a-b25b-4503968c775f" class="col-lg-4">Full Name</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: FullName, visible :true"
                   id="2a86ba35-05a3-4c1a-b25b-4503968c775f" type="text" name="FullName" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="f8c84aa2-42f7-4456-9df2-cd61caa272f9" class="col-lg-4">Street</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Address().Street1, visible :true"
                   id="f8c84aa2-42f7-4456-9df2-cd61caa272f9" type="text" name="Address.Street1" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="cb2a3f2a-4179-4d76-b73e-ecc29e7c0c8e" class="col-lg-4">State</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Address().State, visible :true"
                   id="cb2a3f2a-4179-4d76-b73e-ecc29e7c0c8e" type="text" name="Address.State" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="2befaee5-d75d-437e-950e-a9cdc2d2edbb" class="col-lg-4">Postcode</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Address().Postcode, visible :true"
                   id="2befaee5-d75d-437e-950e-a9cdc2d2edbb" type="text" name="Address.Postcode" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="0fe756e7-c2f1-48c1-b474-8751b77c321a" class="col-lg-4">Owner</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Owner, visible :true"
                   id="0fe756e7-c2f1-48c1-b474-8751b77c321a" type="text" name="Owner" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="28e5093e-a64e-439b-820b-d4439029134c" class="col-lg-4">Contact name</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Contact().Name, visible :true"
                   id="28e5093e-a64e-439b-820b-d4439029134c" type="text" name="Contact.Name" />
        </div>
    </div>

<button data-bind="command : $root.save" class="pull-right btn btn-default">Submit</button>
    </form>
</div>
