<h1>Management Console</h1>
<div class="row">
    <div class="col-lg-8">
        <!-- ko compose : 'viewmodels/_workflow.management.consoles'-->
        <!--/ko-->
        <!-- ko compose : 'viewmodels/_rabbitmq.consoles'-->
        <!--/ko-->
        <!-- ko compose : 'viewmodels/_logs.recent'-->
        <!--/ko-->
        <div></div>
        
        <h3>Security Audits</h3>
    </div>
    <div class="col-lg-4">
        <h3>Common Tasks</h3>
        <nav>
            <ul class="nav nav-stacked">
                <li>
                    <a href="#users">
                        <i class="fa fa-user"></i><span>Users management</span>
                    </a>
                </li>
                <li>
                    <a href="#organization.detail">
                        <i class="fa fa-group"></i><span>Organisation settings</span>
                    </a>
                </li>

                <li>
                    <a href="#setting">
                        <i class="fa fa-gear"></i><span>General settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>