<h1>New accounts</h1>

<div class="row">
    <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, entity : 'Lead', list:list}">
        <thead>
            <tr>
                <th>FullName</th>
                <th>Name</th>
                <th>Contact name</th>
            </tr>
        </thead>
        <tbody data-bind="foreach :list">
            <tr>
                <td>

                    <a data-bind="attr : {href:'#lead-add-new' + '/' + LeadId },text: FullName"></a>
                </td>                      <td data-bind="text:FullName"></td>
                    <td data-bind="text:Contact.Name"></td>
            </tr>
        </tbody>
    </table>

</div>