<h1>Muslimat patients</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table table-striped" data-bind="queryPaging :{ query: query, map : map, list:list}">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>DOB</th>
                    <th>Race</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">
                    <td>
                        <a data-bind="attr : {href:'#patient-details' + '/' + Id, title:'Nama' }">
                            <i class="fa fa-bookmark"></i>
                                                        <span data-bind="text:FullName"></span>
                        </a>
                    </td>
                    <td data-bind="date:Dob"></td>
                    <td data-bind="text:Race"></td>
                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>
</div>