<h1>Muslim patients</h1>
<div class="row">
    <div id="table-panel" class="col-md-8">
        <button class="btn btn-default" id="toggle-chart-panel">Toggle</button>
        <button class="btn btn-link pull-right" data-bind="visible: chartFiltered, click: clearChartFilter">
            <i class="fa fa-times"></i>
            Clear chart's filter
        </button>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, entity : 'Patient', list:list}">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Id</th>
                    <th>DOB</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td data-bind="text:FullName"></td>
                    <td data-bind="text:IdentificationNo"></td>
                    <td data-bind="date:Dob"></td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

    <div id="chart-side-panel" class="col-md-4">
    <!-- ko compose : {view : '_chart.panel'}-->
    <!-- /ko -->
    </div>
</div>