<h1>Muslimat patients</h1>
<div class="row">
    <div class="col-md-12">

        <table class="table table-striped" data-bind="queryPaging :{ query: '/api/patients/cache-filter', map : map, list:list}">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td data-bind="text:FullName"></td>
                    <td data-bind="date:Dob"></td>
                    <td data-bind="text:Gender"></td>
                    <td data-bind="text:Race"></td>
                    <td>
                        <a href="javascript:;" data-bind="attr : {href:'#patient-details' + '/' + Id, title:'Full Name' }">
                            <i class="fa fa-cloud"></i>
                                                        <span data-bind="text:FullName"></span>
                        </a>
                    </td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

</div>
