

<h1>Patient registration</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-lg-8 col-lg-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
    
    </div>
    <div class="col-lg-2"></div>
    <!-- /ko-->
</div>
<div class="row">

    <div class="col-lg-8">
        <form class="form-horizontal" data-bind="with : entity" id="patient-registration-form">


    <div data-bind="visible:true" class="form-group">
        <label for="0c9e4d49-5ac4-4a8a-8015-fa2cd8eebc7c" class="col-lg-4">FullName</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: FullName, enable :true"
                   id="0c9e4d49-5ac4-4a8a-8015-fa2cd8eebc7c" type="text" name="FullName" />
        </div>
    </div>


    <div data-bind="visible:true" class="form-group">
        <label for="d9f52c01-887a-4ae6-a0fd-c83002987323" class="col-lg-4">ID</label>
        <div class="col-lg-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: IdentificationNo, enable :true"
                   id="d9f52c01-887a-4ae6-a0fd-c83002987323" type="text" name="IdentificationNo" />
        </div>
    </div>
    <div class="form-group" data-bind="visible : true">
        <label for="d1aa9295-8b31-4eec-a357-fe22540040b8" class="col-lg-4">Dob</label>
        <div class="col-lg-8">
            <input class=" form-control input-large"
                   data-bind="kendoDate: Dob, enable :true" id="d1aa9295-8b31-4eec-a357-fe22540040b8" type="text"
                   name="Dob" />
        </div>
    </div>

    <div class="form-group" data-bind="visible:true">
        <label for="d34ae9f4-8b4b-4dc5-88c2-dea34a95f56e" class="col-lg-4">Gender</label>
        <div class="col-lg-8">
            <select data-bind="value: Gender, enable :true" id="d34ae9f4-8b4b-4dc5-88c2-dea34a95f56e" name="Gender" class=" input-large form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Inderterminate">Inderterminate</option>
            </select>
        </div>
    </div>

    <div class="form-group" data-bind="visible:true">
        <label for="22dc3ef6-2060-4cb1-9393-228bbd706764" class="col-lg-4">Race</label>
        <div class="col-lg-8">
            <select data-bind="value: Race, enable :true" id="22dc3ef6-2060-4cb1-9393-228bbd706764" name="Race" class=" input-large form-control">
                    <option value="Malay">Malay</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Indian">Indian</option>
                    <option value="Others">Others</option>
            </select>
        </div>
    </div>

    <div class="form-group" data-bind="visible:true">
        <label for="205ef0d1-5c5b-4d47-bf76-4c29fafd33fd" class="col-lg-4">Religion</label>
        <div class="col-lg-8">
            <select data-bind="value: Religion, enable :true" id="205ef0d1-5c5b-4d47-bf76-4c29fafd33fd" name="Religion" class=" input-large form-control">
                    <option value="Islam">Islam</option>
                    <option value="Buddhism">Bhuddism</option>
                    <option value="Chritianity">Chritianity</option>
                    <option value="Others">Others</option>
            </select>
        </div>
    </div>
        </form>
    </div>
</div>
