<h1>Permohonan Baru</h1>

<div class="row">
    <div class="col-md-8">
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, entity : 'Permohonan', list:list}">
            <thead>
                <tr>
                    <th>NoDaftar</th>
                    <th>Nama</th>
                    <th>Kementerian</th>
                    <th>Tarikh</th>
                    <th>Lokasi</th>
                    <th>Gred Jawatan</th>
                    <th>No. Giliran</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr>
                    <td>

                        <a data-bind="attr : {href:'#papar-maklumat-permohonan' + '/' + PermohonanId },text: NoDaftar"></a>
                    </td>

                    <td data-bind="text:NamaPemohon"></td>
                    <td data-bind="text:Kementerian.Nama"></td>
                    <td data-bind="date:TarikhDaftar"></td>
                    <td data-bind="text:LokasiDiPohon"></td>
                    <td data-bind="text:GredJawatan"></td>
                    <td data-bind="text:NoGiliran"></td>


                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4" data-bind="with:chart">
        <h3>Charts</h3>

        <form class="form">
            <div class="form-group">
                <label for="chart-name">Charts</label>
                <select class="form-control" name="chart.name" id="chart-name"
                        data-bind="value: selectedChartId, options:charts, optionsText: 'Name', optionsValue : 'EntityChartId', optionsCaption:'[Select a chart]'"></select>
            </div>

            <div class="form-group">
                <label for="chart-aggregate">Aggregate</label>
                <select data-bind="value: aggregate" class="form-control" name="chart.aggregate" id="chart-aggregate">
                    <option value="term">Term</option>
                    <option value="histogram">Histogram</option>
                    <option value="date_histogram">Date Histogram</option>
                </select>
            </div>

            <div class="form-group">
                <label for="field">Fields</label>
                <select class="form-control" data-bind="value: field" id="field">

                    <option value="">[Select Field]</option>
                    <option value="NoDaftar">NoDaftar</option>
                    <option value="TarikhDaftar">TarikhDaftar</option>
                    <option value="LokasiDiPohon">LokasiDiPohon</option>
                    <option value="NamaPemohon">NamaPemohon</option>
                    <option value="MyKad">MyKad</option>
                    <option value="Telefon">Telefon</option>
                    <option value="Email">Email</option>
                    <option value="GredJawatan">GredJawatan</option>
                    <option value="TarikhLantikanJawatan">TarikhLantikanJawatan</option>
                    <option value="NoGaji">NoGaji</option>
                    <option value="JenisPerkhidmatan">JenisPerkhidmatan</option>
                    <option value="Kementerian">Kementerian</option>
                    <option value="Pinjaman">Pinjaman</option>
                    <option value="JenisPinjaman">JenisPinjaman</option>
                    <option value="AlamatRumahPinjaman">AlamatRumahPinjaman</option>
                    <option value="Status">Status</option>
                    <option value="NoGiliran">NoGiliran</option>
                    <option value="Kementerian.Nama">Kementerian.Nama</option>
                    <option value="Kementerian.Bahagian">Kementerian.Bahagian</option>
                    <option value="Kementerian.AlamatJabatan">Kementerian.AlamatJabatan</option>
                    <option value="Kementerian.Postkod">Kementerian.Postkod</option>
                    <option value="Kementerian.Bandar">Kementerian.Bandar</option>
                    <option value="Kementerian.Negeri">Kementerian.Negeri</option>
                    <option value="AlamatRumahPinjaman.Alamat">AlamatRumahPinjaman.Alamat</option>
                    <option value="AlamatRumahPinjaman.Poskod">AlamatRumahPinjaman.Poskod</option>
                    <option value="AlamatRumahPinjaman.Bandar">AlamatRumahPinjaman.Bandar</option>
                    <option value="AlamatRumahPinjaman.Negeri">AlamatRumahPinjaman.Negeri</option>
                </select>
            </div>

            <div class="form-group" data-bind="visible : aggregate() === 'date_histogram'">
                <label for="chart-date-interval">Date interval</label>
                <select data-bind="value:dateInterval" class="form-control" name="chart.date-interval" id="chart-date-interval">
                    <option value="year">Year</option>
                    <option value="quarter">Quarter</option>
                    <option value="month">Month</option>
                    <option value="week">Week</option>
                    <option value="day">Day</option>
                    <option value="hour"> Hour</option>
                    <option value="minute">minute</option>
                    <option value="second">second</option>
                </select>
            </div>

            <div class="form-group" data-bind="visible : aggregate() === 'histogram'">
                <label for="histogram-interval">Interval</label>
                <input class="form-control" step="10" type="number" id="histogram-interval" data-bind="value:histogramInterval" />
            </div>
            <div class="form-group">
                <label for="chart-type">Type</label>
                <select class="form-control" name="chart-type" id="chart-type" data-bind="value:type">
                    <option value="pie">Pie</option>
                    <option value="line">Line</option>
                    <option value="bar">Bar</option>
                    <option value="column">Column</option>
                </select>
            </div>
            <div class="form-group">
                <a href="#" data-bind="command:saveAs" title="Save chart as">
                    <i class="fa fa-save"></i>
                </a>
                <a href="#" data-bind="command:save, visible: selectedChartId" title="edit and save current chart">
                    <i class="fa fa-copy"></i>
                </a>

                <a href="#" data-bind="command:remove, visible: selectedChartId" title="remove current chart">
                    <i class="fa fa-times"></i>
                </a>

            </div>

        </form>
        <div id="chart-Permohonan">

        </div>
    </div>
</div>