

<h1 data-i18n="Soalan details">Soalan details</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="soalan-details-form">



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="No" for="e41e4a3b-5719-4637-abd6-35f4f06ebdf3" class="col-md-4">No</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: No, enable :true "
                   
                   
                   
                   id="e41e4a3b-5719-4637-abd6-35f4f06ebdf3" type="text" name="No" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Ujian" for="b7bfca39-dd6f-47bf-95f1-1d86e82123f5" class="col-md-4">Ujian</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Ujian, enable :true "
                   
                   
                   
                   id="b7bfca39-dd6f-47bf-95f1-1d86e82123f5" type="text" name="Ujian" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Section" for="71ef36a1-521f-41ef-f9f0-3620daf68a80" class="col-md-4">Section</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Section, enable :true "
                   
                   
                   
                   id="71ef36a1-521f-41ef-f9f0-3620daf68a80" type="text" name="Section" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Status" for="5b992480-0f85-4c4f-a848-cdb2737e3482" class="col-md-4">Status</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Status, enable :true "
                   
                   
                   
                   id="5b992480-0f85-4c4f-a848-cdb2737e3482" type="text" name="Status" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="User" for="87e9def3-ee00-48b0-888e-5c3b548de67f" class="col-md-4">User</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: User, enable :true "
                   
                   
                   
                   id="87e9def3-ee00-48b0-888e-5c3b548de67f" type="text" name="User" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Text" for="ad0e00ab-98da-4d8b-a20b-112b8ecebddf" class="col-md-4">Text</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Text, enable :true "
                   
                   
                   
                   id="ad0e00ab-98da-4d8b-a20b-112b8ecebddf" type="text" name="Text" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>