<h1 data-i18n="State details">State details</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="state-details-form">
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Name" for="939ea4e6-d48b-4a22-97a8-b5a2aa3bc589" class="col-md-4">Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Name"
                   maxlength="25"
                    data-rule-maxlength="25"
 data-rule-minlength="3"
                   id="939ea4e6-d48b-4a22-97a8-b5a2aa3bc589" type="text" name="Name" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Abbrv." for="cc439f9d-f1c5-48d5-9294-71af012c0814" class="col-md-4">Abbrv.</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Abbreviation"
                   maxlength="3"
                    data-rule-maxlength="3"
 data-rule-minlength="3"
                   id="cc439f9d-f1c5-48d5-9294-71af012c0814" type="text" name="Abbreviation" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Country" for="2debfb95-e6cd-4281-9d6d-27c5e97e77a1" class="col-md-4">Country</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Country"
                   maxlength="25"
                    data-rule-maxlength="25"
 data-rule-minlength="3"
                   id="2debfb95-e6cd-4281-9d6d-27c5e97e77a1" type="text" name="Country" />
        </div>
    </div>
    <label data-i18n="Flag" class="col-md-4">Flag</label>
<img data-test="xxx" alt="Flag"      data-bind="attr : {'src':'/sph/image/store/' + FlagStoreId()}, visible:true" />
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Flag" for="60e150e6-047d-4dfc-c25c-cc0da8c625ea" class="col-md-4">Flag</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="kendoUpload : FlagStoreId, visible :true"
                   id="60e150e6-047d-4dfc-c25c-cc0da8c625ea" type="file" name="files" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
    </div>
</div>