<link href="/Content/jsplumb/jsplumb.css" rel="stylesheet" />
<link href="/Content/transformation-mapping.css" rel="stylesheet" />
<script src="/Scripts/jsPlumb/bundle.js"></script>
<h1 data-bind="text:td().Name">Mapping Transform Definition</h1>
<div class="row">
    <div class="col-lg-3">
        <h3>Source</h3>
        <input style="margin: 5px" placeholder="Filter members...." class="form-control" type="search" id="search-box-tree" value="" />
        <div id="source-panel">
        </div>
    </div>
    <div class="col-lg-4">
        <h3>Maps</h3>
    </div>
    <div class="col-lg-3">
        <h3>Destination</h3>
        <input style="margin: 5px" placeholder="Filter members...." class="form-control" type="search" id="search-box-tree2" value="" />
        <div id="destination-panel">
        </div>
    </div>
    <div class="col-lg-2" id="functoid-toolbars">
        <h3>Functoids</h3>
    </div>

</div>