<link href="/Content/jsplumb/jsplumb.css" rel="stylesheet"/>
<link href="/Content/transformation-mapping.css" rel="stylesheet"/>
<script src="/Scripts/jsPlumb/bundle.js"></script>
<h1 data-bind="text:td().Name">Mapping Transform Definition</h1>
<style type="text/css">
    .functoid {
        border: 1px solid #807e61;
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: greenyellow;
        padding: 5px;
    }

    #map-canvas{

        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYV2NkIBIwEqmOYVQh3pAiKni6urpmAgAP3AJCVok6LAAAAABJRU5ErkJggg==)repeat;
        min-height: 800px;
    }

</style>
<div class="row container-canvas" id="container-canvas">
    <div class="col-lg-3">
        <h3 data-bind="with : td">Source(<span data-bind="text:InputTypeName"></span>)</h3>
        <input style="margin: 5px" placeholder="Filter members...." class="form-control" type="search"
               id="search-box-tree" value=""/>
        <ul id="source-panel" style="list-style: none">
        </ul>
    </div>
    <div class="col-lg-4">
        <h3>Maps</h3>

        <div id="map-canvas" data-bind="foreach: functoids">
            <div class="functoid" data-bind="style : {'left': X() + 'px','top': Y() + 'px'},
                attr : {id : WebId}">
                <div data-bind="with:designer">
                    <div class="toolbox-item" data-bind="visible: FontAwesomeIcon">
                        <i data-bind="attr : {'class':'fa fa-' + FontAwesomeIcon}"></i>
                    </div>
                    <div class="toolbox-item" data-bind="visible: BootstrapIcon">
                        <i data-bind="attr : {'class':'glyphicon glyphicon-' + BootstrapIcon}"></i>
                    </div>
                    <span data-bind="text:Name"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <h3 data-bind="with : td">Destination(<span data-bind="text:OutputTypeName"></span>)</h3>
        <input style="margin: 5px" placeholder="Filter members...." class="form-control" type="search"
               id="search-box-tree2" value=""/>
        <ul id="destination-panel" style="list-style: none"></ul>
    </div>
    <div class="col-lg-2" id="functoid-toolbars">
        <h3>Functoids</h3>
        <ul id="function-toolbox" class="list-group" data-bind="foreach :functoidToolboxItems">
            <li class="list-group-item">
                <div data-bind="with:designer">
                    <div class="toolbox-item" data-bind="visible: FontAwesomeIcon">
                        <i data-bind="attr : {'class':'fa fa-' + FontAwesomeIcon}"></i>
                    </div>
                    <div class="toolbox-item" data-bind="visible: BootstrapIcon">
                        <i data-bind="attr : {'class':'glyphicon glyphicon-' + BootstrapIcon}"></i>
                    </div>
                    <span data-bind="text:Name"></span>
                </div>
            </li>
        </ul>
    </div>

</div>