@{
    ViewBag.Title = "UserprofileHtml";
    Layout = null;
}

<h1>Profil @User.Identity.Name</h1>
<div class="row">
    <form class="form-horizontal" data-bind="with: userProfile">
        <div class="form-group">
            <label for="FullName" class="col-lg-2">Full Name</label>
            <div class="col-lg-9">
                <input class="form-control" data-bind="value: FullName" id="FullName" type="text" name="FullName" />
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-lg-2">Email</label>
            <div class="col-lg-9">
                <input class="form-control" data-bind="value: Email" id="email" type="email" name="email" />
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-lg-2">Departement </label>
            <div class="col-lg-9">
                <span data-bind="text: Department" />
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-lg-2">Designation </label>
            <div class="col-lg-9">
                <span data-bind="text: Designation" />
            </div>
        </div>
        <div class="form-group">
            <label for="startModule" class="col-lg-2">Start Module </label>
            <div class="col-lg-9">
                <select class="form-control" id="startModule" data-bind="value: StartModule,options: $root.startModuleOptions, optionText: 'Muka mula'">
                    
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Telephone" class="col-lg-2">Telephone </label>
            <div class="col-lg-9">
                <input class="form-control" data-bind="value: Telephone" id="Telephone" type="text" name="Telephone" />
            </div>
        </div>

    </form>
</div>
