@{
    ViewBag.Title = "UserprofileHtml";
    Layout = null;
}

<h1>Profil @User.Identity.Name</h1>
<div class="row">
    <form class="form-horizontal" data-bind="with: userProfile">
        <div class="form-group">
            <label for="FullName" class="col-lg-2">Full Name</label>
            <div class="col-lg-9">
                <input class="form-control" data-bind="value: FullName" id="FullName" type="text" name="FullName" />
            </div>
        </div>
        <div class="form-group">
            <label for="email-field" class="col-lg-2">Email</label>
            <div class="col-lg-9">
                <input class="form-control" data-bind="value: Email" id="email-field" type="email" name="email" />
            </div>
        </div>
        <div class="form-group">
            <label for="department-field" class="col-lg-2">Department </label>
            <div class="col-lg-9">
                <span id="department-field" data-bind="text: Department"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="designation-field" class="col-lg-2">Designation </label>
            <div class="col-lg-9">
                <span id="designation-field" data-bind="text: Designation"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="startModule-field" class="col-lg-2">Start Module </label>
            <div class="col-lg-9">
                <select class="form-control" id="startModule-field" data-bind="value: StartModule,options: $root.startModuleOptions, optionsCaption: '[Select a start page]'"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="lang-field" class="col-lg-2">Language </label>
            <div class="col-lg-9">
                <select class="form-control" id="lang-field" data-bind="value: Language, options: $root.languageOptions, optionsValue : 'code', optionsText :'display', optionsCaption: '[Select default language]'"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="Telephone" class="col-lg-2">Telephone </label>
            <div class="col-lg-9">
                <input class="form-control" data-bind="value: Telephone" id="Telephone" type="text" name="Telephone" />
            </div>
        </div>

    </form>
</div>
