@model Bespoke.SphCommercialSpaces.Domain.ComboBox

<!--ko if: $data['$type']() === "Bespoke.SphCommercialSpaces.Domain.ComboBox, domain.commercialspace" -->
<a href="#fields-settings" data-bind="click: $root.addComboBoxOption">+ option</a>
<ul data-bind="foreach: ComboBoxItemCollection" class="nav">
    <li>
        <div class="input-append">

            <input type="text" data-bind="value: Value, valueUpdate: 'keyup'" />
            <input type="text" data-bind="value: Caption, valueUpdate: 'keyup'" />
            <a class="add-on" href="#fields-settings" data-bind="click: $root.removeComboBoxOption">
                <i class="icon-remove"></i>
            </a>
        </div>
    </li>
</ul>
<!--/ko-->
