#ValidationResult
##Overview



##Properties
<table class="table table-condensed table-bordered">
    <thead>
<tr>
<th>Property</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr><td>Success</td><td> - </td></tr>
<tr><td>ReferenceNo</td><td> - </td></tr>
<tr><td>ValidationErrors</td><td> - </td></tr>
</tbody></table>



## See also

