@using System.Web.Mvc.Html
@using Bespoke.Sph.Web.Models

<table id="rules-table" class="table table-striped">
    <thead>
        <tr>
            <th>Left</th>
            <th>Operator</th>
            <th>Right</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: RuleCollection">
        <tr>
            <td>
                @Html.Partial("_TriggerFieldDropDown", new TypeModel { Path = "Left" })
            </td>
            <td>
                <select name="rule-operator" class="form-control" data-bind="value: Operator">
                    <option value="Eq">=</option>
                    <option value="Neq">!=</option>
                    <option value="Le">&lt;=</option>
                    <option value="Lt">&lt;</option>
                    <option value="Ge">&gt;=</option>
                    <option value="Gt">&gt;</option>
                    <option value="Substringof">Substringof</option>
                    <option value="StartsWith">StartsWith</option>
                    <option value="EndsWith">EndsWith</option>
                    <option value="NotContains">Not Substringof</option>
                    <option value="NotStartsWith">Not StartsWith</option>
                    <option value="NotEndsWith">Not EndsWith</option>
                </select>
            </td>
            <td>
                @Html.Partial("_TriggerFieldDropDown", new TypeModel { Path = "Right" })
            </td>
            <td>
                <a rel="nofollow" href="#" data-bind="click : $parent.removeRule.call($parent,$data)">
                    <i class="fa fa-times"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<a href="#" class="btn btn-link" data-bind="click: addRule">

    <i class="fa fa-plus-circle"></i> Add a filter rule
</a>