@using System.Web.Mvc.Html
@using Bespoke.Sph.Web.Models
@{
    Layout = null;
}

<h1>Trigger</h1>

@Html.Partial("_errorList")
<div class="row">
    <div id="action-list-panel" class="col-lg-7 col-md-6 col-sm-12 col-xs-12" data-bind="with : trigger">

        <div id="action-panel">
            <div class="btn-group">
                <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">
                    <i class="fa fa-plus-circle"></i>
                    Add an action &nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" data-bind="foreach :$root.actionOptions">
                    <li>
                        <a class="btn btn-link" style="text-align: left" data-bind="click: $root.trigger().addAction(action.$type)">

                            <!-- ko if :designer.FontAwesomeIcon-->
                            <i data-bind="attr : {'class':'fa fa-'+ designer.FontAwesomeIcon + ' fa-fw'}"></i>
                            <!--/ko-->
                            Add <!-- ko text: designer.Name -->
                            <!-- /ko-->
                        </a>
                    </li>

                </ul>
            </div>

        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Note</th>
                    <th>Is active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: ActionCollection">
                <tr>
                    <td>
                        <a type="button" class="btn btn-link" data-bind="click : $parent.editAction.call($parent,$data)" href="#">

                            <img data-bind="attr: { src : '/sph/trigger/image/' + ko.unwrap($type)}" height="16" width="16" class="pull-left" style="margin-right: 10px" alt="." />
                            &nbsp;
                            <!-- ko text : Title -->
                            <!-- /ko -->
                        </a>
                    </td>
                    <td>
                        <input type="text" class="input-action-note form-control" data-bind="value: Note" />
                    </td>
                    <td>
                        <input class="input-action-isactive" data-bind="checked: IsActive" id="IsActive" type="checkbox" name="IsActive" />
                    </td>
                    <td>
                        <a class="btn btn-mini" rel="nofollow" href="#" data-bind="click: $parent.removeAction.call($parent,$data)"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div id="view-properties-tab" class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
       
        <ul class="nav nav-tabs" data-bind2="filter : {path:'>li'}">
            <li class="active">
                <a href="#general-trigger-panel" data-toggle="tab">General</a>
            </li>
            <li>
                <a href="#rules-panel" data-toggle="tab">Rules</a>
            </li>
            <li>
                <a href="#ref-assemblies-panel" data-toggle="tab">Referenced Assemblies</a>
            </li>

        </ul>
        <div class="tab-content" data-bind="with : trigger">
            <div class="tab-pane active" id="general-trigger-panel">
                @Html.Partial("_generalTrigger")
            </div>

            <div id="rules-panel" class="tab-pane">
                @Html.Partial("_rules")
            </div>
            <div id="ref-assemblies-panel"  class="tab-pane">
                @Html.Partial("_referencedAssemblies")
            </div>
        </div>
    </div>
</div>
