@using System.Web.Mvc.Html
@using Bespoke.Sph.Web.Models
@{
    Layout = null;
}

<h1>Trigger</h1>
<form class="form-horizontal" data-bind="with: trigger" role="form" style="clear: both">


    <a data-toggle="collapse" href="#general-trigger-panel">
        <h3>
            <i class="fa fa-chevron-down"></i>
            General options
        </h3>
    </a>

    <div class="collapse in" id="general-trigger-panel">
        <div class="form-group">
            <label for="Name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-6">
                <input required placeholder="Trigger's' name" class="form-control" data-bind="value: Name" id="Name" type="text" name="Name" />
            </div>
        </div>
        <div class="form-group">
            <label for="Entity" class="col-lg-2 control-label">Entity</label>
            <div class="col-lg-6">
                <select required class="form-control" data-bind="value: Entity, options: $root.entities, optionsCaption:'[--SELECT TRIGGER ENTITY--]'" id="Entity" name="Entity"></select>
            </div>
        </div>
        @*, optionsText:'Name', optionsValue:'Type',*@


        <div class="form-group">
            <label for="Note" class="col-lg-2 control-label">Note</label>
            <div class="col-lg-6">
                <textarea class="form-control" data-bind="value: Note" id="Note" name="Note"></textarea>
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input data-bind="checked: IsActive" id="isActive" type="checkbox" name="IsActive" />
                Active
            </label>
        </div>
        <div class="checkbox pull-left">
            <label>
                <input data-bind="checked: IsFiredOnAdded" id="fired-on-added" type="checkbox" name="IsFiredOnAdded" />
                New item added
            </label>
        </div>
        <div class="checkbox pull-left">
            <label>
                <input data-bind="checked: IsFiredOnChanged" id="fired-on-changed" type="checkbox" name="IsFireOnChanged" />
                When item has changed
            </label>
        </div>
        <div class="checkbox pull-left">
            <label>
                <input data-bind="checked: IsFiredOnDeleted" id="fire-on-deleted" type="checkbox" name="IsFireOnDeleted" />
                When the item has been deleted
            </label>
        </div>

        <div class="form-group clear clearfix" style="clear: both">
            <label for="fired-on-operations" class="control-label col-lg-2">Operation</label>
            <div class="col-lg-6">
                <input class="form-control" data-bind="value: FiredOnOperations" id="fired-on-operations" type="text" name="FireOnOperations" />
                <span class="help-block">When this operation is invoked. Use "," to add more than 1 operations</span>
            </div>
        </div>
    </div>

    <a data-toggle="collapse" href="#rules-panel">
        <h3>
            <i class="fa fa-chevron-down"></i>
            Rules
        </h3>
    </a>
    <div id="rules-panel" class="collapsed collapse">
        <table id="rules-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Left</th>
                    <th>Operator</th>
                    <th>Right</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: RuleCollection">
                <tr>
                    <td>
                        @Html.Partial("_TriggerFieldDropDown", new TypeModel { Path = "Left" })
                    </td>
                    <td>
                        <select name="rule-operator" class="form-control" data-bind="value: Operator">
                            <option value="Eq">=</option>
                            <option value="Neq">!=</option>
                            <option value="Le">&lt;=</option>
                            <option value="Lt">&lt;</option>
                            <option value="Ge">&gt;=</option>
                            <option value="Gt">&gt;</option>
                            <option value="Substringof">Substringof</option>
                            <option value="StartsWith">StartsWith</option>
                            <option value="EndsWith">EndsWith</option>
                            <option value="NotContains">Not Substringof</option>
                            <option value="NotStartsWith">Not StartsWith</option>
                            <option value="NotEndsWith">Not EndsWith</option>
                        </select>
                    </td>
                    <td>
                        @Html.Partial("_TriggerFieldDropDown", new TypeModel { Path = "Right" })
                    </td>
                    <td>
                        <a rel="nofollow" href="#" data-bind="click : $parent.removeRule.call($parent,$data)">
                            Remove
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a 
            href="#" class="btn btn-link" data-bind="click: addRule">

            <i class="fa fa-plus-circle"></i> Add a filter rule
        </a>
    </div>

    <a data-toggle="collapse" href="#actions-panel">
        <h3>
            <i class="fa fa-chevron-down"></i>

            Action
        </h3>
    </a>

    <div id="actions-panel" class="collapsed collapse">
        <div id="action-panel">
            <div class="btn-group">
                <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">

                    <i class="fa fa-plus-circle"></i>
                    Add an action &nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="btn btn-link" data-bind="click: addAction('Email')">
                            <i class="fa fa-envelope"></i>
                            Add Email Action
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link" data-bind="click: addAction('Setter')">
                            <i class="fa fa-gear"></i>
                            Add Setter Action
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link" data-bind="click: addAction('StartWorkflow')">
                            <i class="fa fa-gears"></i>
                            Start Workflow
                        </a>
                    </li>

                </ul>
            </div>

        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Note</th>
                    <th>Is active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: ActionCollection">
                <tr>
                    <td>
                        <a type="button" class="btn btn-link" data-bind="click : $parent.editAction.call($parent,$data)" href="#">

                            <img data-bind="fieldImage : $type" class="pull-left" alt="." />
                            &nbsp;
                            <!-- ko text : Title -->
                            <!-- /ko -->
                        </a>
                    </td>
                    <td>
                        <input type="text" class="input-action-note form-control" data-bind="value: Note" />
                    </td>
                    <td>
                        <input class="input-action-isactive" data-bind="checked: IsActive" id="IsActive" type="checkbox" name="IsActive" />
                    </td>
                    <td>
                        <a class="btn btn-mini" rel="nofollow" href="#" data-bind="click: $parent.removeAction.call($parent,$data)"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
