@model Bespoke.Sph.Domain.AddressElement
<div class="control-group" data-bind="with: Address">

    <div class="control-group">
        <label for="address.Street" class="control-label">Jalan</label>
        <div class="controls">
            <input class="input-xxlarge" data-bind="value: Street" id="address.Street" type="text" name="address.Street" />
        </div>
    </div>
    <div class="control-group">
        <label for="address.City" class="control-label">Bandar/Daerah</label>
        <div class="controls">
            <input data-bind="value: City" id="address.City" type="text" name="address.City" />
        </div>
    </div>
    <div class="control-group">
        <label for="address.Postcode" class="control-label">Poskod</label>
        <div class="controls">
            <input data-bind="value: Postcode" id="address.Postcode" type="text" name="address.Postcode" />
        </div>
    </div>
    <div class="control-group">
        <label for="address.State" class="control-label">Negeri</label>
        <div class="controls">
            <select name="address.State" id="address.State" data-bind="value: State, options: $root.stateOptions, optionsText: 'Name', optionsValue: 'Name', optionsCaption: '[Sila Pilih]'"></select>
        </div>
    </div>
</div>
