@model Bespoke.Sph.Domain.BuildingElement

<div class="control-group">
   <label class="control-label">@Model.Label</label>
    <div class="controls">
        <select name="buildingName" data-bind="options: $root.buildingOptions, optionsValue: 'Item1', optionsText: 'Item2', optionsCaption: '[Sila pilih]', value: $root.selectedBuildingId"></select>
        <span class="help-inline">@Model.HelpText</span>
    </div>
</div>
