@model Bespoke.Sph.Domain.ComplaintCategoryElement

<div class="form-group">
    <label for="complaint-cateogry" class="control-label col-lg-2">@Model.Label</label>
    <div class="col-lg-6">
        <select class="form-control" data-bind="@Model.GetKnockoutBindingExpression()" id="complaint-cateogry" name="Category">
            
        </select>
    </div>
</div>

<div class="form-group">
    <label for="complaint-subcategory" class="control-label col-lg-2">@Model.SubCategoryLabel</label>
    <div class="col-lg-6">
        <select class="form-control" data-bind="@Model.GetSubCategoryKnockoutBindingExpression()" id="complaint-subcategory" name="SubCategory">
            
        </select>
    </div>
</div>
