@model Bespoke.Sph.Domain.RentalApplicationBanksElement
<div class="span9">
    <label> Jenis Bank yang menguruskan kewangan syarikat</label>
    <a class="btn btn-link pull-right" data-bind="click: $parent.addBankCommand">+ Bank </a>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Nama Bank </th>
                <th>Lokasi </th>
                <th>No. Akaun </th>
                <th>Jenis Akaun </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: BankCollection">
            <tr>
                <td>
                    <input type="text" data-bind="value: Name, uniqueName: true" /></td>
                <td>
                    <input type="text" data-bind="value: Location, uniqueName: true" /></td>
                <td>
                    <input type="text" data-bind="value: AccountNo, uniqueName: true" /></td>
                <td>
                    <input type="text" data-bind="value: AccountType, uniqueName: true" /></td>
            </tr>
        </tbody>
    </table>
</div>
