@model Bespoke.Sph.Domain.SpaceFeaturesElement

<input type="button" name="add-floor-button" class="btn pull-right" data-bind="click: $parent.addFeaturesCommand" value="+ Features" />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Keterangan</th>
            <th>Kategori</th>
            <th>Diwajibkan</th>
            <th>Caj</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: FeatureCollection">
        <tr>
            <td>
                <input class="input-small" type="text" data-bind="value: Name, uniqueName: true"/></td>

            <td>
                <input class="input-large" type="text" data-bind="value: Description, uniqueName: true"/></td>
            <td>
                <input type="text" data-bind="value: Category, uniqueName: true" /></td>
            <td>
                <input type="checkbox" data-bind="value: IsRequired, uniqueName: true" class="input-large" /></td>
            <td>
                <span class="add-on">RM</span>
                <input type="text" data-bind="value: Charge, uniqueName: true" class="input-small"/></td>
            <td>
                <input type="button" data-bind="click: $root.removeFeaturesCommand" class="btn btn-mini" value="X" /></td>

        </tr>
    </tbody>
</table>
