
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Default value</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach :RouteParameterCollection">
        <tr>
            <td>
                <select name="rule-operator" class="form-control" data-bind="value: Type, uniqueName: true">
                    <option value="System.String, mscorlib">String</option>
                    <option value="System.Int32, mscorlib">Integer</option>
                    <option value="System.Decimal, mscorlib">Decimal</option>
                    <option value="System.DateTime, mscorlib">DateTime</option>
                    <option value="System.Boolean, mscorlib">Boolean</option>
                </select>
            </td>
            <td>
                <input pattern="^[A-Za-z][A-Za-z0-9_]*$" type="text" required class="form-control" data-bind="value:Name, uniqueName:true" />
            </td>
            <td>
                <input type="text" class="form-control" data-bind="value:DefaultValue, disable: ko.unwrap(Type) === 'System.DateTime, mscorlib'" />
            </td>
            <td>
                <a href="#" data-bind="click : $parent.removeRouteParameter.call($parent,$data)">
                    <span class="fa fa-times"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-link" data-bind="click : addRouteParameter">
    <i class="fa fa-plus-circle"></i> Add a route parameter
</a>