@using Bespoke.Sph.Domain
@model Bespoke.Sph.Domain.Button
@if (string.IsNullOrWhiteSpace(Model.Enable))
{
    Model.Enable = "true";
}
@{
    var command = Model.UseClick ? "click" : "command";
    var handler = Model.Operation.ToCamelCase() ?? Model.CommandName;
}
<button data-bind="@command : $root.@handler, visible :@Model.Visible, enable: @Model.Enable" class="@Model.CssClass">@Model.Label</button>
