@using System.Web.Mvc.Html
@using Bespoke.Sph.Domain
@model Bespoke.Sph.Domain.ChildEntityListView

@if (string.IsNullOrWhiteSpace(Model.Enable))
{
    Model.Enable = "true";
}

<div data-bind="visible:@Model.Visible">
    <a class="btn btn-default pull-right">@Model.Label</a>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                @foreach (var col in Model.ViewColumnCollection)
                {
                    <th>@col.Header</th>
                }
            </tr>
        </thead>
        <tbody data-bind="foreach :@Model.Path.ConvertJavascriptObjectToFunction()">
            <tr>
                @foreach (var col in Model.ViewColumnCollection)
                {
                    <td data-bind="text:@col.Path">
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
