@model Bespoke.Sph.Domain.ChildEntityListView
@{
    if (string.IsNullOrWhiteSpace(Model.Enable))
    {
        Model.Enable = "true";
    }
    var guid = Guid.NewGuid().ToString();
}



<div class="form-group" data-bind="visible:@Model.Visible">
    <h3>@Model.Label</h3>
    <table class="table table-condensed table-striped" data-bind="serverPaging :{ query: @Model.Query, entity : '@Model.Entity', list: bespoke.getSingletonObservableArray('@guid')}">
        <thead>
            <tr>
                @foreach (var col in Model.ViewColumnCollection)
                {
                    <th>@col.Header</th>
                }
            </tr>
        </thead>
        <tbody data-bind="foreach: bespoke.getSingletonObservableArray('@guid')">
            <tr>
                @foreach (var col in Model.ViewColumnCollection)
                {
                    <td data-bind="text:@col.Path"></td>
                }
            </tr>
        </tbody>
    </table>
</div>