@model Bespoke.Sph.Domain.ImageElement
@{
    var path = string.Format("'/sph/image/store/' + {0}()", this.Model.Path);
    var width = Model.Width.HasValue ? "width=\"" + Model.Width.Value + "\"": "";
    var height = Model.Height.HasValue ? "height=\"" + Model.Height.Value + "\"" : "";
    
    if (string.IsNullOrWhiteSpace(Model.Enable))
    {
        Model.Enable = "true";
    }
}



@if (!Model.IsCompact)
{
    <label data-i18n="@Model.Label" class="col-md-@(Model.LabelColMd ?? 4)">@Model.Label</label>
}
<img alt="@Model.Label" title="@Model.Tooltip" @width @height  data-bind="attr : {'src':@Html.Raw(path)}, visible:@Html.Raw(Model.Visible)" />