<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
    </sectionGroup>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bespoke.Sph.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />

  </configSections>
  <connectionStrings>
    <add name="Sph" connectionString="Data Source=(localdb)\Projects;Initial Catalog=sph;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="sph:BaseUrl" value="http://localhost:4436" />
    <add key="sph:BaseDirectory" value="c:\project\work\sph" />
    <add key="sph:ApplicationName" value="Dev" />
    <add key="sph:ApplicationFullName" value="SPH Platform Showcase" />

    <add key="sph:AceTheme" value="monokai" />
    <add key="sph:AceFontSize" value="18" />
  </appSettings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <rewrite>
      <rules configSource="rewrite.config" />
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.4.13329" newVersion="4.3.4.13329" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
    </assemblyBinding>

  </runtime>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <typeAliases>
      <alias name="AuditTrail" type="Bespoke.Sph.Domain.AuditTrail, domain.sph" />
      <alias name="Designation" type="Bespoke.Sph.Domain.Designation, domain.sph" />
      <alias name="DocumentTemplate" type="Bespoke.Sph.Domain.DocumentTemplate, domain.sph" />
      <alias name="EmailTemplate" type="Bespoke.Sph.Domain.EmailTemplate, domain.sph" />
      <alias name="EntityDefinition" type="Bespoke.Sph.Domain.EntityDefinition, domain.sph" />
      <alias name="EntityForm" type="Bespoke.Sph.Domain.EntityForm, domain.sph" />
      <alias name="EntityView" type="Bespoke.Sph.Domain.EntityView, domain.sph" />
      <alias name="Message" type="Bespoke.Sph.Domain.Message, domain.sph" />
      <alias name="Page" type="Bespoke.Sph.Domain.Page, domain.sph" />
      <alias name="ReportDefinition" type="Bespoke.Sph.Domain.ReportDefinition, domain.sph" />
      <alias name="ReportDelivery" type="Bespoke.Sph.Domain.ReportDelivery, domain.sph" />
      <alias name="SpatialStore" type="Bespoke.Sph.Domain.SpatialStore, domain.sph" />
      <alias name="Setting" type="Bespoke.Sph.Domain.Setting, domain.sph" />
      <alias name="Tracker" type="Bespoke.Sph.Domain.Tracker, domain.sph" />
      <alias name="Trigger" type="Bespoke.Sph.Domain.Trigger, domain.sph" />
      <alias name="UserProfile" type="Bespoke.Sph.Domain.UserProfile, domain.sph" />
      <alias name="Watcher" type="Bespoke.Sph.Domain.Watcher, domain.sph" />
      <alias name="WorkflowDefinition" type="Bespoke.Sph.Domain.WorkflowDefinition, domain.sph" />
      <alias name="Workflow" type="Bespoke.Sph.Domain.Workflow, domain.sph" />
    </typeAliases>
    <objects>
      <object name="IPersistence" type="Bespoke.Sph.SqlRepository.SqlPersistence, sql.repository">
        <constructor-arg name="connectionString" value="Data Source=(localdb)\Projects;Initial Catalog=Sph;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;Application Name=sph.cs.web" />
      </object>

      <object name="IBrokerConnection" type="Bespoke.Sph.RabbitMqPublisher.DefaultBrokerConnection, rabbitmq.changepublisher, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <property name="Port" value="5672" />
        <property name="Password" value="guest" />
        <property name="UserName" value="guest" />
        <property name="Host" value="localhost" />
        <property name="VirtualHost" value="Dev" />
      </object>

      <object name="IBinaryStore" type="Bespoke.Sph.SqlRepository.SqlBinaryStore, sql.repository" />
      <object name="ISpatialService&lt;SpatialStore&gt;" type="Bespoke.Sph.SqlRepository.SqlSpatial&lt;SpatialStore&gt;, sql.repository" />

      <object name="IRepository&lt;AuditTrail&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;AuditTrail&gt;, sql.repository" />
      <object name="IRepository&lt;DocumentTemplate&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;DocumentTemplate&gt;, sql.repository" />
      <object name="IRepository&lt;EmailTemplate&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;EmailTemplate&gt;, sql.repository" />
      <object name="IRepository&lt;Designation&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Designation&gt;, sql.repository" />
      <object name="IRepository&lt;EntityDefinition&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;EntityDefinition&gt;, sql.repository" />
      <object name="IRepository&lt;EntityForm&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;EntityForm&gt;, sql.repository" />
      <object name="IRepository&lt;EntityView&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;EntityView&gt;, sql.repository" />
      <object name="IRepository&lt;Message&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Message&gt;, sql.repository" />
      <object name="IRepository&lt;Page&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Page&gt;, sql.repository" />
      <object name="IRepository&lt;ReportDefinition&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;ReportDefinition&gt;, sql.repository" />
      <object name="IRepository&lt;ReportDelivery&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;ReportDelivery&gt;, sql.repository" />
      <object name="IRepository&lt;SpatialStore&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;SpatialStore&gt;, sql.repository" />
      <object name="IRepository&lt;Setting&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Setting&gt;, sql.repository" />
      <object name="IRepository&lt;Tracker&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Tracker&gt;, sql.repository" />
      <object name="IRepository&lt;Trigger&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Trigger&gt;, sql.repository" />
      <object name="IRepository&lt;UserProfile&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;UserProfile&gt;, sql.repository" />
      <object name="IRepository&lt;Watcher&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Watcher&gt;, sql.repository" />
      <object name="IRepository&lt;WorkflowDefinition&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;WorkflowDefinition&gt;, sql.repository" />
      <object name="IRepository&lt;Workflow&gt;" type="Bespoke.Sph.SqlRepository.SqlRepository&lt;Workflow&gt;, sql.repository" />
      <object name="QueryProvider" type="Bespoke.Sph.SqlRepository.SqlQueryProvider, sql.repository" />
      <object name="IPagingTranslator" type="Bespoke.Sph.SqlRepository.Sql2008PagingTranslator, sql.repository" />
      <object name="ISqlServerMetadata" type="Bespoke.Sph.SqlRepository.SqlServer2012Metadata, sql.repository" />

    </objects>
  </spring>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\sphEmail" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
