@using Newtonsoft.Json
@model IEnumerable<string>
@{
    Layout = null;
    var rolesJson = JsonConvert.SerializeObject(Model);
}

<h2>RoleSettingsJs</h2>
<script type="text/javascript" data-script="true">
    define(['services/datacontext', objectbuilders.logger, objectbuilders.app],
        function (context, logger,app) {

            var designation = ko.observable(),
                roleOptions = ko.observableArray(@Html.Raw(rolesJson)),
                activate = function (id) {
                    if (id && id !== "0") {
                        var query = String.format("Id eq '{0}'", id);
                        return context.loadOneAsync("Designation", query)
                            .done(designation);

                    } else {
                        designation(new bespoke.sph.domain.Designation());
                    }

                    return true;

                },

            save = function () {
                var data = ko.toJSON(designation);

                return context.post(data, "/sph-designation")
                    .done(function () {
                        logger.info("Designation is successfully saved");
                    });
            },
            deleteRole = function (role) {
                app.showMessage("Are you sure you want to delete this role", "Delete role", ["Yes", "No"])
                    .done(function (dialogResult) {
                        if (dialogResult === "Yes") {
                            designation().RoleCollection.remove(ko.unwrap(role));
                            return $.post("/Sph/Admin/DeleteRole/", { role: role }).done(function () {
                                roleOptions.remove(ko.unwrap(role));
                            });
                        }
                        return true;
                    });


                return Task.fromResult(0);

            },
            addRole = function () {

                var tcs = new $.Deferred();
                require(['viewmodels/role.dialog', 'durandal/app'], function (dialog, app2) {
                    app2.showDialog(dialog)
                        .done(function (result) {
                            if (!result) {
                                tcs.resolve(false);
                                return;
                            };

                            if (result === "OK") {
                                var data = ko.toJSON({"role":dialog.role});
                                context.post(data, "/Sph/Admin/AddRole")
                                    .done(function() {
                                        roleOptions.push(ko.unwrap(dialog.role));
                                    })
                                    .then(tcs.resolve);
                            } else {
                                tcs.resolve(false);
                            }
                        });

                });
                return tcs.promise();
            };


            var vm = {
                activate: activate,
                roleOptions: roleOptions,
                addRole: addRole,
                deleteRole: deleteRole,
                designation: designation,
                toolbar: { saveCommand: save }
            };

            return vm;


        });
</script>
