<section>
    <div>
        <input type="button" name="add-interest-button" class="btn pull-right" value="+ Kadar Faedah" data-bind="click: addInterestCommand" />
    </div>
    <div>
        <table class="table-striped">
            <thead>
                <tr>
                    <th>Bangunan</th>
                    <th>Tingkat</th>
                    <th>Kategori Ruang</th>
                    <th>Tempoh lewat</th>
                    <th>Peratus faedah</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: interestCollection">
                <tr>
                    <td>
                        <select data-bind="value: $parent.selectedBuildingId, options: $parent.buildingOptions, optionsValue: 'Item1', optionsText: 'Item2', optionsCaption: '[Semua]'" id="selectedBuilding" name="selectedBuilding">
                        </select>
                    </td>
                    <td>
                        <select data-bind="value: $parent.selectedFloor, options: $parent.floorOptions, optionsCaption: '[Semua]'" id="selectedFloor" name="selectedFloor">
                        </select>
                    </td>
                    <td>
                        <select data-bind="value: $parent.selectedCs, options: $parent.cspaceOptions, optionsValue: 'Item1', optionsText: 'Item2', optionsCaption: '[Semua]'" id="selectedCategory" name="selectedCategory">
                        </select>
                    </td>
                    <td>
                        <input type="text" data-bind="value: Period, uniqueName: true" class="span2" />
                        <select data-bind="value: PeriodType" class="span2">
                            <option value="Day">Hari</option>
                            <option value="Week">Minggu</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" data-bind="value: Percentage, uniqueName: true" />%
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section>
    <input type="button" class="btn btn-primary" value="Simpan" data-bind="click: saveCommand" />
</section>
