<div class="row" data-bind="with : wd">
    <h1 data-bind="text:Name"></h1>
</div>
<h3>Deployed Versions</h3>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Version</th>
            <th>Running</th>
            <th>Web</th>
            <th>Subscriber</th>
            <th>Schedulers</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach :workflows">
        <tr>
            <td data-bind="text:Version"></td>
            <td>
                <i class="fa fa-check" data-bind="visible:Running"></i></td>
            <td>
                <i class="fa fa-check" data-bind="visible:Web"></i></td>
            <td>
                <i class="fa fa-check" data-bind="visible:Subscriber"></i>
            <td>
                <i class="fa fa-check" data-bind="visible:Scheduler"></i>
            </td>
            <td>
                <button class="btn btn-default">
                    <i class="fa fa-play"></i>
                </button>
                <button class="btn btn-default">
                    <i class="fa fa-stop"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="row">

</div>