<section id="setting.states">
    <a class="btn btn-primary" data-bind="click: addStateCommand">+ Negeri</a>
    <table>
        <thead>
            <tr>
                <th>Nama</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach : states">
            <tr>
                <td>
                    <input type="text" data-bind="value: Name" />
                </td>
                <td>
                    <a href="#" data-bind="click: $parent.removeState">Buang</a>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="button" data-bind="command:saveStateCommand" class="btn btn-primary" value="Simpan" data-loading-text="diproses.." data-complete-text="Selesai" />
</section>
