<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Penyewa</th>
            <th>Dari</th>
            <th>Hingga</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody  data-bind="foreach :contractCollection"  >
        <tr>
            <td>
                <a  data-bind="attr : {href:'/#/contract.details/' + ContractId()},text:ReferenceNo"></a>
            </td>
            <td  data-bind="with : Tenant"  >
                   <a  data-bind="attr : {href:'/#/tenant.detail/' + TenantId()},text:Name"></a>
            </td>
            <td data-bind="date: { value: StartDate, format: 'DD/MM/YYYY' }"></td>
            <td data-bind="date: { value: EndDate, format: 'DD/MM/YYYY' }"></td>
            <td data-bind="text:Status"></td>
        </tr>
    </tbody>
</table>
