<section>
    <h3>Rekod Aduan</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No. Rujukan</th>
                <th>Jenis Aduan</th>
                <th>Kategori</th>
                <th>Sub-kategori</th>
                <th>Lokasi</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: complaintCollection">
            <tr>
                <td data-bind="text: ReferenceNo"></td>
                <td data-bind="text: Type"></td>
                <td data-bind="text: Category"></td>
                <td data-bind="text: SubCategory"></td>
                <td data-bind="text: Space"></td>
                <td data-bind="text: Status"></td>
            </tr>
        </tbody>
    </table>
</section>
