<section>
    <h3>Senarai kontrak</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No. Rujukan</th>
                <th>Lokasi</th>
                <th>T.Akhir</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: contractCollection">
            <tr>
                <td data-bind="text: ReferenceNo"></td>
                <td data-bind="with:Space">
                    <span data-bind="text: Category"></span>,
                    <span data-bind="text: BuildingName"></span>,
                    <span data-bind="text: FloorName"></span>,
                    <span data-bind="text: LotName"></span>,
                    <span data-bind="text: City"></span>,
                    <span data-bind="text: State"></span>
                </td>
                <td data-bind="date: { value: EndDate, format: 'DD/MM/YYYY' }"></td>
                <td data-bind="text: Status"></td>
                <td><a class="btn btn-small" download data-bind="attr: { href: 'Contract/GenerateLedger/' + ContractId() }">Jana Lejer</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
