<div class="col-lg-10">
    <div class="span4">
        <div>
            <a href="#" id="add-user-button" data-bind="click: addCommand" data-toggle="modal" class="btn btn-default pull-left">
                + Jabatan
            </a>
            <input type="button" data-bind="command: saveCommand" class="btn btn-primary pull-right" value="Simpan" data-loading-text="diproses.." data-complete-text="Selesai" />
        </div>
    </div>
    <table class="table table-striped col-lg-10">
        <thead>
            <tr>
                <th>Nama</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: departments">
            <tr>
                <td>
                    <input class="form-control" type="text" data-bind="value: Name" />
                </td>
                <td>
                    <button data-bind="click: $parent.removeCommand.bind($data), attr: { title: 'Buang Jabatan' }" class="close">
                        &times;
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>


