<div id="user-change-password" class="modal hide fade">
    <div class="modal-header">
        <h2>Tukar Password</h2>
    </div>
    <div class="modal-body" data-bind="with: $root">
        <div class="control-group">
            <label for="password" class="control-label">Password :</label>
            <div class="controls">
                <input data-bind="value: password1" id="password" type="password" name="password" />
            </div>
        </div>
        <div class="control-group">
                <label for="password" class="control-label">Confirm Password :</label>
                <div class="controls">
                    <input data-bind="value: password2" id="password2" type="password" name="password" />
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" data-dismiss="modal" value="Batal" />
        <input type="button" id="save-password-button" class="btn btn-primary" data-bind="click: $root.savePasswordCommand" data-dismiss="modal" value="Simpan" />
    </div>
</div>
