<div id="user-change-password" class="modal hide fade">
    <div class="modal-header"></div>
    <div class="modal-body">
        <div class="control-group">
                <label for="password" class="control-label">Katalaluan lama :</label>
                <div class="controls">
                    <input data-bind="value: password" id="password" type="password" name="password" />
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" data-dismiss="modal" value="Batal" />
        <input type="button" id="save-password-button" class="btn btn-primary" data-bind="click: resetPasswordCommand" data-dismiss="modal" value="Simpan" />
    </div>
</div>
