<div id="workflow-definiion-property-mapping-collection">
    <h3>Properties Mapping</h3>
    <div class="form-group">
        <label for="Entity" class="col-lg-2 control-label">Entity to Map</label>
        <div class="col-lg-6">
            <select data-bind="value:$root.entity" class="form-control" id="Entity">
                <option value="Land">Land</option>
                <option value="Building">Building</option>
                <option value="Space">Space</option>
                <option value="Contract">Contract</option>
            </select>
        </div>
    </div>
    <div id="property-mapping-panel" class="pull-right">
        <a class="btn btn-mini" data-bind="click: addPropertyMapping()">New Mapping</a>
    </div>
   
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Source</th>
                <th>Destination</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: PropertyMappingCollection">
            <tr>
                <td>
                   <input type="text" data-bind="value:Source"/>
                </td>
                <td>
                    <input type="text" data-bind="value:Destination" />
                </td>
                <td>
                    <a class="btn btn-mini" rel="nofollow" href="#" data-bind="click: $parent.removePropertyMapping.call($parent,$data)">Buang</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>