<div id="workflow-definition-activity-collection">
    <h3>Activity</h3>
    <div id="activity-panel" class="pull-right">
        <div class="btn-group">
            <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">
                Add Activity &nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="btn btn-link" data-bind="click: addActivity('Screen')">
                        <i class="fa fa-laptop pull-left"></i>
                        Screen
                    </a>
                </li>
                <li>
                    <a class="btn btn-link" data-bind="click: addActivity('Notification')">
                        <i class="fa fa-envelope pull-left"></i>
                        Notification
                    </a>
                </li>
                <li>
                    <a class="btn btn-link" data-bind="click: addActivity('Decision')">
                        <img src="/Images/DecisionActivity.png" class="pull-left" alt="Decision activity" />
                        Decision
                    </a>
                </li>
                <li>
                    <a class="btn btn-link" data-bind="click: addActivity('CreateEntity')">
                        <img src="/Images/CreateEntityActivity.png" class="pull-left" alt="Create Entity activity" />
                        Create Record
                    </a>
                </li>
                <li>
                    <a class="btn btn-link" data-bind="click: addActivity('End')">
                        <i class="fa fa-stop pull-left"></i>
                        End
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <table class="table table-striped" id="activities-table">
        <thead>
            <tr>
                <th>Is Initiator</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: ActivityCollection">
            <tr>
                <td>
                    <input class="input-action-isinitiator" data-bind="checked: IsInitiator" id="IsInitiator" type="checkbox" name="IsInitiator" />
                </td>
                <td>
                    <a type="button" class="btn btn-link" data-bind="click : $parent.editActivity.call($parent,$data)" href="#">

                        <img data-bind="fieldImage : $type" class="pull-left" alt="." />
                        &nbsp;
                        <!-- ko text : Name -->
                        <!-- /ko -->
                    </a>
                </td>
                <td>
                    <a class="btn btn-mini" rel="nofollow" href="#" data-bind="click: $parent.removeActivity.call($parent,$data)">Buang</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>