
<section class="view-model-modal" id="activity-notification-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Notification Activity</h3>
            </div>
            <div class="modal-body" data-bind="with: activity">


                <form class="form-horizontal" id="activity-notification-modal-form">
                    <div class="form-group">
                        <label for="notification-activity-name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-6">
                            <input pattern="^[A-Za-z_][A-Za-z0-9_ ]*$" required type="text" data-bind="value: Name" class="form-control" id="notification-activity-name" placeholder="Name">
                        </div>
                    </div>

                    <div class="form-group alert-info alert-dismissable alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Use "=" at the beginning to use Script engine, 
fields also support razor template by default
variables can be notated as @Model.VariablePath

                    </div>

                    <div class="form-group">
                        <label for="email-to" class="col-lg-2 control-label">To</label>
                        <div class="col-lg-9">
                            <input required type="text" data-bind="value: To" class="form-control expression-field razor-field" id="email-to" placeholder="To email address or template">
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#email-more-settings" data-toggle="collapse">More settings</a>
                    </div>
                    <div id="email-more-settings" class="collapse">

                        <div class="form-group">
                            <label for="notification-next" class="col-lg-2 control-label">Next</label>
                            <div class="col-lg-6">
                                <select id="notification-next"
                                        data-bind="value:NextActivityWebId,
                                        uniqueName:true,
                                        options: $root.wd().ActivityCollection,
                                        optionsText:'Name',
                                        optionsValue:'WebId',
                                        optionsCaption:'Please select next activity'" class="form-control"></select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email-from" class="col-lg-2 control-label">From</label>
                            <div class="col-lg-9">
                                <input required type="text" data-bind="value: From" class="form-control expression-field razor-field" id="email-from" placeholder="From email address or template">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email-cc" class="col-lg-2 control-label">Cc</label>
                            <div class="col-lg-9">
                                <input type="text" data-bind="value: Cc" class="form-control expression-field razor-field" id="email-cc" placeholder="Cc email address or template">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email-bcc" class="col-lg-2 control-label">Bcc</label>
                            <div class="col-lg-9">
                                <input type="text" data-bind="value: Bcc" class="form-control expression-field razor-field" id="email-bcc" placeholder="Bcc email address or template">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email-subject" class="col-lg-2 control-label">Subject</label>
                        <div class="col-lg-9">
                            <input required type="text" data-bind="value: Subject" class="form-control expression-field razor-field" id="email-subject" placeholder="Subject template">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="email-body" class="col-lg-2 control-label">Body</label>
                        <div class="col-lg-9">
                            <textarea required data-bind="value: Body" class="form-control expression-field razor-field" id="email-body" placeholder="Email body"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input form="activity-notification-modal-form" data-dismiss="modal" type="submit" class="btn btn-primary" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>