
<section class="view-model-modal" id="create-entity-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Create Record</h3>
            </div>
            <div class="modal-body" data-bind="with: activity">

                <form class="form-horizontal" id="create-entity-dialog-form">
                    <div class="form-group">
                        <label for="ce-name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-6">
                            <input required pattern="^[A-Za-z_][A-Za-z0-9_ ]*$" type="text" data-bind="value:Name" class="form-control" id="ce-name" placeholder="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ce-entitytype" class="col-lg-2 control-label">Entity</label>
                        <div class="col-lg-6">
                            <select class="form-control" id="ce-entitytype" data-bind="value:EntityType">
                                <option value="Land">Land</option>
                                <option value="Building">Building</option>
                                <option value="Space">Space</option>
                                <option value="Contract">Contract</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ce-next" class="col-lg-2 control-label">Next</label>
                        <div class="col-lg-6">
                            <select id="ce-next" required
                                    data-bind="value:NextActivityWebId,
                                        uniqueName:true,
                                        options: $root.wd().ActivityCollection,
                                        optionsText:'Name',
                                        optionsValue:'WebId',
                                        optionsCaption:'Please select next activity'" class="form-control"></select>

                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">
                                Add Property Mapping &nbsp;<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="btn btn-link" data-bind="click: addPropertyMapping('Simple')">
                                        <i class="fa fa-code"></i>
                                        Simple Mapping
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-link" data-bind="click: addPropertyMapping('Functoid')">
                                        <i class="fa fa-sitemap"></i>
                                        Functoid Mapping
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Source</th>
                                <th>Destination</th>
                                <th>Functoid</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :PropertyMappingCollection">
                            <tr>
                                <td><input type="text" data-bind="value:Source" /></td>
                                <td><input type="text" data-bind="value:Destination" /></td>
                                <td>
                                    <!-- ko if : $data.hasOwnProperty("Functoid") -->
                                        <input type="text" data-bind="value:Functoid" />
                                    <!--/ko-->
                                </td>
                                <td><a data-bind="click : $parent.removePropertyMapping.call($parent,$data)">Buang</a></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <input form="create-entity-dialog-form" data-dismiss="modal" type="submit" class="btn btn-primary" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>