
<section class="view-model-modal" id="listen-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Listen</h3>
            </div>
            <div class="modal-body" data-bind="with: activity">

                <form class="form-horizontal" id="listen-dialog-form">
                    
                    <div class="form-group">
                        <label for="listen-activity-name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-9">
                            <input pattern="^[A-Za-z_][A-Za-z0-9_ ]*$" required type="text" data-bind="value: Name" class="form-control" id="listen-activity-name" placeholder="Name">
                        </div>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">
                            Add Branch &nbsp;<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="btn btn-link" data-bind="click: addBranch('Screen')">
                                    <i class="fa fa-code"></i>
                                    Screen
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-link" data-bind="click: addBranch('Delay')">
                                    <i class="fa fa-sitemap"></i>
                                    Delay
                                </a>
                            </li>
                        </ul>
                    </div>

                    <table class="table">

                        <thead>
                            <tr>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :ListenBranchCollection">
                            <tr>
                                <td>
                                    <input pattern="^[A-Za-z_][A-Za-z0-9_ ]*$" type="text" required data-bind="value:Name, uniqueName:true" class="form-control" />
                                </td>
                                <td>
                                    <a href="#" data-bind="click : $parent.removeBranch.call($parent,$data)">Buang</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </form>
            </div>
            <div class="modal-footer">
                <input form="listen-dialog-form" data-dismiss="modal" type="submit" class="btn btn-primary" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>