<section class="view-model-modal">
    <div class="modal-header">
        <h2>Edit Block Floor Map</h2>
        <button type="button" class="close" data-bind="click: cancelClick">&times;</button>
    </div>
    <div class="modal-body" data-bind="with: block">
        <h3><span data-bind="text: Description"></span></h3>
        <div id="blockfloormap" class="google-maps span10">
            <img alt="Block Floor Map" src="/Images/spinner-md.gif" />
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" value="OK" data-bind="click: okClick" />
        <button class="btn" data-bind="click: cancelClick">Tutup</button>
    </div>
</section>