<section class="view-model-modal" id="block-map-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: cancelClick">&times;</button>
        <h3>Pelan Lantai</h3>
    </div>
    <div class="modal-body">
        <div id="block-map-panel" class="google-maps">
         
        </div>
    </div>

    <div class="modal-footer">
        <input type="button" class="btn btn-primary" value="OK" data-bind="click: okClick" />
        <button class="btn" data-bind="click: cancelClick">Cancel</button>
    </div>
</section>
