<h1>Peta Carian</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-7">
            <form class="form-inline">
                <div class="input-group">
                    <input id="search" placeholder="Carian lokasi.." type="search" class="form-control" />
                    <a class="input-group-addon" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </form>

        </div>
    </div>

    <div class="row">
        <div id="map-buildingbound" class="google-maps col-lg-12">
        </div>
    </div>

</div>


<div class="hidden" id="selected-building-panel">

    <div data-bind="with: selectedBuilding" class="building-bound-map-info">
        <h3 data-bind="text: Name"></h3>
        <div data-bind="if: BuildingSize">
            <span data-bind="text: BuildingSize"></span>sqf
        </div>
        <div data-bind="if: Floors">
            <span data-bind="text: Floors"></span>floor(s)
        </div>
        <div data-bind="with: Address">
            <address>
                <span data-bind="text: Street"></span>
                <br />
                <span data-bind="text: City"></span>
                <br />
                <span data-bind="text: Postcode"></span>
                <br />
                <span data-bind="text: State"></span>
                <br />
            </address>
        </div>
        <div>
            <a href="#" class="btn" data-bind="attr: { href: '/#/building.detail-templateid.' + TemplateId + '/' + TemplateId + '/' + BuildingId }">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="building-bound-map-image">
            <img data-bind="attr: { src: '/image/store/' + MapImage }" />
        </div>

    </div>

</div>
