<div id="building-list-page">
    <h1>Senarai Hartanah</h1>
    <div class="space-list-search-panel row row-fluid" data-bind="with: searchTerm">
        <form class="form-inline form-search">
            <label class="control-label">Negeri</label>
            <select data-bind="options: stateOptions, value: state, optionsCaption: '[Sila Pilih]'" required></select>

            <label class="control-label">Kata Kunci</label>
            <input type="text" data-bind="value: keyword" required />

            <button type="submit" class="btn btn-primary" id="building-search-btn">
                <i class="icon-search pull-left"></i>
                Search
            </button>

        </form>
    </div>
    <div>
        <table id="building-list-table" class="table table-striped" data-bind="filter: { path: 'tbody>tr' },
            searchPaging :
            {
                query: searchTerm.query,
                list: buildings,
                entity: 'Building',
                searchButton: '#building-search-btn'
            }">
            <thead>
                <tr>
                    <th>Nama Hartanah</th>
                    <th>Negeri</th>
                    <th>Lokasi</th>
                    <th>Alamat</th>
                    <th>Jenis</th>
                    <th>Keluasan</th>
                    <th>Blok</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: buildings">
                <tr>
                    <td>
                        <a class="btn btn-link" data-bind="attr: { href: '/#/building.detail-templateid.' + TemplateId() + '/' + TemplateId() + '/' + BuildingId() }, text: Name"></a>
                    </td>
                    <td data-bind="text: Address().State"></td>
                    <td data-bind="text: Address().City"></td>
                    <td data-bind="text: Address().Street"></td>
                    <td data-bind="text: BuildingType"></td>
                    <td data-bind="text: BuildingSize"></td>
                    <td data-bind="text: Blocks"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>