<div>
    <h1 class="row-fluid">Senarai Jenis kontrak</h1>   
    <table class=" table table-striped" data-bind="filter: { path: 'tbody>tr' }, serverPaging: { entity: 'ContractTemplate', query: 'ContractTemplateId gt 0', list: contractTemplateCollection}">
        <thead>
            <tr>
                <th>Jenis</th>
                <th>Keterangan</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: contractTemplateCollection">
            <tr>
                <td>
                    <a href="#" data-bind="text: Type, attr: { href: '/#/contract.template/' + ContractTemplateId() }"></a>
                </td>
                <td data-bind="text: Description"></td>
                <td data-bind="text: Status"></td>
            </tr>
        </tbody>
    </table>
</div>
