<h1>Senarai kontrak</h1>
<div class="space-list-search-panel row row-fluid" data-bind="with: searchTerm">
    <form class="form-search">
        <label>No Kontrak</label>
        <input type="text" data-bind="value: contractNo" />

        <label>Kata Kunci</label>
        <input type="text" data-bind="value: keyword" />

        <button class="btn btn-primary" data-bind="command: $root.searchCommand">
            <i class="icon-search pull-left"></i>
            Search
        </button>

    </form>
</div>
<div class="row-fluid">

    <div class="container-fluid" data-bind="filter: { path: 'tbody>tr' }, serverPaging: { entity: 'Contract', query: 'ContractId gt 0', list: contracts}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No. Kontrak</th>
                    <th>Tajuk</th>
                    <th>Jenis Ruang</th>
                    <th>ID Penyewa</th>
                    <th>Nama Penyewa</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: contracts">
                <tr>
                    <td>
                        <a href="#" data-bind="attr: { href: '/#/contract.details/' + ContractId() }, text: ReferenceNo"></a>
                    </td>
                    <td data-bind="text:Title"></td>
                    <td data-bind="text:Space.Category"></td>
                    <td data-bind="text: Tenant.IdSsmNo"></td>
                    <td data-bind="text:Tenant.Name"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
