<h1>Butiran Tanah</h1>
<div>
    <form class="form-horizontal" data-bind="with: land">
        <div class="control-group">
            <label for="Title" class="control-label">Tajuk</label>
            <div class="controls">
                <input class="input-xxlarge" data-bind="value: Title" id="Title" type="text" name="Title" />
            </div>
        </div>

        <div class="control-group">
            <label for="Location" class="control-label">Lokasi</label>
            <div class="controls">
                <input class="input-xxlarge" data-bind="value: Location" id="Location" type="text" name="Location" />
            </div>
        </div>

        <div class="control-group">
            <label for="Lot" class="control-label">Lot</label>
            <div class="controls">
                <input data-bind="value: Lot" id="Lot" type="text" name="Lot" />
            </div>
        </div>

        <div class="control-group">
            <label for="Size" class="control-label">Keluasan</label>
            <div class="controls">
                <div class="input-append">
                    <input data-bind="value: Size" id="Size" type="number" name="Size" />
                    <i class="add-on">m
                    <sup>2</sup>
                    </i>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label for="CurrentMarketValue" class="control-label">Nilai semasa</label>
            <div class="controls">
                <div class="input-append input-prepend ">
                    <i class="add-on">RM</i>
                    <input data-bind="value: CurrentMarketValue" id="CurrentMarketValue" type="number" name="CurrentMarketValue" />
                    <i class="add-on">.00</i>
                </div>
            </div>
        </div>
        <h2>Alamat</h2>
        <div data-bind="with: Address">
            <div class="control-group">
                <label for="address.Street" class="control-label">Jalan</label>
                <div class="controls">
                    <input class="input-xxlarge" data-bind="value: Street" id="address.Street" type="text" name="address.Street" />
                </div>
            </div>
            <div class="control-group">
                <label for="address.City" class="control-label">Bandar/Daerah</label>
                <div class="controls">
                    <input data-bind="value: City" id="address.City" type="text" name="address.City" />
                </div>
            </div>
            <div class="control-group">
                <label for="address.Postcode" class="control-label">Poskod</label>
                <div class="controls">
                    <input data-bind="value: Postcode" id="address.Postcode" type="text" name="address.Postcode" />
                </div>
            </div>
            <div class="control-group">
                <label for="address.State" class="control-label">Negeri</label>
                <div class="controls">
                    <select name="address.State" id="address.State" data-bind="value: State, options: $root.stateOptions, optionsText: 'Name', optionsValue: 'Name', optionsCaption: '[Sila Pilih]'"></select>
                </div>
            </div>
        </div>
        <div>
            <a type="button" class="btn"
                data-toggle="modal"
                data-bind="command: $root.showMapCommand, visible: LandId() > 0"
                href="#land-map-panel">Map</a>
        </div>

    </form>
</div>

<section class="modal hide google-maps" id="land-map-panel" style="margin-left: -500px; width: 940px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Pelan Tanah</h2>
    </div>
    <div class="modal-body" style="width: 900px; height: 500px; max-height: 500px">
        <div id="map" style="width: 900px; height: 500px"></div>
    </div>
    <div class="modal-footer">
        <input data-dismiss="modal" type="button" class="btn btn-primary" value="Simpan" data-bind="click: saveMapCommand" />
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
</section>
