<li class="dropdown dropdown-big">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <i class="fa fa-envelope-alt"></i>Mesej <span class="badge badge-important" data-bind="text:messages().length">6</span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <!-- Heading - h5 -->
            <h5><i class="fa fa-envelope-alt"></i>Messages</h5>
            <!-- Use hr tag to add border -->
            <hr>
        </li>

            <!-- ko foreach : messages -->
        <li>
            <a data-bind="text: Subject, attr: {href : '/#/message.detail/' + MessageId()}"></a>
            <p></p>
            <hr>
        </li>
            <!-- /ko -->
     
        <li>
            <div class="drop-foot">
                <a href="/#/message.inbox">View All</a>
            </div>
        </li>
    </ul>
</li>
