<h1 class="row-fluid"><span>Borang Permohonan</span></h1>
<div class="span7">
    <form class="form-horizontal" data-bind="with: rentalapplication">
        <div>
            <h2>Maklumat Pemohon</h2>
        </div>
        <div>
            <div class="control-group">
                <label class="span2">Nama</label>
                <div class="span4 ">
                    <input type="text" name="rentalapplication.Contact.Name" data-bind="value: Contact().Name" />
                </div>
            </div>

            <div class="control-group">
                <label class="span2">No. Kad Pengenalan</label>
                <div class="span4">
                    <input type="text" name="rentalapplication.Contact.IcNo" data-bind="value: Contact().IcNo" />
                </div>

            </div>
            <div class="control-group">
                <label class="span2">Jawatan</label>
                <div class="span4">
                    <input type="text" name="rentalapplication.Contact.Role" data-bind="value: Contact().Role" />
                </div>
            </div>
            <div class="control-group ">
                <label class="span2">No. Telefon </label>
                <div class="span4">
                    <input type="text" name="rentalapplication.Contact.MobileNo" data-bind="value: Contact().MobileNo" />
                </div>
            </div>
            <div class="control-group">
                <label class="span2">Emel</label>
                <div class="span4">
                    <input type="email" name="rentalapplication.Contact.Email" data-bind="value: Contact().Email" />
                </div>
            </div>
            <div class="control-group">
                <label class="span2">Mohon bagi pihak syarikat</label>
                <div class="span4">
                <input data-bind="checked: IsCompany" id="rentalapplication.IsCompany" type="checkbox" name="rentalapplication.IsCompany" />
                </div>
            </div>
            <section data-bind="visible: IsCompany() == true">
                <div><h2>Maklumat Syarikat</h2></div>
                <div class="control-group">
                    <label class="span2">Nama Syarikat</label>
                    <div class="span4">
                        <input type="text" name="rentalapplication.CompanyName" data-bind="value: CompanyName" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="span2">No Pendaftaran Syarikat</label>
                    <div class="span4">
                        <input type="text" name="rentalapplication.CompanyRegistrationNo" data-bind="value: CompanyRegistrationNo" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="span2">Jenis Syarikat</label>
                    <div class="span4">
                        <select name="rentalapplication.CompanyType" data-bind="value: CompanyType">
                            <option value="Business Corporate">Business Corporate</option>
                            <option value="Partnership">Partnership</option>
                            <option value="Sole Proprietorship">Sole Proprietorship</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="span2">No. Telefon Pejabat</label>
                    <div class="span4">
                        <input type="text" name="rentalapplication.Contact.OfficeNo" data-bind="value: Contact().OfficeNo" />
                    </div>
                </div>
                <div>
                    <h6>Alamat</h6>
                </div>
                <div class="control-group">
                    <label class="span2">Jalan</label>
                    <div class="span4">
                        <input type="text" name="rentalapplication.Address.Street" data-bind="value: Address().Street" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="span2">Bandar</label>
                    <div class="span4">
                        <input type="text" name="rentalapplication.Address.City" data-bind="value: Address().City" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="span2">Poskod</label>
                    <div class="span4">
                        <input type="text" name="rentalapplication.Address.Postcode" data-bind="value: Address().Postcode" />
                    </div>
                </div>
                <div class="labelLeft">
                    <label class="span2">Negeri</label>
                    <div class="span4">
                        <select data-bind="options: $parent.stateOptions, value: Address().State, optionsCaption: '[Sila Pilih]', optionsText: 'Name', optionsValue: 'Name'">
                        </select>
                    </div>
                </div>
            </section>

            <div>
                <h2>Cadangan Perniagaan</h2>
            </div>
            <div class="control-group">
                <label class="span2">Tujuan Permohonan</label>
                <div class="span6">
                    <textarea cols="3" rows="4" name="rentalapplication.Purpose" data-bind="value: Purpose" class="input-block-level"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="span6">Nyatakan pengalaman anda/syarikat berdasarkan permohonan diatas</label>
                <div class="span6">
                    <textarea cols="3" rows="4" name="rentalapplication.Experience" data-bind="value: Experience" class="input-block-level"></textarea>
                </div>
            </div>

            <div class="control-group">
                <div>
                    <span class="span5">Pernah/Sudah Ada menyewa mana-mana Ruang Komersial dengan BPH? </span>
                    <input type="checkbox" name="rentalapplication.IsRecordExist" class="checkbox" data-bind="checked: IsRecordExist" />
               </div>
            </div>
            <div class="control-group" data-bind="visible: IsRecordExist">
            <label class="span2">Sila Nyatakan Alamat</label>
                <div class="span6">
                    <textarea cols="3" rows="4" name="rentalapplication.PreviousAddress" data-bind="value: PreviousAddress" class="input-block-level"></textarea>
                </div>
            </div>
            <div>
                <h2>Dokumen sokongan</h2>
            </div>
            <div>
                <div class="span6">
                    <a data-bind="click: $parent.addAttachmentCommand" class="btn btn-link pull-right">
                        <i class="icon-file-alt"></i>+ Dokumen</a>
                </div>
                <table id="document-sokongan-table" class="table table-bordered span6">
                    <thead>
                        <tr>
                            <th>Jenis</th>
                            <th>Nama</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: { data: AttachmentCollection, afterAdd: $parent.configureUpload }">
                        <tr>
                            <td>
                                <input type="text" data-bind="value: Type, uniqueName: true" /></td>
                            <td>
                                <input type="text" data-bind="value: Name, uniqueName: true" /></td>
                            <td>
                                <input class="input-medium " type="file" value="upload" name="files" />
                            </td>
                            <td>
                                <img data-bind="click: $root.removeAttachmentCommand, attr: { src: '/Images/remove_icon.png' }" src="/Images/remove_icon.png" alt="buang" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-warning warning span12">
                <p>Sila pastikan semua maklumat yang diberi adalah benar dan tepat.Permohonan anda akan dibatalkan sekiranya pihak pengurusan mendapati maklumat yang diberi tidak benar.</p>
                <p>Terima Kasih atas kerjasama yang diberikan.</p>
            </div>
        </div>
    </form>

    <section class="modal hide" id="success-panel">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>Makluman Permohonan</h2>
        </div>
        <div class="modal-body">
            <span>Permohonan anda sudah berjaya direkodkan, No Rujukan permohonan anda ialah <strong data-bind="text: registrationNo"></strong></span>
        </div>

        <div class="modal-footer">
            <input data-dismiss="modal" type="button" class="btn btn-primary" value="OK" />
        </div>
    </section>
</div>
<div class="span5 widget wlightblue" id="space">
    <div class="widget-head">
        <div class="pull-left">Ruang Komersil</div>
        <div class="widget-icons pull-right"></div>
        <div class="clearfix"></div>
    </div>
    <div class="span5">
        <div>
            <div id="space-detail" data-bind="with: space">
                <div class="control-group">
                    <label class="span2">Negeri :</label>
                    <label class="span2" data-bind="text: State"/>
                </div>
                <div class="control-group">
                    <label class="span2">Bandar :</label>
                    <label class="span2" data-bind="text: City"/>
                </div>
                <div class="control-group">
                    <label class="span2">Nama Bangunan :</label>
                    <label class="span2" data-bind="text: BuildingName"/>
                </div>
               <div class="control-group">
                    <label class="span2">Lot Bangunan :</label>
                    <label class="span2" data-bind="text: BuildingLot"/>
                </div>
                <div class="control-group">
                    <label class="span2">Tingkat :</label>
                    <label class="span2" data-bind="text: FloorName"/>
                </div>
                <div class="control-group">
                    <label class="span2">Lot :</label>
                    <label class="span2" data-bind="text: LotName"/>
                </div>
                <div class="control-group">
                    <label class="span2">Jenis Ruang :</label>
                    <label class="span2" data-bind="text: Category"/>
                </div>
                <div class="control-group">
                    <label class="span2">Saiz :</label>
                    <label class="span2" data-bind="text: Size"/>
                </div>
                <div class="control-group">
                    <label class="span2">Kadar Sewa :</label>
                    <label class="span2" data-bind="text: RentalRate"/>
                </div>
                <div class="control-group">
                    <img alt="map" data-bind="attr: { src: $root.space().StaticMap }" class="img-polaroid centered" src="/Images/accent.png" />
                </div>
            </div>
        </div>
        
    </div>
</div>
