<h1 class="header">Ruang Untuk Disewa</h1>

<div class="container">


    <div class="row">
        <div class="col-lg-4 space-search-panel filter-panel" data-bind="with: searchTerm">
            <div>
                <h3>Kategori</h3>
                <div>
                    <!-- ko  foreach: categoryOptions-->
                    <label class="checkbox">
                        <input type="checkbox" data-bind="value: $data, checked: $parent.categories" />
                        <!-- ko text:$data -->
                        <!-- /ko -->
                    </label>
                    <!-- /ko -->
                </div>

            </div>
            <div>
                <h3>Negeri</h3>
                <div>
                    <!-- ko  foreach: stateOptions-->
                    <label class="checkbox">
                        <input type="checkbox" data-bind="value: $data, checked: $parent.states" />
                        <!-- ko text:$data -->
                        <!-- /ko -->
                    </label>
                    <!-- /ko -->
                </div>
            </div>
            <div>
                <h3>Price Range</h3>
                <div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="min-value" class="control-label col-lg-1">Min</label>
                            <div class="col-lg-9">
                                <input class="form-control" data-bind="value: minValue, attr: { max: max, min: min }" id="min-value" type="range" name="minValue" step="10" max="9999" />
                                <span class="help-inline" data-bind="money: minValue"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="max-value" class="control-label col-lg-1">Max</label>
                            <div class="col-lg-9">
                                <input class="form-control" data-bind="value: maxValue, attr: { max: max, min: min }" id="max-value" type="range" name="maxValue" step="10" max="99999" />
                                <span class="help-inline" data-bind="money: maxValue"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only col-lg-1">Search</label>
                            <div class="col-lg-9">
                                <button class="btn btn-primary" data-bind="command: $root.searchCommand">
                                    <i class="icon-search pull-left"></i>
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-lg-8" id="available-space-list" data-bind="searchPaging:
                    {
                        query: searchTerm.query,
                        list: spaces,
                        entity: 'Space'
                    }">
            <!-- ko foreach : spaces -->
            <div data-bind="theme:'rentalapplication.selectspace-spaceitem'">
                <article class="space-item">
                    <div class="space-nav">
                        <span class="category" data-bind="text: Category"></span>
                        <span><a data-bind="attr: { href: '/#/space.detailpublic-templateid.' + TemplateId() + '/' + SpaceId() }">Lihat Perincian</a></span>
                    </div>
                    <!-- ko if: Icon -->
                    <div class="space-image-panel">
                        <img src="/Images/no-image.png" data-bind="attr: { src: '/Image/Store/' + Icon() }" alt="icon" />
                    </div>
                    <!-- /ko -->
                    <!-- ko if: PhotoCollection().length === 0 -->
                    <div class="space-image-panel">
                        <img src="/Images/no-image.png" alt="no image specified" />
                    </div>
                    <!-- /ko -->


                    <div class="space-info">
                        <p>
                            <!-- ko if :Size-->
                            <span>Saiz :</span>
                            <span data-bind="text: Size" />mps
                            <!--/ko-->
                        </p>
                        <p>
                            <span class="building-name" data-bind="text: BuildingName" />
                        </p>
                        <p>
                            <!-- ko if :UnitNo-->
                            <span data-bind="text: UnitNo" />,
                            <!--/ko-->
                            <!-- ko if :FloorName-->
                            <span data-bind="text: FloorName" />,
                            <!--/ko-->
                            <span data-bind="text: BuildingName" />,
                        </p>
                        <p>
                            <span data-bind="text: City" />,
                            <span data-bind="text: Address().Postcode" />,
                        </p>
                        <p>
                            <span data-bind="text: State" />.
                        </p>

                    </div>

                    <div class="space-rental-rate">
                        RM <span class="prices" data-bind="money: RentalRate" />
                    </div>
                </article>
            </div>
            <!-- /ko -->
        </div>

    </div>
    <div class="row">
        <div id="search-space-pager" class="col-lg-offset-4 col-lg-8">

        </div>
    </div>


</div>
