<h1 class="header">Ruang Untuk Disewa</h1>

<div class="row row-fluid">
   <div class="space-list-search-panel row row-fluid" data-bind="with: searchTerm">
        <form class="form-inline form-search">
            <label class="control-label">Negeri</label>
            <select data-bind="options: stateOptions, value: state, optionsCaption: '[Sila Pilih]'"></select>

           <button type="submit" class="btn btn-primary" id="building-search-btn" data-bind="command: $root.searchCommand">
                <i class="icon-search pull-left"></i>
                Search
            </button>

        </form>
    </div>
    <div>
        <section id="available-space-list" data-bind="foreach: items">
            <h2 data-bind="text: name"></h2>
            <!-- ko foreach : spaces -->
            <div>
                <article class="list-article">
                        <div class="list-header">
                            <span class="category" data-bind="text: Category"></span>
                            <span><a class="detail-button" data-bind="attr: { href: '/#/application.detail-templateid.' + TemplateId() + '/' + SpaceId() }">Permohonan Baru</a></span>
                        </div>
                        <!-- ko if: Icon -->
                        <div  class="space-image-panel">
                            <img style="width: 150px; height: 120px " src="/Images/no-image.png" data-bind="attr: { src: '/Image/Store/' + Icon() }" alt="icon" />
                        </div>
                        <!-- /ko -->
                        
                        <div class="space-image-panel">
                            <img src="/Images/no-image.png" />
                        </div>
                        
                    <div class="list-info">
                            <p class="info-text">
                                <span class="building-name" data-bind="text: BuildingName" />
                            </p>
                            <p class="info-text">
                                <span data-bind="text: UnitNo" />
                                <span data-bind="text: FloorName" />,
                                <span data-bind="text: BuildingName" />,
                                <span data-bind="text: City" />,
                                <span data-bind="text: State" />.
                            </p>
                            <p class="info-text">
                                <!-- ko if :Size-->
                                <span>Saiz :</span>
                                <span data-bind="text: Size" />mps
                                <!--/ko-->
                            </p>
                    </div>
                    
                    <div class="list-footer">
                        RM <span class="prices" data-bind="money: RentalRate" />
                    </div>
                </article>
            </div>
            <!-- /ko -->
        </section>

        <div id="search-space-pager"></div>
    </div>
</div>