<h1 class="row-fluid"><span data-bind="text: title"></span></h1>
<div class="span9">
    <form class="form-horizontal" data-bind="with: rentalapplication">
        <div id="div-application">
            <div>
                <a data-bind="click: $parent.showDetailsCommand" href="#details-panel" class="btn btn-link pull-right">
                    <i class="icon-camera"></i>Maklumat Lanjut</a>
            </div>
            <h2>Maklumat Pemohon</h2>

            <div class="control-group">
                <label class="span2">No Pendaftaran</label><label class="span1">:</label>
                <div>
                    <span data-bind="text: RegistrationNo" />
                </div>
            </div>
            <div class="control-group">
                <label class="span2">Nama Pegawai</label><label class="span1">:</label>
                <div>
                    <span data-bind="text: Contact().Name" />
                </div>
            </div>
            <div class="control-group">
                <label class="span2">No. Telefon Pejabat</label><label class="span1">:</label>
                <div>
                    <span data-bind="text: Contact().OfficeNo" />
                </div>
            </div>
            <div class="control-group">
                <label class="span2">No. Telefon Bimbit</label><label class="span1">:</label>
                <div>
                    <span data-bind="text: Contact().MobileNo" />
                </div>
            </div>
            <div class="control-group" data-bind="visible: IsCompany()">
                <label class="span2">Nama Syarikat</label><label class="span1">:</label>
                <div>
                    <span data-bind="text: CompanyName" />
                </div>
            </div>
            <div class="control-group" data-bind="visible: IsCompany()">
                <label class="span2">No. SSM</label><label class="span1">:</label>
                <div>
                    <span data-bind="text: CompanyRegistrationNo" />
                </div>
            </div>
            <div class="control-group">
                <label class="span2">Alamat</label><label class="span1">:</label>
                <div data-bind="with: Address">
                    <span data-bind="text: UnitNo" />
                    <span data-bind="text: Street" />,
                    <span data-bind="text: Postcode" />
                    <span data-bind="text: City" />,
                    <span data-bind="text: State" />
                </div>
            </div>
        </div>
    </form>
    <form class="form">
        <h2 class=" span7">Dokumen sokongan</h2>
        <div class="span7">
            <a data-bind="click: addAttachmentCommand, visible: rentalapplication().Status() == 'Baru'" class="btn btn-link pull-right">
                <i class="icon-file-alt"></i>+ Dokumen</a>
        </div>
        <div class="span7">
            <table class="table table-bordered span6">
                <thead>
                    <tr>
                        <th>Jenis</th>
                        <th>Nama</th>
                        <th>Terima</th>
                        <th>Perlu</th>
                        <th>Lengkap</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: rentalapplication().AttachmentCollection">
                    <tr>
                        <td>
                            <input type="text" data-bind="value: Type, uniqueName: true" /></td>
                        <td>
                            <input type="text" data-bind="value: Name, uniqueName: true" /></td>
                        <td>
                            <input type="checkbox" class="checkbox" data-bind="checked: IsReceived" />
                        </td>
                        <td>
                            <input type="checkbox" class="checkbox" data-bind="checked: IsRequired" /></td>
                        <td>
                            <input type="checkbox" class="checkbox" data-bind="checked: IsCompleted" /></td>
                        <td>
                            <a class="btn btn-link" data-bind="click: $root.removeAttachmentCommand">Buang </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <form>
        <h2 class=" span7">Nota</h2>
        <div class="span7">
            <textarea class="span7" data-bind="value: rentalapplication().Remarks" rows="5" cols="3" />
        </div>
    </form>
</div>
<div class="modal hide fade" id="details-panel">
    <div class="modal-header">
        <a class="btn btn-mini pull-right" data-dismiss="modal">X</a>
        <h2>Maklumat Lanjut</h2>
    </div>
    <div class="modal-body" data-bind="with: rentalapplication">
        <div class="control-group">
            <label class="control-label"><strong>No. Permohonan :</strong> </label>
            <span data-bind="text: RegistrationNo" id="space.RegistrationNo" />
        </div>
        <div class="control-group">
            <span class="control-label"><strong>Tarikh Permohonan : </strong></span>
            <span data-bind="date: { value: ApplicationDate, format: 'DD/MM/YYYY' }" />
        </div>
        <div class="control-group" data-bind="with: Contact">
            <span class="control-label"><strong>Nama Pegawai : </strong></span>
            <span data-bind="text: Name" id="Contact.Name" />
        </div>
        <div class="control-group" data-bind="visible: IsCompany">
            <span class="control-label"><strong>Nama Syarikat : </strong></span>
            <span data-bind="text: CompanyName" />
        </div>
        <div class="control-group" data-bind="with: Contact">
            <span class="control-label"><strong>No. Telefon (Pejabat) : </strong></span>
            <span data-bind="text: OfficeNo" />
        </div>
        <div class="control-group" data-bind="with: Contact">
            <span class="control-label"><strong>No. Telefon (Bimbit) :</strong></span>
            <span data-bind="text: MobileNo" />
        </div>
        <div class="control-group" data-bind="with: Contact">
            <span class="control-label"><strong>Email : </strong></span>
            <span data-bind="text: Email" />
        </div>
        <div class="control-group" data-bind="with: Address">
            <span class="control-label"><strong>Alamat : </strong></span>
            <span data-bind="text: Street" />,
            <span data-bind="text: Postcode" />
            <span data-bind="text: City" />,
            <span data-bind="text: State" />
        </div>
        <div class="control-group">
            <span class="control-label"><strong>Tujuan Permohonan : </strong></span>
            <span data-bind="text: Purpose" />
        </div>
        <div class="control-group">
            <span class="control-label"><strong>Pengalaman : </strong></span>
            <span data-bind="text: Experience" />
        </div>

    </div>
    <div class="modal-footer">
        <input type="button" class="btn-small btn-primary" value="OK" data-dismiss="modal" />
    </div>
</div>

<div class="span5 widget wlightblue" id="space">
    <div class="widget-head">
        <div class="pull-left">Ruang Komersil</div>
        <div class="widget-icons pull-right"></div>
        <div class="clearfix"></div>
    </div>
    <div class="span5">
        <form class="form-inline">
            <div id="space-Detail" data-bind="with: space">
                <div class="control-group">
                    <label>Negeri :</label>
                    <span data-bind="text: State" />
                </div>
                <div class="control-group">
                    <label>Bandar :</label>
                    <span data-bind="text: City" />
                </div>
                <div class="control-group">
                    <label>Nama Bangunan :</label>
                    <span data-bind="text: BuildingName" />
                </div>
                <div class="control-group">
                    <label>Tingkat :</label>
                    <span data-bind="text: FloorName" />
                </div>
                <div class="control-group">
                    <label>No. Unit :</label>
                    <span data-bind="text: UnitNo" />
                </div>
                <div class="control-group">
                    <label>Jenis Ruang :</label>
                    <span data-bind="text: Category" />
                </div>
                <div class="control-group">
                    <label>Saiz :</label>
                    <span data-bind="text: Size" />
                </div>
                <div class="control-group">
                    <label>Kadar Sewa :</label>
                    <span>RM </span><span data-bind="money: RentalRate" />
                </div>
                <div class="control-group">
                    <label class="controls-row">Lokasi :</label>
                    <img alt="map" data-bind="attr: { src: staticMap }" class="img-polaroid centered controls-row" src="/Images/accent.png" />
                </div>
            </div>
            <h3>Tambahan</h3>
            <div data-bind="foreach: rentalapplication().FeatureCollection">
                <div class="control-group">
                    <span data-bind="text: Name"></span>,
                    <span data-bind="text: Quantity"></span>
                    <span> Unit</span>,
                    <span>RM</span>
                    <span data-bind="money: Charge" />
                </div>
            </div>
            <div class="control-group pull-right">
                <span class="bold large text-right">JUMLAH SEWAAN :</span>
                <span class="bold large text-left">RM</span>
                <span class="bold large text-left" data-bind="money: $root.totalRate" />
            </div>
        </form>
    </div>
</div>


