<h1 class="header">Ruang Untuk Disewa</h1>

<div class="row row-fluid">
    <div class="space-list-search-panel row row-fluid" data-bind="with: searchTerm">
        <form class="form-inline form-search">
            <label class="control-label">Negeri</label>
            <select data-bind="options: stateOptions, value: state, optionsCaption: '[Sila Pilih]'"></select>

            <button type="submit" class="btn btn-primary" id="building-search-btn" data-bind="command: $root.searchCommand">
                <i class="icon-search pull-left"></i>
                Search
            </button>

        </form>
    </div>
    <div>
        <table class="table table-striped" data-bind="searchPaging:
                {
                    query: searchTerm.query,
                    list: spaces,
                    entity: 'Space'
                }">
            <thead>
                <tr>
                    <th>Kategori</th>
                    <th>No. Pendaftaran</th>
                    <th>Alamat</th>
                    <th>Pegawai Untuk Dihubungi</th>
                    <th>Negeri</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach:spaces">
                <tr>
                    <td data-bind="text: Category"></td>
                    <td data-bind="text: RegistrationNo"></td>
                    <td><span data-bind="text: UnitNo, visible: UnitNo"></span> <span data-bind="text: FloorName"></span> <span data-bind="text: BuildingName"></span></td>
                    <td data-bind="text: ContactPerson"></td>
                    <td data-bind="text: Address().State"></td>
                    <td>
                        <a class="btn btn-mini" data-bind="attr: { href: '/#/application.detail-templateid.' + TemplateId() + '/' + SpaceId() }">Permohonan</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
      <div id="search-space-pager"></div>
</div>
