
<section class="view-model-modal" id="hourly-schedule-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Hourly Schedule</h3>
            </div>
            <div class="modal-body" data-bind="with: schedule">

                <form class="form-horizontal" role="form" id="hourly-schedule-dialog-form">

                    <div class="form-group">
                        <label for="sche-start-hour" class="control-label">Start Hour</label>
                        <div class="controls">
                            <input class="form-control col-lg-2" data-bind="value: StartHour" min="0" id="sche-start-hour" type="number" name="StartHour" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="h-end" class="control-label">End hour</label>
                        <div class="controls">
                            <input class="form-control col-lg-2" data-bind="value: EndHour, attr: {min : StartHour}" id="h-end" type="number" name="EndHour" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="h-minute" class="control-label">On the minute</label>
                        <div class="controls">
                            <input class="form-control col-lg-2" min="0" max="59" data-bind="value: Minute" id="h-minute" type="number" name="Minute" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="h-interval" class="control-label">Interval</label>
                        <div class="controls">
                            <input class="form-control col-lg-2" data-bind="value: Interval" min="1" id="h-interval" type="number" max="23" name="Interval" />
                            <span class="help-block">every hour</span>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <input form="hourly-schedule-dialog-form" data-dismiss="modal" type="submit" class="btn btn-primary" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>