<div id="space-list">
    <section>
        <h1 data-bind="text: title"></h1>
        <table class="table table-striped" data-bind="filter: { path: 'tbody>tr' }, serverPaging: { entity: 'Space',query:'SpaceId gt 0', list: spaces }">
            <thead>
                <tr>
                    <th>Negeri</th>
                    <th>Lokasi</th>
                    <th>Jenis Ruang</th>
                    <th>Kategori</th>
                    <th>Nama Hartanah</th>
                    <th>No. Daftar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: spaces">
                <tr>
                    <td data-bind="text: Address().State"></td>
                    <td data-bind="text: Location"></td>
                    <td data-bind="text: TemplateName"></td>
                    <td data-bind="text: Category"></td>
                    <td data-bind="text: BuildingName"></td>
                    <td>
                        <a data-bind="attr: { href: '/#/space.detail-templateid.' + TemplateId() + '/' + TemplateId() + '/' + BuildingId() + '/' + FloorName() + '/' + SpaceId() }, text: RegistrationNo"></a>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
