<h3>Maklumat Templat Ruang Komersil </h3>
<section class="well">
    <form data-bind="with: csTemplate" class="form-horizontal">
        <div class="control-group">
            <label for="complainttemplate.Name" class="control-label">Jenis</label>
            <div class="controls">
                <input data-bind="value: Name" id="complainttemplate.Name" type="text" name="Name" />
            </div>
        </div>
        <div class="control-group">
            <label for="complainttemplate.Description" class="control-label">Keterangan </label>
            <div class="controls">
                <textarea cols="5" rows="5" data-bind="value: Description" id="complainttemplate.Description" type="text" name="Description" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input data-bind="checked: IsActive" id="complainttemplate.IsActive" type="checkbox" name="IsActive" />
                    Aktif
                </label>
            </div>
        </div>
        <!--ko compose:'_template.custom.field.html' -->
        <!--/ko-->

    </form>

</section>