<div id="space-list" class="container">
    <h1 data-bind="text: title"></h1>
    <div class="space-list-search-panel row" data-bind="with: searchTerm">
        <div class="col-lg-12">
            <form class="form-inline" role="form" id="space-search-form">
                <div class="form-group">
                    <select class="form-control" data-bind="options: stateOptions, value: state, optionsCaption: '[Sila Pilih Negeri]'"></select>
                </div>
                <div class="form-group">
                    <label class="sr-only">Kata Kunci</label>
                    <input class="form-control" type="text" data-bind="value: keyword" required placeholder="Kata kunci" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" id="space-search-btn" type="submit" form="space-search-form">
                        <i class="fa fa-search pull-left"></i>Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <table id="space-list-table" class="table table-striped" data-bind="searchPaging :
            {
                query: query,
                list: spaces,
                entity: 'Space',
                searchButton: '#space-search-btn'
            }">
            <thead>
                <tr>
                    <th>#</th>
                    <th>No. Daftar</th>
                    <th>Negeri</th>
                    <th>Lokasi</th>
                    <th>Jenis Ruang</th>
                    <th>Kategori</th>
                    <th>Nama Hartanah</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: spaces">
                <tr>
                    <td data-bind="text: (($index() + 1) + ((pager.page - 1) * pager.size))"></td>
                    <td>
                        <a data-bind="attr: { href: '/#/space.detail-templateid.' + TemplateId() + '/' + TemplateId() + '/' + BuildingId() + '/' + FloorName() + '/' + SpaceId() }, text: RegistrationNo"></a>
                    </td>
                    <td data-bind="text: Address().State"></td>
                    <td data-bind="text: Location"></td>
                    <td data-bind="text: TemplateName"></td>
                    <td data-bind="text: Category"></td>
                    <td data-bind="text: BuildingName"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
