<section id="tenant-list">
    <h1 class="row">Senarai Penyewa</h1>
    <div class="search-panel row row" data-bind="with: searchTerm">
        <form class="form-inline form-search">
            <label>No ID / SSM</label>
            <input type="text" data-bind="value: tenantIdSsmNo" />

            <label class="control-label">Kata Kunci</label>
            <input type="text" data-bind="value: keyword" required />

            <button type="submit" class="btn btn-primary" id="building-search-btn">
                <i class="fa fa-search pull-left"></i>
                Search
            </button>

        </form>
    </div>
    <div>
        <table class="table table-striped" data-bind="filter: { path: 'tbody>tr' }, serverPaging: { entity: 'Tenant', query: 'TenantId gt 0', list: tenantCollection }">
            <thead>
                <tr>
                    <th>No. Id/SSM </th>
                    <th>Nama </th>
                    <th>No. Telefon </th>
                    <th>Email </th>
                    <th>Alamat </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: tenantCollection">
                <tr>
                    <td>
                        <a data-bind="attr: { href: '/#/tenant.detail/' + TenantId() }, text: IdSsmNo"></a>
                    </td>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: MobilePhone"></td>
                    <td data-bind="text: Email"></td>
                    <td>
                        <span data-bind="text: Address().Street"></span>,
                    <span data-bind="text: Address().Postcode"></span>
                        <span data-bind="text: Address().City"></span>,
                    <span data-bind="text: Address().State"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
