
<section class="view-model-modal" id="car-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Kereta</h3>
            </div>
            <div class="modal-body" data-bind="with: car">

                <form class="form-horizontal" id="car-dialog-form">
                    <div class="form-group">
                        <label for="car-model" class="col-lg-2 control-label">Model</label>
                        <div class="col-lg-6">
                            <input required type="text" data-bind="value: Model" class="form-control" id="car-model" placeholder="Model">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input form="car-dialog-form" data-dismiss="modal" type="submit" class="btn btn-primary" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>