<section class="view-model-modal" id="constant-panel-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Complex Type</h3>
            </div>
            <div class="modal-body" data-bind="with : variable">
                <form id="complex-variable-form" class="form-horizontal">
                    <div class="form-group">
                        <label for="complex-variable-name" class="control-label">Name</label>
                        <div class="controls">
                            <input required class="form-control" data-bind="value: Name" id="complex-variable-name" type="text" name="complex-variable-name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="complex-variable-element" class="col-lg-2 control-label">Element name</label>
                        <div class="col-lg-6">
                            <select required data-bind="value:TypeName,options:$root.wd().xsdElements" class="form-control" id="complex-variable-element">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                   
                </form>
            </div>

            <div class="modal-footer">
                <input form="complex-variable-form" data-dismiss="modal" type="submit" class="btn btn-primary" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>
