<h1>Workflow Definition Detail</h1>
<form class="form-horizontal col-lg-8" id="workflow-definition-detail" data-bind="with: workflowdefinition">
    <div class="form-group">
        <label for="Name" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-6">
            <input type="text" data-bind="value:Name" class="form-control" id="Name" placeholder="Workflow name......">
        </div>
    </div>
    <div class="form-group">
        <label for="Note" class="col-lg-2 control-label">Note</label>
        <div class="col-lg-6">
            <textarea cols="4" rows="5" data-bind="value:Note" class="form-control" id="Note" placeholder="Note....." />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-6">
            <div class="checkbox">
                <label>
                    <input data-bind="checked: IsActive" id="IsActive" type="checkbox" name="IsActive" />
                    Is Active
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="complex-variable-schema" class="control-label">Schema</label>
        <div class="controls">
            <input class="form-control" data-bind="kendoUpload: SchemaStoreId" id="complex-variable-schema" type="file" name="complex-variable-schema" />
        </div>
    </div>
    <div>
        <h3>Variable</h3>
        <div id="activity-panel" class="pull-right">
            <div class="btn-group">
                <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">
                    Add Variable &nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="btn btn-link" data-bind="click: addVariable('Simple')">
                            <i class="fa fa-code"></i>
                            Simple Variable
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link" data-bind="click: addVariable('Complex')">
                            <i class="fa fa-sitemap"></i>
                            Complex Variable
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: VariableDefinitionCollection">
                <tr>
                    <td>
                        <a type="button" class="btn btn-link" data-bind="click : $parent.editVariable.call($parent,$data)" href="#">

                            <img data-bind="fieldImage : $type" class="pull-left" alt="." />
                            &nbsp;
                            <!-- ko text : Name -->
                            <!-- /ko -->
                        </a>
                    </td>
                    <td data-bind="text:TypeName"></td>
                    <td>
                        <a class="btn btn-mini" rel="nofollow" href="#" data-bind="click: $parent.removeVariable.call($parent,$data)">Buang</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <h3>Activity</h3>
        <div id="activity-panel" class="pull-right">
            <div class="btn-group">
                <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">
                    Add Activity &nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="btn btn-link" data-bind="click: addActivity('Screen')">
                            <i class="fa fa-laptop"></i>
                            Screen Activity
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link" data-bind="click: addActivity('Notification')">
                            <i class="fa fa-envelope"></i>
                            Notification Activity
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link" data-bind="click: addActivity('Decision')">
                            <img src="/Images/DecisionActivity.png" alt="Decision activity"/>
                            Decision Activity
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link" data-bind="click: addActivity('End')">
                            <i class="fa fa-stop"></i>
                            End
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Is Initiator</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: ActivityCollection">
                <tr>
                    <td>
                        <input class="input-action-isinitiator" data-bind="checked: IsInitiator" id="IsInitiator" type="checkbox" name="IsInitiator" />
                    </td>
                    <td>
                        <a type="button" class="btn btn-link" data-bind="click : $parent.editActivity.call($parent,$data)" href="#">

                            <img data-bind="fieldImage : $type" class="pull-left" alt="." />
                            &nbsp;
                            <!-- ko text : Name -->
                            <!-- /ko -->
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-mini" rel="nofollow" href="#" data-bind="click: $parent.removeActivity.call($parent,$data)">Buang</a>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
</form>
