<h1>Workflow Definition Detail</h1>
<div id="workflow-definition-detail" data-bind="with : workflowdefinition">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="Name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-6">
                <input type="text" data-bind="value:Name" class="form-control" id="Name" placeholder="Workflow name......">
            </div>
        </div>
        <div class="form-group">
            <label for="Note" class="col-lg-2 control-label">Note</label>
            <div class="col-lg-6">
                <textarea cols="4" rows="5" data-bind="value:Note" class="form-control" id="Note" placeholder="Note....." />
            </div>
        </div>
    </form>
</div> 