<link href="/Content/jsplumb/jsplumb.css" rel="stylesheet" />
<script src="/Scripts/jsPlumb/bundle.js"></script>
<link href="/Content/jquery.contextMenu.css" rel="stylesheet" />
<div class="row" data-bind="with : wd">
    <div class="form-group">
        <label>Instance id</label>
        <span data-bind="text:Name"></span>
    </div>
    <div class="form-group">
        <label for="port" class="col-lg-2 control-label">Port</label>
        <div class="col-lg-6">
            <input type="text" data-bind="value: $root.port"
                   required="" pattern="[0-9]{4,5}"
                   placeholder="Websocker debugger"
                   class="form-control" id="port">
        </div>
    </div>
</div>
<div class="row">
    <button class="btn btn-default" title="Continue" data-bind="click : debugcontinue">
        <i class="fa fa-play" style="color: green"></i>
    </button>
    <button class="btn btn-default" title="Step through" data-bind="click : f10">
        <i class="glyphicon glyphicon-log-in" style="color: rgb(96, 126, 166)"></i>
    </button>
    <button class="btn btn-default" title="Step out" data-bind="click : debugcontinue">
        <i class="glyphicon glyphicon-log-out" style="color: rgb(96, 126, 166)"></i>
    </button>
    <button class="btn btn-default" title="Stops debugger">
        <i class="fa fa-stop" style="color: red"></i>
    </button>
</div>
<div class="row">
    <div class="col-lg-12" style="height: 500px; overflow: scroll" id="container-canvas" data-bind="with : wd">
        <!-- ko foreach : {data : ActivityCollection} -->

        <div class="activity" data-bind="style : {'left': WorkflowDesigner().X() + 'px','top': WorkflowDesigner().Y() + 'px'},
                attr : {id : WebId},
                css : {'start-actvity2': IsInitiator() , 'break-point-hit': hit}">

            <!-- ko if : breakpoint -->
            <label data-bind="with : breakpoint">
                <input type="checkbox" data-bind="checked : IsEnabled" />
                <i class="fa fa-circle-o break-point fa-2x" data-bind="visible:!IsEnabled()"></i>
                <i class="fa fa-circle break-point fa-2x" data-bind="visible:IsEnabled"></i>
            </label>
            <!-- /ko -->


            <div class="pull-right activity32" data-bind="activityClass : $data"></div>
            <span data-bind="text:Name"></span>
            <div data-bind="visible:IsInitiator" class="start-activity">
                <i class="fa fa-power-off fa-2x"></i>
            </div>


        </div>

        <!-- /ko -->


    </div>

</div>
<div class="row">

    <div class="nav nav-tabs col-lg-6">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#locals" data-toggle="tab">Locals</a>
            </li>
            <li>
                <a href="#watches1" data-toggle="tab">Watch 1</a>
            </li>
            <li>
                <a href="#watches2" data-toggle="tab">Watch 2</a>
            </li>

        </ul>
        <div class="tab-content">
            <div id="locals" class="tab-pane fade in active" style="max-height: 400px; overflow: scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach : locals">
                        <tr>
                            <td data-bind="text:name"></td>
                            <td data-bind="text:type"></td>
                            <td data-bind="text:value"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="watches1" class="tab-pane">


            </div>
            <div id="watches2" class="tab-pane">


            </div>


        </div>
    </div>

    <div class="nav nav-tabs col-lg-6">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#console" data-toggle="tab">Console</a>
            </li>
            <li>
                <a href="#processes" data-toggle="tab">Proceses</a>
            </li>

        </ul>
        <div class="tab-content">
            <div id="console" class="tab-pane active">
                <pre data-bind="text:consoleOutput"></pre>
                <form class="form-inline">
                    <div class="form-group col-lg-10">
                        <input type="text" class="form-control" data-bind="value:consoleScript" />
                    </div>
                    <button class="btn btn-default" title="Run" data-bind="click : runConsole">
                        <i class="fa fa-play" style="color: green"></i>
                    </button>
                </form>
            </div>
            <div id="processes" class="tab-pane">


            </div>


        </div>
    </div>


</div>

