<link href="/Content/jsplumb/jsplumb.css" rel="stylesheet" />
<script src="/Scripts/jsPlumb/bundle.js"></script>
<div class="row">

    <h1 data-bind="text:wd().Name()"></h1>

</div>

<div class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->

    <div class="col-lg-8 col-lg-offset-2 alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong data-bind="text :Message"></strong>
    </div>
    <div class="col-lg-2"></div>
    <!-- /ko-->
</div>

<div class="row">
    <div class="col-lg-9" id="container-canvas" style="min-height: 900px" data-bind="with : wd">
        <!-- ko foreach : {data : ActivityCollection, afterAdd : $root.itemAdded } -->

        <div class="activity w" data-bind="style : {'left': WorkflowDesigner().X() + 'px','top': WorkflowDesigner().Y() + 'px'},
                attr : {id : WebId},
                activityPopover : $data">
            <div class="pull-right activity32" data-bind="activityClass : $data"></div>
            <h6 data-bind="text:Name"></h6>

            <div style="display: none" class="context-menu">
                <a class="edit-activity" title="edit acitivity" href="#" data-bind="click: $parent.editActivity.call($parent,$data)">
                    <i class="fa fa-edit fa-2x"></i>
                </a>
                <a class="delete-activity" href="#" title="remove activity" data-bind="click: $parent.removeActivity.call($parent,$data)">
                    <i class="fa fa-times-circle fa-2x"></i>
                </a>
            </div>

        </div>

        <!-- /ko -->


    </div>

    <div class="col-lg-3">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#toolbox" data-toggle="tab">Toolbox</a>
            </li>
            <li>
                <a href="#variables" data-toggle="tab">Variables</a>
            </li>
            <li>
                <a href="#schemas" data-toggle="tab">Schemas</a>
            </li>
            <li>
                <a href="#properties" data-toggle="tab">Properties</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="toolbox" class="tab-pane active">
                <!-- ko foreach : toolboxElements -->

                <div class="btn btn-default col-lg-12 toolbox-item" data-bind="attr : {id:WebId()}, visible : IsEnabled">
                    <div data-bind="attr : {'class':CssClass}"></div>
                    <strong data-bind="text:Name"></strong>
                    <p>
                        <span data-bind="text:Note"></span>
                    </p>

                </div>

                <!-- /ko -->
            </div>
            <div id="variables" class="tab-pane" data-bind="with : wd">

                <!--ko compose:'_workflow.definition.variables.html' -->
                <!--/ko-->
            </div>
            <div id="schemas" class="tab-pane" data-bind="with:wd">
                <form role="form">
                    <div class="form-group">
                        <label for="complex-variable-schema">Schema</label>
                        <input class="form-control" data-bind="kendoUpload: SchemaStoreId" id="complex-variable-schema" type="file" name="complex-variable-schema" />
                    </div>
                    <div class="form-group">
                        <ul data-bind="foreach :xsdElements">
                            <li data-bind="text:$data"></li>
                        </ul>
                    </div>

                </form>

            </div>
            <div id="properties" class="tab-pane">

                <form role="form" id="workflow-definition-detail" data-bind="with: wd">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" data-bind="value:Name" class="form-control" id="Name" placeholder="Workflow name......">
                    </div>

                    <div class="form-group">
                        <label for="wd-version">Version</label>
                        <input required type="number" data-bind="value: Version" class="form-control" id="wd-version" placeholder="The version number is used for compilation">
                    </div>
                    <div class="form-group">
                        <label for="Note">Note</label>
                        <textarea cols="4" rows="5" data-bind="value:Note" class="form-control" id="Note" placeholder="Note....." />
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-6">
                            <div class="checkbox">
                                <label>
                                    <input data-bind="checked: IsActive" id="IsActive" type="checkbox" name="IsActive" />
                                    Is Active
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />

