<link href="/Content/jsplumb/sph.wf.32.css" rel="stylesheet" />

<div class="row" data-bind="with : wd">
    <div class="form-group">
        <label>Instance id</label>
        <span data-bind="text:Name"></span>
    </div>
</div>
<div class="row">
    <button class="btn btn-default" title="Continue" data-bind="click : debugcontinue">
        <i class="fa fa-play" style="color: green"></i>
    </button>
    <button class="btn btn-default" title="Stops debugger">
        <i class="fa fa-stop" style="color: red"></i>
    </button>
</div>
<div class="row" data-bind="with : tracker">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Breakpoint</th>
                <th>Type</th>
                <th>Activity</th>
                <th>User</th>
                <th>Initiated</th>
                <th>Run </th>
                <th>Elapse </th>
            </tr>
        </thead>
        <tbody data-bind="foreach :ExecutedActivityCollection">
            <tr data-bind="css : {'break-point-hit':hit}" >
                <td>
                    <!-- ko if : breakpoint -->
                    <label data-bind="with : breakpoint">
                        <input type="checkbox" data-bind="checked : IsEnabled" />
                        <i class="fa fa-circle-o break-point fa-2x" data-bind="visible:!IsEnabled()"></i>
                        <i class="fa fa-circle break-point fa-2x" data-bind="visible:IsEnabled"></i>
                    </label>
                    <!-- /ko -->

                </td>
                <td>
                    <div data-bind="attr : {class:'activity32 activity32-' + Type()}"></div>
                </td>
                <td data-bind="text:Name"></td>
                <td data-bind="text:User"></td>
                <td data-bind="date:{value: Initiated, format:'DD/MM/YYYY HH:mm',invalid: '-'}"></td>
                <td data-bind="date:{value: Run, format:'DD/MM/YYYY HH:mm', invalid: '-'}"></td>
                <td data-bind="text:Elapse"></td>
            </tr>
        </tbody>
    </table>
</div>

