<h1>Workflow Definition Detail</h1>
<form class="form-horizontal col-lg-8" id="workflow-definition-detail" data-bind="with: workflowdefinition">
    <div class="form-group">
        <label for="Name" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-6">
            <input type="text" data-bind="value:Name" class="form-control" id="Name" placeholder="Workflow name......">
        </div>
    </div>
    <div class="form-group">
        <label for="Note" class="col-lg-2 control-label">Note</label>
        <div class="col-lg-6">
            <textarea cols="4" rows="5" data-bind="value:Note" class="form-control" id="Note" placeholder="Note....." />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-6">
            <div class="checkbox">
                <label>
                    <input data-bind="checked: IsActive" id="IsActive" type="checkbox" name="IsActive" />
                    Is Active
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="complex-variable-schema" class="control-label">Schema</label>
        <div class="controls">
            <input class="form-control" data-bind="kendoUpload: SchemaStoreId" id="complex-variable-schema" type="file" name="complex-variable-schema" />
        </div>
    </div>
    <!--ko compose:'_workflow.definition.variables.html' -->
    <!--/ko-->
    <!--ko compose:'_workflow.definition.activities.html' -->
    <!--/ko-->
    <!--ko compose:'_workflow.definition.propertymapping.html' -->
    <!--/ko-->

</form>
