@using System.Web.Mvc.Html
@using Newtonsoft.Json
@model Bespoke.Sph.Web.ViewModels.PrintViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SPH: @Model.Item.ToString()</title>
    <link href="~/Content/css.css" rel="stylesheet" />
</head>
<body>

    <div id="print-details">
        <h1>@Model.Name</h1>
        <div class="container">
           
            @foreach (var fe in Model.FormDesign.FormElementCollection)
            {
                var fe1 = fe;
                <div class="row">
                    @Html.DisplayFor(m => fe1)
                </div>
            }
        </div>

    </div>
    <script src="~/Scripts/vendor.js"></script>
    <script src="~/Scripts/core.js"></script>
    <script type="text/javascript">
        $(function () {
            var item = ko.mapping.fromJSON('@Html.Raw(JsonConvert.SerializeObject(Model.Item))');
            ko.applyBindings(item);


        });

    </script>
</body>
</html>
