header {
  height: 60px;
}
header #drawer-menu,
header a.logo {
  float: left;
  display: block;
}
header a.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  padding-left: 35px;
}
header div.nav-header,
header div.nav-header > div,
header div.nav-header > ul {
  float: right;
}
.navbar .nav > li > a {
  -webkit-text-shadow: none;
  text-shadow: none;
  color: white;
}
#header-navbar > div.navbar-inner {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
}
#drawer-menu {
  background-image: none;
  background-color: #006bb2 !important;
  color: white;
  margin-top: 10px;
}
#user-profile-split-button {
  text-shadow: none;
  color: white;
}
